<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.tims.domain.TimsMapper">
	
	
	<!-- 차량정보 가져오기  -->
	<select id="selectVhcInfo" resultType="Map" parameterType="Map">
		SELECT  
			A.VHC_ID
			,A.VHC_NO
			,B.DVC_ID
		FROM BMS_VHC_MST A
			LEFT JOIN BMS_DVC_INFO B ON A.VHC_ID = B.VHC_ID
		WHERE MNG_ID = #{MNG_ID}				
	</select>
	
	<!-- 노선이름 가져오기  -->
	<select id="selectRoutName" resultType="String" parameterType="String">
		SELECT  
			ROUT_NM
		FROM 	
			BMS_ROUT_MST
		WHERE ROUT_ID = #{ROUT_ID}
	</select>
	
	<!-- 현재노드의 다음 교차로,정류장 가져오기-->
	<select id="selectNextSttnCrsInfo" resultType="Map" parameterType="Map">
		SELECT 
			NODE_ID AS NEXT_NODE_ID
			,NODE_NM AS NEXT_NODE_NM
			,NODE_SN AS NEXT_NODE_SN
			,NODE_TYPE AS NEXT_NODE_TYPE
			,(
			  SELECT PRV_PLCE_NM 
			  FROM BRT_CUR_OPER_INFO 
			  WHERE OPER_DT = #{OPER_DT} AND ROUT_ID = #{ROUT_ID} AND VHC_NO = #{BUS_NO}
			) AS PREV_NODE_NM	
		FROM BMS_ROUT_NODE_CMPSTN
		WHERE ROUT_ID = #{ROUT_ID} 
			AND NODE_SN > #{NODE_SN}
			AND NODE_TYPE IN ('NT001', 'NT002')
		ORDER BY NODE_SN ASC
		LIMIT 1
	</select>
	
	
	<!-- 노드정보 가져오기 -->
	<select id="selectNodeInfo" resultType="Map" parameterType="Map">
		SELECT 
			NODE_ID
			,NODE_NM
			,NODE_TYPE
		FROM BMS_NODE_MST
		WHERE NODE_ID = #{NODE_ID} 
	</select>	
	
	<select id="selectNodeByLinkSn" resultType="Map" parameterType="Map">
		SELECT
			A.NODE_SN
			,A.NODE_TYPE
			,A.NODE_NM
			,B.ROUT_NM
		FROM BMS_ROUT_NODE_CMPSTN A
			LEFT JOIN BMS_ROUT_MST B ON A.ROUT_ID = B.ROUT_ID			
		WHERE A.ROUT_ID = #{ROUT_ID} 
			AND A.NODE_ID = #{NODE_ID} 
			AND A.NODE_SN >= #{NODE_SN} <!-- #{NODE_SN} :: LINK_SN -->
		ORDER BY A.NODE_SN ASC
		LIMIT 1;
	</select>	
	
	
	
	
</mapper>