<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.tims.domain.TimsMapper">
	
	
	<!-- 차량정보 가져오기  -->
	<select id="selectVhcInfo" resultType="Map" parameterType="Map">
		SELECT  
			A.VHC_ID
			,A.VHC_NO
			,B.DVC_ID
		FROM BMS_VHC_MST A
			LEFT JOIN BMS_DVC_INFO B ON A.VHC_ID = B.VHC_ID
		WHERE MNG_ID = #{MNG_ID}				
	</select>
	
	<!-- 노선이름 가져오기  -->
	<select id="selectRoutName" resultType="String" parameterType="String">
		SELECT  
			ROUT_NM
		FROM 	
			BMS_ROUT_MST
		WHERE ROUT_ID = #{ROUT_ID}
	</select>
	


	
</mapper>