@charset "utf-8";

.display {
  height: 100%;
  display: grid;
  grid-template-columns: repeat("2. 1fr");
  grid-template-rows: 1fr 300px 150px 280px;
  gap: 10px;
  padding: 10px;
  // background-color: #000000;
  section {
    background-color: #2B2B2B;
    border-radius: 10px;
  }
  .situation {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 15px;
    border-style: solid;
    .text {
      overflow: hidden;
      font-size: 150px;
      font-weight: 800;
      text-shadow: 6px 6px 6px rgba($color: #000000, $alpha: 0.25);
    } 
  }
  .situation.blue {
    background-color: #0059ff;
    border-color: #0b4ecc;
  }
  .situation.yellow {
    background-color: #FFA200;
    border-color: #A56900;
  }
  .situation.orange {
    background-color: #ff7b00;
    border-color: #ce6c11;
  }
  .situation.red {
    background-color: #ff0000;
    border-color: #cc0f0f;
  }
  .t-light {
    grid-row: 2/4;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    .text {
      display: block;
      width: 100%;
      font-size: 60px;
      font-weight: 600;
      text-align: center;
    }
    .light-wrap {
      display: flex;
      justify-content: space-between;
      width: 600px;
      margin-top: 20px;
      span {
        display: block;
        width: 260px;
        height: 260px;
        background-image: url('light-gray.svg');
        background-repeat: no-repeat;
        background-position: center;
      }
      .red-light.on {
        background-image: url('light-red.svg');
      }
      .green-light.on {
        background-image: url('light-green.svg');
      }
    }
  }
  .line-name {
    grid-row: 2/3;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    h2 {
      position: absolute;
      top: 40px;
      left: 50px;
      font-size: 40px;
      font-weight: 400;
      color: #888888;
    }
    .text {
      margin-top: 20px;
      font-size: 90px;
      font-weight: 800;
    }
  }
  .next-position {
    grid-row: 4/5;
    font-size: 60px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 50px;
    dl {
      display: flex;
      dt {
        font-weight: 600;
      }
      dd {
        margin-left: 20px;
        font-weight: 600;
      }
    }
  }
  .line-info {
    position: relative;
    grid-row: 3/5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    .line {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
      li {
        position: relative;
        width: 50px;
        height: 50px;
        i::before {
          content: '';
          position: absolute;
          display: block;
          width: 50px;
          height: 50px;
          background: url('station.svg') no-repeat center;
          z-index: 1;
        }
        span {
          position: absolute;
          font-size: 30px;
        }
      }
      li:nth-child(1) {
        span {
          transform: translateY(70px) translateX(0) rotate(45deg);
          
        }
      }
      li:nth-child(2) {
        span {
          transform: translateY(70px) translateX(-30px) rotate(45deg);
          
        }
      }
      li:nth-child(3) {
        span {
          transform: translateY(70px) translateX(-40px) rotate(45deg);
          
        }
      }
      li:nth-child(4) {
        span {
          transform: translateY(70px) translateX(-50px) rotate(45deg);
          
        }
      }
      li:nth-child(5) {
        span {
          transform: translateY(70px) translateX(-70px) rotate(45deg);
          
        }
      }
    }
    .line::after {
      content: '';
        position: absolute;
        top: 50%;
        left: 25px;
        transform: translateY(-50%);
        width: calc(100% - 50px);
        height: 15px;
        background-color: #ffffff;
        z-index: 0;
    }
    .icon-wrap {
      position: absolute;
      transform: translateX(30px);
      display: block;
      width: calc(100% - 100px);
      .bus {
        position: absolute;
        top: -120px;
        transform: translateX(-50px);
        display: block;
        width: 75px;
        height: 85px;
        background: url('bus.svg') no-repeat center;
      }
      .cross {
        position: absolute;
        top: 50%;
        transform: translate(-50px , -50%);
        display: block;
        width: 88px;
        height: 50px;
        background-position: center;
        background-repeat: no-repeat;
      }
      .cross.red {
        background-image: url('cross-red.svg');
      }
      .cross.green {
        background-image: url('cross-green.svg');
      }
    }
  }
}