<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.bms.domain.VD0100.VD0100Mapper">

<select id="VD0100G0R0" resultType="Map">
	SELECT 			A.VHC_ID
					,A.COMP_ID
					,B.COMP_NM
					,A.AREA
					,A.VHC_NO
					,A.CHAS_NO
					,A.MAKER
					,DATE_FORMAT(A.RELS_DT, '%Y-%m-%d') RELS_DT
					,A.MODEL_NM
					,A.VHC_KIND
					,A.ROUT_TYPE
					,A.VHC_TYPE
					,A.VHC_FUEL
					,A.VHC_STS
					,A.PSG_CNT
					,A.SPARE_YN
					,A.SCRAP_YN
					,A.APPL_ST_DT
					,A.APPL_ED_DT
					,A.USE_YN
					,A.REMARK
					
					
	FROM			BMS_VHC_MST	A
	LEFT JOIN	  	BMS_TRANSCOMP_MST B
	ON				A.COMP_ID = B.COMP_ID 		
	
	<where>	
		<if test="TYPE == 'ALL' and CONTENT != null and CONTENT != ''">
			VHC_ID LIKE CONCAT('%',#{CONTENT},'%') || VHC_NO LIKE CONCAT('%',#{CONTENT},'%') 
		</if>
		<if test="TYPE == 'VHC_NO'">
			VHC_NO LIKE CONCAT('%',#{CONTENT},'%')
		</if>
		<if test="TYPE == 'VHC_ID'">
			VHC_ID LIKE CONCAT('%',#{CONTENT},'%') 
		</if>
	</where>
</select>
	
<select id="VD0100SHI0" resultType="Map">
	SELECT			VHC_ID
					,VHC_NO	
	FROM			BMS_VHC_MST
</select>
	
<select id="VD0100SHI1" resultType="Map">
	SELECT			ORG_ID
					,ORG_NM
	FROM	  		BMS_ORG_MST
	WHERE			ORG_DIV = 'OD008'
</select>	
	
<select id="VD0100G1R0" resultType="Map">
	SELECT 			A.VHC_ID
					,A.DVC_ID
					,A.ORG_ID
					,A.DVC_KIND
					,A.DVC_COORDS
					,A.INST_LOC
					,A.DVC_IP
					,A.MNG_ID	
<!-- 					,A.DVC_TYPE
					,A.DEV_SERIAL_NO
					,A.MODEL_NM -->
					,A.USE_YN
					,A.CTR_YN
					,A.CLSFCTN_ID
					,A.REMARK
					,B.ORG_NM
					,C.CLSFCTN_NM
					
	FROM			BMS_DVC_INFO A	
	LEFT JOIN	  	BMS_ORG_MST	B
	ON				A.ORG_ID = B.ORG_ID
	LEFT JOIN		BMS_EMER_CLSFCTN_MST C
	ON				A.CLSFCTN_ID = C.CLSFCTN_ID
	
	WHERE			A.VHC_ID = #{VHC_ID}
</select>

<select id="VD0100G1K0" resultType="Map">
	SELECT CONCAT('DV', LPAD(NEXTVAL(SEQ_BMS_DVC_INFO_0), 8, '0')) AS 'SEQ'
</select>

<insert id="VD0100G1I0" parameterType="Map">
	INSERT INTO		BMS_DVC_INFO	
					(
						VHC_ID
						,DVC_ID
						,ORG_ID
						,DVC_KIND
						,DVC_COORDS
						,INST_LOC
						,DVC_IP
						,MNG_ID						
<!-- 					,MODEL_NM	
						,DVC_TYPE						
						,DEV_SERIAL_NO -->
						,USE_YN
						,REMARK
						,UPD_DTM
						,UPD_ID
						,CTR_YN
						,CLSFCTN_ID						
					)
	VALUES			(
						#{VHC_ID}
						,#{DVC_ID}
						,#{ORG_ID}
						,#{DVC_KIND}
						,#{DVC_COORDS}
						,#{INST_LOC}
						,#{DVC_IP}
						,#{MNG_ID}
<!-- 					,#{MODEL_NM}
						,#{DVC_TYPE}						
						,#{DEV_SERIAL_NO} -->
						,#{USE_YN}
						,#{REMARK}
						,#{UPD_DTM}
						,#{SSN_USER_ID}
						,#{CTR_YN}
						,#{CLSFCTN_ID}					
					)
	
	
						
</insert>

<update id="VD0100G1U0" parameterType="Map">
	UPDATE			BMS_DVC_INFO
	SET				VHC_ID = #{VHC_ID}
					,ORG_ID = #{ORG_ID}
					,DVC_KIND = #{DVC_KIND}
					,DVC_COORDS = #{DVC_COORDS}
					,INST_LOC = #{INST_LOC}
					,DVC_IP = #{DVC_IP}
					,MNG_ID = #{MNG_ID}	
					,USE_YN = #{USE_YN}
					,CTR_YN = #{CTR_YN}
					,REMARK = #{REMARK}
					,UPD_DTM = #{UPD_DTM}
					,UPD_ID = #{SSN_USER_ID}
					,CLSFCTN_ID	= #{CLSFCTN_ID}
					
	WHERE			DVC_ID = #{DVC_ID}							 	
</update>

<delete id="VD0100G1D0" parameterType="Map">
	DELETE FROM 	BMS_DVC_INFO
	WHERE			DVC_ID = #{DVC_ID}
</delete>


<!-- plf 테이블에 삽입 20211018 jh -->
<insert id="VD0100G1I2" parameterType="Map">
	INSERT INTO PLF_IMP_DEV_MST (
								  IMP_ID
								, IMP_NM
								, IMP_TYPE
								, VHC_ID
								, VHC_NO
								, USE_YN
								)
	VALUES (
			  #{MNG_ID}
			, (SELECT VHC_NO FROM BMS_VHC_MST WHERE VHC_ID = #{VHC_ID})
			, ''
			, #{VHC_ID}
			, (SELECT VHC_NO FROM BMS_VHC_MST WHERE VHC_ID = #{VHC_ID})
			, 'Y'
	);
	
	INSERT INTO PLF_IMP_SESS_INFO (
								  PLF_ID
								, SESS_ID
                                , SESS_NM
                                , SESS_IP
                                , REMOTE_TYPE
                                , ELAPSED_TIME
                                , IN_PACKET
                                , OUT_PACKET
                                )
	VALUES(
			  'SB-2021-01'
			, #{MNG_ID}
			, (SELECT VHC_NO FROM BMS_VHC_MST WHERE VHC_ID = #{VHC_ID})
			, '-'
			, ''
			, '0'
			, '0'
			, '0'
		);
</insert>

<!-- plf 테이블 업데이트 20211018 jh -->
<update id="VD0100G1U2" parameterType="Map">
	UPDATE
		PLF_IMP_DEV_MST
	SET
		  IMP_ID = #{MNG_ID}
		, IMP_TYPE = ''
	WHERE
		IMP_NM = (SELECT VHC_NO FROM BMS_VHC_MST WHERE VHC_ID = #{VHC_ID});
		
	UPDATE
		PLF_IMP_SESS_INFO
	SET
		  SESS_ID = #{MNG_ID}
		, REMOTE_TYPE = ''
	WHERE
		SESS_NM = (SELECT VHC_NO FROM BMS_VHC_MST WHERE VHC_ID = #{VHC_ID});
</update>

<!-- plf 테이블 삭제 20211018 jh -->
<delete id="VD0100G1D2" parameterType="Map">
	DELETE FROM PLF_IMP_DEV_MST
	WHERE IMP_ID = #{MNG_ID};
	
	DELETE FROM PLF_IMP_SESS_INFO
	WHERE SESS_ID = #{MNG_ID};
</delete>

</mapper>