<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.tracom.bms.domain.VD0203.VD0203Mapper">

	<select id="VD0203G0R0" resultType="Map">
		SELECT
			VM.VHC_NO
			,MAX(IF(UL.COMPLETE_YN IS NULL, '', IF(UL.COMPLETE_YN = 'N', '예약중', ''))) AS COMPLETE_YN
			,DI.DVC_KIND
			,DI.ORG_ID
			,OM.ORG_DIV
			,DI.INST_LOC
			,DI.DVC_ID
			,DI.DVC_IP
			,DI.MNG_ID
			,DI.REMARK
			,VM.VHC_ID
			,UL.RSV_ID
			,DI.FILE_NM
		FROM BMS_DVC_INFO DI 
		LEFT JOIN BMS_VHC_MST VM 
		ON DI.VHC_ID = VM.VHC_ID
		LEFT JOIN BMS_UPD_LOG UL 
		ON DI.MNG_ID = UL.MNG_ID
		LEFT JOIN BMS_ORG_MST OM 
		ON DI.ORG_ID = OM.ORG_ID
		<where>
			<if test="TYPE == 'ALL' and CONTENT != null and CONTENT != ''">
				AND VHC_NO LIKE CONCAT('%',#{CONTENT},'%') || COMPLETE_YN LIKE CONCAT('%',#{CONTENT},'%')
			</if>
			<if test="TYPE == 'VHC_NO'">
				AND VHC_NO LIKE CONCAT('%',#{CONTENT},'%')
			</if>
			<if test="TYPE == 'COMPLETE_YN'">
				AND COMPLETE_YN LIKE CONCAT('%',#{CONTENT},'%')
			</if>
			<if test="TYPE == 'DVC_KIND'">
				AND DVC_KIND LIKE CONCAT('%',#{DVC_KIND},'%')
			</if>
			<if test="DVC_KIND != null and DVC_KIND != ''">
				AND DI.DVC_KIND = #{DVC_KIND}
			</if>
		</where>
		GROUP BY DI.MNG_ID
		ORDER BY VM.VHC_NO ASC, DI.DVC_KIND ASC		
	</select>
	
	<select id="VD0203G1R0" parameterType="Map"  resultType="Map">
		SELECT
			VM.VHC_NO
			,(IF(UL.COMPLETE_YN IS NULL, '', IF(UL.COMPLETE_YN = 'N', '예약중', ''))) AS COMPLETE_YN
			,date_format(URI.RSV_DT, '%Y-%m-%d') as RSV_DT
			,UL.PROCE_RST
			,date_format(UL.SEND_DTM,'%Y-%m-%d') as SEND_DTM
			,DI.MNG_ID
			,DI.ORG_ID
			,OM.ORG_DIV
			,DI.DVC_KIND
			,DI.INST_LOC
		FROM
			BMS_DVC_INFO DI 
			LEFT JOIN BMS_VHC_MST VM 
			ON DI.VHC_ID = VM.VHC_ID
			LEFT JOIN BMS_UPD_LOG UL 
			ON DI.MNG_ID = UL.MNG_ID
			LEFT JOIN BMS_ORG_MST OM 
			ON DI.ORG_ID = OM.ORG_ID
			LEFT JOIN BMS_UPD_RSV_INFO URI 
			ON UL.RSV_ID = URI.RSV_ID
		WHERE
			DI.VHC_ID = #{VHC_ID}
			<if test="DVC_KIND != null and DVC_KIND != ''">
				AND DI.DVC_KIND = #{DVC_KIND}
			</if>
			<if test="SELC_REV_DATE != null and SELC_REV_DATE != ''">
				AND DATE_FORMAT(URI.RSV_DT, '%Y%m') = #{SELC_REV_DATE}
			</if>
		ORDER BY 
			DI.DVC_KIND	
	</select>

	<select id="VD0203SHI0" resultType="Map">
		SELECT 
			VM.VHC_NO
			,UL.COMPLETE_YN
		FROM 
			BMS_VHC_MST VM 
			LEFT JOIN BMS_DVC_INFO DI
			ON VM.VHC_ID = DI.VHC_ID
			LEFT JOIN BMS_UPD_LOG UL 
			ON DI.MNG_ID = UL.MNG_ID
	</select>
	
	<select id="VD0203SHI1" resultType="Map">
		SELECT			ORG_ID
						,ORG_NM
		FROM	  		BMS_ORG_MST
		WHERE			ORG_DIV = 'OD008'
	</select>
	
	<insert id="VD0203G0I0" parameterType="Map">
	
		<selectKey keyProperty="RSV_ID" resultType="String" order="BEFORE">
    		SELECT CONCAT('UR', LPAD(NEXTVAL(SEQ_BMS_UPD_LOG_0), 8, '0')) AS RSV_ID
    	</selectKey>	
		insert into BMS_UPD_LOG
				(
					RSV_ID
					,MNG_ID
					,PROCE_RST
					,COMPLETE_YN
					,REMARK
				)	
				   
		values (
					#{RSV_ID}
					,#{MNG_ID}
					,#{PROCE_RST}
					,'N'
					,#{REMARK}
				)
	</insert>
	
	<insert id="VD0203G0I1" parameterType="Map">
		<selectKey keyProperty="RSV_ID" resultType="String" order="BEFORE">
    		SELECT CONCAT('UR', LPAD(LASTVAL(SEQ_BMS_UPD_LOG_0), 8, '0')) AS RSV_ID
    	</selectKey>
		insert into BMS_UPD_RSV_INFO
				(
					RSV_ID
					,MNG_ID
					,RSV_DT
					,ATTACH_ID
					,VER_INFO
					,UPD_DTM
					,UPD_ID
				)
		values	(
					#{RSV_ID}
					,#{MNG_ID}
					,#{RSV_DT}
					,#{ATTACH_ID}
					,#{VER_INFO}
					,#{UPD_DTM}
					,#{UPD_ID}
				)
			
	</insert>
	
	<update id="VD0203G0U0" parameterType="Map">
		UPDATE 
			BMS_DVC_INFO
		SET
			FILE_NM = #{FILE_NM}
		WHERE
			MNG_ID = #{MNG_ID}
	</update>
	
	<update id="VD0203G0D0" parameterType="Map">
		UPDATE 
			BMS_UPD_LOG
		SET	
			PROCE_RST = 'PR008'
			,SEND_DTM = NOW()
			,COMPLETE_YN = 'Y'
		WHERE
			MNG_ID = #{MNG_ID}
			AND COMPLETE_YN = 'N'
			<!-- RSV_ID = #{RSV_ID} -->
	</update>
	
	<update id="VD0203G0D1">
		UPDATE
			BMS_DVC_INFO
		SET
			FILE_NM = NULL
		WHERE
			MNG_ID = #{MNG_ID}
	</update>
	
	
</mapper>