<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.tracom.bms.domain.VD0201.VD0201Mapper">

	<select id="VD0201G0R0" resultType="Map" parameterType="Map">
		SELECT VHC_ID, ROUT_DIV, VHC_NO, CHAS_NO FROM BMS_VHC_MST V
	</select>
	
	<select id="VD0201G1R0" resultType="Map" parameterType="Map">
		SELECT VHC_ID, DVC_ID, ORG_ID, DVC_KIND, DVC_TYPE, INST_LOC, DVC_IP, MNG_ID, DEV_SERIAL_NO, MODEL_NM, USE_YN, REMARK, DATE_FORMAT(UPD_DTM, '%Y%m%d%H%i') UPD_DTM, UPD_ID 
		FROM BMS_DVC_INFO D
		WHERE VHC_ID = #{VHC_ID}
	</select>	
</mapper>