<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.tracom.bms.domain.VD0202.VD0202Mapper">

	<select id="VD0202G0R0" resultType="Map" parameterType="Map">
		<!-- SELECT 			 A.OPER_DT 
				  		, A.REP_ROUT_ID
						, A.VHC_ID
						, A.ROUT_ID
						, A.VHC_NO
						, A.GPS_X
						, A.GPS_Y
						, A.OPER_STS
						, B.REP_ROUT_NM
						, B.ROUT_NM
						, C.VHC_KIND
		
		FROM  			BRT_CUR_OPER_INFO A
		LEFT JOIN   	BMS_ROUT_MST B
		ON				A.ROUT_ID = B.ROUT_ID
		LEFT JOIN		BMS_VHC_MST C
		ON				A.VHC_ID = C.VHC_ID
		
		WHERE			A.OPER_DT = DATE_FORMAT(NOW(), '%Y/%m/%d')
		AND				B.DEL_YN != 'Y' -->
		SELECT 			DATE_FORMAT( A.OPER_DT, '%Y-%m-%d') AS OPER_DT
				  		, A.REP_ROUT_ID
						, C.VHC_ID
						, A.ROUT_ID
						, C.VHC_NO
						, A.GPS_X
						, A.GPS_Y
						, IFNULL(A.OPER_STS, "OS005") AS OPER_STS
						, B.REP_ROUT_NM
						, B.ROUT_NM
						, C.VHC_KIND
						, B.DEL_YN
		
		FROM	  		BMS_VHC_MST C	
		LEFT JOIN  		BRT_CUR_OPER_INFO A
		ON				C.VHC_ID = A.VHC_ID
		LEFT JOIN   	BMS_ROUT_MST B
		ON				A.ROUT_ID = B.ROUT_ID
		
		<where>
			<if test="CONTENT1 != ''">
				AND C.VHC_KIND = #{CONTENT1}
			</if>
			<if test="CONTENT3 != null and CONTENT3 != ''">
				AND	C.VHC_NO LIKE CONCAT('%', #{CONTENT3}, '%')
			</if>
		</where>	
		<!-- ORDER BY		A.REP_ROUT_ID, A.ROUT_ID -->
		ORDER BY		C.VHC_ID
	</select>
	
	<select id="VD0202G1R0" resultType="Map" parameterType="Map">
		SELECT 			A.VHC_ID
						,A.DVC_ID
						,A.ORG_ID
						,A.DVC_KIND
						,A.DVC_COORDS
						,A.INST_LOC
						,A.DVC_IP
						,A.MNG_ID	
						,A.DVC_TYPE
						,A.DEV_SERIAL_NO
						,A.MODEL_NM
						,A.USE_YN
						,A.CTR_YN						
						,A.REMARK
						,B.ORG_NM
						,C.DVC_COND
						,DATE_FORMAT(C.SEND_DATE, '%Y-%m-%d %H:%i:%s') AS SEND_DATE
						
		FROM			BMS_DVC_INFO A	
		LEFT JOIN	  	BMS_ORG_MST	B
			ON			A.ORG_ID = B.ORG_ID
		LEFT JOIN	  	BMS_DVC_COND_INFO C
			ON			A.MNG_ID = C.MNG_ID	
		
		WHERE			A.VHC_ID = #{VHC_ID}
		AND				A.USE_YN = 'Y'
		
		ORDER BY		A.DVC_KIND
	</select>
	
	<select id="VD0202SHI1" resultType="Map">
<!-- 		SELECT			ROUT_ID, ROUT_NM
		FROM			BMS_ROUT_MST	
		<where>
			<if test="CONTENT1 != null and CONTENT1 != ''">
				REP_ROUT_ID = #{CONTENT1}	
			</if>
		</where> -->
		
		SELECT			VHC_KIND
		FROM			BMS_VHC_MST

	</select>		
	
	<select id="VD0202G2R0" resultType="Map">
	 	SELECT a.ROUT_ID, a.LINK_ID, a.LINK_SN, a.MORN_STD, b.LINK_NM, b.ST_NODE_ID AS NODE_ID, b.ED_NODE_ID, 
	 		c.NODE_TYPE, c.NODE_NM, c.GPS_X, c.GPS_Y, d.GPS_X AS ED_GPS_X, d.GPS_Y AS ED_GPS_Y, d.NODE_TYPE AS ED_NODE_TYPE, d.NODE_NM AS ED_NODE_NM
		FROM BMS_ROUT_LINK_CMPSTN a 
			LEFT OUTER JOIN BMS_LINK_MST b ON a.LINK_ID=b.LINK_ID
			LEFT OUTER JOIN BMS_NODE_MST c ON b.ST_NODE_ID = c.NODE_ID
			LEFT OUTER JOIN BMS_NODE_MST d ON b.ED_NODE_ID = d.NODE_ID
		WHERE a.ROUT_ID = #{ROUT_ID}
		ORDER BY a.LINK_SN
	</select>	
	
</mapper>