<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.tracom.brt.domain.MO0203.MO0203Mapper">

 <select id="MO0203G0R0" resultType="Map">
		SELECT 			A.NODE_ID
					,	A.MOCK_NODE_ID
					,	A.NODE_NM
					,	A.NODE_ENM
					,	A.NODE_TYPE
					,	A.GPS_X
					,	A.GPS_Y
					,	A.TM_X
					,	A.TM_Y
					,	A.ENTRY_RECOG_RADS
					,	A.ADVNC_RECOG_RADS
					,	A.USE_YN
					,	A.UPD_DTM
					,	A.UPD_ID
					,	IF(D.CNT > 0 , 'CE001','CE002') COND_ERROR
					, 	E.ROUT_ID
					,	E.NODE_SN	 	
		FROM	BMS_ROUT_NODE_CMPSTN E
		INNER JOIN BMS_ROUT_MST R
			ON E.ROUT_ID = R.ROUT_ID AND R.DEL_YN !='Y'
		LEFT JOIN		BMS_ROUT_LINK_CMPSTN F
			ON			E.ROUT_ID = F.ROUT_ID AND E.LINK_ID = F.LINK_ID
		LEFT JOIN	    BMS_NODE_MST A
			ON E.NODE_ID = A.NODE_ID
		LEFT JOIN			(SELECT B.NODE_ID, COUNT(B.NODE_ID) CNT
		            		FROM BMS_FCLT_INFO B
		         			LEFT JOIN BMS_FCLT_COND_INFO C 
		         				ON B.MNG_ID = C.MNG_ID 
		         			WHERE  FCLT_COND  = 'FC021' GROUP BY NODE_ID) D
		  ON A.NODE_ID = D.NODE_ID		
		  
		WHERE
			A.NODE_TYPE = 'NT002'
			<if test="CONTENT1 != null">
				AND E.ROUT_ID = #{CONTENT1}				
			</if>
			<!-- <if test="CONTENT2 != null and CONTENT2 != ''">
				AND (A.NODE_ID LIKE CONCAT('%',#{CONTENT2},'%') || A.NODE_NM LIKE CONCAT('%',#{CONTENT2},'%'))
			</if> -->
			
		ORDER BY		E.ROUT_ID, E.NODE_SN					
	</select>

	<select id="MO0203SHI0" resultType="Map">
		SELECT			A.REP_ROUT_ID
						,B.REP_ROUT_NM	
		FROM			BRT_CUR_OPER_INFO A
			LEFT JOIN		BMS_REP_ROUT_MST B
			ON				A.REP_ROUT_ID = B.REP_ROUT_ID
		GROUP BY 		REP_ROUT_ID		
		ORDER BY		B.REP_ROUT_NM		
	</select>		

	<select id="MO0203SHI1" resultType="Map">
		SELECT			ORG_ID
						,ORG_NM
		FROM	  		BMS_ORG_MST
		WHERE			ORG_DIV = 'OD008'
	</select>
	
	<select id="MO0203SHI2" resultType="Map">
		SELECT			CLSFCTN_ID
						,CLSFCTN_NM
		FROM	  		BMS_EMER_CLSFCTN_MST
	</select>	
	
	<select id="MO0203G2R0" resultType="Map">
	 	SELECT a.ROUT_ID, a.LINK_ID, a.LINK_SN, a.MORN_STD, b.LINK_NM, b.ST_NODE_ID AS NODE_ID, b.ED_NODE_ID, 
	 		c.NODE_TYPE, c.NODE_NM, c.GPS_X, c.GPS_Y, d.GPS_X AS ED_GPS_X, d.GPS_Y AS ED_GPS_Y, d.NODE_TYPE AS ED_NODE_TYPE, d.NODE_NM AS ED_NODE_NM
		FROM BMS_ROUT_LINK_CMPSTN a 
			LEFT OUTER JOIN BMS_LINK_MST b ON a.LINK_ID=b.LINK_ID
			LEFT OUTER JOIN BMS_NODE_MST c ON b.ST_NODE_ID = c.NODE_ID
			LEFT OUTER JOIN BMS_NODE_MST d ON b.ED_NODE_ID = d.NODE_ID
		WHERE a.ROUT_ID = #{ROUT_ID}
		ORDER BY a.LINK_SN
	</select>
	
</mapper>