<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.brt.domain.MO0302.MO0302Mapper">

	<select id="MO0302G0R0" resultType="Map">
		SELECT
			DATE_FORMAT(a.OCR_DTM, '%Y-%m-%d %H:%i:%s') AS OCR_DTM
			,DATE_FORMAT(b.CLOSE_DTM, '%Y-%m-%d %H:%i:%s') AS CLOSE_DTM
			,a.INCDNT_TYPE
			,b.INCDNT_RES_TYPE
			,b.PROG_DIV
			,a.VHC_NO
			,DATE_FORMAT(a.UPD_DTM, '%Y-%m-%d %H:%i:%s') AS UPD_DTM
			,a.REMARK
			,a.INCDNT_DETAIL
			,c.LINK_NM
		FROM
			BRT_INCDNT_HIS a
			LEFT JOIN BRT_INCDNT_RES_INFO b
			ON a.OPER_DT = b.OPER_DT AND a.VHC_ID = b.VHC_ID
			LEFT JOIN BMS_LINK_MST c
			ON a.LINK_ID = c.LINK_ID
		<where>
			<if test="TYPE == 'ALL' and CONTENT != null and CONTENT != ''">
				AND a.INCDNT_TYPE LIKE CONCAT('%',#{CONTENT},'%') || b.PROG_DIV LIKE CONCAT('%',#{CONTENT},'%') 
			</if>
			<if test="TYPE == 'INCDNT_TYPE'">
				AND a.INCDNT_TYPE LIKE CONCAT('%',#{CONTENT},'%')
			</if>
			<if test="TYPE == 'PROG_DIV'">
				AND b.PROG_DIV LIKE CONCAT('%',#{CONTENT},'%') 
			</if>
			<if test="(CLCT_DT != null and CLCT_DT != '') and (CLOSE_DT == null or CLOSE_DT == '')">
				<![CDATA[AND a.OCR_DTM >= #{CLCT_DT}]]>
			</if>
			<if test="(CLCT_DT == null or CLCT_DT == '') and CLOSE_DT != null and CLOSE_DT != '' ">
				<![CDATA[AND b.CLOSE_DTM <= #{CLOSE_DT}]]>
			</if>
			<if test="CLCT_DT != null and CLCT_DT != '' and CLOSE_DT != null and CLOSE_DT != '' ">
				AND a.OCR_DTM between DATE_FORMAT(#{CLCT_DT}, '%Y-%m-%d 0:0:0') and DATE_FORMAT(#{CLOSE_DT}, '%Y-%m-%d 23:59:00')
				AND b.CLOSE_DTM between DATE_FORMAT(#{CLCT_DT}, '%Y-%m-%d 0:0:0') and DATE_FORMAT(#{CLOSE_DT}, '%Y-%m-%d 23:59:00')
			</if>
		</where>
		ORDER BY
			OCR_DTM DESC
	</select>

	<select id="MO0302SHI0" resultType="Map" parameterType="Map">
		select  INCDNT_TYPE, PROG_DIV
		from 	BRT_INCDNT_RES_INFO
	</select>


</mapper>
