<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.brt.domain.MO0500.MO0500Mapper">

	  <select id="MO0500G0R0" resultType="Map">
		SELECT
			DATE_FORMAT(OCR_DTM, '%Y-%m-%d') AS OCR_DTM
			,d.ROUT_NM
			,a.COMP_NM
			,a.VHC_NO
			,a.VHC_TYPE
			,b.STTN_NM
			,c.CRS_NM
			,a.GPS_X
			,a.GPS_Y
			,a.OPER_APPR_STS
			,a.OPER_APPR_DIV
		FROM
			BRT_OPER_APPR_INFO a
			LEFT JOIN BMS_STTN_MST b
			ON a.ADJ_STTN_ID = b.STTN_ID
			LEFT JOIN BMS_CRS_MST c
			ON a.ADJ_CRS_ID = c.CRS_ID
			LEFT JOIN BMS_ROUT_MST d
			ON a.ROUT_ID = d.ROUT_ID
		<where>
			<if test="TYPE == 'ALL' and CONTENT != null and CONTENT != ''">
				AND COMP_NM LIKE CONCAT('%',#{CONTENT},'%') || VHC_TYPE LIKE CONCAT('%',#{CONTENT},'%') || ROUT_NM LIKE CONCAT('%',#{CONTENT},'%') 
			</if>
			<if test="TYPE == 'COMP_NM'">
				AND COMP_NM LIKE CONCAT('%',#{CONTENT},'%')
			</if>
			<if test="TYPE == 'VHC_TYPE'">
				AND VHC_TYPE LIKE CONCAT('%',#{CONTENT},'%') 
			</if>
			<if test="TYPE == 'ROUT_NM'">
				AND d.ROUT_NM LIKE CONCAT('%',#{CONTENT},'%') 
			</if>
			<if test="OCR_DTM != NULL and OCR_DTM != ''">
				AND a.OCR_DTM between #{OCR_DTM} and #{OCR_DTM}
			</if>
		</where>	
		ORDER BY
			a.OCR_DTM
	</select>

	<select id="MO0500SHI0" resultType="Map" parameterType="Map">
		SELECT  
			a.COMP_NM
			,a.VHC_TYPE
			,b.ROUT_NM
		FROM 	
			BRT_OPER_APPR_INFO a
			LEFT JOIN BMS_ROUT_MST b
			ON a.ROUT_ID = b.ROUT_ID
	</select>
	
	<!--
	<select id="MO0500G0K0" resultType="Map">
		SELECT CONCAT('CI', LPAD(NEXTVAL(SEQ_BRT_CPLNT_HIS_0), 8, '0')) AS 'SEQ'
	</select>
	
	<insert id="MO0500G0I0" parameterType="Map">
	
		<selectKey keyProperty="CPLNT_ID" resultType="String" order="BEFORE">
    		SELECT CONCAT('CI', LPAD(NEXTVAL(SEQ_BRT_CPLNT_HIS_0), 8, '0')) AS CPLNT_ID
    	</selectKey>
		
		INSERT INTO BRT_CPLNT_HIS 
			(
				CPLNT_ID
				,OCR_DTM
				,ROUT_NM
				,VHC_NO
				,CPLNT_TYPE
				,GPS_X
				,GPS_Y
				,CPLNT_CONTS
				,JUDGE
				,JUDG_ORG
				,JUDG_TYPE
				,JUDG_DESC	
				,UPD_DTM	
			)
		VALUES
			(
				#{CPLNT_ID}
				,#{OCR_DTM}
				,#{ROUT_NM}
				,#{VHC_NO}
				,#{CPLNT_TYPE}
				,#{GPS_X}
				,#{GPS_Y}
				,#{CPLNT_CONTS}
				,#{JUDGE}
				,#{JUDG_ORG}
				,#{JUDG_TYPE}
				,#{JUDG_DESC}
				,#{UPD_DTM}
			)
	</insert>
	
	<update id="MO0500G0U0" parameterType="Map">
		UPDATE 
			BRT_CPLNT_HIS
		SET
			OCR_DTM = STR_TO_DATE(#{OCR_DTM}, '%Y-%m-%d')
			,ROUT_NM = #{ROUT_NM}
			,VHC_NO = #{VHC_NO}
			,CPLNT_TYPE = #{CPLNT_TYPE}
			,GPS_X = #{GPS_X}
			,GPS_Y = #{GPS_Y}
			,CPLNT_CONTS = #{CPLNT_CONTS}
			,JUDGE = #{JUDGE}
			,JUDG_ORG = #{JUDG_ORG}
			,JUDG_TYPE = #{JUDG_TYPE}
			,JUDG_DESC = #{JUDG_DESC}
			,UPD_DTM = #{UPD_DTM}
		WHERE
			CPLNT_ID = #{CPLNT_ID}
	</update>
	
	<delete id="MO0500G0D0" parameterType="Map">
		DELETE FROM BRT_CPLNT_HIS WHERE CPLNT_ID = #{CPLNT_ID}
	</delete>-->
	
	

</mapper>
