<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.brt.domain.MO0600.MO0600Mapper">

	<select id="MO0600G0R0" resultType="Map" parameterType="Map">
		SELECT 				A.OPER_DT
						,	A.REP_ROUT_ID
						,	A.VHC_ID
						,	A.ROUT_ID
						,	A.ALLOC_NO
						,	A.OPER_SN
						,	A.NODE_ID
						,	A.COR_ID
						,	A.VHC_NO
						,	A.DRV_ID
						,	A.GPS_X
						,	A.GPS_Y
						,	A.TM_X
						,	A.TM_Y
						,	A.OPER_STS
						,	A.BUS_STS
						,	A.OBE_STS
						,	A.SNSTVTY
						,	A.DRV_ANGLE
						,	A.CUR_SPD
						,	A.ACLRTN_YN
						,	A.DCLRTN_YN
						,	A.CUR_STOP_TM
						,	A.OPER_LEN
						,	A.REP_ROUT_NM
						,	A.NODE_SN
						,	A.NODE_TYPE
						,	A.ARRV_TM
						,	A.DPRT_TM
						,	A.LINK_ID
						,	A.LINK_SN
						,	A.LINK_SPD
						,	A.GET_OFF_CNT
						,	A.PSG_CNT
						,	A.NEXT_NODE_ID
						,	A.NEXT_NODE_ARRV_TM
						,	A.DOOR_CD
						,	A.DOOR_TM					
						,	B.REP_ROUT_NM
						,   B.ROUT_NM
						,   C.CHAS_NO
						,   C.MAKER
						,   D.DRV_NM
						,   E.COMP_NM
						,	A.PRV_PLCE_NM
						, 	F.NODE_TYPE
						
		FROM  			BRT_CUR_OPER_INFO A
		LEFT JOIN   	BMS_ROUT_MST	B
			ON				A.ROUT_ID = B.ROUT_ID
		LEFT JOIN	  	BMS_VHC_MST C
			ON				A.VHC_ID = C.VHC_ID
		LEFT JOIN	  	BMS_DRV_MST D
			ON				A.DRV_ID = D.DRV_ID		
		LEFT JOIN	  	BMS_TRANSCOMP_MST E
			ON				C.COMP_ID = E.COMP_ID
		LEFT JOIN		BMS_NODE_MST F
			ON				A.NEXT_NODE_ID = F.NODE_TYPE	
			
		WHERE			A.OPER_DT = DATE_FORMAT(NOW(), '%Y/%m/%d')
		AND				B.DEL_YN != 'Y'
			<if test="CONTENT1 != null">
				AND A.REP_ROUT_ID = #{CONTENT1}
			</if>
			<if test="CONTENT2 != ''">
				AND A.ROUT_ID = #{CONTENT2}
			</if>
			<!-- <if test="CONTENT3 != null and CONTENT3 != ''">
				AND	A.VHC_NO LIKE CONCAT('%', #{CONTENT3}, '%')
			</if> -->
		ORDER BY		A.REP_ROUT_ID, A.ROUT_ID, VHC_ID	
	</select>
	
	<select id="MO0600G1R0" resultType="Map" parameterType="Map">
	
		SELECT			DATE_FORMAT(A.OPER_DT, '%Y-%m-%d') OPER_DT
					,	A.REP_ROUT_ID
					,	A.VHC_ID
					,	A.INCDNT_TYPE
					,	A.ROUT_ID
					,	A.ALLOC_NO
					,	A.INCDNT_DETAIL
					,	A.OPER_SN
					,	A.COR_ID
					,	DATE_FORMAT(A.OCR_DTM, '%H:%i:%s') OCR_DTM
					,	A.VHC_NO
					,	A.DRV_ID
					,	A.REP_ROUT_NM
					,	A.ROUT_NM
					,	A.LINK_ID
					,	A.NODE_ID
					,	A.GPS_X
					,	A.GPS_Y
					,	A.TM_X
					,	A.TM_Y
					,	A.REMARK
					,	B.VHC_NO
					
		FROM			BRT_INCDNT_INFO A
		LEFT JOIN	  	BMS_VHC_MST B
			ON			A.VHC_ID = B.VHC_ID
		
		WHERE			A.OPER_DT = DATE_FORMAT(NOW(), '%Y/%m/%d')
		<if test="CONTENT1 != null">
			AND A.REP_ROUT_ID = #{CONTENT1}
		</if>
		<if test="CONTENT2 != ''">
			AND A.ROUT_ID = #{CONTENT2}
		</if>
		<!-- <if test="CONTENT3 != null and CONTENT3 != ''">
			AND	A.VHC_NO LIKE CONCAT('%', #{CONTENT3}, '%')
		</if> -->
		ORDER BY		A.OPER_DT DESC, A.OCR_DTM DESC						
	
	</select>

	<select id="MO0600SHI1" resultType="Map">
		SELECT			ROUT_ID, ROUT_NM
		FROM			BMS_ROUT_MST	
		<where>
			<if test="CONTENT1 != null">
				REP_ROUT_ID = #{CONTENT1}	
			</if>
		</where>
	</select>		

</mapper>