html,body{margin:0;padding:0;}
body{color:#3b3b3b;font-style:normal;-webkit-text-size-adjust:none;}
p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,table,form,fieldset,pre{margin:0;padding:0}
body,input,textarea,select,button,table,pre{font-size:12px;font-family: Malgun Gothic, mgw, Verdana, dotum, Sans-serif}
table{empty-cells:show}
caption,legend{display:none}
a img,img{vertical-align:top; cursor:pointer;}
img,fieldset{border:0}
ul,ol,dl,li,dd {list-style:none}
ul li img {vertical-align:top}
em,address{font-style:normal}
a{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:none}

/* float */
.cb:after{display:block;visibility:hidden;clear:both;height:0;font-size:0;line-height:0;content: '.'}
*:first-child+html .cb{min-height:0}/* ie7/8 min-height */

.section{margin-bottom:10px;min-height:10px}

.ofh{overflow:hidden;}
.fl{float:left !important}
.fr{float:right !important}

.mt0 {margin-top:0 !important} .mt3 {margin-top:3px !important;} .mt5 {margin-top:5px !important;} .mt15 {margin-top:15px !important;} .mt10 {margin-top:10px !important;} .mt20 {margin-top:20px !important;} .mt25 {margin-top:25px !important;} .mt30 {margin-top:30px !important;}.mt50 {margin-top:50px !important;}
.ml5 {margin-left:5px !important;} .ml10 {margin-left:10px !important;} .ml20 {margin-left:20px !important;} .mr5 {margin-right:5px !important;}
.mb5 {margin-bottom:5px !important;} .mb10 {margin-bottom:10px !important;} .mb30 {margin-bottom:30px !important;}
.mr10 {margin-right:10px !important;}

.pl10{padding-left:10px !important;} .pr10{padding-right:10px !important;}
.pl20{padding-left:20px !important;} .pr20{padding-right:20px !important;}

.pb16{padding-bottom:16px !important} .pb32{padding-bottom:32px !important}

.p5{padding:5px !important;} .p10{padding:10px !important;} .p20{padding:20px !important;}

.dm{margin:10px !important;}
.dmr{margin-right:6px !important;}
.dml{margin-left:6px !important;}
.dmt{margin-top:6px !important;}
.dmb{margin-bottom:6px !important;}

.dp{padding:10px !important;}
.dpr{padding-right:10px !important;}
.dpl{padding-left:10px !important;}
.dpt{padding-top:10px !important;}
.dpb{padding-bottom:10px !important;}

.tac {text-align:center;}
.tar {text-align:right;}

.hide{display:none;}
.show{display:block;}
.hide + tr th:first-child:before{content : ""; width:5px; height:4px; background: url(/cm/images/inc/ico_tb_hide_up.png) no-repeat left top;padding-left:10px;}

.table_cell{display: table-row !important;}

.txt_b_blue{font-weight: bold; color: #008fc7 !important;}
.txt_b_red{font-weight: bold; color: #FF6347 !important;}

.underline{text-decoration: underline;}
.dpib{display: inline-block;}

.w2group{background:transparent;}
.w2input, .w2inputCalendar_divInput {font-size:12px; font-family: Malgun Gothic, mgw, Verdana, dotum, Sans-serif}


/* Search Box */
/* .search_box{position:absolute;top:7px;right:29px;background:transparent;text-align:right;}
.search_box .search_tit{display:none;margin-right:4px;padding-left:7px;color:#e0eaf3;background:url(/cm/images/inc/bul_arrow.gif) no-repeat 0 center;}
.search_box > input{border:1px solid #1c2d5c; border-radius:5px; width:171px !important; background:url(/cm/images/contents/bg_search.png) 0 0 repeat-x;}
.search_box .btn_all_search{position:absolute; top:0; right:5px; display:inline-block;width:22px;height:22px;vertical-align:middle;background:url(/cm/images/inc/btn_header_search.png) 0 5px no-repeat;} */

/*======================= content.css start ==========================*/
/* w2inputCalendar */
.w2inputCalendar{width:122px;}
.w2inputCalendar_divInput{padding:0 2px}
.w2inputCalendar_div_input{padding-right:1px}
.w2inputCalendar_div_img{width:22px}
.w2inputCalendar_button{top:0 !important;width:22px;height:22px;background-image:url(/cm/images/contents/bg_calendar_ic.png) !important}

.cm_grid .w2inputCalendar_div_img{width:20px}
.cm_grid .w2inputCalendar_button{top:1.5px !important;width:20px;height:20px;background-image:url(/cm/images/contents/bg_calendar_ic_20.png) !important}

.w2checkcombobox, .w2selectbox{border:1px solid #c0c0c0}
.w2checkcombobox .w2checkcombobox_col_button, .w2selectbox .w2selectbox_col_button{width:18px; height:18px; background-image:url(/cm/images/inc/btn_select_arrow.gif); background-position:left center;}

.w2input, .w2textarea, .w2inputCalendar_divInput, .w2selectbox, .w2checkcombobox, .w2autoComplete {border:1px solid #dddddd; box-sizing:border-box;height:22px;}
.w2input, /* .w2selectbox */ .w2checkcombobox, .w2inputCalendar {width:120px;}

.w2grid .w2inputCalendar_divInput{box-sizing:content-box;}

.w2textarea{width:120px;height:50px;}
.w2radio .w2radio_main,.w2checkbox .w2checkbox_main{width:auto}
.w2radio.w100 .w2radio_main,.w2checkbox.w100 .w2checkbox_main{width:100%}
.w2radio_label,.w2checkbox_label{height:19px;line-height:19px} 
.w2table_ccb_col{padding:3px;white-space: nowrap}
.w2radio_td_input,.w2checkbox_td_input{width:18px;padding-left:20px;text-align:left}
.w2radio .w2radio_main .w2radio_row .w2radio_td_input:first-child,
.w2checkbox .w2checkbox_main .w2checkbox_row .w2checkbox_td_input:first-child{padding:0}
.w2radio_td_input .w2radio_input,.w2checkbox_td_input .w2checkbox_input{padding:0;margin:0}
.w2upload.tac{margin:0 auto}

.w2input_gp{position:relative;padding:0 6px 0 0;margin:0}/* width:100% */
.w2selectbox_gp{position:relative;padding:0 2px 0 0;margin:0}/* width:100% */
.w2textarea_gp{position:relative;padding:0 4px 0 0;margin:0}/* width:100% */

/* windowContainer content default group */
.content_body{position:relative;min-height:15px;padding:10px 20px 10px;margin:0;margin-bottom:35px;}/* min-width:1333px; */
.popup_body{position:relative;min-height:15px;padding:5px;margin:0}

.contentbox{min-height:15px;}
.lybox{min-height:15px;}
.lybox:after{display:block;visibility:hidden;clear:both;height:0;font-size:0;line-height:0;content: '.';}
.compbox{min-height:15px;}
.compbox:after{display:block;visibility:hidden;clear:both;height:0;font-size:0;line-height:0;content: '.';}

.ly_row{width:100%;}
.ly_column{float:left;min-width:15px;min-height:15px;padding:0;margin:0;}
.column_box{border:1px solid #b3b3b3; position:absolute; left:0; right:0; bottom:35px; top:0; border-top:none }
.column_box .defaultbox{position:absolute; bottom:-35px; }
.col_1{width:20%} .col_2{width:20%} .col_3{width:30%} .col_4{width:40%} .col_5{width:50%} .col_6{width:60%} .col_7{width:70%} .col_8{width:80%} .col_9{width:90%}

.ly_col_cont{display:block;position:relative;min-width:15px;min-height:15px}

.pgtitlebox{position:relative;min-height:10px;padding:0;margin:10px 0 10px;overflow:hidden;}
.pgtitlebox .wf_contNavi{float:right;line-height:16px;}
.pgtitlebox .wf_contHeader{float:left;}
.pgtitlebox .pg_tt{display:inline-block;color:#333;font-size:16px;font-weight:600;margin-right:6px;}

.depthbox{float:right;height:22px;padding:0;margin:0}
.depthbox a{float:left;padding:5px 0 2px;height:15px;line-height:15px;font-size:12px;margin:0;color:#728ba2}
.depthbox .dp_home{display:block;padding-left:18px;margin:0;background:url(/cm/images/contents/bg_location_home.gif) no-repeat 0 50%}
.depthbox .dp_ic{display:block;float:left;width:19px;height:22px;padding:0;margin:0;text-indent:-9999px;line-height:0;overflow:hidden;background:url(/cm/images/contents/bg_location_li.gif) no-repeat 50% 50%}
.depthbox a:last-child{font-weight:bold}

.defaultbox{width:100%;min-height:15px; position:relative;margin:0px 0 4px;overflow:hidden;}
.defaultbox .df_tt{float:left; color:#333;padding:0 0 0 10px;margin:4px 0 2px 5px;font-size:14px;font-weight:600;line-height:15px;background:url(/cm/images/contents/bg_df_tt.gif) no-repeat 0 5px}
.defaultbox .df_total{display:inline-block;color:#3b3b3b;padding:2px 0 1px;font-size:12px;font-weight:600;line-height:15px;}
.defaultbox .df_total.num{color:#e74c3c;padding:2px 6px 1px}
.df_etc{margin:15px 0 4px;color:#bd5c10;padding:0 0 1px 20px;font-size:12px;line-height:16px;background:url(/cm/images/contents/bg_df_etc.gif) no-repeat 0 3px}

.defaultbox dl{padding:10px; background:#e3e6ea; border:solid 1px #757984;}
.defaultbox dt{color:#333; padding:0 0 0 10px;margin-left:5px;font-weight:600;line-height:15px;background:url(/cm/images/contents/bg_df_tt.gif) no-repeat 0 5px}
.defaultbox dd{margin-left:30px; padding-left:8px; background:url(/cm/images/contents/textDash.png) no-repeat 0 8px}
.defaultbox dd.none{padding:0; margin:0; background:none;}

.telBox .w2input{width:40px;margin-right:3px;}
.telBox .w2span{margin-right:3px;}
.telBox .w2selectbox{width:50px;}

/* search */
.searchbox{position:relative;padding:7px 12px;margin:0;border:1px solid #c8cad0;background:#eff1f8}
.searchbox .sh_row{padding:0;margin:6px 0 0}
.searchbox .sh_row:first-child{margin:0}
.searchbox .sh_row:after{display:block;visibility:hidden;clear:both;height:0;font-size:0;line-height:0;content: '.'}
.searchbox .sh_row .sh_column{float:left;padding:0;margin:0 25px 0 0}
.searchbox .sh_row .sh_column:last-child{margin:0}
.searchbox .sh_row .sh_column:after{display:block;visibility:hidden;clear:both;height:0;font-size:0;line-height:0;content: '.'}
.searchbox .sh_row .sh_column .sh_tt{float:left;position:relative;padding:0 15px 0 0;margin:0;line-height:22px;font-weight:bold;color:#3b3b3b}
.searchbox .sh_row .sh_column .sh_tt.pot{color:#5a89bc}
.searchbox .sh_row .sh_column .sh_cont{float:left;position:relative;padding:0;margin:0;min-width:10px;min-height:10px;}
.searchbox .sh_row .sh_btn{float:right;padding:0;margin:0}


.w2table_sb.w2table.req{margin-right:0 !important; padding-left:0 !important;}

/* table */
.tb {width:100%; border-top:2px solid rgba(0,61,124,1);border-right:1px solid #b0b2b1; margin-bottom:10px;}
.tb .w2tb_th,.tb .w2tb_td{height:19px;border:0;border-left:1px solid #b0b2b1;border-bottom:1px solid #b0b2b1;box-sizing:border-box;}
.tb tbody .w2tb_th{line-height:19px;color:#3b3b3b;padding:3px 4px 6px 8px;background:#e3e6ea;text-align:left}
.tb tbody .w2tb_th.tac{text-align:center}

.tb tbody .w2tb_th.req:after{content: ' ';background:url(/cm/images/contents/bul_req.png) no-repeat right center;width:8px;height:5px;display:inline-block;}
.tb tbody .w2tb_th.req{color:#e74c3c}
.tb .w2tb_td{padding:2px;color:#3b3b3b;}
.tb tbody .w2tb_th .pot{color:#5a89bc}
.tb .w2input, .tb .w2selectbox, .tb .w2checkcombobox, .tb .w2inputCalendar{width:100%;}
.tb .w2textarea{width:100%;height:50px;}
.tb input[type="checkbox"], .tableListH.w2tb input[type="radio"] { border: none;}
.tb .w2inputCalendar_div.req{background:none;padding-left:0 !important}
.tb .w2inputCalendar_div.req .w2inputCalendar_divInput{background:#fffdd8;padding-left:0 !important;text-align:center;}
.tb .w2inputCalendar_div_img .w2inputCalendar_button{top:0 !important;}
.tb .w2input.req{background:#fffdd8;padding-left:0 !important;}
.tb .w2textarea.req,
.tb .w2selectbox.req{background:#fffdd8;margin-right:0 !important; padding-left:0 !important;}
.tb .w2selectbox.req .w2selectbox_focus .w2selectbox_label,
.tb .w2selectbox.req .w2selectbox_over .w2selectbox_label{background:#fffdd8;padding-left:0 !important}
.w2inputCalendar_input.req{background:#fffdd8;padding-left:0 !important;}

.tb .w2tb_th.listUp {background:#e3e6ea url(/cm/images/contents/board_viewList_up.png) no-repeat right 12px !important}
.tb .w2tb_th.listDown {background:#e3e6ea url(/cm/images/contents/board_viewList_down.png) no-repeat right 13px !important}
.tb.calendar{width:100%;}
.tb.calendar .w2tb_td{position:relative; height:80px; text-align: center;}
.tb.calendar tr td:first-child{color:red; background:cornsilk;}
.tb.calendar tr td:last-child{color:#4B76FD; background:cornsilk;}
.tb.calendar tr td .txt_num{position:absolute;left:5px; top:5px;}

/* grid */
.cm_gridbox{position:relative;padding:0;margin:0;}
.cm_grid{border-top:2px solid rgba(0,61,124,1); border-left: 2px solid rgba(0,61,124,1); border-right: 2px solid rgba(0,61,124,1);
		 border-bottom: 2px solid rgba(0,61,124,1); margin-bottom:2px solid rgba(0,61,124,1);}
.cm_grid.left{height:100%;} /* 왼쪽 그리드 높이 */
.cm_grid.leftL{height:100%;} /* 왼쪽  하단그리드 높이 */
.cm_grid.right{height:100%;} /* 오른쪽 그리드 높이 */
.cm_grid.popup{height:100%} /* 팝업 그리드 높이 */

.cm_grid .gridHeaderTableDefault{border:0;border-right:1px solid #c8cad0;border-bottom:1px solid #c8cad0}
.cm_grid thead.gridHeaderTableDefault{border:0}
.cm_grid nobr{display:inline-block}
.cm_grid th.gridHeaderTDDefault{border:1px solid #c8cad0;border-width:1px 0 0 1px;color:#3b3b3b;background:#e3e6ea;height:25px;}
.cm_grid tr:first-child th.gridHeaderTDDefault{border-top:0;height:25px;}
.cm_grid .gridBodyDefault{border:1px solid #c8cad0;border-width:1px 0 0 1px;color:#3b3b3b}
.cm_grid .gridFooterTDDefault{background:#d6eaff; border-width:0 0 0 0; }
.cm_grid td.gridBodyDefault{height:25px;}
.cm_grid button.w2inputCalendar_button {border:0; border-radius:0 !important;}
.cm_grid .gridBodyDefault button{background: gainsboro; border-radius: 10px;  cursor: pointer;}
.cm_grid .gridBodyDefault button:hover{background:skyblue;}
.cm_grid .req{background-color:#fffdd8}

/* tabControl */
.cm_tabmenu{position:relative;padding:0;margin:0;margin:0}/* margin:15px 0 0 */
.cm_tabmenu .w2tabcontrol_tabhost{height:22px}
.cm_tabmenu .w2tabcontrol_tabhost li a{top:0;line-height:22px;margin:0 15px 0 14px;color:#818181}
.cm_tabmenu .w2tabcontrol_tabhost .w2tabcontrol_tab_left{width:4px;background:url(/cm/images/contents/tab01_off.gif) no-repeat}
.cm_tabmenu .w2tabcontrol_tabhost .w2tabcontrol_tab_center{background:url(/cm/images/contents/tab02_off.gif) repeat-x}
.cm_tabmenu .w2tabcontrol_tabhost .w2tabcontrol_tab_right{width:4px;background:url(/cm/images/contents/tab03_off.gif) no-repeat}
.cm_tabmenu .w2tabcontrol_tabhost .w2tabcontrol_active .w2tabcontrol_tab_left{background:url(/cm/images/contents/tab01_on.gif) no-repeat}
.cm_tabmenu .w2tabcontrol_tabhost .w2tabcontrol_active .w2tabcontrol_tab_center{background:url(/cm/images/contents/tab02_on.gif) repeat-x}
.cm_tabmenu .w2tabcontrol_tabhost .w2tabcontrol_active .w2tabcontrol_tab_center a{color:#fff}
.cm_tabmenu .w2tabcontrol_tabhost .w2tabcontrol_active .w2tabcontrol_tab_right{background:url(/cm/images/contents/tab03_on.gif) no-repeat}
.cm_tabmenu .w2tabcontrol_container{float:none;width:auto !important;height:auto !important;border:0;border:1px solid #c8cad0;padding:5px}
.cm_tabmenu .tabcontbox{padding:0;min-height:100px;}
.cm_tabmenu .defaultbox:first-child{margin-top:0;}

/* button */
.btn_cm{position:relative;display:inline-block;padding:0 1px 0 0;margin:0 0 0 3px;background:url(/cm/images/contents/bg_btn_cm.gif) no-repeat 100% 0;vertical-align:middle}
.btn_cm a{position:relative;display:inline-block;padding:4px 17px 3px 17px;height:15px;line-height:11px;font-weight:bold;color:#fff;background:url(/cm/images/contents/bg_btn_cm_f.gif) no-repeat}
.btn_cm.w2anchor_disabled{}
.btn_cm.w2anchor_disabled a{}


/** searchbox button **/
.tbl_search .tbl_sc .btn_cm{position:relative;display:inline-block;padding:0 1px 0 0;margin:0 0 0 6px;background:url(/cm/images/contents/bg_btn_cm.png) no-repeat 100% 0;vertical-align:middle}
.tbl_search .tbl_sc .btn_cm a{position:relative;display:inline-block;padding:4px 17px 3px 17px;height:17px;line-height:13px;font-weight:bold;color:#fff;background:url(/cm/images/contents/bg_btn_cm_f.png) no-repeat;margin-left:-3px;}
.tbl_search .tbl_sc input{height:20px !important;}

.btn_com{position:relative;display:inline-block;padding:0 3px 0 0;margin:0 0 0 3px;background:url(/cm/images/contents/bg_btn_com.gif) no-repeat 100% 0;vertical-align:middle}
.btn_com a{position:relative;display:inline-block;padding:4px 14px 3px 17px;height:15px;line-height:11px;font-weight:bold;color:#fff;background:url(/cm/images/contents/bg_btn_com.gif) no-repeat;margin-left:-3px;}

.btn_sh{background:url(/cm/images/contents/bg_btn_search_repeat.gif) repeat-x right top;}
.btn_sh a{height:24px; line-height:24px; padding:0 10px 0 16px; text-indent:10px; color:#fff; font-weight:bold; background:url(/cm/images/contents/bg_btn_search_ico.gif) no-repeat left top; display:inline-block;}
.btn_save{background:url(/cm/images/contents/bg_btn_search_repeat.gif) repeat-x right top;}
.btn_save a{height:24px; line-height:24px; padding:0 10px 0 16px; text-indent:10px; color:#fff; font-weight:bold; background:url(/cm/images/contents/bg_btn_save_ico.gif) no-repeat left top; display:inline-block;}

.btn_sh.search {background:url(/cm/images/contents/bg_btn_search_repeat.gif) repeat-x right top;}
.btn_sh.search a{height:24px; line-height:24px; padding:0 10px 0 16px; text-indent:10px; color:#fff; font-weight:bold; background:url(/cm/images/contents/bg_btn_search_ico.gif) no-repeat left top; display:inline-block;}
.btn_sh.save{background:url(/cm/images/contents/bg_btn_search_repeat.gif) repeat-x right top;}
.btn_sh.save a{height:24px; line-height:24px; padding:0 10px 0 16px; text-indent:10px; color:#fff; font-weight:bold; background:url(/cm/images/contents/bg_btn_save_ico.gif) no-repeat left top; display:inline-block;}
.btn_sh.del{background:url(/cm/images/contents/bg_btn_search_repeat.gif) repeat-x right top;}
.btn_sh.del a{height:24px; line-height:24px; padding:0 10px 0 16px; text-indent:10px; color:#fff; font-weight:bold; background:url(/cm/images/contents/bg_btn_save_ico.gif) no-repeat left top; display:inline-block;}
.btn_sh.exli{background:url(/cm/images/contents/bg_btn_search_repeat.gif) repeat-x right top;}
.btn_sh.exli a{height:24px; line-height:24px; padding:0 10px 0 16px; text-indent:10px; color:#fff; font-weight:bold; background:url(/cm/images/contents/bg_btn_save_ico.gif) no-repeat left top; display:inline-block;}
.btn_sh.exl{background:url(/cm/images/contents/bg_btn_search_repeat.gif) repeat-x right top;}
.btn_sh.exl a{height:24px; line-height:24px; padding:0 10px 0 16px; text-indent:10px; color:#fff; font-weight:bold; background:url(/cm/images/contents/bg_btn_save_ico.gif) no-repeat left top; display:inline-block;}
.btn_sh.exlf{background:url(/cm/images/contents/bg_btn_search_repeat.gif) repeat-x right top;}
.btn_sh.exlf a{height:24px; line-height:24px; padding:0 10px 0 16px; text-indent:10px; color:#fff; font-weight:bold; background:url(/cm/images/contents/bg_btn_save_ico.gif) no-repeat left top; display:inline-block;}
.btn_sh.add{background:url(/cm/images/contents/bg_btn_search_repeat.gif) repeat-x right top;}
.btn_sh.add a{height:24px; line-height:24px; padding:0 10px 0 16px; text-indent:10px; color:#fff; font-weight:bold; background:url(/cm/images/contents/bg_btn_save_ico.gif) no-repeat left top; display:inline-block;}
.btn_sh.close{background:url(/cm/images/contents/bg_btn_search_repeat.gif) repeat-x right top;}
.btn_sh.close a{height:24px; line-height:24px; padding:0 10px 0 16px; text-indent:10px; color:#fff; font-weight:bold; background:url(/cm/images/contents/bg_btn_save_ico.gif) no-repeat left top; display:inline-block;}
.btn_sh.reserv{background:url(/cm/images/contents/bg_btn_search_repeat.gif) repeat-x right top;}
.btn_sh.reserv a{height:24px; line-height:24px; padding:0 10px 0 16px; text-indent:10px; color:#fff; font-weight:bold; background:url(/cm/images/contents/bg_btn_save_ico.gif) no-repeat left top; display:inline-block;}
.btn_sh.play{background:url(/cm/images/contents/bg_btn_search_repeat.gif) repeat-x right top;}
.btn_sh.play a{height:24px; line-height:24px; padding:0 10px 0 16px; text-indent:10px; color:#fff; font-weight:bold; background:url(/cm/images/contents/bg_btn_save_ico.gif) no-repeat left top; display:inline-block;}
.btn_sh.confirmyn{background:url(/cm/images/contents/bg_btn_search_repeat.gif) repeat-x right top;}
.btn_sh.confirmyn a{height:24px; line-height:24px; padding:0 10px 0 16px; text-indent:10px; color:#fff; font-weight:bold; background:url(/cm/images/contents/bg_btn_save_ico.gif) no-repeat left top; display:inline-block;}
.btn_sh.setting{background:url(/cm/images/contents/bg_btn_search_repeat.gif) repeat-x right top;}
.btn_sh.setting a{height:24px; line-height:24px; padding:0 10px 0 16px; text-indent:10px; color:#fff; font-weight:bold; background:url(/cm/images/contents/bg_btn_save_ico.gif) no-repeat left top; display:inline-block;}
.btn_sh.init{background:url(/cm/images/contents/bg_btn_search_repeat.gif) repeat-x right top;}
.btn_sh.init a{height:24px; line-height:24px; padding:0 10px 0 16px; text-indent:10px; color:#fff; font-weight:bold; background:url(/cm/images/contents/bg_btn_save_ico.gif) no-repeat left top; display:inline-block;}
.btn_sh.help{background:url(/cm/images/contents/bg_btn_search_repeat.gif) repeat-x right top;}
.btn_sh.help a{height:24px; line-height:24px; padding:0 10px 0 16px; text-indent:10px; color:#fff; font-weight:bold; background:url(/cm/images/contents/bg_btn_save_ico.gif) no-repeat left top; display:inline-block;}
.btn_sh.clr{background:url(/cm/images/contents/bg_btn_search_repeat.gif) repeat-x right top;}
.btn_sh.clr a{height:24px; line-height:24px; padding:0 10px 0 16px; text-indent:10px; color:#fff; font-weight:bold; background:url(/cm/images/contents/bg_btn_save_ico.gif) no-repeat left top; display:inline-block;}

.btn_tcm{position:relative;display:inline-block;padding:0 2px 0 0;margin-right:3px;background:url(/cm/images/contents/bg_btn_tcm.gif) no-repeat 100% 0;vertical-align:middle}
.btn_tcm a{position:relative;display:inline-block;padding:4px 8px 3px 10px;height:15px;line-height:11px;color:#433130;background:url(/cm/images/contents/bg_btn_tcm_f.gif) no-repeat}
.btn_ttm{position:relative;display:inline-block;padding:0 2px 0 0;margin-right:3px;background:url(/cm/images/contents/bg_btn_ttm.gif) no-repeat 100% 0;vertical-align:middle}
.btn_ttm a{position:relative;display:inline-block;padding:4px 8px 3px 10px;height:15px;line-height:11px;color:#433130;background:url(/cm/images/contents/bg_btn_ttm.gif) no-repeat}

.btn_tcm_sh_ic{position:relative; width:22px;height:22px;padding:0;margin-right:3px; text-indent:-9999px;overflow:hidden;background:url(/cm/images/contents/bg_btn_sh_ic.png) no-repeat;display:inline-block;vertical-align:middle;}

.btn_gcm_art1{position:relative;display:inline-block;padding:0 2px 0 0;margin:0 0 0 3px;background:url(/cm/images/contents/bg_btn_gcm.png) no-repeat 100% 0;vertical-align:middle}
.btn_gcm_art2{position:relative;display:inline-block;padding:0 9px 0 11px;height:22px;line-height:22px;text-align:center;font-weight:bold;color:#222;background:url(/cm/images/contents/bg_btn_gcm.png) no-repeat}
.btn_gcm_art2 a{display:inline-block;padding-right:12px;background:url(/cm/images/contents/bul_arrw_top.png) no-repeat right 8px}
.btn_gcm_arb1{position:relative;display:inline-block;padding:0 2px 0 0;margin:0 0 0 3px;background:url(/cm/images/contents/bg_btn_gcm.png) no-repeat 100% 0;vertical-align:middle}
.btn_gcm_arb2{position:relative;display:inline-block;padding:0 9px 0 11px;height:22px;line-height:22px;text-align:center;font-weight:bold;color:#222;background:url(/cm/images/contents/bg_btn_gcm.png) no-repeat}
.btn_gcm_arb2 a{display:inline-block;padding-right:12px;background:url(/cm/images/contents/bul_arrw_bottom.png) no-repeat right 8px}
.btn_gcm{margin-left:3px; background:url(/cm/images/contents/bg_btn_gcm_right.gif) repeat-x right top;}
.btn_gcm a{display:inline-block;padding:0 9px 0 11px;height:22px;line-height:20px;font-weight:bold;background:url(/cm/images/contents/bg_btn_gcm_left.gif) no-repeat left top; color:#fff;width:100%;box-sizing:border-box;}
.btn_gcm.search {margin-left:3px; background:url(/cm/images/contents/bg_btn_gcm_right.gif) repeat-x right top;}
.btn_gcm.search a{display:inline-block;padding:0 9px 0 11px;height:22px;line-height:20px;font-weight:bold;background:url(/cm/images/contents/bg_btn_gcm_left.gif) no-repeat left top; color:#fff;width:100%;box-sizing:border-box;}
.btn_gcm.save {margin-left:3px; background:url(/cm/images/contents/bg_btn_gcm_right.gif) repeat-x right top;}
.btn_gcm.save a{display:inline-block;padding:0 9px 0 11px;height:22px;line-height:20px;font-weight:bold;background:url(/cm/images/contents/bg_btn_gcm_left.gif) no-repeat left top; color:#fff;width:100%;box-sizing:border-box;}
.btn_gcm.del {margin-left:3px; background:url(/cm/images/contents/bg_btn_gcm_right.gif) repeat-x right top;}
.btn_gcm.del a{display:inline-block;padding:0 9px 0 11px;height:22px;line-height:20px;font-weight:bold;background:url(/cm/images/contents/bg_btn_gcm_left.gif) no-repeat left top; color:#fff;width:100%;box-sizing:border-box;}
.btn_gcm.exli {margin-left:3px; background:url(/cm/images/contents/bg_btn_gcm_right.gif) repeat-x right top;}
.btn_gcm.exli a{display:inline-block;padding:0 9px 0 11px;height:22px;line-height:20px;font-weight:bold;background:url(/cm/images/contents/bg_btn_gcm_left.gif) no-repeat left top; color:#fff;width:100%;box-sizing:border-box;}
.btn_gcm.exl {margin-left:3px; background:url(/cm/images/contents/bg_btn_gcm_right.gif) repeat-x right top;}
.btn_gcm.exl a{display:inline-block;padding:0 9px 0 11px;height:22px;line-height:20px;font-weight:bold;background:url(/cm/images/contents/bg_btn_gcm_left.gif) no-repeat left top; color:#fff;width:100%;box-sizing:border-box;}
.btn_gcm.exlf {margin-left:3px; background:url(/cm/images/contents/bg_btn_gcm_right.gif) repeat-x right top;}
.btn_gcm.exlf a{display:inline-block;padding:0 9px 0 11px;height:22px;line-height:20px;font-weight:bold;background:url(/cm/images/contents/bg_btn_gcm_left.gif) no-repeat left top; color:#fff;width:100%;box-sizing:border-box;}
.btn_gcm.add {margin-left:3px; background:url(/cm/images/contents/bg_btn_gcm_right.gif) repeat-x right top;}
.btn_gcm.add a{display:inline-block;padding:0 9px 0 11px;height:22px;line-height:20px;font-weight:bold;background:url(/cm/images/contents/bg_btn_gcm_left.gif) no-repeat left top; color:#fff;width:100%;box-sizing:border-box;}
.btn_gcm.close {margin-left:3px; background:url(/cm/images/contents/bg_btn_gcm_right.gif) repeat-x right top;}
.btn_gcm.close a{display:inline-block;padding:0 9px 0 11px;height:22px;line-height:20px;font-weight:bold;background:url(/cm/images/contents/bg_btn_gcm_left.gif) no-repeat left top; color:#fff;width:100%;box-sizing:border-box;}
.btn_gcm.reserv {margin-left:3px; background:url(/cm/images/contents/bg_btn_gcm_right.gif) repeat-x right top;}
.btn_gcm.reserv a{display:inline-block;padding:0 9px 0 11px;height:22px;line-height:20px;font-weight:bold;background:url(/cm/images/contents/bg_btn_gcm_left.gif) no-repeat left top; color:#fff;width:100%;box-sizing:border-box;}
.btn_gcm.play {margin-left:3px; background:url(/cm/images/contents/bg_btn_gcm_right.gif) repeat-x right top;}
.btn_gcm.play a{display:inline-block;padding:0 9px 0 11px;height:22px;line-height:20px;font-weight:bold;background:url(/cm/images/contents/bg_btn_gcm_left.gif) no-repeat left top; color:#fff;width:100%;box-sizing:border-box;}
.btn_gcm.confirmyn {margin-left:3px; background:url(/cm/images/contents/bg_btn_gcm_right.gif) repeat-x right top;}
.btn_gcm.confirmyn a{display:inline-block;padding:0 9px 0 11px;height:22px;line-height:20px;font-weight:bold;background:url(/cm/images/contents/bg_btn_gcm_left.gif) no-repeat left top; color:#fff;width:100%;box-sizing:border-box;}
.btn_gcm.setting {margin-left:3px; background:url(/cm/images/contents/bg_btn_gcm_right.gif) repeat-x right top;}
.btn_gcm.setting a{display:inline-block;padding:0 9px 0 11px;height:22px;line-height:20px;font-weight:bold;background:url(/cm/images/contents/bg_btn_gcm_left.gif) no-repeat left top; color:#fff;width:100%;box-sizing:border-box;}
.btn_gcm.init {margin-left:3px; background:url(/cm/images/contents/bg_btn_gcm_right.gif) repeat-x right top;}
.btn_gcm.init a{display:inline-block;padding:0 9px 0 11px;height:22px;line-height:20px;font-weight:bold;background:url(/cm/images/contents/bg_btn_gcm_left.gif) no-repeat left top; color:#fff;width:100%;box-sizing:border-box;}
.btn_gcm.help {margin-left:3px; background:url(/cm/images/contents/bg_btn_gcm_right.gif) repeat-x right top;}
.btn_gcm.help a{display:inline-block;padding:0 9px 0 11px;height:22px;line-height:20px;font-weight:bold;background:url(/cm/images/contents/bg_btn_gcm_left.gif) no-repeat left top; color:#fff;width:100%;box-sizing:border-box;}
.btn_gcm.clr {margin-left:3px; background:url(/cm/images/contents/bg_btn_gcm_right.gif) repeat-x right top;}
.btn_gcm.clr a{display:inline-block;padding:0 9px 0 11px;height:22px;line-height:20px;font-weight:bold;background:url(/cm/images/contents/bg_btn_gcm_left.gif) no-repeat left top; color:#fff;width:100%;box-sizing:border-box;}

.btn_upload {margin-left:3px; background:url(/cm/images/contents/bg_btn_left_repeat.gif) left top repeat-x;}
.btn_upload a {padding:0 20px 0 12px; display:inline-block; height:22px; line-height:20px; font-weight:bold; background:url(/cm/images/contents/bg_btn_right_up.gif) right top no-repeat; color:#fff;}
.btn_download {margin-left:3px; background:url(/cm/images/contents/bg_btn_left_repeat.gif) left top repeat-x;}
.btn_download a {padding:0 20px 0 12px; display:inline-block; height:22px; line-height:22px; font-weight:bold; background:url(/cm/images/contents/bg_btn_right_down.gif) right top no-repeat; color:#fff;}

.btn_gra{font-weight: bold; background: #ededed; border: 1px solid #ccc; padding: 2px 5px; margin-right: 5px; display: inline-block;}
.btn_blu{font-weight: bold; background: #9dd3f7; border: 1px solid #e5e5e5; padding: 2px 5px; margin-right: 5px; display: inline-block;}
.btn_org{font-weight: bold; background: #f0a24d; border: 1px solid #e5e5e5; padding: 2px 5px; margin-right: 5px; display: inline-block;}


.btn_fix{padding-top:10px;position:absolute;left:0;right:0;bottom:0;text-align:right;background:#fff;z-index:9999; border-top:1px solid #c8cad0;padding:5px 19px;}
.pop_M .btn_fix{bottom:0;padding-bottom:20px;}


/* ### */
.ico_help{display:inline-block;width:14px;height:15px;background:url(/cm/images/inc/ico_help.png) no-repeat;}
.ico_refresh{display:inline-block;width:14px;height:15px;background:url(/cm/images/inc/ico_refresh.png) no-repeat;}
.ico_refresh_b{display:inline-block;width:14px;height:15px;background:url(/cm/images/inc/ico_refresh_b.png) no-repeat;}
.w2trigger{border-radius:3px;height:22px;line-height:19px;padding:0 20px;}


.contentWrap{ padding:0px 10px 10px 10px;overflow:hidden;}

.btn_le{height: 19px; width: 20px; background: url(/cm/images/contents/btn_le.gif) no-repeat left top; float: left;}
.btn_re{height: 19px; background: url(/cm/images/contents/btn_re.gif) repeat-x left top; float: left; line-height: 19px; color: #fff; font-weight: bold; padding: 0 10px;}
.btn_ri{height: 19px; width: 21px; background: url(/cm/images/contents/btn_ri.gif) no-repeat left top; float: left;}

.schedule{margin: 5px 0 0;}


.w2tb.b0 .w2tb_td {border:0 !important;}
.w2tb_td.vat{vertical-align:top;}
.w2tb_td ul{border:solid 1px #ced4d9; position:relative;}
.w2tb_td li{padding:5px; font-weight:bold;}
.w2tb_td li.bg{background-color:#f7f7f7; top:0;}

.titlelistbox .titlelist_tit{ border-top:2px solid #6d7580;border-bottom:1px solid #b9c0ca;background:url(/cm/images/contents/icon_open.png) no-repeat right 15px;}
.titlelistbox .btn_titlelist{display: block;font-weight: bold;padding: 10px 0px 10px 6px;}
.titlelistbox .btn_titlelist:hover{color:#444;text-decoration: underline;}
.titlelistbox .contlistbox{display: none;padding:6px;}

.titlelistbox.act .titlelist_tit{background: url(/cm/images/contents/icon_close.png) no-repeat right 15px;}
.titlelistbox.act .contlistbox{display: block;}

.titlelistbox .etcbox{color:#566478; font-weight:bold;display:block;background:#f4f7fa;border:1px solid #e2e7ec;padding:20px;box-sizing:border-box;white-space: pre-wrap;word-wrap: break-word;}
.titlelistbox .etc_tit{display:inline-block;color:#fff;background:#9656b0;border-radius:3px;padding:2px 10px;margin:4px 0;white-space: pre-wrap;word-wrap: break-word;}

.grp_message{padding-top:8px;}
.spn_message{display:block;padding:0 0 0 50px;}
.spn_message.S{background:url(/cm/images/inc/icon_normal.png) 20px center no-repeat;}
.spn_message.E{background:url(/cm/images/inc/icon_error.png) 20px center no-repeat;}
.spn_message.W{background:url(/cm/images/inc/icon_warning.png) 20px center no-repeat;}

.section_title{border:1px solid #faebcc;-khtml-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;background:#fcf8e3;margin-bottom:10px;padding:10px;}
.bd_box{position:relative;border:1px solid #b0b2b1;border-top:2px solid #757984;}
.contTitle01{position:relative;padding-top:1em;padding-bottom:1em;width:80px;text-align:center;background-color:#e3e6ea;float:left;margin-right:4px;}
.contTitle02{position:relative;text-align:center;background-color:#e3e6ea;padding-top:8px;padding-bottom:8px;font-weight:bold;border-bottom:1px solid #b0b2b1;}

.banner{overflow:hidden; border:1px solid #cfd8dd; background:#fff !important; margin:20px 0 ;}

/* login Page */
.login_wrap{position:relative; width:100%;min-width:320px;height:100%;}
.login_wrap .bg_img{position:absolute; top:25%; left:0; right:0; height:365px; background: #70787e url(/cm/images/contents/login_visual.png) no-repeat center top;}
.login_wrap .bg_img .bg_logo{position:absolute; left: 50%;top: -140px; width:619px; height: 117px; background: url(/cm/images/contents/img_logo.gif) no-repeat; margin-left: -310px;}
.login_wrap .box{position:absolute; bottom:40px; text-align: center; left: 20px;top:40px; right:20px; width:500px; margin:0 auto;}
.login_wrap .box li{display:block; overflow:hidden; margin-bottom:20px;}
.login_wrap .box li ul {position:relative; overflow:hidden; height:72px;}
.login_wrap .box li ul li{position:absolute;}
.login_wrap .box li:first-child ul li:first-child{left:0; width:60px; height:72px; background:url(/cm/images/contents/bg_login_form_left1.png) no-repeat left top;}
.login_wrap .box li:first-child ul li.repeat{height: 72px; left: 60px; right: 60px; background:url(/cm/images/contents/bg_login_form_repeat.png) repeat-x center top;}
.login_wrap .box li:first-child ul li.repeat input{width:100%; height:50px; box-sizing:border-box; position: absolute; left: 0; right: 0; bottom: 10px; top: 10px; background: transparent; border: 0; color:#fff; font-weight: bold; font-size: 15px;}
.login_wrap .box li:first-child ul li.repeat input:focus{outline:0;}
.login_wrap .box li:first-child ul li:last-child{right:0; width:60px; height:72px; background:url(/cm/images/contents/bg_login_form_right.png) no-repeat right top;}

.login_wrap .box li.pw ul li:first-child{left:0; width:60px; height:72px; background:url(/cm/images/contents/bg_login_form_left2.png) no-repeat left top;}
.login_wrap .box li.pw ul li.repeat{height: 72px; left: 60px; right: 60px; background:url(/cm/images/contents/bg_login_form_repeat.png) repeat-x center top;}
.login_wrap .box li.pw ul li.repeat input{width:100%; height:50px; box-sizing:border-box; position: absolute; left: 0; right: 0; bottom: 10px; top: 10px; background: transparent; border: 0; color:#fff; font-weight: bold; font-size: 15px;}
.login_wrap .box li.pw ul li.repeat input:focus{outline:0;}
.login_wrap .box li.pw ul li:last-child{right:0; width:60px; height:72px; background:url(/cm/images/contents/bg_login_form_right.png) no-repeat right top;}

.login_wrap .box .anc_mem{float:left; color:#fff; font-weight:bold; font-size: 15px;}
.login_wrap .box .anc_forget{float:right; color:#ffd600; font-weight:bold; font-size: 15px;}
.login_wrap .box li:last-child{text-align:center; margin:0;}
.login_wrap .box li:last-child a{display:block; height:60px; line-height:60px; background: #01a595 url(/cm/images/contents/bg_img_login.gif) no-repeat center center; border-radius: 5px;}

/*********************************** LAYOUT **************************************/
#wrap{position:relative;width:100%;min-width:1016px;height:100%;min-height:300px;margin:0;padding:0}
#header_wf{z-index:20;clear:both;position:absolute;top:0;left:0;right:0;bottom:0;height:66px;padding:0;margin:0}
#header{position:relative;height:66px;padding:0;margin:0;background:url(/cm/images/bg_main_top.gif) repeat-x left top}
#btn_slide{position:absolute;left:220px;top:50%;width:10px;height:80px;padding:0;margin:-40px 0 0 0;border:0;overflow:hidden;text-indent:-9999px;background:url(/cm/images/btn_slide.gif) no-repeat}
#container{z-index:10;clear:both;position:absolute;left: 0;right: 0;bottom: 25px;top: 66px;margin:0;padding:0;overflow:hidden}
#container:after{content:".";display:block;clear:both;height:0;visibility:hidden}
#side{position:absolute;left:0;right:0;top:0;bottom:0;width:220px;padding:0;margin:0}/* min-height:804px; */
#bodyContent{position:absolute;top:0;left:230px;right:0;bottom:0;height:100%;padding:0;margin:0}

#content_gp{position:absolute;top: 0;left: 10px;right: 10px;bottom: 10px;padding: 0;margin: 0;min-width:766px;}
#content_popup_gp{position:absolute; top: 0; left: 10px; right: 10px; bottom: 10px; padding: 0; margin: 0;}
#footer_grp{position: absolute;left: 0;right: 0;bottom: 0;height: 34px;border-top:1px solid silver;background:whitesmoke;}


/* MAIN */


.
/* LayerPopup  ====================================================================== */
.w2modal { background:#000 !important; opacity:0.5 !important;}

.pop_L {background:#fff;}
.pop_L .pop_con {display:flex;flex-direction:column;padding:12px 25px 15px 25px; overflow:auto; /* width:680px; height:309px; */}
.pop_title {overflow:hidden; height:27px; background:#5c6572;}
.pop_L .pop_con .section{flex-grow:1;flex-shrink:0;flex-basis:auto;}

.pop_M {background:#fff;}
.pop_M .pop_con {padding:12px 25px 15px 25px; overflow:auto;/*  width:520px; height:269px; */}
.pop_M .pop_con .defaultbox{margin-top:0;}
.pop_M .smsbox {border:1px solid #dddddd; height:80px; width:100%; margin-bottom:10px;padding:5px;box-sizing:border-box;}

.pop_S {background:#fff;}
.pop_S .pop_con {padding:12px 25px 15px 25px; overflow:auto; /* width:280px; height:154px; */}
.pop_S .btnBox, .pop_M .btnBox, .pop_L .btnBox {margin-right:25px;}

.w2popup_window {border:2px solid #5a6371;}
.w2popup_window .w2window_header {height:27px; background:#5c6572;}
.w2popup_window .w2window_header_icon {width:0; background:#5c6572;}
.w2popup_window .w2window_header_title {overflow:hidden; height:27px; background:#5c6572; padding:0; color:#fff; font-size:14px; line-height:27px; left:10px;}
.w2popup_window .w2window_close {background:url(/cm/images/contents/layerpop_closebtn.png) center no-repeat; width:15px; height:15px; top:4px; right: 10px; left: inherit;}
 
.w2popup_window .w2window_body {position:absolute; top:40px; border:none; background:#fff; margin:0; padding:0; overflow:hidden;}
.w2popup_window .w2window_content {border:none; top:0; left:0; right:0; bottom:0; margin:0; padding:0; overflow:hidden;}
.w2popup_window .w2window_iframe {border:none; overflow:hidden;}

/* Content Title */
.cnt_title_grp { height:25px; border-bottom:1px solid #B3B3B3; padding-top:10px; padding-bottom:5px; }

/* Treeview */


.tmap_label { background-color: rgba(255,255,255,0.8); color:black; padding: 3px; border: 0.5px solid black; }
.tmap_vertex_label { background-color: rgba(255,255,255,0.8); color:black; padding: 3px; border: 0.5px solid black; }
.tmap_busstop_label { background-color: rgba(255,255,255,0.8); color:black; padding: 3px; border: 0.5px solid black; }
.tmap_cross_label { background-color: rgba(255,255,255,0.8); color:black; padding: 3px; border: 0.5px solid black; }
