@charset "utf-8";


.pgm_container {
				width:100%;height:100%;
				padding: 5px 10px 5px 10px;
				box-sizing: border-box;
				/* box-shadow: 0 0 0 1px #000 inset; */
				gap: 5px 0px;
				}
.pgm_navi { overflow:hidden; height:40px }
.pgm_header {overflow:hidden;/* height:40px */}
.pgm_content { gap: 0px 5px; margin-bottom: 5px }
.pgm_content2 { width:1280px;gap: 0px 5px; margin-bottom: 5px }
.pgm_main { gap: 0px 5px; margin-bottom: 10px }
.pgm_list { gap: 2px 0px; }
.pgm_detail { gap: 2px 0px; }
.pgm_sep {  }

.popup_container {
				width:100%;height:100%;
				padding: 5px 10px 5px 10px;
				box-sizing: border-box;
				/* box-shadow: 0 0 0 1px #000 inset; */
				gap: 5px 0px;
				}
.popup_header { overflow:hidden; height:50px }
.popup_content { gap: 0px 5px; margin-bottom: 10px;  }

.popup_bottom { gap: 0px 5px; margin-bottom: 5px; text-align:center; }


.grdc_main_container {display:grid; justify-items: center; grid-template-rows:minmax(30x, max-content)}
.grdc_brt_main {display:grid; grid-template-columns:minmax(1280px,1830px)}
.grdc_brt_main_content {display:grid; grid-template-columns:4.8fr 25px 5.2fr}
.grdc_brt_main_left {display:grid; grid-template-rows:30px 4.8fr 25px 5.2fr}
.grdc_brt_main_right {display:grid; grid-template-rows:340px 25px 380px}
.grdc_brt_main_right_content {display:grid; grid-template-columns:1fr 25px 1fr}
.grdr_20_5_320 {display:grid; grid-template-rows: minmax(20px, max-content) 5px 320px;}
.grdr_20_5_350 {display:grid; grid-template-rows: minmax(20px, max-content) 5px 350px;}

.grdc_bms_main {display:grid; grid-template-columns:minmax(1280px,1830px)}
.grdc_bms_main_content {display:grid; grid-template-columns:4.8fr 25px 5.2fr}
.grdc_bms_main_left {display:grid; grid-template-rows:30px auto}
.grdc_bms_main_right {display:grid; grid-template-rows:340px 25px 380px}
.grdc_bms_main_right_content {display:grid; grid-template-columns:1fr 25px 1fr}
.grdc_brtMain {display:grid; justify-items: center; grid-template-columns:auto}
.grdc_1f_25_1f {display:grid; grid-template-columns:1fr 25px 1fr;}
.grdc_6f_25_4f {display:grid; grid-template-columns:6fr 25px 4fr;}
.grdc_65f_25_35f {display:grid; grid-template-columns:65fr 25px 35fr;}
.grdc_45f_25_55f {display:grid; grid-template-columns:45fr 25px 55fr;}
.grdc_if_60_if {display:grid; grid-template-columns:1fr 60px 1fr;}

.grdc_a {display:grid; grid-template-columns:auto}
.grdc_500_a {display:grid; grid-template-columns:500px auto;}
.grdc_300_a {display:grid; grid-template-columns:300px auto;}
.grdc_250_a {display:grid; grid-template-columns:250px auto;}
.grdc_200_a {display:grid; grid-template-columns:200px auto;}
.grdc_150_a {display:grid; grid-template-columns:100px auto;}
.grdc_100_a {display:grid; grid-template-columns:100px auto;}
.grdc_50_a {display:grid; grid-template-columns:50px auto;}
.grdc_a_500 {display:grid; grid-template-columns:auto 500px;}
.grdc_a_300 {display:grid; grid-template-columns:auto 300px;}
.grdc_a_250 {display:grid; grid-template-columns:auto 250px;}
.grdc_a_200 {display:grid; grid-template-columns:auto 200px;}
.grdc_a_150 {display:grid; grid-template-columns:auto 150px;}
.grdc_a_100 {display:grid; grid-template-columns:auto 100px;}
.grdc_a_50 {display:grid; grid-template-columns:auto 50px;}

.grdc_a_20_400 {display:grid; grid-template-columns:auto 20px 400px;} /* 왼쪽 오른쪽 구분선 추가 */
.grdc_a_20_450 {display:grid; grid-template-columns:auto 20px 450px;} /* 왼쪽 오른쪽 구분선 추가 */
.grdc_a_20_550 {display:grid; grid-template-columns:auto 20px 550px;} /* 왼쪽 오른쪽 구분선 추가 */
.grdc_a_20_700 {display:grid; grid-template-columns:auto 20px 700px;} /* 왼쪽 오른쪽 구분선 추가 */
.grdc_a_20_800 {display:grid; grid-template-columns:auto 20px 800px;} /* 왼쪽 오른쪽 구분선 추가 */
.grdc_a_20_900 {display:grid; grid-template-columns:auto 20px 900px;} /* 왼쪽 오른쪽 구분선 추가 */
.grdc_a_20_900_minmax {display:grid; grid-template-columns:minmax(340px, auto) 20px 900px;} /* 왼쪽 오른쪽 구분선 추가 */
.grdc_a_20_1000 {display:grid; grid-template-columns:auto 20px 1000px;} /* 왼쪽 오른쪽 구분선 추가 */
.grdc_a_20_1100_minmax {display:grid; grid-template-columns:minmax(380px, auto) 20px 1100px;} /* 왼쪽 오른쪽 구분선 추가 */
.grdc_a_20_1200 {display:grid; grid-template-columns:auto 20px 1200px;}
.grdc_a_20_1200_minmax {display:grid; grid-template-columns:minmax(380px, auto) 20px 1200px;} /* 왼쪽 오른쪽 구분선 추가 */
.grdc_a_20_1400 {display:grid; grid-template-columns:auto 20px 1400px;}
.grdc_a_20_1700 {display:grid; grid-template-columns:auto 20px 1700px;}

.grdc_a_50_800 {display:grid; grid-template-columns:auto 50px 800px;}
.grdc_a_70_550 {display:grid; grid-template-columns:auto 70px 550px;}
.grdc_a_70_550_minmax {display:grid; grid-template-columns:minmax(370px, auto) 70px 550px;}

.grdc_330_20_a {display:grid; grid-template-columns:330px 20px auto;}

.grdc_500_20_a {display:grid; grid-template-columns:500px 20px auto;}
.grdc_600_20_a {display:grid; grid-template-columns:600px 20px auto;}
.grdc_800_20_a {display:grid; grid-template-columns:800px 20px auto;}
.grdc_1000_20_a {display:grid; grid-template-columns:1000px 20px auto;}
.grdc_870_20_a {display:grid; grid-template-columns:870px 20px auto;}
.grdc_1200_20_a {display:grid; grid-template-columns:1200px 20px auto;}
.grdc_1200_20_550_a {display:grid; grid-template-columns:1200px 20px 550px auto;}
.grdc_400_20_900_20_a {display:grid; grid-template-columns:400px 20px 900px 20px auto;}
.grdc_500_20_900_20_a {display:grid; grid-template-columns:500px 20px 900px 20px auto;}
.grdc_500_20_600_20_a {display:grid; grid-template-columns:500px 20px 600px 20px auto;}
.grdc_500_50_a {display:grid; grid-template-columns:500px 50px auto;}
.grdc_380_50_a {display:grid; grid-template-columns:380px 50px auto;}

.grdc_a_20_a {display:grid; grid-template-columns:auto 20px auto;}

.grdc_a_20_600_60_600  {display:grid; grid-template-columns:auto 20px 600px 60px 600px;}

.grdc_1f_1f {display:grid; grid-template-columns:1fr 1fr;}
.grdc_200_1f_1f {display:grid; grid-template-columns:200px 1fr 1fr;}
.grdc_2f_1f {display:grid; grid-template-columns:2fr 1fr;}
.grdc_1f_2f {display:grid; grid-template-columns:1fr 2fr;}
.grdc_2f_20_8f {display:grid; grid-template-columns:2fr 20px 8fr;} /* 왼쪽 오른쪽 구분선 추가 */
.grdc_3f_20_7f {display:grid; grid-template-columns:3fr 20px 7fr;} /* 왼쪽 오른쪽 구분선 추가 */
.grdc_4f_20_6f {display:grid; grid-template-columns:4fr 20px 6fr;} /* 왼쪽 오른쪽 구분선 추가 */
.grdc_5f_20_5f {display:grid; grid-template-columns:5fr 20px 5fr;} /* 왼쪽 오른쪽 구분선 추가 */
.grdc_5f_70_5f {display:grid; grid-template-columns:5fr 70px 5fr;} /* 왼쪽 오른쪽 구분선 추가 */
.grdc_6f_20_4f {display:grid; grid-template-columns:6fr 20px 4fr;} /* 왼쪽 오른쪽 구분선 추가 */
.grdc_7f_20_3f {display:grid; grid-template-columns:7fr 20px 3fr;} /* 왼쪽 오른쪽 구분선 추가 */
.grdc_15f_20_5f {display:grid; grid-template-columns:15fr 20px 5fr;} /* 왼쪽 오른쪽 구분선 추가 */
.grdc_1f_20_1f_60_1f {display:grid; grid-template-columns:1fr 20px 1fr 60px 1fr;} /* 왼쪽 오른쪽 구분선 추가 */
.grdc_2f_20_5f_20_3f {display:grid; grid-template-columns:2fr 20px 5fr 20px 3fr;} /* 왼쪽 오른쪽 구분선 추가 */

.grdc_400_20_a_20_400 {display:grid; grid-template-columns:400px 20px auto 20px 400px;}

.grdr_20_a {display:grid; grid-template-rows: minmax(20px, max-content) auto;}
.grdr_41_36_a {display:grid; grid-template-rows: minmax(41px, max-content) minmax(36px, max-content) auto;}
.grdr_36_a_40 {display:grid; grid-template-rows: minmax(36px, max-content) auto minmax(40px, max-content); }
.grdr_36_a_100_40 {display:grid; grid-template-rows: minmax(36px, max-content) auto minmax(100px, max-content) minmax(40px, max-content); }
.grdr_25_a_40 {display:grid; grid-template-rows: minmax(25px, max-content) auto minmax(40px, max-content); }
.grdr_36_a {display:grid; grid-template-rows: minmax(36px, max-content) auto; }
.grdr_a_40 {display:grid; grid-template-rows: auto minmax(40px, max-content); }
.grdr_20_20_20_a {display:grid; grid-template-rows: minmax(20px, max-content) minmax(20px, max-content) minmax(20px, max-content) auto;}

.grdr_20_40_a {display:grid; grid-template-rows: 20px 40px auto;}

.grdr_20_2_a {display:grid; grid-template-rows: minmax(20px, max-content) 2px auto;}
.grdr_20_2_110_a {display:grid; grid-template-rows: minmax(20px, max-content) 2px 110px auto;}
.grdr_20_2_140_a {display:grid; grid-template-rows: minmax(20px, max-content) 2px 140px auto;}
.grdr_20_35_2_140_a {display:grid; grid-template-rows: minmax(20px, max-content) minmax(35px, max-content) 2px 140px auto;}
.grdr_20_20_2_a {display:grid; grid-template-rows: minmax(20px, max-content) minmax(20px, max-content) 2px auto;}
.grdr_20_35_2_a {display:grid; grid-template-rows: minmax(20px, max-content) minmax(35px, max-content) 2px auto;}
.grdr_25_2_a {display:grid; grid-template-rows: minmax(25px, max-content) 2px auto;}
.grdr_20_2_187_20_a {display:grid; grid-template-rows: minmax(20px, max-content) 2px 187px minmax(20px, max-content) auto;} /* 왼쪽그리드 2개 layout*/
.grdr_20_2_187_2_20_a {display:grid; grid-template-rows: minmax(20px, max-content) 2px 187px 2px minmax(20px, max-content) auto;} /* 왼쪽그리드 2개 layout*/
.grdr_20_2_200_20_a {display:grid; grid-template-rows: minmax(20px, max-content) 2px 200px minmax(20px, max-content) auto;} /* 왼쪽그리드 2개 layout*/
.grdr_20_2_212_20_a {display:grid; grid-template-rows: minmax(20px, max-content) 2px 212px minmax(20px, max-content) auto;} /* 왼쪽그리드 2개 layout*/
.grdr_20_2_250_20_a {display:grid; grid-template-rows: minmax(20px, max-content) 2px 250px minmax(20px, max-content) auto;} 
.grdr_20_2_280_20_a {display:grid; grid-template-rows: minmax(20px, max-content) 2px 280px minmax(20px, max-content) auto;} 
.grdr_20_2_290_20_a {display:grid; grid-template-rows: minmax(20px, max-content) 2px 288px minmax(20px, max-content) auto;} 
.grdr_20_2_320_20_a {display:grid; grid-template-rows: minmax(20px, max-content) 2px 320px minmax(20px, max-content) auto;} 
.grdr_20_2_290 {display:grid; grid-template-rows: minmax(20px, max-content) 2px 288px;} 
.grdr_20_2_350_20_a {display:grid; grid-template-rows: minmax(20px, max-content) 2px 350px minmax(20px, max-content) auto;} 
.grdr_20_2_400_20_a {display:grid; grid-template-rows: minmax(20px, max-content) 2px 400px minmax(20px, max-content) auto;} 
.grdr_20_2_450_20_a {display:grid; grid-template-rows: minmax(20px, max-content) 2px 450px minmax(20px, max-content) auto;} 
.grdr_20_36_a {display:grid; grid-template-rows: minmax(20px, max-content) minmax(36px, max-content) auto;} /* 왼쪽그리드 하단 */
.grdr_20_36_250_20_20_36_a {display:grid; grid-template-rows: minmax(20px, max-content) minmax(36px, max-content) minmax(250px, max-content) minmax(20px, max-content) minmax(20px, max-content) minmax(36px, max-content) auto;} /* 왼쪽그리드 하단 */
.grdr_20_2_250_20_20_36_a {display:grid; grid-template-rows: minmax(20px, max-content) minmax(2px, max-content) minmax(250px, max-content) minmax(20px, max-content) minmax(20px, max-content) minmax(36px, max-content) auto;} /* 왼쪽그리드 하단 */
.grdr_20_2_230_20_20_a {display:grid; grid-template-rows: minmax(20px, max-content) minmax(2px, max-content) minmax(230px, max-content) minmax(20px, max-content) minmax(20px, max-content) auto;} /* 왼쪽그리드 하단 */
.grdr_20_2_250_20_20_a {display:grid; grid-template-rows: minmax(20px, max-content) minmax(2px, max-content) minmax(250px, max-content) minmax(20px, max-content) minmax(20px, max-content) auto;} /* 왼쪽그리드 하단 */
.grdr_20_2_280_20_20_a {display:grid; grid-template-rows: minmax(20px, max-content) minmax(2px, max-content) minmax(280px, max-content) minmax(20px, max-content) minmax(20px, max-content) auto;} /* 왼쪽그리드 하단 */
.grdr_20_2_170_20_20_a {display:grid; grid-template-rows: minmax(20px, max-content) minmax(2px, max-content) minmax(170px, max-content) minmax(20px, max-content) minmax(20px, max-content) auto;}
.grdr_20_2_1f_20_20_1f {display:grid; grid-template-rows: minmax(20px, max-content) minmax(2px, max-content) 1fr minmax(20px, max-content) minmax(20px, max-content) 1fr;} /* 왼쪽그리드 하단 */
.grdr_20_2_4f_20_20_6f {display:grid; grid-template-rows: minmax(20px, max-content) minmax(2px, max-content) 4fr minmax(20px, max-content) minmax(20px, max-content) 6fr;} /* 왼쪽그리드 하단 */
.grdr_20_2_6f_20_20_4f {display:grid; grid-template-rows: minmax(20px, max-content) minmax(2px, max-content) 6fr minmax(20px, max-content) minmax(20px, max-content) 4fr;} /* 왼쪽그리드 하단 */
.grdr_20_2_1f_20_20_1f_a {display:grid; grid-template-rows: minmax(20px, max-content) minmax(2px, max-content) 1fr minmax(20px, max-content) minmax(20px, max-content) 1fr auto;} /* 왼쪽그리드 하단 */
.grdr_20_2_1f_20_20_36_1f {display:grid; grid-template-rows: minmax(20px, max-content) minmax(2px, max-content) 1fr minmax(20px, max-content) minmax(20px, max-content) minmax(36px, max-content) 1fr;} /* 왼쪽그리드 하단 */
.grdr_20_36_1f_20_20_36_1f {display:grid; grid-template-rows: minmax(20px, max-content) minmax(36px, max-content) 1fr minmax(20px, max-content) minmax(20px, max-content) minmax(36px, max-content) 1fr;} /* 예약화면 */
.grdr_20_2_1f_20_1f {display:grid; grid-template-rows: minmax(20px, max-content) minmax(2px, max-content) 1fr minmax(20px, max-content) 1fr;} /* 왼쪽그리드 하단 */
.grdr_20_2_3f_20_7f {display:grid; grid-template-rows: minmax(20px, max-content) minmax(2px, max-content) 3fr minmax(20px, max-content) 7fr;} /* 왼쪽그리드 하단 */
.grdr_20_2_6f_20_4f {display:grid; grid-template-rows: minmax(20px, max-content) minmax(2px, max-content) 6fr minmax(20px, max-content) 4fr;} /* 왼쪽그리드 하단 */
.grdr_20_2_7f_20_3f {display:grid; grid-template-rows: minmax(20px, max-content) minmax(2px, max-content) 7fr minmax(20px, max-content) 3fr;} /* 왼쪽그리드 하단 */
.grdr_20_20_2_1f_20_1f {display:grid; grid-template-rows: minmax(20px, max-content) minmax(20px, max-content) minmax(2px, max-content) 1fr minmax(20px, max-content) 1fr;} /* 왼쪽그리드 하단 */
.grdr_20_1f_20_1f {display:grid; grid-template-rows: minmax(20px, max-content) 1fr minmax(20px, max-content) 1fr;} /* 왼쪽그리드 하단 */
.grdr_20_1f_20_20_1f {display:grid; grid-template-rows: minmax(20px, max-content) 1fr minmax(20px, max-content) minmax(20px, max-content) 1fr;} /* 왼쪽그리드 하단 */
.grdr_1f_1f_1f {display:grid; grid-template-rows: repeat(3, 1fr)} /* 왼쪽그리드 하단 */
.grdr_6f_20_4f {display:grid; grid-template-rows: 6fr minmax(20px, max-content) 4fr;}

.grdr_30_40_a {display:grid; grid-template-rows: 30px 40px auto;}
.grdr_40_40_a {display:grid; grid-template-rows: 40px 40px auto;}
.grdr_50_50_a {display:grid; grid-template-rows: 50px 50px auto;}
.grdr_400_20_a {display:grid; grid-template-rows: 400px 20px auto;}
.grdr_500_20_a {display:grid; grid-template-rows: 500px 20px auto;}
.grdr_30_100_30_a {display:grid; grid-template-rows: 30px 100px 30px auto;}

.grdr_20_200_20_a {display:grid; grid-template-rows: minmax(20px, max-content) 200px minmax(20px, max-content) auto;}
.grdr_20_230_20_a {display:grid; grid-template-rows: minmax(20px, max-content) 230px minmax(20px, max-content) auto;}


.grdr_20_300_a {display:grid; grid-template-rows: minmax(20px, max-content) 300px auto;}

.grdr_20_300_20_a {display:grid; grid-template-rows: minmax(20px, max-content) 300px minmax(20px, max-content) auto;}
.grdr_20_500_20_a {display:grid; grid-template-rows: minmax(20px, max-content) 500px minmax(20px, max-content) auto;}

.grdr_20_a_20_300 {display:grid; grid-template-rows: 20px auto 20px 300px;}
.grdr_20_a_20_400 {display:grid; grid-template-rows: 20px auto 20px 400px;}
.grdr_20_2_a_20_400 {display:grid; grid-template-rows: minmax(20px, max-content) 2px auto 20px 400px;}
.grdr_20_2_a_20_300 {display:grid; grid-template-rows: minmax(20px, max-content) 2px auto 20px 300px;}
.grdr_20_2_a_20_330 {display:grid; grid-template-rows: minmax(20px, max-content) 2px auto 20px 330px;}
.grdr_30_a_30_150 {display:grid; grid-template-rows: 30px auto 30px 150px;}

.grdr_20_a_500 {display:grid; grid-template-rows: 20px auto 500px;}

.grdr_20_2_150_20_20_2_a {display:grid; grid-template-rows: minmax(20px, max-content) 2px 150px 20px minmax(20px, max-content) 2px auto;}
.grdr_20_2_200_20_20_2_a {display:grid; grid-template-rows: minmax(20px, max-content) 2px 200px 20px minmax(20px, max-content) 2px auto;}
.grdr_20_2_200_25_20_20_50_a {display:grid; grid-template-rows: minmax(20px, max-content) 2px 200px 25px 20px minmax(20px, max-content) 50px auto;}
.grdr_20_2_220_20_20_2_a {display:grid; grid-template-rows: minmax(20px, max-content) 2px 220px 20px minmax(20px, max-content) 2px auto;} /* 오른쪽 상하 구분선 추가 */
.grdr_20_2_250_20_20_2_a {display:grid; grid-template-rows: minmax(20px, max-content) 2px 250px 20px minmax(20px, max-content) 2px auto;} /* 오른쪽 상하 구분선 추가 */
.grdr_20_2_280_20_20_2_a {display:grid; grid-template-rows: minmax(20px, max-content) 2px 280px 20px minmax(20px, max-content) 2px auto;} /* 오른쪽 상하 구분선 추가 */
.grdr_20_2_300_20_20_2_a {display:grid; grid-template-rows: minmax(20px, max-content) 2px 300px 20px minmax(20px, max-content) 2px auto;} /* 오른쪽 상하 구분선 추가 */
.grdr_20_2_300_a {display:grid; grid-template-rows: minmax(20px, max-content) 2px 300px auto;} /* 오른쪽 상하 구분선 추가 */
.grdr_20_2_300_40_25_20_150_a {display:grid; grid-template-rows: minmax(20px, max-content) 2px 300px minmax(40px, max-content) minmax(25px, max-content) 20px 150px auto;} /* 오른쪽 상하 구분선 추가 */
.grdr_20_2_350_20_20_2_a {display:grid; grid-template-rows: minmax(20px, max-content) 2px 350px 20px minmax(20px, max-content) 2px auto;} /* 오른쪽 상하 구분선 추가 */
.grdr_20_2_370_20_20_2_a {display:grid; grid-template-rows: minmax(20px, max-content) 2px 370px 20px minmax(20px, max-content) 2px auto;} /* 오른쪽 상하 구분선 추가 */
.grdr_20_2_450_20_20_2_a {display:grid; grid-template-rows: minmax(20px, max-content) 2px 350px 20px minmax(20px, max-content) 2px auto;}
.grdr_20_200_20_20_a {display:grid; grid-template-rows: minmax(20px, max-content) 200px 20px minmax(20px, max-content) auto;}
.grdr_20_2_200_20_20_2_a {display:grid; grid-template-rows: minmax(20px, max-content) 2px 200px 20px minmax(20px, max-content) 2px auto;}
.grdr_20_2_130_20_20_2_a {display:grid; grid-template-rows: minmax(20px, max-content) 2px 130px 20px minmax(20px, max-content) 2px auto;}
.grdr_25_a_20_20_a {display:grid; grid-template-rows: minmax(25px, max-content) auto 20px minmax(20px, max-content) auto;}
.grdr_20_a_20_20_a_20_20_a {display:grid; grid-template-rows: minmax(20px, max-content) auto minmax(20px, max-content) minmax(20px, max-content) auto minmax(20px, max-content) minmax(20px, max-content) auto;}

.grdr_20_2_180_20_20_2_a {display:grid; grid-template-rows: minmax(20px, max-content) 2px 180px minmax(20px, max-content) minmax(20px, max-content) 2px auto;}
.grdr_20_2_180_20_20_2_105_20_20_2_a {display:grid; grid-template-rows: minmax(20px, max-content) 2px 180px minmax(20px, max-content) minmax(20px, max-content) 2px 105px minmax(20px, max-content) minmax(20px, max-content) 2px auto;}


.grdr_20_2_100_20_20_2_105_20_20_2_a {display:grid; grid-template-rows: minmax(20px, max-content) 2px 100px minmax(20px, max-content) minmax(20px, max-content) 2px 105px minmax(20px, max-content) minmax(20px, max-content) 2px auto;}

.grdr_20_2_300_20_20_2_105_20_20_2_a {display:grid; grid-template-rows: minmax(20px, max-content) 2px 300px minmax(20px, max-content) minmax(20px, max-content) 2px 105px minmax(20px, max-content) minmax(20px, max-content) 2px auto;}

.grdr_20_100_20_20_2_a {display:grid; grid-template-rows: minmax(20px, max-content) 100px minmax(20px, max-content) minmax(20px, max-content) 2px auto;}
.grdr_20_150_20_20_2_a {display:grid; grid-template-rows: minmax(20px, max-content) 150px minmax(20px, max-content) minmax(20px, max-content) 2px auto;}
.grdr_20_180_20_20_a {display:grid; grid-template-rows: minmax(20px, max-content) 180px minmax(20px, max-content) minmax(20px, max-content) auto;}
.grdr_20_220_20_20_a {display:grid; grid-template-rows: minmax(20px, max-content) 220px minmax(20px, max-content) minmax(20px, max-content) auto;}
.grdr_20_180_20_20_105_20_20_a {display:grid; grid-template-rows: minmax(20px, max-content) 180px minmax(20px, max-content) minmax(20px, max-content) 105px minmax(20px, max-content) minmax(20px, max-content) auto;}

.grdr_20_a_20_20_a_20_a {display:grid; grid-template-rows: minmax(20px, max-content) auto 20px minmax(20px, max-content) auto 20px auto;}

.required {font-color:red;}

.small_vertical_line{margin-top: 0;margin-bottom: 0;width: 2px;margin-left: 10px;background: url('/cm/images/add/bg_line.png') 0 0;height: 221px;}
.vertical_line2{box-shadow: 0 0 0 3px #333 inset;height: 100%;width: 2px;margin-left: 24px;}
.vertical_line{height: 100%;width: 2px;margin-left: 9px;background: url('/cm/images/add/bg_line.png') 0 0;}
.horizontal_line{;height: 2px;width: 100%;margin-top: 10px;margin-bottom: 10px; background: url('/cm/images/add/bg_line.png') 0 0;}

/* 상단 검색창 */
.gr_search{position:relative;padding: 8px 21px;margin:0;border:1px solid #ced4d9;border-top: 2px solid /* #757984 */rgb(235 69 69);background:#f7f7f7;margin-bottom:10px;height:23px;}
.gr_search .btn_main_generator{position:absolute;right:2px}
.gr_search .btn_main_generator .btn_sh{left:0px;top:0px;margin-right: 5px;}
.gr_search .label{float:left;position:relative;margin-top: 4px;margin-right: 7px;font-weight: bold;}
.gr_search .radioLabel{float:left; position:relative; margin-top: 4px; margin-left: 10px; margin-right: 7px; }
.gr_search .radio{float:left; position:relative; margin-top: 3px; margin-right: 7px; min-width: 200px;}

.gr_search .search_type{width: 120px;height: 21px;margin-top: 1px;margin-right: 10px;float:left;}
.gr_search .search_auto{width: 200px;height: 21px;margin-top: 1px;float:left;}
.gr_search .search_select{width: 200px;height: 21px;margin-top: 1px;float:left;}
.gr_search .search_type_100{width: 100px;height: 21px;margin-top: 1px;margin-right: 10px;float:left;}
.gr_search .search_input{width: 210px;height: 21px;margin-top: 1px;float:left;}
.gr_search .search_calendar{width: 150px;height: 23px;margin-top: 1px;float:left;}

/* 서브 헤더 */
.gr_sub_header{position:relative;margin:0;margin-bottom:0px;}
.gr_sub_header .btn_sub_generator{position:absolute;right:2px; height:50px}
.gr_sub_header .btn_sub_generator .btn_gcm{left:0px;top:0px;margin-right: 5px !important;}
.gr_sub_header .defaultbox{float:left; position:relative; margin-right: 7px;}
.gr_sub_header .check{float:left; position:absolute; margin-top: 3px; min-width: 200px;}

.gr_map_header{position:relative;margin:0; margin-bottom:2px; height:23px}
.gr_map_header .btn_sub_generator{position:absolute;right:2px;top:-1px}
.gr_map_header .btn_sub_generator .btn_gcm{left:0px;top:0px;margin-right: 5px !important;}
.gr_map_header .defaultbox{float:left; position:relative; margin-right: 7px;}
.gr_map_header .check{float:left; position:absolute; margin-top: 3px; min-width: 200px;}

.gr_sub_search{position:relative;padding: 8px 21px;margin:0;border:1px solid #ced4d9;border-top: 2px solid #333333;background:#f7f7f7;margin-bottom:10px;height:23px;}
.gr_sub_search .label{float:left;position:relative;margin-top: 4px;margin-right: 7px;font-weight: bold;}
.gr_sub_search .search_select{width: 200px;height: 21px;margin-top: 1px;float:left;}
.gr_sub_search .search_input{width: 210px;height: 21px;margin-top: 1px;float:left;}
.gr_sub_search .search_calendar{width: 150px;height: 23px;margin-top: 1px;float:left;}



/* 지현수정 */
#mf_wfm_header {    font-family: 'Noto Sans',"Helvetica", "Arial", sans-serif}
