.pgm_container {
				width:100%;height:100%;
				padding: 5px 10px 5px 10px;
				box-sizing: border-box;
				/* box-shadow: 0 0 0 1px #000 inset; */
				gap: 5px 0px;
				}
.pgm_navi { overflow:hidden; height:40px }
.pgm_header { overflow:hidden; height:40px }
.pgm_content { gap: 0px 5px; }
.pgm_list { gap: 5px 0px; }
.pgm_detail { gap: 5px 0px; }
.pgm_sep {  }

.grdc_a {display:grid; grid-template-columns:auto}
.grdc_500_a {display:grid; grid-template-columns:500px auto;}
.grdc_300_a {display:grid; grid-template-columns:300px auto;}
.grdc_250_a {display:grid; grid-template-columns:250px auto;}
.grdc_200_a {display:grid; grid-template-columns:200px auto;}
.grdc_150_a {display:grid; grid-template-columns:100px auto;}
.grdc_100_a {display:grid; grid-template-columns:100px auto;}
.grdc_50_a {display:grid; grid-template-columns:50px auto;}
.grdc_a_500 {display:grid; grid-template-columns:auto 500px;}
.grdc_a_300 {display:grid; grid-template-columns:auto 300px;}
.grdc_a_250 {display:grid; grid-template-columns:auto 250px;}
.grdc_a_200 {display:grid; grid-template-columns:auto 200px;}
.grdc_a_150 {display:grid; grid-template-columns:auto 150px;}
.grdc_a_100 {display:grid; grid-template-columns:auto 100px;}
.grdc_a_50 {display:grid; grid-template-columns:auto 50px;}

.grdc_a_20_700 {display:grid; grid-template-columns:auto 20px 700px;} /* 왼쪽 오른쪽 구분선 추가 */
.grdc_a_20_1000 {display:grid; grid-template-columns:auto 20px 1000px;} /* 왼쪽 오른쪽 구분선 추가 */
.grdc_a_20_1700 {display:grid; grid-template-columns:auto 20px 1700px;}

.grdc_500_20_a {display:grid; grid-template-columns:500px 20px auto;}

.grdc_1f_1f {display:grid; grid-template-columns:1fr 1fr;}
.grdc_200_1f_1f {display:grid; grid-template-columns:200px 1fr 1fr;}
.grdc_2f_1f {display:grid; grid-template-columns:2fr 1fr;}
.grdc_1f_2f {display:grid; grid-template-columns:1fr 2fr;}
.grdc_4f_20_6f {display:grid; grid-template-columns:4fr 20px 6fr;} /* 왼쪽 오른쪽 구분선 추가 */

.grdc_400_20_a_20_400 {display:grid; grid-template-columns:400px 20px auto 20px 400px;}

.grdr_20_a {display:grid; grid-template-rows: minmax(20px, max-content) auto;}
.grdr_20_20_a {display:grid; grid-template-rows: minmax(20px, max-content) minmax(20px, max-content) auto;}
.grdr_20_20_20_a {display:grid; grid-template-rows: minmax(20px, max-content) minmax(20px, max-content) minmax(20px, max-content) auto;}

.grdr_20_40_a {display:grid; grid-template-rows: 20px 40px auto;}

.grdr_20_2_a {display:grid; grid-template-rows: minmax(20px, max-content) 2px auto;}
.grdr_25_2_a {display:grid; grid-template-rows: minmax(25px, max-content) 2px auto;}

.grdr_30_40_a {display:grid; grid-template-rows: 30px 40px auto;}
.grdr_40_40_a {display:grid; grid-template-rows: 40px 40px auto;}
.grdr_50_50_a {display:grid; grid-template-rows: 50px 50px auto;}
.grdr_400_20_a {display:grid; grid-template-rows: 400px 20px auto;}
.grdr_30_100_30_a {display:grid; grid-template-rows: 30px 100px 30px auto;}

.grdr_20_200_20_a {display:grid; grid-template-rows: minmax(20px, max-content) 200px minmax(20px, max-content) auto;}

.grdr_20_300_20_a {display:grid; grid-template-rows: minmax(20px, max-content) 300px minmax(20px, max-content) auto;}

.grdr_20_a_20_300 {display:grid; grid-template-rows: 20px auto 20px 300px;}
.grdr_30_a_30_150 {display:grid; grid-template-rows: 30px auto 30px 150px;}

.grdr_20_a_20_20_a {display:grid; grid-template-rows: minmax(20px, max-content) auto 20px minmax(20px, max-content) auto;} /* 오른쪽 상하 구분선 추가 */
.grdr_25_a_20_20_a {display:grid; grid-template-rows: minmax(25px, max-content) auto 20px minmax(20px, max-content) auto;}
.grdr_20_a_20_20_a_20_20_a {display:grid; grid-template-rows: minmax(20px, max-content) auto minmax(20px, max-content) minmax(20px, max-content) auto minmax(20px, max-content) minmax(20px, max-content) auto;}

.grdr_20_a_20_20_a_20_a {display:grid; grid-template-rows: minmax(20px, max-content) auto 20px minmax(20px, max-content) auto 20px auto;}

.required {font-color:red;}

.vertical_line{box-shadow: 0 0 0 3px #757984 inset; height: 100%; width: 2px; margin-left: 10px;}
.horizontal_line{box-shadow: 0 0 0 3px #757984 inset; height: 2px; width: 100%; margin-top: 10px;  margin-bottom: 10px;}

/* 상단 검색창 */
.gr_search{position:relative;padding:5px 5px;margin:0;border:1px solid #ced4d9; border-top:2px solid /* #757984 */rgba(0,61,124,1); background:#f7f7f7; margin-bottom:10px; height:23px}
.gr_search .btn_main_generator{position:absolute;right:2px}
.gr_search .btn_main_generator .btn_sh{left:0px;top:0px;margin-right: 5px;}
.gr_search .label{float:left; position:relative; margin-top: 4px; margin-right: 7px;}
.gr_search .select{float:left; position:relative; margin-top: 1px; margin-right: 7px;}
.gr_search .input{float:left; position:relative; margin-top: 1px; margin-right: 7px;}
.gr_search .radioLabel{float:left; position:relative; margin-top: 4px; margin-left: 10px; margin-right: 7px;}
.gr_search .radio{float:left; position:relative; margin-top: 3px; margin-right: 7px;}
.gr_search .search_auto{width: 200px;height: 21px;float:left;}
.gr_search .search_select{width: 200px;height: 21px;float:left;}

/* 서브 헤더 */
.gr_sub_header{position:relative;margin:0; margin-bottom:2px; height:23px}
.gr_sub_header .btn_sub_generator{position:absolute;right:2px}
.gr_sub_header .btn_sub_generator .btn_gcm{left:0px;top:0px;margin-right: 5px;}
.gr_sub_header .defaultbox{float:left; position:relative; margin-right: 7px;}