body.login {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('../images/login-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 100vh;
	.login-wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
		> * {
			margin-top: 5px;
		}
		.logo {
			width: 190px;
			height: auto;
		}
		.logo + * {
			margin-top: 50px;
		}
		input {
			width: 360px;
			height: 40px;
			padding: 10px;
			background-color: #ffffff;
			border-radius: 3px;
		}
		.btn-login {
			width: 360px;
			height: 40px;
			color: #ffffff;
			background-color: #0063DC;
			border-radius: 3px;
			margin-top: 20px;
		}
	}
}
body.admin-wrap {
	min-width: 1280px;
	header {
		display: flex;
		align-items: center;
		background-color: #00387D;
		justify-content: space-between;
		padding: 10px 20px;
		.title-wrap {
			color: #ffffff;
			display: flex;
			align-items: center;
			> * {
				margin-left: 10px;
			}
			> *:first-child {
				margin-left: 0;
			}
		}
		.btn-logout {
			background-color: #0063DC;
			color: #ffffff;
			border-radius: 3px;
			height: 30px;
			width: 80px;
		}
	}
	.search-wrap {
		display: flex;
		align-items: center;
		padding: 15px 20px;
		background-color: #405262;
		color: #ffffff;
		> * {
			display: flex;
			align-items: center;
		}
		> * + * {
			margin-left: 50px;
		}
		input {
			width: 140px;
			background-color: #ffffff;
			border-radius: 3px;
			padding: 10px;
			font-size: 14px;
		}
		button {
			background-color: red;
			padding: 10px;
			margin-left: 10px;
			border-radius: 3px;
		}
		.btn-search {
			background: #00A8FF url('../images/icon-search.svg') no-repeat center;
		}
		.btn-refrash {
			background: #DC9A00 url('../images/icon-refrash.svg') no-repeat center;
		}
	}
	.list-wrap {
		.per-page {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding: 20px;
			/* Customize the label (the container) */
			.container {
				display: block;
				position: relative;
				width: 50px;
				margin-left: 5px;
				text-align: center;
				cursor: pointer;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
			
			/* Hide the browser's default checkbox */
			.container input {
				position: absolute;
				opacity: 0;
				cursor: pointer;
				height: 0;
				width: 0;
			}
			
			/* Create a custom checkbox */
			.checkmark {
				position: absolute;
				top: 50%;
				transform: translate(-50%, -50%);
				left: 50%;
				width: 50px;
				height: 30px;
				line-height: 30px;
				text-align: center;
				background-color: #eee;
				color: #BCBCBC;
				border-radius: 3px;
				z-index: -1;
			}
			
			/* On mouse-over, add a grey background color */
			.container:hover input ~ .checkmark {
				background-color: #DCDCDC;
			}
			
			/* When the checkbox is checked, add a blue background */
			.container input:checked ~ .checkmark {
				background-color: #00A8FF;
			}
			
			/* Create the checkmark/indicator (hidden when not checked) */
			.checkmark:after {
				content: "";
				position: absolute;
				display: none;
			}
			
			/* Show the checkmark when checked */
			.container input:checked ~ .checkmark:after {
				display: block;
			}
		}
		.list {
			width: calc(100% - 40px);
			margin: 0 auto;
			ul {
				display: grid;
				grid-template-columns: repeat(5, 1fr);
				gap: 20px;
				.photo-wrap {
					> * {
						display: block;
					}
					img {
						width: 100%;
						height: auto;
					}
					.number {
						background-color: #0063DC;
						color: #ffffff;
						text-align: center;
						padding: 10px;
					}
				}
			}
		}
		.pagenation {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 40px 0 20px;
			font-size: 14px;
			> * {
				margin: 0 10px;
			}
			.page {
				display: flex;
				align-items: center;
				li {
					padding: 0 5px;
					a {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 40px;
						height: 40px;
					}
					a.active {
						background-color: #0063DC;
						color: #ffffff;
					}
				}
			}
		}
	}
}
body.detail-wrap {
	header {
		display: flex;
		align-items: center;
		background-color: #00387D;
		justify-content: center;
		padding: 10px 20px;
		h1 {
			color: #ffffff;
		}
	}
	.body-wrap {
		display: grid;
		grid-template-columns: 1fr 310px;
		grid-template-rows: 232.5px 1fr;
		gap: 10px;
		padding: 10px;
		img {
			width: 100%;
			height: auto;
		}
		.detail-info {
			grid-column: 2/3;
			table {
				th, td {
					padding: 5px 10px;
					border: 1px solid #CCCCCC;
				}
				th {
					text-align: center;
					background-color: #DCDCDC;
				}
				td {
					background-color: #EBEBEB;
					.btn-wrap {
						* + * {
							margin-left: 5px;
						}
						button {
							padding: 2px 5px;
							color: #ffffff;
						}
						.btn-ok {
							background-color: #BB0000;
						}
						.btn-cancel {
							background-color: #757575;
						}
					}
					input {
						padding: 2px 5px;
						border: 1px solid #757575;
					}
				}
			}
		}
		.key-btn-wrap {
			margin-top: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
			button {
				color: #ffffff;
				background-color: #0063DC;
				border-radius: 3px;
				font-size: 16px;
				font-weight: 400;
				padding: 5px 10px;
				min-width: 60px;
			}
			* + * {
				margin-left: 5px;
			}
		}
	}
}
body.print-wrap {
	min-width: inherit !important;
	header {
		display: flex;
		align-items: center;
		background-color: #00387D;
		justify-content: center;
		padding: 10px 20px;
		h1 {
			color: #ffffff;
		}
	}
	.body-wrap {
		display: grid;
		grid-template-columns: 1fr 1.2fr;
		grid-template-rows: auto auto auto;
		gap: 10px;
		padding: 10px;
		img {
			width: 100%;
			height: auto;
		}
		table {
			th, td {
				border: 1px solid #000000;
				background-color: #ffffff;
				padding: 10px 20px;
				font-size: 12pt;
			}
		}
		.detail-info {
			grid-column: 2/3;
			table {
				height: 100%;
			}
		}
		.back-view {
			grid-column: 1/3;
		}
		.comment {
			grid-column: 1/3;
		}
	}
}
@media print {
	* {
		-webkit-print-color-adjust: exact;
		print-color-adjust: exact;
    }
}