<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.brt.domain.VH0300.VH0300Mapper">

<select id="VH0300G0R0" resultType="Map">
	SELECT  
		STTN_ID
		,STTN_NO
		,STTN_NM
		,REMARK
	FROM
		BMS_STTN_MST
	WHERE DEL_YN!='Y'
		<if test="TYPE == 'ALL' and CONTENT != null and CONTENT != ''">
			AND STTN_ID LIKE CONCAT('%',#{CONTENT},'%') || STTN_NM LIKE CONCAT('%',#{CONTENT},'%')
		</if>
		<if test="TYPE == 'STTN_ID'">
			AND STTN_ID LIKE CONCAT('%',#{CONTENT},'%')
		</if>
		<if test="TYPE == 'STTN_NM'">
			AND STTN_NM LIKE CONCAT('%',#{CONTENT},'%') 
		</if>
	ORDER BY
		STTN_ID
	</select>

	<select id="VH0300SHI0" resultType="Map" parameterType="Map">
		SELECT STTN_ID, STTN_NM
		FROM
			BMS_STTN_MST
		WHERE DEL_YN!='Y'
	</select>
	
	
	<select id="VH0300G1R0" resultType="Map">
		SELECT  
			DATE_FORMAT(A.OCR_DTM, '%Y-%m-%d %h:%i:%s') OCR_DTM 
			,A.VHC_NO
			,A.DOOR_SN
			,A.LOC_STOP_DIV
		FROM 	
			BRT_ACRT_LOC_STOP_LOG A
			LEFT JOIN BMS_STTN_MST B
			ON A.STTN_ID = B.STTN_ID AND B.DEL_YN!='Y'
		WHERE
			B.STTN_ID = #{STTN_ID}
	</select>
	
	<delete id="VH0300G1D0" parameterType="Map">
		DELETE FROM BRT_ACRT_LOC_STOP_LOG
		WHERE OCR_DTM = #{OCR_DTM}
	</delete>

<!--  <insert id="VI0100G1I0" parameterType="Map">
	insert into BRT_OPER_VIOLT_HIS
			(STTN_ID,
			TRNS_ID,
			TRNS_DIV,
			TRNS_NM,
			GPS_X,
			GPS_Y,
			TM_Y,
			TM_X,
			USE_YN,
			REMARK,
			UPD_DTM,
			UPD_ID
			)
	values (#{STTN_ID},
			#{TRNS_ID},
			#{TRNS_DIV},
			#{TRNS_NM},
			#{GPS_X},
			#{GPS_Y},
			0,
			0,
			#{USE_YN},
			#{REMARK},
			#{UPD_DTM},
			#{SSN_USER_ID}
			)		

</insert>-->

</mapper>
