<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.tracom.brt.domain.VH0400.VH0400Mapper">

<select id="VH0400G0R0" parameterType="Map" resultType="Map">
	SELECT				DATE_FORMAT(A.OPER_DT, '%Y-%m-%d') OPER_DT
					,	A.REP_ROUT_ID
					,	A.VHC_ID
					,	A.UPD_DTM
					,	A.VHC_NO
					,	A.DRV_ID
					,	A.COR_ID
					,	A.ROUT_ID
					,	A.ALLOC_NO
					,	A.OPER_SN
					,	A.GPS_X_RAW AS GPS_X
					,	A.GPS_Y_RAW AS GPS_Y
					,	A.DRV_ANGLE
					,	A.GPS_X
					,	A.GPS_Y
					,	A.CUR_SPD
					,	A.LINK_ID
					,	A.NODE_ID
					,	A.NODE_SN
					,	A.OPER_STS
					,	A.EVT_TYPE
					,	A.EVT_DATA
					,	A.STOP_TM
					,	DATE_FORMAT(A.OCR_DTM, '%H:%i:%s') OCR_DTM
					,	B.NODE_NM
					,	B.NODE_TYPE
					, 	C.ROUT_NM
					,	D.ORGA_NM
					,	E.DRV_NM
					,	F.LINK_NM
	FROM				BRT_OPER_EVENT_HIS A
	LEFT JOIN 			BMS_NODE_MST B
	ON 					A.NODE_ID = B.NODE_ID	
	LEFT JOIN			BMS_ROUT_MST C	
	ON					A.ROUT_ID = C.ROUT_ID
	LEFT JOIN	  		BMS_VOC_ORGA_INFO D
	ON					A.EVT_DATA = D.ORGA_ID
	LEFT JOIN	  		BMS_DRV_MST E
	ON					A.DRV_ID = E.DRV_ID
	LEFT JOIN	  		BMS_LINK_MST F
	ON					A.LINK_ID = F.LINK_ID
	WHERE				A.OPER_DT IS NOT NULL
		<if test="@kr.tracom.util.CommonUtil@notEmpty(CONTENT1)">
				AND A.REP_ROUT_ID = #{CONTENT1}
		</if>
		<if test="@kr.tracom.util.CommonUtil@notEmpty(CONTENT2)">
				AND A.ROUT_ID = #{CONTENT2}
		</if>
		<if test="@kr.tracom.util.CommonUtil@notEmpty(CONTENT3)">
				AND A.VHC_ID LIKE CONCAT('%', #{CONTENT3}, '%')
		</if>
		
		<if test="@kr.tracom.util.CommonUtil@notEmpty(F_DATE) and @kr.tracom.util.CommonUtil@empty(L_DATE)">
			<![CDATA[AND A.OPER_DT >= #{F_DATE}]]>
		</if>
		<if test="@kr.tracom.util.CommonUtil@notEmpty(L_DATE) and @kr.tracom.util.CommonUtil@empty(F_DATE)">
			<![CDATA[AND A.OPER_DT <= #{L_DATE}]]>
		</if>
		<if test="@kr.tracom.util.CommonUtil@notEmpty(F_DATE) and @kr.tracom.util.CommonUtil@notEmpty(L_DATE)">
			AND A.OPER_DT between #{F_DATE} and #{L_DATE}
		</if>
	ORDER BY			A.OPER_DT DESC, A.OCR_DTM DESC
</select>

</mapper>