<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.cm.domain.Drv.DrvMapper">

<select id="selectDrvList" resultType="Map">
	SELECT
		A.DRV_ID
		,A.DRV_NM
		,A.BUS_DIV
		,A.REMARK
	FROM
		BMS_DRV_MST A
		INNER JOIN BRT_REP_ROUT_DRV_CMPSTN B
		ON A.DRV_ID = B.DRV_ID
	WHERE
		B.REP_ROUT_ID = #{REP_ROUT_ID}
</select>
	
</mapper>