<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.cm.domain.Emer.EmerMapper">

	<select id="selectEmerList" resultType="Map" parameterType="Map">
		SELECT			CLSFCTN_ID
					,	CLSFCTN_NM
					,	CLSFCTN_ENM
					,	PARENT_ID
					,	LEVEL
					,	SORT
					,	UPD_DTM
					,	UPD_ID
					,	PHONE
					
		FROM			BMS_EMER_CLSFCTN_MST
		
		<where>	
			<!-- <if test="@kr.tracom.util.CommonUtil@notEmpty(NODE_TYPE)">
			AND A.NODE_TYPE = #{NODE_TYPE}
			</if> -->
		</where>
	</select>

	<select id="selectEmerItem" resultType="Map" parameterType="Map">
		SELECT			CLSFCTN_ID
					,	CLSFCTN_NM
		
		FROM			BMS_EMER_CLSFCTN_MST
	</select>
	
<select id="selectTreeEmerList" resultType="Map">
   with recursive CTE AS (
      SELECT 
         a.CLSFCTN_ID,
         a.CLSFCTN_NM,
         a.CLSFCTN_ENM,
         a.PARENT_ID,
         a.LEVEL,
         a.SORT,
         a.PHONE,
         CONCAT(a.LEVEL,a.SORT) path
       FROM	   BMS_EMER_CLSFCTN_MST a
       WHERE   a.PARENT_ID = ""
       UNION   ALL
       SELECT 
          b.CLSFCTN_ID,
          b.CLSFCTN_NM,
          b.CLSFCTN_ENM,
          b.PARENT_ID,
          b.LEVEL,
          b.SORT,
          b.PHONE,
          CONCAT(c.path,b.LEVEL,b.SORT) path 
       FROM    CTE c
       INNER   JOIN BMS_EMER_CLSFCTN_MST b
       ON      c.CLSFCTN_ID = b.PARENT_ID
       )

       
       SELECT CLSFCTN_ID,
         CLSFCTN_NM,
         CLSFCTN_ENM,
         IFNULL(PARENT_ID, 0) AS PARENT_ID,
         LEVEL,
         SORT,
         path,
         PHONE
      FROM CTE 
	  <where>
		<if test="TYPE == 'ALL'">
			AND (CLSFCTN_ID LIKE CONCAT('%',#{CONTENT},'%') || CLSFCTN_NM LIKE CONCAT('%',#{CONTENT},'%')) 
		</if>
		<if test="TYPE == 'CLSFCTN_ID'">
			AND CLSFCTN_ID LIKE CONCAT('%',#{CONTENT},'%')
		</if>
		<if test="TYPE == 'CLSFCTN_NM'">
			AND CLSFCTN_NM LIKE CONCAT('%',#{CONTENT},'%') 
		</if>
	</where> 	 	
	order by path

</select>
	
</mapper>