<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.cm.domain.Emer.EmerMapper">

	<select id="selectEmerList" resultType="Map" parameterType="Map">
		SELECT			CLSFCTN_ID
					,	CLSFCTN_NM
					,	CLSFCTN_ENM
					,	PARENT_ID
					,	LEVEL
					,	SORT
					,	UPD_DTM
					,	UPD_ID
					,	PHONE
					
		FROM			BMS_EMER_CLSFCTN_MST
		
		<where>	
			<!-- <if test="@kr.tracom.util.CommonUtil@notEmpty(NODE_TYPE)">
			AND A.NODE_TYPE = #{NODE_TYPE}
			</if> -->
		</where>
	</select>

	<select id="selectEmerItem" resultType="Map" parameterType="Map">
		SELECT			CLSFCTN_ID
					,	CLSFCTN_NM
		
		FROM			BMS_EMER_CLSFCTN_MST
	</select>
	
</mapper>