<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.cm.domain.Main.MainMapper">

<select id="bmsMainG0" resultType="Map">
	SELECT
		A.VHC_NO
		,A.ROUT_ID
		,A.BUS_STS
		,A.PRV_PLCE_NM
		,DATE_FORMAT(A.UPD_DTM, '%Y-%m-%d %H:%i') UPD_DTM
		,A.VHC_ID
		,A.GPS_X
		,A.GPS_Y
		,A.OPER_STS
		,A.ALLOC_NO
		,A.OPER_SN
		,B.NODE_NM
		,C.ROUT_NM
	FROM
		BRT_CUR_OPER_INFO A
		LEFT JOIN BMS_NODE_MST B ON A.NEXT_NODE_ID = B.NODE_ID
		LEFT JOIN BMS_ROUT_MST C ON A.ROUT_ID = C.ROUT_ID
	WHERE
		DATE_FORMAT(A.UPD_DTM, '%Y-%m-%d') = CURDATE()
	ORDER BY
		A.UPD_DTM
	LIMIT
		20
</select>

<select id="bmsMainG1" resultType="Map">
	SELECT
		PROV_NM
		,NEWS_TITLE
		,DATE_FORMAT(UPD_DTM, '%Y-%m-%d %H:%i') UPD_DTM 
	FROM
		BMS_NEWS_INFO
	<!--  WHERE
		DATE_FORMAT(UPD_DTM, '%Y-%m-%d') = CURDATE() -->
	ORDER BY
		UPD_DTM
	LIMIT
		20
</select>

<select id="bmsMainF0" resultType="Map">
	SELECT
		SKY_COND
		,TEMPC
		,HUMI
	FROM
		BMS_WEAT_INFO
	ORDER BY
		UPD_DTM DESC
	LIMIT
		1
</select>

<select id="bmsMainF1" resultType="Map">
	SELECT
		DUSTC
		,OZONEC
		,NDC
		,CMC
		,SDC
	FROM
		BMS_ATMO_INFO
	ORDER BY
		UPD_DTM DESC
	LIMIT
		1
</select>

<select id="brtMainG1" resultType="Map">
	SELECT
		VHC_NO
		<![CDATA[ 
		,CASE WHEN DSPTCH_DIV = 'DP002' THEN
				CASE WHEN DSPTCH_CONTS>0 THEN
						TIME_FORMAT(SEC_TO_TIME(DSPTCH_CONTS), '%i분 %s초 느립니다.')
					WHEN DSPTCH_CONTS<0 THEN
						TIME_FORMAT(SEC_TO_TIME(DSPTCH_CONTS), '%i분 %s초 빠릅니다.')
					ELSE '정상 운행중입니다.'
				END
			WHEN  DSPTCH_DIV = 'DP003' THEN
				TIME_FORMAT(SEC_TO_TIME(DSPTCH_CONTS), '%i분 %s초 빠릅니다.')
			ELSE DSPTCH_CONTS
		END AS DSPTCH_CONTS
		]]>
		,DATE_FORMAT(SEND_DATE, '%Y-%m-%d %H:%i') SEND_DATE 
	FROM
		BRT_DSPTCH_LOG
	WHERE
		DATE_FORMAT(SEND_DATE, '%Y-%m-%d') = CURDATE()
	GROUP BY
		VHC_NO
	ORDER BY
		SEND_DATE DESC
	LIMIT
		20
</select>

<select id="brtMainF0" resultType="Map">
	SELECT
		COUNT(*) INCDNT_CNT
	FROM
		BRT_INCDNT_HIS
	WHERE
		DATE_FORMAT(UPD_DTM, '%Y-%m-%d') = CURDATE()
</select>

<select id="brtMainF1" resultType="Map">
	SELECT
		COUNT(*) INCDNT_RES_CNT
	FROM
		BRT_INCDNT_RES_INFO
	WHERE
		DATE_FORMAT(UPD_DTM, '%Y-%m-%d') = CURDATE()
</select>

<select id="brtMainF2" resultType="Map">
	SELECT
		COUNT(*) SPEEDING_CNT
	FROM
		BRT_OPER_VIOLT_HIS
	WHERE
		DATE_FORMAT(UPD_DTM, '%Y-%m-%d') = CURDATE()
	AND
		VIOLT_TYPE = "VL003"
</select>
	
<select id="brtMainF3" resultType="Map">
	SELECT
		COUNT(*) NOSTOP_CNT
	FROM
		BRT_OPER_VIOLT_HIS
	WHERE
		DATE_FORMAT(UPD_DTM, '%Y-%m-%d') = CURDATE()
	AND
		VIOLT_TYPE = "VL004"
</select>	

<select id="brtMainG2" resultType="Map">
	SELECT				DATE_FORMAT(A.OPER_DT, '%Y-%m-%d') OPER_DT
					,	A.REP_ROUT_ID
					,	A.VHC_ID
					,	A.UPD_DTM
					,	A.VHC_NO
					,	A.DRV_ID
					,	A.COR_ID
					,	A.ROUT_ID
					,	A.ALLOC_NO
					,	A.OPER_SN
					,	A.GPS_X_RAW AS GPS_X
					,	A.GPS_Y_RAW AS GPS_Y
					,	A.DRV_ANGLE
					,	A.GPS_X
					,	A.GPS_Y
					,	A.CUR_SPD
					,	A.LINK_ID
					,	A.NODE_ID
					,	A.NODE_SN
					,	A.OPER_STS
					,	A.EVT_TYPE
					,	A.EVT_DATA
					,	A.STOP_TM
					,	DATE_FORMAT(A.OCR_DTM, '%Y-%m-%d %H:%i') AS OCR_DTM
					,	B.NODE_NM
					,	B.NODE_TYPE
					, 	C.ROUT_NM
					,	D.ORGA_NM
	FROM				BRT_OPER_EVENT_HIS A
	LEFT JOIN 			BMS_NODE_MST B
	ON 					A.NODE_ID = B.NODE_ID	
	LEFT JOIN			BMS_ROUT_MST C	
	ON					A.ROUT_ID = C.ROUT_ID
	LEFT JOIN	  		BMS_VOC_ORGA_INFO D
	ON					A.EVT_DATA = D.ORGA_ID
	WHERE
		A.OPER_DT = CURDATE()
	ORDER BY
		A.OCR_DTM DESC
	LIMIT
		20
</select>

</mapper>