<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="kr.tracom.cm.domain.Phrase.PhraseMapper">
	<select id="selectPhrase" resultType="Map">
		SELECT 		DL_CD
					,DL_CD_NM
		FROM		BMS_DL_CD_INFO
		
		WHERE		CO_CD = 'COMMON_SENTENCE'					
	
	</select>

</mapper>