<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="kr.tracom.brt.domain.ST0200.ST0200Mapper">
  
  <select id="ST0200G0R0" resultType="Map">
		SELECT  ROUT_ID
				,REP_ROUT_ID
				,REP_ROUT_NM
				,ROUT_NM
				,ROUT_LEN
		FROM 
			BMS_ROUT_MST
		WHERE 
			DEL_YN != 'Y'
			<if test="CONTENT != NULL">
				AND REP_ROUT_ID LIKE CONCAT('%',#{CONTENT},'%') 
			</if>
		ORDER BY REP_ROUT_NM
	</select>
  
  
  <select id="ST0200G1R0" resultType="Map">
  		SELECT
  			DATE_FORMAT(A.OPER_DT, '%Y-%m-%d') OPER_DT
			,A.REP_ROUT_ID
			,A.ROUT_ID
			,CONCAT(A.STAT_H, '시') AS STAT_H
			,AVG(AVRG_SPD) AS AVRG_SPD
			,MAX_SPD
			,MIN_SPD
			,B.ROUT_NM
		FROM
			BRT_ROUT_AVER_OPER_SP_STAT A
			LEFT JOIN BMS_ROUT_MST B
			ON A.ROUT_ID = B.ROUT_ID
		WHERE
			A.ROUT_ID IN
		<foreach collection="ROUT_ID" item="item" index="index"  open="(" close=")" separator=",">
			#{item}
		</foreach>
			<if test="F_DATE != null and F_DATE != '' and L_DATE != null and L_DATE != '' ">
				AND DATE_FORMAT(A.OPER_DT, '%Y%m%d') BETWEEN #{F_DATE} AND #{L_DATE}
			</if>
			<if test="TYPE == 'OPER_SN'">
				GROUP BY
					A.ROUT_ID, A.OPER_SN
			</if>
			<if test="TYPE == 'ALLOC_NO'">
				GROUP BY
					A.ROUT_ID, A.ALLOC_NO
			</if>
			<if test="TYPE == 'REP_ROUT_ID'">
				GROUP BY
					A.REP_ROUT_ID
			</if>
		GROUP BY
			OPER_DT, ROUT_ID, A.STAT_H
		ORDER BY
			OPER_DT, ROUT_ID, A.STAT_H
  </select>
  
 <!--   <select id="ST0200G1R0" resultType="Map">
  		SELECT
  			DATE_FORMAT(A.OPER_DT, '%Y-%m-%d') OPER_DT
			,A.REP_ROUT_ID
			,A.ROUT_ID
			,CONCAT(A.STAT_H, '시') AS STAT_H
			,AVG(AVRG_SPD) AS AVRG_SPD
			,MAX(MAX_SPD) AS MAX_SPD
			,MIN(MIN_SPD) AS MIN_SPD
			,B.ROUT_NM
		FROM
			BRT_ROUT_AVER_OPER_SP_STAT A
			LEFT JOIN BMS_ROUT_MST B
			ON A.ROUT_ID = B.ROUT_ID
		WHERE
			A.ROUT_ID IN
		<foreach collection="ROUT_ID" item="item" index="index"  open="(" close=")" separator=",">
			#{item}
		</foreach>
			<if test="(F_DATE != null and F_DATE != '') and (L_DATE == null or L_DATE == '')">
				<![CDATA[AND A.OPER_DT >= #{F_DATE}]]>
			</if>
			<if test="(F_DATE == null or F_DATE == '') and L_DATE != null and L_DATE != '' ">
				<![CDATA[AND A.OPER_DT <= #{L_DATE}]]>
			</if>
			<if test="F_DATE != null and F_DATE != '' and L_DATE != null and L_DATE != '' ">
				AND DATE_FORMAT(A.OPER_DT, '%Y%m%d') BETWEEN #{F_DATE} AND #{L_DATE}
			</if>
			<if test="TYPE == 'ROUT_ID'">
				GROUP BY
					A.ROUT_ID
			</if>
			<if test="TYPE == 'OPER_SN'">
				GROUP BY
					A.ROUT_ID, A.OPER_SN
			</if>
			<if test="TYPE == 'ALLOC_NO'">
				GROUP BY
					A.ROUT_ID, A.ALLOC_NO
			</if>
			<if test="TYPE == 'REP_ROUT_ID'">
				GROUP BY
					A.REP_ROUT_ID
			</if>
		ORDER BY
			OPER_DT, A.ROUT_ID, A.STAT_H
  </select>-->
  
	


</mapper>