.display {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr 300px 150px 280px;
      grid-template-rows: 1fr 300px 150px 280px;
  gap: 10px;
  padding: 10px;
}

.display section {
  background-color: #2B2B2B;
  border-radius: 10px;
}

.display .situation {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-width: 15px;
  border-style: solid;
}

.display .situation .text {
  overflow: hidden;
  font-size: 150px;
  font-weight: 800;
  text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
}

.display .situation.blue {
  background-color: #0059ff;
  border-color: #0b4ecc;
}

.display .situation.yellow {
  background-color: #FFA200;
  border-color: #A56900;
}

.display .situation.orange {
  background-color: #ff7b00;
  border-color: #ce6c11;
}

.display .situation.red {
  background-color: #ff0000;
  border-color: #cc0f0f;
}

.display .situation.green {
  background-color: #abc600;
  border-color: #99ae00;
}

.display .t-light {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.display .t-light .text {
  display: block;
  width: 100%;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}

.display .t-light .light-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 600px;
  margin-top: 20px;
}

.display .t-light .light-wrap span {
  display: block;
  width: 260px;
  height: 260px;
  background-image: url("/cm/images/dashboard/light-gray.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.display .t-light .light-wrap .red-light.on {
  background-image: url("/cm/images/dashboard/light-red.svg");
}

.display .t-light .light-wrap .green-light.on {
  background-image: url("/cm/images/dashboard/light-green.svg");
}

.display .line-name {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.display .line-name h2 {
  position: absolute;
  top: 40px;
  left: 50px;
  font-size: 40px;
  font-weight: 400;
  color: #888888;
}

.display .line-name .text {
  margin-top: 20px;
  font-size: 90px;
  font-weight: 800;
}

.display .next-position {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 3/5;
  font-size: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
}

.display .next-position dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.display .next-position dl dt {
  font-weight: 600;
}

.display .next-position dl dd {
  margin-left: 20px;
  font-weight: 600;
}

.display .line-info {
  position: relative;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}

.display .line-info .line {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.display .line-info .line li {
  position: relative;
  width: 50px;
  height: 50px;
}

.display .line-info .line li i::before {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  background: url("/cm/images/dashboard/station.svg") no-repeat center;
  z-index: 1;
}

.display .line-info .line li span {
  display: block;
  width: 150px;
  font-size: 30px;
  white-space: nowrap;
}

.display .line-info .line li:nth-child(1) span {
  -webkit-transform: translateY(70px) translateX(0) rotate(45deg);
          transform: translateY(70px) translateX(0) rotate(45deg);
}

.display .line-info .line li:nth-child(2) span {
  -webkit-transform: translateY(70px) translateX(-30px) rotate(45deg);
          transform: translateY(70px) translateX(-30px) rotate(45deg);
}

.display .line-info .line li:nth-child(3) span {
  -webkit-transform: translateY(70px) translateX(-40px) rotate(45deg);
          transform: translateY(70px) translateX(-40px) rotate(45deg);
}

.display .line-info .line li:nth-child(4) span {
  -webkit-transform: translateY(70px) translateX(-50px) rotate(45deg);
          transform: translateY(70px) translateX(-50px) rotate(45deg);
}

.display .line-info .line li:nth-child(5) span {
  -webkit-transform: translateY(70px) translateX(-70px) rotate(45deg);
          transform: translateY(70px) translateX(-70px) rotate(45deg);
}

.display .line-info .line::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 25px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: calc(100% - 50px);
  height: 15px;
  background-color: #ffffff;
  z-index: 0;
}

.display .line-info .icon-wrap {
  position: absolute;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  display: block;
  width: calc(100% - 100px);
}

.display .line-info .icon-wrap .bus {
  position: absolute;
  top: -120px;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  display: block;
  width: 75px;
  height: 85px;
  background: url("/cm/images/dashboard/bus.svg") no-repeat center;
}

.display .line-info .icon-wrap .cross {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50px, -50%);
          transform: translate(-50px, -50%);
  display: block;
  width: 88px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
}

.display .line-info .icon-wrap .cross.red {
  background-image: url("/cm/images/dashboard/cross-red.svg");
}

.display .line-info .icon-wrap .cross.green {
  background-image: url("/cm/images/dashboard/cross-green.svg");
}

.display .sttnETA {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/3;
  font-size: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;          
   padding: 50px;       
}



.display .sttnETA dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.display .sttnETA dl dt {
  font-weight: 600;
}

.display .sttnETA dl dd {
  margin-left: 20px;
  font-weight: 600;
}

/*# sourceMappingURL=design.css.map */