<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.bms.domain.SI0101.SI0101Mapper">

<select id="SI0101G0R0" resultType="Map">
	select GRG_ID, GRG_NM, GRG_ENM, OWNER_TYPE, ADDR, PHONE, FAX, EMAIL, CNG_YN, ELEC_YN, LEGAL_AREA, GPS_X, GPS_Y,
			SECURE_AREA, <!-- APPL_ST_DT, APPL_ED_DT, --> USE_YN, REMARK
	from BMS_GRG_MST
	<where>
		<if test="TYPE == 'ALL' and CONTENT != null and CONTENT != ''">
			AND GRG_ID LIKE CONCAT('%',#{CONTENT},'%') || GRG_NM LIKE CONCAT('%',#{CONTENT},'%')
		</if>
		<if test="TYPE == 'GRG_ID'">
			AND GRG_ID LIKE CONCAT('%',#{CONTENT},'%')
		</if>
		<if test="TYPE == 'GRG_NM'">
			AND GRG_NM LIKE CONCAT('%',#{CONTENT},'%') 
		</if>
	</where>

</select>

<insert id="SI0101G0I0" parameterType="Map">
	insert into BMS_GRG_MST(GRG_ID, GRG_NM, GRG_ENM, OWNER_TYPE, ADDR, PHONE, FAX, EMAIL, CNG_YN, ELEC_YN, USE_YN,
			<if test="LEGAL_AREA != null and LEGAL_AREA != ''">
				LEGAL_AREA,
			</if>
			<if test="SECURE_AREA != null and SECURE_AREA != ''">
			SECURE_AREA, 
			</if>
			<if test="GPS_X != null and GPS_X != ''">
			GPS_X, 
			</if>
			<if test="GPS_Y != null and GPS_Y != ''">
			GPS_Y, 
			</if>
			<!-- APPL_ST_DT, APPL_ED_DT, --> REMARK)
	values (#{GRG_ID}, #{GRG_NM}, #{GRG_ENM}, #{OWNER_TYPE}, #{ADDR}, #{PHONE}, #{FAX}, #{EMAIL}, #{CNG_YN}, #{ELEC_YN}, #{USE_YN}, 
			<if test="LEGAL_AREA != null and LEGAL_AREA != ''">
				#{LEGAL_AREA},
			</if>
			<if test="SECURE_AREA != null and SECURE_AREA != ''">
				#{SECURE_AREA},
			</if>
			<if test="GPS_X != null and GPS_X != ''">
				#{GPS_X}, 
			</if>
			<if test="GPS_Y != null and GPS_Y != ''">
				#{GPS_Y}, 
			</if>			
			 <!-- #{APPL_ST_DT}, #{APPL_ED_DT}, --> #{REMARK})
</insert>

<update id="SI0101G0U0" parameterType="Map">
 update BMS_GRG_MST
	set GRG_NM = #{GRG_NM}, GRG_ENM = #{GRG_ENM}, OWNER_TYPE = #{OWNER_TYPE}, ADDR = #{ADDR}, PHONE = #{PHONE}, FAX = #{FAX}, USE_YN = #{USE_YN},
		EMAIL = #{EMAIL}, CNG_YN = #{CNG_YN}, ELEC_YN =  #{ELEC_YN}, 
		<if test="LEGAL_AREA != null and LEGAL_AREA != ''">
			LEGAL_AREA = #{LEGAL_AREA}, 
		</if>
		<if test="SECURE_AREA != null and SECURE_AREA != ''">
			SECURE_AREA = #{SECURE_AREA},
		</if>
		<if test="GPS_X != null and GPS_X != ''">
			GPS_X = #{GPS_X}, 
		</if>
		<if test="GPS_Y != null and GPS_Y != ''">
			GPS_Y = #{GPS_Y}, 
		</if>		
		APPL_ST_DT = #{APPL_ST_DT}, APPL_ED_DT = #{APPL_ED_DT}, REMARK = #{REMARK}
	where GRG_ID = #{GRG_ID}
</update>

<select id="SI0101G0R1" resultType="Map">
	select BGR.GRG_ID,BGR.GPS_X, BGR.GPS_Y
	from BMS_GRG_MST BGM, BMS_GRG_RDS_INFO BGR
	where BGM.GRG_ID = BGR.GRG_ID
</select>

<select id="SI0101G0K0" resultType="Map">
	SELECT CONCAT('GR', LPAD(NEXTVAL(SEQ_BMS_GRG_MST_0), 8, '0')) AS 'SEQ'
</select>

<select id="SI0101SHI0" resultType="Map">
	select GRG_ID, GRG_NM
	from BMS_GRG_MST
</select>


<delete id="SI0101G0D0" parameterType="Map">
	delete
	from BMS_GRG_MST
	where GRG_ID = #{GRG_ID}

</delete>

<select id="SI0101P0R0" resultType="Map">
	select GRG_ID, SN, GPS_X, GPS_Y
	from BMS_GRG_RDS_INFO
	where GRG_ID = #{GRG_ID}
</select>

<insert id="SI0101P0I0" parameterType="Map">
	insert into BMS_GRG_RDS_INFO(GRG_ID, SN, GPS_X, GPS_Y)
	values (#{GRG_ID}, #{SN}, #{GPS_X}, #{GPS_Y})
</insert>

<update id="SI0101P0U0" parameterType="Map">
 update BMS_GRG_RDS_INFO
	set GRG_ID = #{GRG_ID}, SN = #{SN}, GPS_X = #{GPS_X}, GPS_Y = #{GPS_Y}
	where GRG_ID = #{GRG_ID}
</update>

<delete id="SI0101P0D0" parameterType="Map">
	delete
	from BMS_GRG_RDS_INFO
	where GRG_ID = #{GRG_ID} and SN = #{SN}
</delete>

<delete id="SI0101P0DA0" parameterType="Map">
	delete
	from BMS_GRG_RDS_INFO
	where GRG_ID = #{GRG_ID}
</delete>

</mapper>
