<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.bms.domain.SI0300.SI0300Mapper">
	<select id="SI0300G0R0" resultType="Map">
		SELECT  DRV_ID,
				b.COMP_NM,
				ATTACH_ID,
				a.COMP_ID,
				DRV_NM,
				DRV_ENM,
				CONVERT(AES_DECRYPT(a.PHONE, HEX(SHA2('TRACOM', 512))) USING UTF8) PHONE,
				BUS_DIV,
				DATE_FORMAT(EPLY_DATE1, '%Y%m%d') EPLY_DATE1,
				CONVERT(AES_DECRYPT(LIC_NO, HEX(SHA2('TRACOM', 512))) USING UTF8) LIC_NO,
				DATE_FORMAT(CERTI_DT, '%Y%m%d') CERTI_DT,
				EPLY_YN,
				DATE_FORMAT(RETIRE_DT, '%Y%m%d') RETIRE_DT,
				a.REMARK
	
		FROM BMS_DRV_MST a, BMS_TRANSCOMP_MST b
		WHERE a.COMP_ID = b.COMP_ID
			<if test="TYPE == 'ALL' and CONTENT != null and CONTENT != ''">
				AND (DRV_ID LIKE CONCAT('%',#{CONTENT},'%') || DRV_NM LIKE CONCAT('%',#{CONTENT},'%') || COMP_NM LIKE CONCAT('%',#{CONTENT},'%')) 
			</if>
			<if test="TYPE == 'DRV_ID'">
				AND DRV_ID LIKE CONCAT('%',#{CONTENT},'%')
			</if>
			<if test="TYPE == 'DRV_NM'">
				AND DRV_NM LIKE CONCAT('%',#{CONTENT},'%')
			</if>
 			<if test="TYPE == 'COMP_NM'">
				AND COMP_NM LIKE CONCAT('%',#{CONTENT},'%') 
			</if>
		
	</select>	

	<select id="SI0300SHI0" resultType="Map">
		select DRV_ID, DRV_NM, b.COMP_NM
		from BMS_DRV_MST a, BMS_TRANSCOMP_MST b 
		where a.COMP_ID = b.COMP_ID
		order by DRV_NM
	</select>

	<select id="SI0300G0K0" resultType="Map">
		SELECT CONCAT('DR', LPAD(NEXTVAL(SEQ_BMS_DRV_MST_0), 8, '0')) AS 'SEQ'
	</select>

	<select id="SI0300P0R0" resultType="Map">
		SELECT COMP_ID, COMP_NM
		FROM BMS_TRANSCOMP_MST
		<where>
			<if test="TYPE == 'ALL' and CONTENT != null and CONTENT != ''">
				AND COMP_ID LIKE CONCAT('%',#{CONTENT},'%') || COMP_NM LIKE CONCAT('%',#{CONTENT},'%') 
			</if>
			<if test="TYPE == 'COMP_ID'">
				AND COMP_ID LIKE CONCAT('%',#{CONTENT},'%')
			</if>
			<if test="TYPE == 'COMP_NM'">
				AND COMP_NM LIKE CONCAT('%',#{CONTENT},'%') 
			</if>
		</where>
	</select>
	
	<insert id="SI0300G0I0" parameterType="Map">
		INSERT INTO 		BMS_DRV_MST
						   (
							DRV_ID
							,ATTACH_ID
							,COMP_ID
							,DRV_NM
							,DRV_ENM
							,PHONE
							,BUS_DIV
							,EPLY_DATE1
							,EPLY_DATE2
							,LIC_NO
							,CERTI_DT
							,EPLY_YN
							,RETIRE_DT
							,REMARK
							,UPD_DTM
							,UPD_ID
							,USE_YN
						   )
			   
		VALUES			   (
							#{DRV_ID}
							,#{ATTACH_ID}
							,#{COMP_ID}
							,#{DRV_NM}
							,#{DRV_ENM}
    						, AES_ENCRYPT(#{PHONE}, HEX(SHA2('TRACOM', 512)))							
							<!-- ,#{PHONE} -->
							,#{BUS_DIV}
							,STR_TO_DATE(#{EPLY_DATE1}, '%Y%m%d')
							,STR_TO_DATE(#{EPLY_DATE2}, '%Y%m%d')
    						, AES_ENCRYPT(#{LIC_NO}, HEX(SHA2('TRACOM', 512)))								
							<!-- ,#{LIC_NO} -->
							,STR_TO_DATE(#{CERTI_DT}, '%Y%m%d')
							,#{EPLY_YN}
							,STR_TO_DATE(#{RETIRE_DT}, '%Y%m%d')
							,#{REMARK}
							,#{UPD_DTM}
							,#{SSN_USER_ID}
							,#{USE_YN}
							)
	</insert>

	<update id="SI0300G0U0" parameterType="Map">
		update BMS_DRV_MST
		set 	
				DRV_ID = #{DRV_ID},
				ATTACH_ID = #{ATTACH_ID},
				COMP_ID = #{COMP_ID},
				DRV_NM = #{DRV_NM},
				DRV_ENM = #{DRV_ENM},
				PHONE = AES_ENCRYPT(#{PHONE}, HEX(SHA2('TRACOM', 512))),
				BUS_DIV = #{BUS_DIV},
				EPLY_DATE1 = STR_TO_DATE(#{EPLY_DATE1}, '%Y%m%d'),
				EPLY_DATE2 = STR_TO_DATE(#{EPLY_DATE2}, '%Y%m%d'),
				LIC_NO = AES_ENCRYPT(#{LIC_NO}, HEX(SHA2('TRACOM', 512))),
				CERTI_DT = STR_TO_DATE(#{CERTI_DT}, '%Y%m%d'),
				EPLY_YN = #{EPLY_YN},
				RETIRE_DT = STR_TO_DATE(#{RETIRE_DT}, '%Y%m%d'),
				REMARK = #{REMARK},
				UPD_DTM = #{UPD_DTM},
				UPD_ID = #{UPD_ID},
				USE_YN = #{USE_YN}
		where DRV_ID = #{DRV_ID}
	</update>
	
	<delete id="SI0300G0D0" parameterType="Map">
		delete
		from BMS_DRV_MST
		where DRV_ID = #{DRV_ID}
	</delete>


</mapper>