<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.bms.domain.SI0404.SI0404Mapper">

<select id="SI0404G0R0" resultType="Map">
	select  ROUTE_ID,
			REP_ROUT_ID,
			INT_ROUT_ID,
			REP_ROUT_NM,
			ROUT_NM,
			ROUT_TYPE,
			ST_STTN_ID,
			ST_STTN_NM,
			ED_STTN_ID,
			ED_STTN_NM,
			RET_STTN_ID,
			RET_STTN_NM,
			ROUT_LEN,
			WAY_DIV,
			USER_WAY_DIV,
			AREA
	from BMS_ROUT_MST
	<where>
		<if test="TYPE == 'ALL'">
			AND ROUTE_ID LIKE CONCAT('%',#{CONTENT},'%') || ROUT_NM LIKE CONCAT('%',#{CONTENT},'%') || REP_ROUT_NM LIKE CONCAT('%',#{CONTENT},'%')
		</if>
		<if test="TYPE == 'ROUTE_ID'">
			AND ROUTE_ID LIKE CONCAT('%',#{CONTENT},'%')
		</if>
		<if test="TYPE == 'ROUT_NM'">
			AND ROUT_NM LIKE CONCAT('%',#{CONTENT},'%')
		</if>
		<if test="TYPE == 'REP_ROUT_NM'">
			AND REP_ROUT_NM LIKE CONCAT('%',#{CONTENT},'%') 
		</if>
	</where>
	order by REP_ROUT_NM, WAY_DIV
</select>

<select id="SI0404G0K0" resultType="Map">
	SELECT CONCAT('RT', LPAD(NEXTVAL(SEQ_BMS_ROUT_MST_0), 8, '0')) AS 'SEQ'
</select>

<select id="SI0404SHI0" resultType="Map">
	select ROUTE_ID, ROUT_NM, REP_ROUT_NM
	from BMS_ROUT_MST
	order by ROUT_NM
</select>

<insert id="SI0404G0I0" parameterType="Map">
	insert into BMS_ROUT_MST
			(
			ROUTE_ID,
			REP_ROUT_ID,
			REP_ROUT_NM,
			ROUT_NM,
			ROUT_TYPE,
			RSV_ROUT_YN,
			ST_STTN_ID,
			ST_STTN_NM,
			ST_STTN_ENM,
			ED_STTN_ID,
			ED_STTN_ENM,
			ED_STTN_NM,
			RET_STTN_ID,
			RET_STTN_NM,
			RET_STTN_ENM,
			STTN_CNT,
			ROUT_LEN,
			ROUT_STRT_LEN,
			CURVATURE,
			JIT_DSPCH_YN,
			LIC_VHC_CNT,
			SPR_VHC_CNT,
			APPL_ST_DT,
			APPL_ED_DT,
			WAY_DIV,
			USER_WAY_DIV,
			WAY_INFO,
			AREA,
			SHAPE_DIV,
			USE_YN,
			REMARK,
			UPD_DTM,
			UPD_ID
			)
	
	values		
			(
			#{ROUTE_ID},
			#{REP_ROUT_ID},
			#{REP_ROUT_NM},
			#{ROUT_NM},
			#{ROUT_TYPE},
			#{RSV_ROUT_YN},
			#{ST_STTN_ID},
			#{ST_STTN_NM},
			#{ST_STTN_ENM},
			#{ED_STTN_ID},
			#{ED_STTN_ENM},
			#{ED_STTN_NM},
			#{RET_STTN_ID},
			#{RET_STTN_NM},
			#{RET_STTN_ENM},
			#{STTN_CNT},
			#{ROUT_LEN},
			#{ROUT_STRT_LEN},
			#{CURVATURE},
			#{JIT_DSPCH_YN},
			#{LIC_VHC_CNT},
			#{SPR_VHC_CNT},
			STR_TO_DATE(#{APPL_ST_DT}, '%Y%m%d'),
			STR_TO_DATE(#{APPL_ED_DT}, '%Y%m%d'),
			#{WAY_DIV},
			#{USER_WAY_DIV},
			#{WAY_INFO},
			#{AREA},
			#{SHAPE_DIV},
			#{USE_YN},
			#{REMARK},
			#{UPD_DTM},
			#{SSN_USER_ID}
			)				
</insert>

<update id="SI0404G0U0" parameterType="Map">
	update BMS_ROUT_MST
	set 	ROUTE_ID = #{ROUTE_ID},
			REP_ROUT_ID = #{REP_ROUT_ID},
			REP_ROUT_NM = #{REP_ROUT_NM},
			ROUT_NM = #{ROUT_NM},
			ROUT_TYPE = #{ROUT_TYPE},
			RSV_ROUT_YN = #{RSV_ROUT_YN},
			ST_STTN_ID = #{ST_STTN_ID},
			ST_STTN_NM = #{ST_STTN_NM},
			ST_STTN_ENM = #{ST_STTN_ENM},
			ED_STTN_ID = #{ED_STTN_ID},
			ED_STTN_ENM = #{ED_STTN_ENM},
			ED_STTN_NM = #{ED_STTN_NM},
			RET_STTN_ID = #{RET_STTN_ID},
			RET_STTN_NM = #{RET_STTN_NM},
			RET_STTN_ENM = #{RET_STTN_ENM},
			STTN_CNT = #{STTN_CNT},
			ROUT_LEN = #{ROUT_LEN},
			ROUT_STRT_LEN = #{ROUT_STRT_LEN},
			CURVATURE = #{CURVATURE},
			JIT_DSPCH_YN = #{JIT_DSPCH_YN},
			LIC_VHC_CNT = #{LIC_VHC_CNT},
			SPR_VHC_CNT = #{SPR_VHC_CNT},
			APPL_ST_DT = STR_TO_DATE(#{APPL_ST_DT}, '%Y%m%d'),
			APPL_ED_DT = STR_TO_DATE(#{APPL_ED_DT}, '%Y%m%d'),
			WAY_DIV = #{WAY_DIV},
			USER_WAY_DIV = #{USER_WAY_DIV},
			WAY_INFO = #{WAY_INFO},
			AREA = #{AREA},
			SHAPE_DIV = #{SHAPE_DIV},
			USE_YN = #{USE_YN},
			REMARK = #{REMARK},
			UPD_DTM = #{UPD_DTM},
			UPD_ID  = #{SSN_USER_ID}
	where ROUTE_ID = #{ROUTE_ID}
</update>

<select id="SI0404G1R0" resultType="Map">
	SELECT ROUTE_ID, NODE_ID, NODE_SN, NODE_NM, NODE_ENM, NODE_TYPE, LINK_ID, STTN_ID, STTN_NO, CRS_ID, CRS_NM, ROUT_LEN, MORN_STD, GPS_X, GPS_Y, TM_X, TM_Y, UPD_DTM, UPD_ID
	FROM BMS_ROUT_NODE_CMPSTN
	WHERE ROUTE_ID = #{ROUTE_ID}
	<if test="CONTENT != '' and CONTENT != null">
		AND NODE_ID LIKE CONCAT('%',#{CONTENT},'%') || NODE_NM LIKE CONCAT('%',#{CONTENT},'%')
	</if>
	 ORDER BY NODE_SN
</select>

<select id="SI0404G1K0" resultType="Map">
	SELECT CONCAT('ND', LPAD(NEXTVAL(SEQ_BMS_NODE_MST_0), 8, '0')) AS 'SEQ'
</select>

<select id="SI0404G1K1" resultType="Map">
	SELECT CONCAT('LK', LPAD(NEXTVAL(SEQ_BMS_LINK_MST_0), 8, '0')) AS 'SEQ'
</select>

<select id="SI0404G1K2" resultType="Map">
	SELECT CONCAT('ST', LPAD(NEXTVAL(SEQ_BMS_STTN_MST_0), 8, '0')) AS 'SEQ'
</select>

<insert id="SI0404G1I0" parameterType="Map">
	INSERT INTO BMS_NODE_MST
		(NODE_ID, NODE_NM,NODE_TYPE,GPS_X, GPS_Y,USE_YN,UPD_DTM,UPD_ID)
	VALUES (#{NODE_ID}, #{NODE_NM}, #{NODE_TYPE}, #{GPS_X}, #{GPS_Y}, 'Y', #{UPD_DTM}, #{SSN_USER_ID});
	
	INSERT INTO BMS_ROUT_NODE_CMPSTN
		(ROUTE_ID,NODE_ID,NODE_SN,NODE_NM,NODE_TYPE,LINK_ID,STTN_ID,STTN_NO,GPS_X,GPS_Y,LINK_NODE_YN,UPD_DTM,UPD_ID)
	VALUES(#{ROUTE_ID},#{NODE_ID},#{NODE_SN},#{NODE_NM},#{NODE_TYPE},#{LINK_ID},#{STTN_ID},#{STTN_NO},#{GPS_X},#{GPS_Y},'Y',#{UPD_DTM}, #{SSN_USER_ID});
 
 <if test="STTN_ID != '' and STTN_ID != null">
	INSERT INTO BMS_STTN_MST
		(STTN_ID,NODE_ID,STTN_NM,AREA,STTN_NO,USE_YN,UPD_DTM,UPD_ID)
	VALUES(#{STTN_ID},#{NODE_ID},#{NODE_NM},#{AREA},#{STTN_NO},'Y',#{UPD_DTM},#{UPD_ID})
	ON DUPLICATE KEY UPDATE
	  STTN_ID	= VALUES(NODE_ID)
	, NODE_ID	= VALUES(STTN_ID)
	, STTN_NM	= VALUES(STTN_NM)
 	, AREA		= VALUES(AREA)
	, STTN_NO	= VALUES(STTN_NO)
	, USE_YN	= VALUES(USE_YN)
	, UPD_DTM	= VALUES(UPD_DTM)
	, UPD_ID	= VALUES(UPD_ID);
</if>
	
	UPDATE BRT_MAIN_ROUT_NODE_INFO
		SET NODE_SN= #{NODE_SN}, NODE_TYPE= #{NODE_TYPE}
			, NODE_NM= #{NODE_NM}, STTN_ID= #{STTN_ID}, STTN_NO= #{STTN_NO}, GPS_X= #{GPS_X}, GPS_Y= #{GPS_Y}, LINK_NODE_YN='Y', UPD_DTM= #{UPD_DTM}, UPD_ID= #{SSN_USER_ID}
	WHERE ROUT_ID= #{ROUTE_ID} AND NODE_ID= #{NODE_ID};
</insert>

<insert id="SI0404G1I1" parameterType="Map">
	INSERT INTO BMS_LINK_MST(LINK_ID,LINK_NM,ST_NODE_ID,ED_NODE_ID,USE_YN,SBRT_YN,UPD_DTM,UPD_ID)
	VALUES(#{LINK_ID},#{LINK_NM},#{ST_NODE_ID},#{ED_NODE_ID},'Y','Y',#{UPD_DTM},#{SSN_USER_ID});

	INSERT INTO BMS_ROUT_LINK_CMPSTN(ROUTE_ID,LINK_ID,LINK_SN,MORN_STD,UPD_DTM,UPD_ID)
	VALUES(#{ROUTE_ID},#{LINK_ID},#{LINK_SN},'MS001',#{UPD_DTM},#{SSN_USER_ID});
</insert>

<delete id="SI0404G1D0" parameterType="Map">
	UPDATE BMS_NODE_MST
		SET USE_YN='N'
	WHERE NODE_ID= #{NODE_ID};
	
	delete from BMS_ROUT_NODE_CMPSTN
	where ROUTE_ID = #{ROUTE_ID} 
	and NODE_ID = #{NODE_ID};
</delete>

<delete id="SI0404G1DA0" parameterType="Map">
	UPDATE BMS_NODE_MST A
	INNER JOIN
		BMS_ROUT_NODE_CMPSTN B 
		ON A.NODE_ID = B.NODE_ID
		SET A.USE_YN='N'
	WHERE B.ROUTE_ID = #{ROUTE_ID};
	 
	DELETE FROM BMS_ROUT_NODE_CMPSTN
	WHERE ROUTE_ID = #{ROUTE_ID};
</delete>

<delete id="SI0404G1DA1" parameterType="Map">
	UPDATE BMS_LINK_MST A
	INNER JOIN
		BMS_ROUT_LINK_CMPSTN B 
		ON A.LINK_ID = B.LINK_ID
		SET A.USE_YN='N'
	WHERE B.ROUTE_ID = #{ROUTE_ID};

	delete from BMS_ROUT_LINK_CMPSTN
	where ROUTE_ID = #{ROUTE_ID}
</delete>

<select id="SI0404P0R0" resultType="Map">
	select COMP_ID, COMP_NM
	from BMS_TRANSCOMP_MST
	<where>
		<if test="TYPE == 'COMP_ID'">
			AND COMP_ID LIKE CONCAT('%',#{CONTENT},'%')
		</if>
		<if test="TYPE == 'COMP_NM'">
			AND COMP_NM LIKE CONCAT('%',#{CONTENT},'%') 
		</if>
	</where>
</select>

<select id="SI0404P1R0" resultType="Map">
	select REP_ROUT_ID, REP_ROUT_NM, USE_YN, REMARK
	from BMS_REP_ROUT_MST
	<where>
		<if test="TYPE == 'REP_ROUT_ID'">
			AND REP_ROUT_ID LIKE CONCAT('%',#{CONTENT},'%')
		</if>
		<if test="TYPE == 'REP_ROUT_NM'">
			AND REP_ROUT_NM LIKE CONCAT('%',#{CONTENT},'%') 
		</if>
	</where>
</select>

<select id="SI0404P1K0" resultType="Map">
	SELECT CONCAT('RR', LPAD(NEXTVAL(SEQ_BMS_ROUT_MST_0), 8, '0')) AS 'SEQ'
</select>

<insert id="SI0404P1I0" parameterType="Map">
	insert into BMS_REP_ROUT_MST
			(
			REP_ROUT_ID,
			REP_ROUT_NM,
			USE_YN,
			REMARK,
			UPD_DTM,
			UPD_ID
			)
	values		
			(
			#{REP_ROUT_ID},
			#{REP_ROUT_NM},
			#{USE_YN},
			#{REMARK},
			#{UPD_DTM},
			#{SSN_USER_ID}
			)				
</insert>

<update id="SI0404P1U0" parameterType="Map">
	update BMS_REP_ROUT_MST
	set 	REP_ROUT_NM = #{REP_ROUT_NM},
			USE_YN = #{USE_YN},
			REMARK = #{REMARK},
			UPD_DTM = #{UPD_DTM},
			UPD_ID  = #{SSN_USER_ID}
	where REP_ROUT_ID = #{REP_ROUT_ID}
</update>

<delete id="SI0404P1D0" parameterType="Map">
	delete
	from BMS_REP_ROUT_MST
	where REP_ROUT_ID = #{REP_ROUT_ID}
</delete>

<select id="SI0404P2R0" resultType="Map">
	select STTN_ID, STTN_NM, STTN_ENM
	from BMS_STTN_MST
	<where>
		<if test="TYPE == 'STTN_ID'">
			AND STTN_ID LIKE CONCAT('%',#{CONTENT},'%')
		</if>
		<if test="TYPE == 'STTN_NM'">
			AND STTN_NM LIKE CONCAT('%',#{CONTENT},'%') 
		</if>
	</where>
</select>

</mapper>