<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.bms.domain.SI0402.SI0402Mapper">

<select id="SI0402G1R0" resultType="Map">
	SELECT A.ROUT_ID, A.NODE_ID, A.NODE_SN, A.NODE_NM, A.NODE_TYPE, A.LINK_ID, A.STTN_ID, A.STTN_NO, A.CRS_ID, A.GRG_ID,
		A.GPS_X, A.GPS_Y, A.LINK_NODE_YN, A.NODE_SN AS OLD_NODE_SN, A.PHASE_NO, B.MORN_STD
	FROM BMS_ROUT_NODE_CMPSTN A INNER JOIN BMS_ROUT_MST R ON A.ROUT_ID = R.ROUT_ID AND R.DEL_YN !='Y'
		LEFT OUTER JOIN BMS_ROUT_LINK_CMPSTN B ON A.ROUT_ID = B.ROUT_ID AND A.LINK_ID = B.LINK_ID
	WHERE A.ROUT_ID = #{ROUT_ID}
	<!-- <if test="@kr.tracom.util.CommonUtil@notEmpty(CONTENT)">
		<if test="TYPE == 'ALL'||TYPE == ''">
			AND (A.NODE_ID LIKE CONCAT('%',#{CONTENT},'%') || A.NODE_NM LIKE CONCAT('%',#{CONTENT},'%'))
		</if>
		<if test="TYPE == 'NODE_ID'">
			A.NODE_ID LIKE CONCAT('%',#{CONTENT},'%')
		</if>
		<if test="TYPE == 'NODE_NM'">
			A.NODE_NM LIKE CONCAT('%',#{CONTENT},'%') 
		</if>
	</if> -->
	 ORDER BY NODE_SN
</select>
<select id="SI0402G1R1" resultType="Map">
	SELECT A.ROUT_ID, A.NODE_ID, A.NODE_SN, A.NODE_NM, A.NODE_ENM, A.NODE_TYPE, A.LINK_ID, A.STTN_ID, A.STTN_NO, A.CRS_ID, A.GPS_X, A.GPS_Y, A.TM_X, A.TM_Y, A.MORN_STD
			, A.UPD_DTM, A.UPD_ID
	FROM BMS_ROUT_NODE_CMPSTN A INNER JOIN BMS_ROUT_MST R ON A.ROUT_ID = R.ROUT_ID AND R.DEL_YN !='Y' 
	WHERE A.LINK_NODE_YN = 'Y' AND A.ROUT_ID = #{ROUT_ID}
	 ORDER BY NODE_SN
</select>

<select id="SI0402G1K0" resultType="Map">
	SELECT CONCAT('ND', LPAD(NEXTVAL(SEQ_BMS_NODE_MST_0), 8, '0')) AS 'SEQ'
</select>

<select id="SI0402G1K1" resultType="Map">
	SELECT CONCAT('LK', LPAD(NEXTVAL(SEQ_BMS_LINK_MST_0), 8, '0')) AS 'SEQ'
</select>
  
<insert id="SI0402G1I0" parameterType="Map">
	INSERT INTO BMS_NODE_MST
		(NODE_ID,NODE_NM,NODE_TYPE,GPS_X, GPS_Y,UPD_DTM,UPD_ID)
	VALUES (#{NODE_ID}, #{NODE_NM}, #{NODE_TYPE}, #{GPS_X}, #{GPS_Y}, #{UPD_DTM}, #{SSN_USER_ID})
	ON DUPLICATE KEY UPDATE
		NODE_NM		= VALUES(NODE_NM)
		, NODE_TYPE	= VALUES(NODE_TYPE)
		, GPS_X	= VALUES(GPS_X)
		, GPS_Y	= VALUES(GPS_Y)
		, USE_YN		= 'Y'
		, UPD_DTM		= VALUES(UPD_DTM)
		, UPD_ID		= VALUES(UPD_ID);

	INSERT INTO BMS_ROUT_NODE_CMPSTN
		(ROUT_ID,NODE_ID,NODE_SN,NODE_NM,NODE_TYPE,LINK_ID,STTN_ID,STTN_NO,PHASE_NO,CRS_ID,GPS_X,GPS_Y,LINK_NODE_YN,UPD_DTM,UPD_ID)
	VALUES(#{ROUT_ID},#{NODE_ID},#{NODE_SN},#{NODE_NM},#{NODE_TYPE},#{LINK_ID},#{STTN_ID},#{STTN_NO},#{PHASE_NO},#{CRS_ID},#{GPS_X},#{GPS_Y},#{LINK_NODE_YN},#{UPD_DTM},#{SSN_USER_ID})
	ON DUPLICATE KEY UPDATE
		NODE_NM		= VALUES(NODE_NM)
		, NODE_TYPE	= VALUES(NODE_TYPE)
		, LINK_ID	= VALUES(LINK_ID)
		, STTN_ID	= VALUES(STTN_ID)
		, STTN_NO	= VALUES(STTN_NO)
		, PHASE_NO	=  VALUES(PHASE_NO)
		, CRS_ID	= VALUES(CRS_ID)
		, GRG_ID 	= VALUES(GRG_ID)
		, GPS_X	= VALUES(GPS_X)
		, GPS_Y	= VALUES(GPS_Y)
		, LINK_NODE_YN	= VALUES(LINK_NODE_YN)
		, UPD_DTM		= VALUES(UPD_DTM)
		, UPD_ID		= VALUES(UPD_ID);
		
	UPDATE BRT_MAIN_ROUT_NODE_INFO
		SET NODE_SN= #{NODE_SN}, NODE_NM = #{NODE_NM}, NODE_TYPE = #{NODE_TYPE}, STTN_ID= #{STTN_ID}, STTN_NO= #{STTN_NO}, CRS_ID= #{CRS_ID}
			,GPS_X = #{GPS_X}, GPS_Y = #{GPS_Y}, UPD_DTM= #{UPD_DTM}, UPD_ID= #{SSN_USER_ID}
	WHERE ROUT_ID= #{ROUT_ID} AND NODE_ID= #{NODE_ID} AND NODE_SN= #{OLD_NODE_SN};
</insert>

<insert id="SI0402G1U0" parameterType="Map">
	UPDATE BMS_NODE_MST
		SET NODE_NM = #{NODE_NM}, NODE_TYPE = #{NODE_TYPE}, GPS_X = #{GPS_X}, GPS_Y = #{GPS_Y}, USE_YN='Y', UPD_DTM= #{UPD_DTM}, UPD_ID= #{SSN_USER_ID}
	WHERE NODE_ID= #{NODE_ID};
	
	UPDATE BMS_ROUT_NODE_CMPSTN
		SET NODE_SN= #{NODE_SN}, NODE_NM = #{NODE_NM}, NODE_TYPE = #{NODE_TYPE}, STTN_ID= #{STTN_ID}, STTN_NO= #{STTN_NO}, PHASE_NO = #{PHASE_NO}, CRS_ID= #{CRS_ID}
			, GRG_ID= #{GRG_ID}, LINK_ID= #{LINK_ID} ,GPS_X = #{GPS_X}, GPS_Y = #{GPS_Y}, LINK_NODE_YN=#{LINK_NODE_YN}, UPD_DTM= #{UPD_DTM}, UPD_ID= #{SSN_USER_ID}
	WHERE ROUT_ID= #{ROUT_ID} AND NODE_ID= #{NODE_ID} AND NODE_SN= #{OLD_NODE_SN};
	
	UPDATE BRT_MAIN_ROUT_NODE_INFO
		SET NODE_SN= #{NODE_SN}, NODE_NM = #{NODE_NM}, NODE_TYPE = #{NODE_TYPE}, STTN_ID= #{STTN_ID}, STTN_NO= #{STTN_NO}, CRS_ID= #{CRS_ID}
			,GPS_X = #{GPS_X}, GPS_Y = #{GPS_Y}, UPD_DTM= #{UPD_DTM}, UPD_ID= #{SSN_USER_ID}
	WHERE ROUT_ID= #{ROUT_ID} AND NODE_ID= #{NODE_ID} AND NODE_SN= #{OLD_NODE_SN};
</insert>

<insert id="updateLengthRoutNodeCmpstn" parameterType="Map">
	UPDATE BMS_ROUT_NODE_CMPSTN
		SET ACCRU_LEN= #{ACCRU_LEN}
	WHERE ROUT_ID= #{ROUT_ID} AND NODE_ID= #{NODE_ID} AND NODE_SN= #{NODE_SN};
</insert>

<delete id="SI0402G1D0" parameterType="Map">
	DELETE FROM BMS_ROUT_NODE_CMPSTN
	WHERE ROUT_ID = #{ROUT_ID} 
	AND NODE_ID = #{NODE_ID}
	AND NODE_SN= #{OLD_NODE_SN};
	
	<!-- DELETE FROM BRT_MAIN_ROUT_NODE_INFO
	WHERE ROUT_ID = #{ROUT_ID} 
	AND NODE_ID = #{NODE_ID}
	AND NODE_SN= #{OLD_NODE_SN}; -->
	
	UPDATE BMS_NODE_MST SET USE_YN='N'
	WHERE NODE_ID = #{NODE_ID};
</delete>


<delete id="SI0402G1DA0" parameterType="Map">
	UPDATE BMS_NODE_MST A
	INNER JOIN
		BMS_ROUT_NODE_CMPSTN B 
		ON A.NODE_ID = B.NODE_ID
		SET A.USE_YN='N'
	WHERE B.ROUT_ID = #{ROUT_ID};
	 
	DELETE FROM BMS_ROUT_NODE_CMPSTN
	WHERE ROUT_ID = #{ROUT_ID};
</delete>

<insert id="SI0402G1I1" parameterType="Map">
	INSERT INTO BMS_LINK_MST(LINK_ID,LINK_NM,LEN,ST_NODE_ID,ED_NODE_ID,USE_YN,SBRT_YN,UPD_DTM,UPD_ID)
	VALUES(#{LINK_ID},#{LINK_NM},#{LEN},#{ST_NODE_ID},#{ED_NODE_ID},'Y','Y',#{UPD_DTM},#{SSN_USER_ID})
	ON DUPLICATE KEY UPDATE
	LINK_NM		= VALUES(LINK_NM)
	, LEN		= VALUES(LEN)
	, ST_NODE_ID	= VALUES(ST_NODE_ID)
	, ED_NODE_ID	= VALUES(ED_NODE_ID)
	, USE_YN		= 'Y'
	, SBRT_YN		= 'Y'
	, UPD_DTM		= VALUES(UPD_DTM)
	, UPD_ID		= VALUES(UPD_ID);

	INSERT INTO BMS_ROUT_LINK_CMPSTN(ROUT_ID,LINK_ID,LINK_SN,MORN_STD,UPD_DTM,UPD_ID)
	VALUES(#{ROUT_ID},#{LINK_ID},#{LINK_SN},#{MORN_STD},#{UPD_DTM},#{SSN_USER_ID});
</insert>

<insert id="SI0402G1U1" parameterType="Map">
	UPDATE BMS_LINK_MST
		SET LINK_NM = #{LINK_NM}, ST_NODE_ID = #{ST_NODE_ID}, ED_NODE_ID = #{ED_NODE_ID}, LINK_TYPE = #{LINK_TYPE}, UPD_DTM= #{UPD_DTM}, UPD_ID= #{SSN_USER_ID}
	WHERE LINK_ID= #{LINK_ID};
	
	UPDATE BMS_ROUT_LINK_CMPSTN
		SET LINK_SN= #{LINK_SN}, UPD_DTM= #{UPD_DTM}, UPD_ID= #{SSN_USER_ID}
	WHERE ROUT_ID= #{ROUT_ID} AND LINK_ID= #{LINK_ID};
</insert>

<delete id="SI0402G1D1" parameterType="Map">
	<!-- UPDATE BMS_LINK_MST SET USE_YN='N'
	WHERE LINK_ID = #{LINK_ID}; -->
	
	DELETE FROM BMS_ROUT_LINK_CMPSTN
	WHERE ROUT_ID = #{ROUT_ID} 
	AND LINK = #{LINK};
</delete>

<delete id="SI0402G1DA1" parameterType="Map">
	UPDATE BMS_LINK_MST A
	INNER JOIN
		BMS_ROUT_LINK_CMPSTN B 
		ON A.LINK_ID = B.LINK_ID
		SET A.USE_YN='N'
	WHERE B.ROUT_ID = #{ROUT_ID};

	DELETE FROM BMS_ROUT_LINK_CMPSTN
	WHERE ROUT_ID = #{ROUT_ID}
</delete>

<select id="SI0402P0R0" resultType="Map">
	SELECT A.NODE_ID, A.MOCK_NODE_ID, A.NODE_NM, A.NODE_TYPE, A.GPS_X, A.GPS_Y, A.USE_YN, B.STTN_ID, B.STTN_NO, C.CRS_ID
	FROM BMS_NODE_MST A LEFT OUTER JOIN BMS_STTN_MST B ON A.NODE_ID = B.STTN_ID AND B.DEL_YN!='Y'
		LEFT OUTER JOIN BMS_CRS_MST C ON A.NODE_ID = C.CRS_ID
		WHERE A.USE_YN = 'Y'
		<if test="NODE_TYPE != 'ALL' and NODE_TYPE != ''">
		AND A.NODE_TYPE =#{NODE_TYPE}
		</if>
		<if test="CONTENT != null and CONTENT != ''">
			AND (A.NODE_ID LIKE CONCAT('%',#{CONTENT},'%') || A.NODE_NM LIKE CONCAT('%',#{CONTENT},'%'))
		</if>
		ORDER by NODE_ID

</select>

<select id="SI0402P1R0" resultType="Map">
	SELECT A.MOCK_LINK_ID, B.MOCK_NODE_ID, B.NODE_NAME AS NODE_NM, B.NODE_TYPE, B.GPS_X, B.GPS_Y
	FROM BMS_MOCK_LINK A INNER JOIN BMS_MOCK_NODE B ON A.F_NODE = B.MOCK_NODE_ID
		<if test="NODE_TYPE != 'ALL' and NODE_TYPE != ''">
		AND B.NODE_TYPE =#{NODE_TYPE}
		</if>
		<if test="CONTENT != null and CONTENT != ''">
			AND (B.MOCK_NODE_ID LIKE CONCAT('%',#{CONTENT},'%') || B.NODE_NAME LIKE CONCAT('%',#{CONTENT},'%'))
		</if>
		ORDER by MOCK_NODE_ID

</select>

<select id="SI0402P2R0" resultType="Map">
	SELECT STTN_ID, STTN_NM, STTN_NO, AREA, WAY_DIV, GPS_X, GPS_Y, CENTER_YN, STTN_FCLT_TYPE, VHC_DOOR_DIR_TYPE, BAY_TYPE
	FROM BMS_STTN_MST
	WHERE USE_YN = 'Y' AND DEL_YN!='Y'
	<if test="CONTENT != null and CONTENT != ''">
		AND (STTN_ID LIKE CONCAT('%',#{CONTENT},'%') || STTN_NM LIKE CONCAT('%',#{CONTENT},'%') || STTN_NO LIKE CONCAT('%',#{CONTENT},'%'))
	</if>
	ORDER by STTN_ID
</select>

<select id="SI0402P2K0" resultType="Map">
	SELECT CONCAT('ST', LPAD(NEXTVAL(SEQ_BMS_STTN_MST_0), 8, '0')) AS 'SEQ'
</select>

<insert id="SI0402P2I0" parameterType="Map">
INSERT INTO BMS_STTN_MST
	(STTN_ID,NODE_ID,STTN_NM,AREA,STTN_NO,GPS_X,GPS_Y,CENTER_YN,STTN_FCLT_TYPE,VHC_DOOR_DIR_TYPE,BAY_TYPE,USE_YN,UPD_DTM,UPD_ID)
	VALUES(#{STTN_ID},#{NODE_ID},#{STTN_NM},#{AREA},#{STTN_NO},#{GPS_X},#{GPS_Y},#{CENTER_YN},#{STTN_FCLT_TYPE},#{VHC_DOOR_DIR_TYPE}
		,#{BAY_TYPE},'Y',#{UPD_DTM},#{SSN_USER_ID});			
</insert>

<update id="SI0402P2U0" parameterType="Map">
	UPDATE BMS_STTN_MST
	SET		NODE_ID =#{NODE_ID},
			STTN_NM =#{STTN_NM},
			AREA =#{AREA},
			STTN_NO =#{STTN_NO},
			CENTER_YN =#{CENTER_YN},
			GPS_X =#{GPS_X},
			GPS_Y =#{GPS_Y},
			STTN_FCLT_TYPE =#{STTN_FCLT_TYPE},
			VHC_DOOR_DIR_TYPE =#{VHC_DOOR_DIR_TYPE},
			BAY_TYPE =#{BAY_TYPE},
			UPD_DTM = #{UPD_DTM},
			UPD_ID  = #{SSN_USER_ID}
	WHERE STTN_ID = #{STTN_ID}
</update>

<select id="SI0402P3R0" resultType="Map">
	SELECT CRS_ID, CRS_NM, CRS_KIND, GPS_X, GPS_Y
	FROM BMS_CRS_MST
	WHERE USE_YN = 'Y' AND DEL_YN!='Y'
	<if test="CONTENT != null and CONTENT != ''">
		AND (CRS_ID LIKE CONCAT('%',#{CONTENT},'%') || CRS_NM LIKE CONCAT('%',#{CONTENT},'%'))
	</if>
	ORDER by CRS_ID
</select>

<select id="SI0402P3K0" resultType="Map">
	SELECT CONCAT('CR', LPAD(NEXTVAL(SEQ_BMS_CRS_MST_0), 8, '0')) AS 'SEQ'
</select>

<insert id="SI0402P3I0" parameterType="Map">
	INSERT INTO BMS_CRS_MST
			(
				CRS_ID,
				CRS_NM,
				GPS_X,
				GPS_Y,
				CRS_KIND,
				SIG_CTR_TYPE,
				USE_YN,
				UPD_DTM,
				UPD_ID
			)
	VALUES
			(
				#{CRS_ID},
				#{CRS_NM},
				#{GPS_X},
				#{GPS_Y},
				#{CRS_KIND},
				#{SIG_CTR_TYPE}, 
				'Y',
				#{UPD_DTM},
				#{SSN_USER_ID}		
			);			
</insert>

<update id="SI0402P3U0" parameterType="Map">
	UPDATE BMS_CRS_MST
	SET		CRS_NM = #{CRS_NM},
			GPS_X =#{GPS_X},
			GPS_Y =#{GPS_Y},
			CRS_KIND = #{CRS_KIND},
			SIG_CTR_TYPE = #{SIG_CTR_TYPE},
			UPD_DTM = #{UPD_DTM},
			UPD_ID = #{SSN_USER_ID}
	WHERE CRS_ID = #{CRS_ID};
</update>

<select id="SI0402P5R0" resultType="Map">
	SELECT GRG_ID,GRG_NM,GRG_ENM,OWNER_TYPE,ADDR,GPS_X,GPS_Y,TM_X,TM_Y,PHONE,FAX,EMAIL,
			CNG_YN,ELEC_YN,LEGAL_AREA,SECURE_AREA,COL,APPL_ST_DT,APPL_ED_DT,USE_YN,REMARK
	FROM BMS_GRG_MST
	WHERE USE_YN = 'Y'
	<if test="CONTENT != null and CONTENT != ''">
		AND (GRG_ID LIKE CONCAT('%',#{CONTENT},'%') || GRG_NM LIKE CONCAT('%',#{CONTENT},'%'))
	</if>
	ORDER BY GRG_ID
</select>

</mapper>