<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.bms.domain.SI0403.SI0403Mapper">

<select id="SI0403G1R0" resultType="Map">
 	SELECT a.ROUT_ID, a.LINK_ID, a.LINK_SN, a.MORN_STD, b.LINK_NM, b.ST_NODE_ID AS NODE_ID, b.ED_NODE_ID, 
 		c.NODE_TYPE, c.NODE_NM, c.GPS_X, c.GPS_Y, d.GPS_X AS ED_GPS_X, d.GPS_Y AS ED_GPS_Y, d.NODE_TYPE AS ED_NODE_TYPE, d.NODE_NM AS ED_NODE_NM
	FROM BMS_ROUT_LINK_CMPSTN a 
		LEFT OUTER JOIN BMS_LINK_MST b ON a.LINK_ID=b.LINK_ID
		LEFT OUTER JOIN BMS_NODE_MST c ON b.ST_NODE_ID = c.NODE_ID
		LEFT OUTER JOIN BMS_NODE_MST d ON b.ED_NODE_ID = d.NODE_ID
	WHERE a.ROUT_ID = #{ROUT_ID}
	<!-- <if test="@kr.tracom.util.CommonUtil@notEmpty(CONTENT)">
		<if test="TYPE == 'ALL'||TYPE == ''">
			AND (a.LINK_ID LIKE CONCAT('%',#{CONTENT},'%') || b.LINK_NM LIKE CONCAT('%',#{CONTENT},'%'))
		</if>
		<if test="TYPE == 'NODE_ID'">
			a.NODE_ID LIKE CONCAT('%',#{CONTENT},'%')
		</if>
		<if test="TYPE == 'NODE_NM'">
			b.NODE_NM LIKE CONCAT('%',#{CONTENT},'%') 
		</if>
	</if> -->
	ORDER BY a.LINK_SN
</select>

<update id="SI0403G1U0" parameterType="Map">
	UPDATE BMS_ROUT_LINK_CMPSTN
	SET 	MORN_STD = #{MORN_STD},
			UPD_DTM = #{UPD_DTM},
			UPD_ID  = #{SSN_USER_ID}
	WHERE ROUT_ID = #{ROUT_ID} AND LINK_ID = #{LINK_ID};

	UPDATE BMS_ROUT_NODE_CMPSTN
	SET 	MORN_STD = #{MORN_STD},
			UPD_DTM = #{UPD_DTM},
			UPD_ID  = #{SSN_USER_ID}
	WHERE ROUT_ID = #{ROUT_ID} AND LINK_ID = #{LINK_ID};
</update>


</mapper>