<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.bms.domain.SI0402.SI0402Mapper">

<select id="SI0402G0R0" resultType="Map">
	select  ROUTE_ID,
			REP_ROUT_ID,
			REP_ROUT_NM,
			ROUT_NM,
			ROUT_TYPE,
			ST_STTN_ID,
			ST_STTN_NM,
			ED_STTN_ID,
			ED_STTN_NM,
			RET_STTN_ID,
			RET_STTN_NM,
			ROUT_LEN,
			WAY_DIV,
			USER_WAY_DIV
			
	from BMS_ROUT_MST
	<where>
		<if test="TYPE == 'ALL'">
			AND ROUTE_ID LIKE CONCAT('%',#{CONTENT},'%') || ROUT_NM LIKE CONCAT('%',#{CONTENT},'%') || REP_ROUT_NM LIKE CONCAT('%',#{CONTENT},'%')
		</if>
		<if test="TYPE == 'ROUTE_ID'">
			AND ROUTE_ID LIKE CONCAT('%',#{CONTENT},'%')
		</if>
		<if test="TYPE == 'ROUT_NM'">
			AND ROUT_NM LIKE CONCAT('%',#{CONTENT},'%')
		</if>
		<if test="TYPE == 'REP_ROUT_NM'">
			AND REP_ROUT_NM LIKE CONCAT('%',#{CONTENT},'%') 
		</if>
	</where>
	order by REP_ROUT_NM, WAY_DIV
</select>

<select id="SI0402G0K0" resultType="Map">
	SELECT CONCAT('RT', LPAD(NEXTVAL(SEQ_BMS_ROUT_MST_0), 8, '0')) AS 'SEQ'
</select>

<select id="SI0402SHI0" resultType="Map">
	select ROUTE_ID, ROUT_NM, REP_ROUT_NM
	from BMS_ROUT_MST
	order by ROUT_NM
</select>

<insert id="SI0402G0I0" parameterType="Map">
	insert into BMS_ROUT_MST
			(
			ROUTE_ID,
			REP_ROUT_ID,
			REP_ROUT_NM,
			ROUT_NM,
			ROUT_TYPE,
			RSV_ROUT_YN,
			ST_STTN_ID,
			ST_STTN_NM,
			ST_STTN_ENM,
			ED_STTN_ID,
			ED_STTN_ENM,
			ED_STTN_NM,
			RET_STTN_ID,
			RET_STTN_NM,
			RET_STTN_ENM,
			STTN_CNT,
			ROUT_LEN,
			ROUT_STRT_LEN,
			CURVATURE,
			JIT_DSPCH_YN,
			LIC_VHC_CNT,
			SPR_VHC_CNT,
			APPL_ST_DT,
			APPL_ED_DT,
			WAY_DIV,
			USER_WAY_DIV,
			WAY_INFO,
			AREA,
			SHAPE_DIV,
			USE_YN,
			REMARK,
			UPD_DTM,
			UPD_ID
			)
	
	values		
			(
			#{ROUTE_ID},
			#{REP_ROUT_ID},
			#{REP_ROUT_NM},
			#{ROUT_NM},
			#{ROUT_TYPE},
			#{RSV_ROUT_YN},
			#{ST_STTN_ID},
			#{ST_STTN_NM},
			#{ST_STTN_ENM},
			#{ED_STTN_ID},
			#{ED_STTN_ENM},
			#{ED_STTN_NM},
			#{RET_STTN_ID},
			#{RET_STTN_NM},
			#{RET_STTN_ENM},
			#{STTN_CNT},
			#{ROUT_LEN},
			#{ROUT_STRT_LEN},
			#{CURVATURE},
			#{JIT_DSPCH_YN},
			#{LIC_VHC_CNT},
			#{SPR_VHC_CNT},
			STR_TO_DATE(#{APPL_ST_DT}, '%Y%m%d'),
			STR_TO_DATE(#{APPL_ED_DT}, '%Y%m%d'),
			#{WAY_DIV},
			#{USER_WAY_DIV},
			#{WAY_INFO},
			#{AREA},
			#{SHAPE_DIV},
			#{USE_YN},
			#{REMARK},
			#{UPD_DTM},
			#{SSN_USER_ID}
			)				
</insert>

<update id="SI0402G0U0" parameterType="Map">
	update BMS_ROUT_MST
	set 	ROUTE_ID = #{ROUTE_ID},
			REP_ROUT_ID = #{REP_ROUT_ID},
			REP_ROUT_NM = #{REP_ROUT_NM},
			ROUT_NM = #{ROUT_NM},
			ROUT_TYPE = #{ROUT_TYPE},
			RSV_ROUT_YN = #{RSV_ROUT_YN},
			ST_STTN_ID = #{ST_STTN_ID},
			ST_STTN_NM = #{ST_STTN_NM},
			ST_STTN_ENM = #{ST_STTN_ENM},
			ED_STTN_ID = #{ED_STTN_ID},
			ED_STTN_ENM = #{ED_STTN_ENM},
			ED_STTN_NM = #{ED_STTN_NM},
			RET_STTN_ID = #{RET_STTN_ID},
			RET_STTN_NM = #{RET_STTN_NM},
			RET_STTN_ENM = #{RET_STTN_ENM},
			STTN_CNT = #{STTN_CNT},
			ROUT_LEN = #{ROUT_LEN},
			ROUT_STRT_LEN = #{ROUT_STRT_LEN},
			CURVATURE = #{CURVATURE},
			JIT_DSPCH_YN = #{JIT_DSPCH_YN},
			LIC_VHC_CNT = #{LIC_VHC_CNT},
			SPR_VHC_CNT = #{SPR_VHC_CNT},
			APPL_ST_DT = STR_TO_DATE(#{APPL_ST_DT}, '%Y%m%d'),
			APPL_ED_DT = STR_TO_DATE(#{APPL_ED_DT}, '%Y%m%d'),
			WAY_DIV = #{WAY_DIV},
			USER_WAY_DIV = #{USER_WAY_DIV},
			WAY_INFO = #{WAY_INFO},
			AREA = #{AREA},
			SHAPE_DIV = #{SHAPE_DIV},
			USE_YN = #{USE_YN},
			REMARK = #{REMARK},
			UPD_DTM = #{UPD_DTM},
			UPD_ID  = #{SSN_USER_ID}
	where ROUTE_ID = #{ROUTE_ID}
</update>

<select id="SI0402G1R0" resultType="Map">
	SELECT ROUTE_ID, NODE_ID, NODE_SN, NODE_NM, NODE_ENM, NODE_TYPE, LINK_ID, STTN_ID, STTN_NO, CRS_ID, CRS_NM, ROUT_LEN, MORN_STD, GPS_X, GPS_Y, TM_X, TM_Y
			, LINK_NODE_YN, UPD_DTM, UPD_ID
	FROM BMS_ROUT_NODE_CMPSTN
	WHERE ROUTE_ID = #{ROUTE_ID}
	<if test="CONTENT != '' and CONTENT != null">
		AND NODE_ID LIKE CONCAT('%',#{CONTENT},'%') || NODE_NM LIKE CONCAT('%',#{CONTENT},'%')
	</if>
	 ORDER BY NODE_SN
</select>
<select id="SI0402G1R1" resultType="Map">
	SELECT ROUTE_ID, NODE_ID, NODE_SN, NODE_NM, NODE_ENM, NODE_TYPE, LINK_ID, STTN_ID, STTN_NO, CRS_ID, CRS_NM, ROUT_LEN, MORN_STD, GPS_X, GPS_Y, TM_X, TM_Y
			, UPD_DTM, UPD_ID
	FROM BMS_ROUT_NODE_CMPSTN
	WHERE LINK_NODE_YN = 'Y' AND ROUTE_ID = #{ROUTE_ID}
	 ORDER BY NODE_SN
</select>

<select id="SI0402G1K0" resultType="Map">
	SELECT CONCAT('ND', LPAD(NEXTVAL(SEQ_BMS_NODE_MST_0), 8, '0')) AS 'SEQ'
</select>

<select id="SI0402G1K1" resultType="Map">
	SELECT CONCAT('LK', LPAD(NEXTVAL(SEQ_BMS_LINK_MST_0), 8, '0')) AS 'SEQ'
</select>
  
<insert id="SI0402G1I0" parameterType="Map">
	INSERT INTO BMS_NODE_MST
		(NODE_ID,NODE_NM,NODE_TYPE,GPS_X, GPS_Y,UPD_DTM,UPD_ID)
	VALUES (#{NODE_ID}, #{NODE_NM}, #{NODE_TYPE}, #{GPS_X}, #{GPS_Y}, #{UPD_DTM}, #{SSN_USER_ID});

	INSERT INTO BMS_ROUT_NODE_CMPSTN
		(ROUTE_ID,NODE_ID,NODE_SN,NODE_NM,NODE_TYPE,LINK_ID,STTN_ID,STTN_NO,GPS_X,GPS_Y,LINK_NODE_YN,UPD_DTM,UPD_ID)
	VALUES(#{ROUTE_ID},#{NODE_ID},#{NODE_SN},#{NODE_NM},#{NODE_TYPE},#{LINK_ID},#{STTN_ID},#{STTN_NO},#{GPS_X},#{GPS_Y},#{LINK_NODE_YN},#{UPD_DTM},#{SSN_USER_ID});
</insert>

<insert id="SI0402G1U0" parameterType="Map">
	UPDATE BMS_NODE_MST
		SET NODE_NM = #{NODE_NM}, NODE_TYPE = #{NODE_TYPE}, GPS_X = #{GPS_X}, GPS_Y = #{GPS_Y}, UPD_DTM= #{UPD_DTM}, UPD_ID= #{SSN_USER_ID}
	WHERE NODE_ID= #{NODE_ID};
	
	UPDATE BMS_ROUT_NODE_CMPSTN
		SET NODE_SN= #{NODE_SN}, NODE_NM = #{NODE_NM}, NODE_TYPE = #{NODE_TYPE}, STTN_ID= #{STTN_ID}, STTN_NO= #{STTN_NO}, CRS_ID= #{CRS_ID}
			,GPS_X = #{GPS_X}, GPS_Y = #{GPS_Y}, LINK_NODE_YN=#{LINK_NODE_YN}, UPD_DTM= #{UPD_DTM}, UPD_ID= #{SSN_USER_ID}
	WHERE ROUTE_ID= #{ROUTE_ID} AND NODE_ID= #{NODE_ID};
	
	UPDATE BRT_MAIN_ROUT_NODE_INFO
		SET NODE_SN= #{NODE_SN}, NODE_NM = #{NODE_NM}, NODE_TYPE = #{NODE_TYPE}, STTN_ID= #{STTN_ID}, STTN_NO= #{STTN_NO}, CRS_ID= #{CRS_ID}
			,GPS_X = #{GPS_X}, GPS_Y = #{GPS_Y}, LINK_NODE_YN=#{LINK_NODE_YN}, UPD_DTM= #{UPD_DTM}, UPD_ID= #{SSN_USER_ID}
	WHERE ROUT_ID= #{ROUTE_ID} AND NODE_ID= #{NODE_ID};
</insert>

<delete id="SI0402G1D0" parameterType="Map">
	UPDATE BMS_NODE_MST SET USE_YN='N'
	WHERE NODE_ID = #{NODE_ID};
	
	DELETE FROM BMS_ROUT_NODE_CMPSTN
	WHERE ROUTE_ID = #{ROUTE_ID} 
	AND NODE_ID = #{NODE_ID};
</delete>

<delete id="SI0402G1DA0" parameterType="Map">
	UPDATE BMS_NODE_MST A
	INNER JOIN
		BMS_ROUT_NODE_CMPSTN B 
		ON A.NODE_ID = B.NODE_ID
		SET A.USE_YN='N'
	WHERE B.ROUTE_ID = #{ROUTE_ID};
	 
	DELETE FROM BMS_ROUT_NODE_CMPSTN
	WHERE ROUTE_ID = #{ROUTE_ID};
</delete>

<insert id="SI0402G1I1" parameterType="Map">
	INSERT INTO BMS_LINK_MST(LINK_ID,LINK_NM,ST_NODE_ID,ED_NODE_ID,USE_YN,SBRT_YN,UPD_DTM,UPD_ID)
	VALUES(#{LINK_ID},#{LINK_NM},#{ST_NODE_ID},#{ED_NODE_ID},'Y','Y',#{UPD_DTM},#{SSN_USER_ID})
	ON DUPLICATE KEY UPDATE
	  LINK_NM		= VALUES(LINK_NM)
	, ST_NODE_ID	= VALUES(ST_NODE_ID)
	, ED_NODE_ID	= VALUES(ED_NODE_ID)
 	, ED_NODE_ID	= VALUES(ED_NODE_ID)
	, USE_YN		= 'Y'
	, SBRT_YN		= 'Y'
	, UPD_DTM		= VALUES(UPD_DTM)
	, UPD_ID		= VALUES(UPD_ID);

	INSERT INTO BMS_ROUT_LINK_CMPSTN(ROUTE_ID,LINK_ID,LINK_SN,MORN_STD,UPD_DTM,UPD_ID)
	VALUES(#{ROUTE_ID},#{LINK_ID},#{LINK_SN},'MS001',#{UPD_DTM},#{SSN_USER_ID});
</insert>

<insert id="SI0402G1U1" parameterType="Map">
	UPDATE BMS_LINK_MST
		SET LINK_NM = #{LINK_NM}, ST_NODE_ID = #{ST_NODE_ID}, ED_NODE_ID = #{ED_NODE_ID}, LINK_TYPE = #{LINK_TYPE}, UPD_DTM= #{UPD_DTM}, UPD_ID= #{SSN_USER_ID}
	WHERE LINK_ID= #{LINK_ID};
	
	UPDATE BMS_ROUT_LINK_CMPSTN
		SET LINK_SN= #{LINK_SN}, UPD_DTM= #{UPD_DTM}, UPD_ID= #{SSN_USER_ID}
	WHERE ROUTE_ID= #{ROUTE_ID} AND LINK_ID= #{LINK_ID};
</insert>

<delete id="SI0402G1D1" parameterType="Map">
	UPDATE BMS_LINK_MST SET USE_YN='N'
	WHERE LINK_ID = #{LINK_ID};
	
	DELETE FROM BMS_ROUT_LINK_CMPSTN
	WHERE ROUTE_ID = #{ROUTE_ID} 
	AND LINK = #{LINK};
</delete>

<delete id="SI0402G1DA1" parameterType="Map">
	UPDATE BMS_LINK_MST A
	INNER JOIN
		BMS_ROUT_LINK_CMPSTN B 
		ON A.LINK_ID = B.LINK_ID
		SET A.USE_YN='N'
	WHERE B.ROUTE_ID = #{ROUTE_ID};

	delete from BMS_ROUT_LINK_CMPSTN
	where ROUTE_ID = #{ROUTE_ID}
</delete>

<select id="SI0402P0R0" resultType="Map">
	SELECT A.NODE_ID, A.MOCK_NODE_ID, A.NODE_NM, A.NODE_TYPE, A.GPS_X, A.GPS_Y, A.USE_YN, B.STTN_ID, B.STTN_NO, C.CRS_ID
	FROM BMS_NODE_MST A LEFT OUTER JOIN BMS_STTN_MST B ON A.NODE_ID = B.NODE_ID 
		LEFT OUTER JOIN BMS_CRS_MST C ON A.NODE_ID = C.NODE_ID
		WHERE A.USE_YN = 'Y'
		<if test="NODE_TYPE != 'ALL' and NODE_TYPE != ''">
		AND A.NODE_TYPE =#{NODE_TYPE}
		</if>
		<if test="CONTENT != null and CONTENT != ''">
			AND (A.NODE_ID LIKE CONCAT('%',#{CONTENT},'%') || A.NODE_NM LIKE CONCAT('%',#{CONTENT},'%'))
		</if>
		ORDER by NODE_ID

</select>

<select id="SI0402P1R0" resultType="Map">
	SELECT A.MOCK_LINK_ID, B.MOCK_NODE_ID, B.NODE_NAME AS NODE_NM, B.NODE_TYPE, B.GPS_X, B.GPS_Y
	FROM BMS_MOCK_LINK A INNER JOIN BMS_MOCK_NODE B ON A.F_NODE = B.MOCK_NODE_ID
		<if test="NODE_TYPE != 'ALL' and NODE_TYPE != ''">
		AND B.NODE_TYPE =#{NODE_TYPE}
		</if>
		<if test="CONTENT != null and CONTENT != ''">
			AND (B.MOCK_NODE_ID LIKE CONCAT('%',#{CONTENT},'%') || B.NODE_NAME LIKE CONCAT('%',#{CONTENT},'%'))
		</if>
		ORDER by MOCK_NODE_ID

</select>

<select id="SI0402P2R0" resultType="Map">
	SELECT STTN_ID, STTN_NM, STTN_NO
	FROM BMS_STTN_MST
	WHERE USE_YN = 'Y'
	<if test="CONTENT != null and CONTENT != ''">
		AND (STTN_ID LIKE CONCAT('%',#{CONTENT},'%') || STTN_NM LIKE CONCAT('%',#{CONTENT},'%') || STTN_NO LIKE CONCAT('%',#{CONTENT},'%'))
	</if>
	ORDER by STTN_ID
</select>

<select id="SI0402P3R0" resultType="Map">
	SELECT CRS_ID, CRS_NM, CRS_KIND
	FROM BMS_CRS_MST
	WHERE USE_YN = 'Y'
	<if test="CONTENT != null and CONTENT != ''">
		AND (CRS_ID LIKE CONCAT('%',#{CONTENT},'%') || CRS_NM LIKE CONCAT('%',#{CONTENT},'%'))
	</if>
	ORDER by CRS_ID
</select>

</mapper>