<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.bms.domain.SI0407.SI0407Mapper">

<select id="SI0407G0R0" resultType="Map">
	SELECT 			MOCK_NODE_ID
				,	NODE_TYPE
				,	NODE_NAME
				,	TURN_P
				,	REMARK
				,	GPS_X
				,	GPS_Y
				,	TM_X
				,	TM_Y
				
	FROM 			BMS_MOCK_NODE A
	<where>
		<if test="TYPE == 'ALL' and CONTENT != null and CONTENT != ''">
			AND MOCK_NODE_ID LIKE CONCAT('%',#{CONTENT},'%') || NODE_NAME LIKE CONCAT('%',#{CONTENT},'%')  
		</if>
		<if test="TYPE == 'MOCK_NODE_ID'">
			AND MOCK_NODE_ID LIKE CONCAT('%',#{CONTENT},'%')
		</if>
		<if test="TYPE == 'NODE_NAME'">
			AND NODE_NAME LIKE CONCAT('%',#{CONTENT},'%')
		</if>
	</where>	
</select>

<select id="SI0407SHI0" resultType="Map">
	SELECT 			MOCK_NODE_ID
				,	NODE_NAME
				
	FROM			BMS_MOCK_NODE
	ORDER BY		MOCK_NODE_ID			
</select>

<select id="SI0407SHI1" resultType="Map">
	SELECT			A.MOCK_LINK_ID
				, 	B.NODE_NAME AS F_NODE_NAME
				, 	C.NODE_NAME AS T_NODE_NAME
				
	FROM			BMS_MOCK_LINK A
	LEFT JOIN		BMS_MOCK_NODE B
		ON			A.F_NODE = B.MOCK_NODE_ID
	LEFT JOIN		BMS_MOCK_NODE C
		ON			A.T_NODE = C.MOCK_NODE_ID	
	ORDER BY 		A.MOCK_LINK_ID
</select>

<select id="SI0407SHI2" resultType="Map">
	SELECT			MOCK_NODE_ID
				,	NODE_NAME
				
	FROM			BMS_MOCK_NODE
</select>

<insert id="SI0407G0I0" parameterType="Map">
	INSERT INTO BMS_REP_ROUT_MST
			(
			REP_ROUT_ID,
			REP_ROUT_NM,
			USE_YN,
			REMARK,
			UPD_DTM,
			UPD_ID
			)
	VALUES		
			(
			#{REP_ROUT_ID},
			#{REP_ROUT_NM},
			#{USE_YN},
			#{REMARK},
			#{UPD_DTM},
			#{SSN_USER_ID}
			)				
</insert>

<update id="SI0407G0U0" parameterType="Map">
	UPDATE BMS_REP_ROUT_MST
	SET 	REP_ROUT_NM = #{REP_ROUT_NM},
			USE_YN = #{USE_YN},
			REMARK = #{REMARK},
			UPD_DTM = #{UPD_DTM},
			UPD_ID  = #{SSN_USER_ID}
	WHERE REP_ROUT_ID = #{REP_ROUT_ID}
</update>

<delete id="SI0407G0D0" parameterType="Map">
	DELETE
	FROM BMS_REP_ROUT_MST
	WHERE REP_ROUT_ID = #{REP_ROUT_ID}
</delete>

<select id="SI0407G1R0" resultType="Map">
	SELECT 			A.MOCK_LINK_ID
				,	A.F_NODE
				,	A.T_NODE
				,	B.NODE_NAME AS F_NODE_NAME
				,	C.NODE_NAME AS T_NODE_NAME
				,	A.LANES
				,	A.ROAD_RANK
				,	A.ROAD_TYPE
				,	A.ROAD_NO
				,	A.ROAD_NAME
				,	A.ROAD_USE
				,	A.MULTI_LINK
				,	A.CONNECT
				,	A.MAX_SPD
				,	A.REST_VEH
				,	A.REST_W
				,	A.REST_H
				,	A.LENGTH
				,	A.REMARK
	FROM 			BMS_MOCK_LINK A
	LEFT JOIN		BMS_MOCK_NODE B
		ON			A.F_NODE = B.MOCK_NODE_ID
	LEFT JOIN		BMS_MOCK_NODE C
		ON			A.T_NODE = C.MOCK_NODE_ID
	<where>
		<if test="TYPE == 'ALL' and CONTENT != null and CONTENT != ''">
			AND MOCK_LINK_ID LIKE CONCAT('%',#{CONTENT},'%') || B.NODE_NAME LIKE CONCAT('%',#{CONTENT},'%') || C.NODE_NAME LIKE CONCAT('%',#{CONTENT},'%')  
		</if>
		<if test="TYPE == 'MOCK_LINK_ID'">
			AND MOCK_LINK_ID LIKE CONCAT('%',#{CONTENT},'%')
		</if>
		<if test="TYPE == 'F_NODE_NAME'">
			AND B.NODE_NAME LIKE CONCAT('%',#{CONTENT},'%')
		</if>
		<if test="TYPE == 'T_NODE_NAME'">
			AND	C.NODE_NAME LIKE CONCAT('%',#{CONTENT},'%')
		</if>
	</where>	
</select>

<insert id="SI0407G1I0" parameterType="Map">
	INSERT INTO BMS_REP_ROUT_MST
			(
			REP_ROUT_ID,
			REP_ROUT_NM,
			USE_YN,
			REMARK,
			UPD_DTM,
			UPD_ID
			)
	VALUES		
			(
			#{REP_ROUT_ID},
			#{REP_ROUT_NM},
			#{USE_YN},
			#{REMARK},
			#{UPD_DTM},
			#{SSN_USER_ID}
			)				
</insert>

<update id="SI0407G1U0" parameterType="Map">
	UPDATE BMS_REP_ROUT_MST
	SET 	REP_ROUT_NM = #{REP_ROUT_NM},
			USE_YN = #{USE_YN},
			REMARK = #{REMARK},
			UPD_DTM = #{UPD_DTM},
			UPD_ID  = #{SSN_USER_ID}
	WHERE REP_ROUT_ID = #{REP_ROUT_ID}
</update>

<delete id="SI0407G1D0" parameterType="Map">
	DELETE
	FROM BMS_REP_ROUT_MST
	WHERE REP_ROUT_ID = #{REP_ROUT_ID}
</delete>


</mapper>