<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.bms.domain.SI0501.SI0501Mapper">

<select id="SI0501G0R0" resultType="Map">
	select  A.STTN_ID,
			A.STTN_NM,
			A.STTN_ENM,
			A.AREA,
			A.STTN_NO,
			A.CENTER_YN,
			A.STTN_FCLT_TYPE,
			A.VHC_DOOR_DIR_TYPE,
			A.WAY_DIV,
			A.GPS_X,
			A.GPS_Y,
			A.APPL_RDS,
			A.BAY_TYPE,
			A.BAY_LEN,
			A.LINE_CNT,
			A.USE_YN,
			A.STOP_TM_PEAK,
			A.STOP_TM_NONE_PEAK,
			A.REMARK
	FROM BMS_STTN_MST A <!-- LEFT OUTER JOIN BMS_NODE_MST B ON A.NODE_ID = B.NODE_ID -->
	WHERE A.DEL_YN != 'Y'
		<if test="@kr.tracom.util.CommonUtil@notEmpty(CONTENT)">
			<if test="TYPE == 'ALL'">
				AND (A.STTN_ID LIKE CONCAT('%',#{CONTENT},'%') || A.STTN_NM LIKE CONCAT('%',#{CONTENT},'%') || A.STTN_NO LIKE CONCAT('%',#{CONTENT},'%'))
			</if>
			<if test="TYPE == 'STTN_ID'">
				AND A.STTN_ID LIKE CONCAT('%',#{CONTENT},'%')
			</if>
			<if test="TYPE == 'STTN_NM'">
				AND A.STTN_NM LIKE CONCAT('%',#{CONTENT},'%') 
			</if>
			<if test="TYPE == 'STTN_NO'">
				AND A.STTN_NO LIKE CONCAT('%',#{CONTENT},'%') 
			</if>
		</if>
</select>

<select id="SI0501G0K0" resultType="Map">
	SELECT CONCAT('ST', LPAD(NEXTVAL(SEQ_BMS_STTN_MST_0), 8, '0')) AS 'SEQ'
</select>

<select id="SI0501SHI0" resultType="Map">
	SELECT STTN_ID, STTN_NM, STTN_NO
	FROM BMS_STTN_MST WHERE DEL_YN!='Y'
	ORDER BY STTN_ID
</select>

<insert id="SI0501G0I0" parameterType="Map">
	INSERT INTO BMS_STTN_MST
			(
			STTN_ID,
			STTN_NM,
			STTN_ENM,
			AREA,
			STTN_NO,
			CENTER_YN,
			STTN_FCLT_TYPE,
			VHC_DOOR_DIR_TYPE,
			WAY_DIV,
			APPL_RDS,
			BAY_TYPE,
			BAY_LEN,
			LINE_CNT,
			USE_YN,
			STOP_TM_PEAK,
			STOP_TM_NONE_PEAK,
			REMARK,
			UPD_DTM,
			UPD_ID
			)
	
	VALUES		
			(
			#{STTN_ID},
			#{STTN_NM},
			#{STTN_ENM},
			#{AREA},
			#{STTN_NO},
			#{CENTER_YN},
			#{STTN_FCLT_TYPE},
			#{VHC_DOOR_DIR_TYPE},
			#{WAY_DIV,},
			#{APPL_RDS},
			#{BAY_TYPE},
			#{BAY_LEN},
			#{LINE_CNT},
			#{USE_YN},
			#{STOP_TM_PEAK},
			#{STOP_TM_NONE_PEAK},
			#{REMARK},
			#{UPD_DTM},
			#{SSN_USER_ID}			
			)				
</insert>

<update id="SI0501G0U0" parameterType="Map">
	UPDATE BMS_STTN_MST
	SET		STTN_NM =#{STTN_NM},
			STTN_ENM =#{STTN_ENM},
			AREA =#{AREA},
			STTN_NO =#{STTN_NO},
			CENTER_YN =#{CENTER_YN},
			STTN_FCLT_TYPE =#{STTN_FCLT_TYPE},
			VHC_DOOR_DIR_TYPE =#{VHC_DOOR_DIR_TYPE},
			WAY_DIV =#{WAY_DIV},
			APPL_RDS =#{APPL_RDS},
			BAY_TYPE =#{BAY_TYPE},
			BAY_LEN =#{BAY_LEN},
			LINE_CNT =#{LINE_CNT},
			USE_YN = #{USE_YN},
			STOP_TM_PEAK = #{STOP_TM_PEAK},
			STOP_TM_NONE_PEAK = #{STOP_TM_NONE_PEAK},
			REMARK = #{REMARK},
			UPD_DTM = #{UPD_DTM},
			UPD_ID  = #{SSN_USER_ID}
	WHERE STTN_ID = #{STTN_ID};
	
	UPDATE BMS_NODE_MST
	SET		NODE_NM = #{STTN_NM},
			USE_YN = #{USE_YN},
			UPD_DTM = #{UPD_DTM},
			UPD_ID = #{SSN_USER_ID}
	WHERE NODE_ID = #{STTN_ID};
	
	UPDATE BMS_ROUT_MST
	SET		ST_STTN_NM = #{STTN_NM},
			ST_STTN_ENM = #{STTN_ENM},
			UPD_DTM = #{UPD_DTM},
			UPD_ID = #{SSN_USER_ID}
	WHERE ST_STTN_ID = #{STTN_ID};
	
	UPDATE BMS_ROUT_MST
	SET		ED_STTN_NM = #{STTN_NM},
			ED_STTN_ENM = #{STTN_ENM},
			UPD_DTM = #{UPD_DTM},
			UPD_ID = #{SSN_USER_ID}
	WHERE ED_STTN_ID = #{STTN_ID};

</update>

<delete id="SI0501G0D0" parameterType="Map">
	UPDATE BMS_STTN_MST
	SET	DEL_YN = 'Y', USE_YN = 'N'
	WHERE STTN_ID = #{STTN_ID};
	
	UPDATE BMS_ROUT_NODE_CMPSTN
	SET STTN_ID='', STTN_NO='', NODE_TYPE = 'NT003'
	WHERE NODE_ID = #{STTN_ID};
	
	UPDATE BMS_NODE_MST
	SET NODE_TYPE = 'NT003'
	WHERE NODE_ID = #{STTN_ID};
	
	
	<!-- delete
	from BMS_STTN_MST
	where STTN_ID = #{STTN_ID};
	
	delete
	from BMS_ROUT_NODE_CMPSTN
	where STTN_ID = #{STTN_ID} -->
</delete>

<select id="SI0501G1R0" resultType="Map">
	SELECT A.ROUT_ID, A.ROUT_NM, A.ROUT_TYPE, A.STTN_CNT, A.ROUT_LEN, A.CURVATURE, A.REMARK, B.STTN_ID
	FROM BMS_ROUT_MST A INNER JOIN BMS_ROUT_NODE_CMPSTN B ON A.ROUT_ID = B.ROUT_ID AND A.DEL_YN !="Y" AND B.NODE_TYPE != 'NT006'
	WHERE B.STTN_ID = #{STTN_ID}
	
</select>

<insert id="SI0501G1I0" parameterType="Map">
	INSERT INTO BMS_ROUT_NODE_CMPSTN
			(ROUT_ID, STTN_ID, STTN_ID_SN)
	VALUES (#{ROUT_ID}, #{STTN_ID}, 0)		

</insert>

<delete id="SI0501G1D0" parameterType="Map">
	DELETE FROM BMS_ROUT_NODE_CMPSTN
	WHERE ROUT_ID = #{ROUT_ID}
	AND STTN_ID = #{STTN_ID}
</delete>

<select id="SI0501P0R0" resultType="Map">
	
	SELECT ROUT_ID, ROUT_NM, ROUT_TYPE, STTN_CNT, ROUT_LEN, CURVATURE, REMARK
	FROM BMS_ROUT_MST
	<where>
		<if test="TYPE == 'ALL' and CONTENT != null and CONTENT != ''">
			AND ROUT_ID LIKE CONCAT('%',#{CONTENT},'%') || ROUT_NM LIKE CONCAT('%',#{CONTENT},'%') 
		</if>
		<if test="TYPE == 'ROUT_ID'">
			AND ROUT_ID LIKE CONCAT('%',#{CONTENT},'%')
		</if>
		<if test="TYPE == 'ROUT_NM'">
			AND ROUT_NM LIKE CONCAT('%',#{CONTENT},'%') 
		</if>
	</where>	
</select>

</mapper>