<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.brt.domain.VI0201.VI0201Mapper">

	<select id="VI0201G0R0" resultType="Map">
		SELECT
			a.CPLNT_ID
			,DATE_FORMAT(a.OCR_DTM, '%Y-%m-%d %H:%i:%s') AS OCR_DTM
			,DATE_FORMAT(a.APPL_DTM, '%Y-%m-%d %H:%i:%s') AS APPL_DTM
			,a.ROUT_NM
			,c.COMP_NM
			,a.VHC_NO
			,a.CPLNT_TYPE
			,a.GPS_X
			,a.GPS_Y
			,a.VHC_ID
			,a.NODE_ID
			,a.ROUT_ID
			,a.JUDGE
			,a.JUDG_ORG
			,a.JUDG_TYPE
			,a.JUDG_DESC
			,DATE_FORMAT(a.UPD_DTM, '%Y-%m-%d %H:%i:%s') AS UPD_DTM
			,DATE_FORMAT(a.OPER_DT, '%Y-%m-%d') AS OPER_DT
			,DATE_FORMAT(a.JUDG_DTM, '%Y-%m-%d %H:%i:%s') AS JUDG_DTM
			,a.ALLOC_NO
			,a.OPER_SN
			,a.CPLNT_CONTS
			,a.CPLNT_NM
			,CONVERT(AES_DECRYPT(a.CPLNT_PHONE, HEX(SHA2('TRACOM', 512))) USING UTF8) CPLNT_PHONE
			,d.NODE_NM
		FROM
			BRT_CPLNT_HIS a
			LEFT JOIN BMS_VHC_MST b
			ON a.VHC_ID = b.VHC_ID
			LEFT JOIN BMS_TRANSCOMP_MST c
			ON b.COMP_ID = c.COMP_ID
			LEFT JOIN BMS_NODE_MST d
			ON a.NODE_ID = d.NODE_ID
		<where>
			<if test="TYPE == 'ALL' and CONTENT != null and CONTENT != ''">
				AND ROUT_NM LIKE CONCAT('%',#{CONTENT},'%') || a.VHC_NO LIKE CONCAT('%',#{CONTENT},'%') || a.CPLNT_NM LIKE CONCAT('%',#{CONTENT},'%') 
			</if>
			<if test="TYPE == 'ROUT_NM'">
				AND ROUT_NM LIKE CONCAT('%',#{CONTENT},'%') 
			</if>
			<if test="TYPE == 'VHC_NO'">
				AND a.VHC_NO LIKE CONCAT('%',#{CONTENT},'%') 
			</if>
			<if test="TYPE == 'CPLNT_NM'">
				AND a.CPLNT_NM LIKE CONCAT('%',#{CONTENT},'%') 
			</if>
			<if test="APPL_DTM != NULL and APPL_DTM != ''">
				AND DATE_FORMAT(APPL_DTM, '%Y%m%d') between #{APPL_DTM} and #{APPL_DTM}
			</if>
		</where>	
		ORDER BY
			a.CPLNT_ID
	</select>

	<select id="VI0201SHI0" resultType="Map" parameterType="Map">
		SELECT  
			ROUT_NM
			,VHC_NO
			,CPLNT_NM
		FROM 	
			BRT_CPLNT_HIS
	</select>
	
	<select id="VI0201G0K0" resultType="Map">
		SELECT CONCAT('CI', LPAD(NEXTVAL(SEQ_BRT_CPLNT_HIS_0), 8, '0')) AS 'SEQ'
	</select>
	
	
	<insert id="VI0201G0I0" parameterType="Map">
	
		<selectKey keyProperty="CPLNT_ID" resultType="String" order="BEFORE">
    		SELECT CONCAT('CI', LPAD(NEXTVAL(SEQ_BRT_CPLNT_HIS_0), 8, '0')) AS CPLNT_ID
    	</selectKey>
		
		INSERT INTO BRT_CPLNT_HIS 
			(
				CPLNT_ID
				,ROUT_ID
				,NODE_ID
				,REP_ROUT_ID
				,REP_ROUT_NM
				,OCR_DTM
				,ROUT_NM
				,VHC_NO
				,CPLNT_TYPE
				,CPLNT_CONTS
				,JUDGE
				,JUDG_ORG
				,JUDG_TYPE
				,JUDG_DESC	
				,UPD_DTM
				,OPER_DT
				,ALLOC_NO
				,OPER_SN
				,CPLNT_NM
				,CPLNT_PHONE
				,JUDG_DTM
				,VHC_ID
				
			)
		VALUES
			(
				#{CPLNT_ID}
				,#{ROUT_ID}
				,#{NODE_ID}
				,#{REP_ROUT_ID}
				,#{REP_ROUT_NM}
				,#{OCR_DTM}
				,#{ROUT_NM}
				,#{VHC_NO}
				,#{CPLNT_TYPE}
				,#{CPLNT_CONTS}
				,#{JUDGE}
				,#{JUDG_ORG}
				,#{JUDG_TYPE}
				,#{JUDG_DESC}
				,#{UPD_DTM}
				,STR_TO_DATE(#{OPER_DT}, '%Y%m%d')
				,#{ALLOC_NO}
				,#{OPER_SN}
				,#{CPLNT_NM}
				,AES_ENCRYPT(#{CPLNT_PHONE}, HEX(SHA2('TRACOM', 512)))	
				,STR_TO_DATE(#{JUDG_DTM}, '%Y%m%d')
				,#{VHC_ID}
				
			)
	</insert>
	
	<update id="VI0201G0U0" parameterType="Map">
		UPDATE 
			BRT_CPLNT_HIS
		SET
			OCR_DTM = #{OCR_DTM}
			,ROUT_NM = #{ROUT_NM}
			,ROUT_ID = #{ROUT_ID}
			,REP_ROUT_NM = #{REP_ROUT_NM}
			,REP_ROUT_ID = #{REP_ROUT_ID}
			,NODE_ID = #{NODE_ID}
			,VHC_NO = #{VHC_NO}
			,VHC_ID = #{VHC_ID}
			,CPLNT_TYPE = #{CPLNT_TYPE}
			,CPLNT_CONTS = #{CPLNT_CONTS}
			,JUDGE = #{JUDGE}
			,JUDG_ORG = #{JUDG_ORG}
			,JUDG_TYPE = #{JUDG_TYPE}
			,JUDG_DESC = #{JUDG_DESC}
			,UPD_DTM = #{UPD_DTM}
			,OPER_DT = #{OPER_DT}
			,CPLNT_NM = #{CPLNT_NM}
			,CPLNT_PHONE = AES_ENCRYPT(#{CPLNT_PHONE}, HEX(SHA2('TRACOM', 512)))
			,JUDG_DTM = #{JUDG_DTM}
		WHERE
			CPLNT_ID = #{CPLNT_ID}
	</update>
	
	<delete id="VI0201G0D0" parameterType="Map">
		DELETE FROM 
			BRT_CPLNT_HIS
		WHERE 
			CPLNT_ID = #{CPLNT_ID}
	</delete>
	
	

</mapper>
