<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.tracom.brt.domain.AL0102.AL0102Mapper">

	<select id="AL0102G0R0" resultType="Map" parameterType="Map">
		SELECT
			DATE_FORMAT(HOLI_DT, '%Y%m%d') AS HOLI_DT
			,DATE_FORMAT(HOLI_DT, '%Y%m%d') AS OLD_HOLI_DT
			,DAY_OF_WEEK
			,HOLI_NM
			,HOLI_ENM
			,DAY_TYPE
			,REMARK
			,UPD_DTM
			,UPD_ID
		FROM
			BRT_HOLI_MST
		<where>
			<!-- VOC_DIV = 'VD001'-->
			<if test="TYPE == 'ALL' and CONTENT != null and CONTENT != ''">
				AND HOLI_DT LIKE CONCAT('%',#{CONTENT},'%') || HOLI_NM LIKE CONCAT('%',#{CONTENT},'%') 
			</if>
			<if test="TYPE == 'HOLI_DT'">
				AND HOLI_DT LIKE CONCAT('%',#{CONTENT},'%')
			</if>
			<if test="TYPE == 'HOLI_NM'">
				AND HOLI_NM LIKE CONCAT('%',#{CONTENT},'%') 
			</if>
			<if test="@kr.tracom.util.CommonUtil@notEmpty(HOLY_DT)">
				<![CDATA[AND DATE_FORMAT(HOLI_DT, '%Y') = #{HOLY_DT}]]>
			</if>
		</where>
		ORDER BY
			HOLI_DT DESC
	</select>

	<select id="AL0102SHI0" resultType="Map" parameterType="Map">
		select  DATE_FORMAT(HOLI_DT, '%Y-%m-%d') AS HOLI_DT, HOLI_NM
		from 	BRT_HOLI_MST
	</select>

	<insert id="AL0102G0I0" parameterType="Map">
		INSERT INTO BRT_HOLI_MST(
			<if test="@kr.tracom.util.CommonUtil@notEmpty(HOLI_DT)">
			HOLI_DT
			</if>
			,DAY_OF_WEEK
			,HOLI_NM
			,DAY_TYPE
			,REMARK
			,UPD_DTM
			,UPD_ID	
			)
		VALUES(
			<if test="@kr.tracom.util.CommonUtil@notEmpty(HOLI_DT)">
			#{HOLI_DT}
			</if>
			,#{DAY_OF_WEEK}
			,#{HOLI_NM}
			,#{DAY_TYPE}
			,#{REMARK}
			,#{UPD_DTM}
			,#{UPD_ID}
			)
	</insert>
	
	<update id="AL0102G0U0" parameterType="Map">
		UPDATE 
			BRT_HOLI_MST 
		SET 
			<if test="@kr.tracom.util.CommonUtil@notEmpty(HOLI_DT)">
			HOLI_DT = DATE_FORMAT(#{HOLI_DT}, '%Y-%m-%d')
			</if>
			,DAY_OF_WEEK = #{DAY_OF_WEEK}
			,HOLI_NM = #{HOLI_NM}
			,HOLI_ENM = #{HOLI_ENM}
			,DAY_TYPE = #{DAY_TYPE}
			,REMARK = #{REMARK}
			,UPD_DTM = #{UPD_DTM}
			,UPD_ID  = #{UPD_ID}
		WHERE 
			HOLI_DT = #{OLD_HOLI_DT}
	</update>

	<delete id="AL0102G0D0" parameterType="Map">
		DELETE FROM BRT_HOLI_MST
		WHERE HOLI_DT = #{HOLI_DT};
	</delete>
	
</mapper>