<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.brt.domain.AL0103.AL0103Mapper">

<select id="AL0103G0R0" resultType="Map">
	SELECT			A.COR_ID
				,	A.REP_ROUT_ID
				,	A.COR_NM
				,	A.COR_TYPE
				,	A.MOVE_TM
				,	A.COR_COLOR
				,	A.REMARK
				,	B.REP_ROUT_NM
			
	FROM			BRT_COR_MST A
	INNER JOIN	  	BMS_REP_ROUT_MST B
		ON			A.REP_ROUT_ID = B.REP_ROUT_ID
	<where>
		<if test="@kr.tracom.util.CommonUtil@notEmpty(CONTENT)">
			<if test="TYPE == 'ALL'">
				AND (COR_ID LIKE CONCAT('%',#{CONTENT},'%') || COR_NM LIKE CONCAT('%',#{CONTENT},'%'))
			</if>
			<if test="TYPE == 'COR_ID'">
				AND COR_ID LIKE CONCAT('%',#{CONTENT},'%')
			</if>
			<if test="TYPE == 'COR_NM'">
				AND COR_NM LIKE CONCAT('%',#{CONTENT},'%') 
			</if>
		</if>
	</where>
	ORDER BY A.REP_ROUT_ID
</select>

<select id="AL0103G0K0" resultType="Map">
	SELECT CONCAT('CO', LPAD(NEXTVAL(SEQ_BRT_COR_MST_0), 8, '0')) AS 'SEQ'
</select>

<select id="AL0103SHI0" resultType="Map">
	SELECT			COR_ID
				,	COR_NM
	FROM			BRT_COR_MST
	ORDER BY		COR_ID
</select>

<insert id="AL0103G0I0" parameterType="Map">
	INSERT	INTO	BRT_COR_MST
					(
					COR_ID
					,REP_ROUT_ID
					,COR_NM
					,COR_TYPE
					,MOVE_TM
					,COR_COLOR
					,REMARK
					,UPD_DTM
					,UPD_ID				
					)
			
	VALUES			
					(
					#{COR_ID}
					,#{REP_ROUT_ID}
					,#{COR_NM}
					,#{COR_TYPE}
					,#{MOVE_TM}
					,#{COR_COLOR}
					,#{REMARK}
					,#{UPD_DTM}
					,#{SSN_USER_ID}					
					)				

</insert>

<update id="AL0103G0U0" parameterType="Map">
	UPDATE			BRT_COR_MST
	
	SET				REP_ROUT_ID = #{REP_ROUT_ID}
					,COR_NM = #{COR_NM}
					,COR_TYPE = #{COR_TYPE}
					,MOVE_TM = #{MOVE_TM}
					,COR_COLOR = #{COR_COLOR}
					,REMARK = #{REMARK}
					,UPD_DTM = #{UPD_DTM}
					,UPD_ID	= #{SSN_USER_ID}
					
	WHERE			 COR_ID = #{COR_ID}
</update>

<delete id="AL0103G0D0" parameterType="Map">
	DELETE	FROM	 BRT_COR_DTL_INFO
	WHERE			 COR_ID = #{COR_ID};
	
	DELETE	FROM	 BRT_COR_MST
	WHERE			 COR_ID = #{COR_ID}
</delete>

<select id="AL0103G1R0" resultType="Map">
	SELECT			A.COR_ID
				,	A.REST_TM
				,	A.ROUT_SN
				,	A.COR_DTL_COLOR
				,	B.ROUT_ID
				,	B.ROUT_NM
				,	B.ROUT_TYPE
				,	B.STTN_CNT
				,	B.ROUT_LEN
				,	B.CURVATURE
				,	B.JIT_DSPCH_YN
				,	B.ST_STTN_NM
				,	B.ED_STTN_NM
				,	B.WAY_DIV
				
	FROM			BRT_COR_DTL_INFO A
		LEFT JOIN	BMS_ROUT_MST B
		ON			A.ROUT_ID = B.ROUT_ID
			
	WHERE			A.COR_ID = #{COR_ID}
	
	ORDER BY		A.ROUT_SN
	
</select>

<insert id="AL0103G1I0" parameterType="Map">
	INSERT INTO		BRT_COR_DTL_INFO
					(
						COR_ID
					,	ROUT_ID
					,	COR_DTL_COLOR
					,	REST_TM
					,	ROUT_SN
					,	UPD_DTM
					,	UPD_ID	
					)
	VALUES
					(
						#{COR_ID}
					,	#{ROUT_ID}
					,	#{COR_DTL_COLOR}
					,	#{REST_TM}
					,	#{ROUT_SN}
					,	#{UPD_DTM}
					,	#{SSN_USER_ID}	
					)			

</insert>

<update id="AL0103G1U0" parameterType="Map">
	UPDATE			BRT_COR_DTL_INFO
	
	SET				COR_DTL_COLOR = #{COR_DTL_COLOR}
					,REST_TM = #{REST_TM}
					,UPD_DTM = #{UPD_DTM}
					,UPD_ID	= #{SSN_USER_ID}
					
	WHERE			 COR_ID = #{COR_ID}
</update>

<delete id="AL0103G1D0" parameterType="Map">
	DELETE FROM		BRT_COR_DTL_INFO
	WHERE			COR_ID = #{COR_ID}
	AND				ROUT_ID = #{ROUT_ID}

</delete>

<select id="AL0103P0R0" resultType="Map">
	
	select ROUT_ID, ROUT_NM, ROUT_TYPE, STTN_CNT, ROUT_LEN, CURVATURE, REMARK
	from BMS_ROUT_MST
	<where>
		<if test="TYPE == 'ALL' and CONTENT != null and CONTENT != ''">
			AND ROUT_ID LIKE CONCAT('%',#{CONTENT},'%') || ROUT_NM LIKE CONCAT('%',#{CONTENT},'%') 
		</if>
		<if test="TYPE == 'ROUT_ID'">
			AND ROUT_ID LIKE CONCAT('%',#{CONTENT},'%')
		</if>
		<if test="TYPE == 'ROUT_NM'">
			AND ROUT_NM LIKE CONCAT('%',#{CONTENT},'%') 
		</if>
	</where>	
</select>

	<select id="AL0103P01R0" resultType="Map">
		SELECT  ROUT_ID,
				REP_ROUT_ID,
				REP_ROUT_NM,
				INT_ROUT_ID,
				ROUT_NM,
				ROUT_TYPE,
				ST_STTN_ID,
				ST_STTN_NM,
				ED_STTN_ID,
				ED_STTN_NM,
				RET_STTN_ID,
				RET_STTN_NM,
				ROUT_LEN,
				WAY_DIV,
				USER_WAY_DIV
		FROM BMS_ROUT_MST
		<where>
			REP_ROUT_NM = #{REP_ROUT_NM}
			<if test="@kr.tracom.util.CommonUtil@notEmpty(CONTENT)">
				<if test="TYPE == 'ALL'">
					AND ROUT_ID LIKE CONCAT('%',#{CONTENT},'%') || ROUT_NM LIKE CONCAT('%',#{CONTENT},'%')
				</if>
				<if test="TYPE == 'ROUT_ID'">
					AND ROUT_ID LIKE CONCAT('%',#{CONTENT},'%')
				</if>
				<if test="TYPE == 'ROUT_NM'">
					AND ROUT_NM LIKE CONCAT('%',#{CONTENT},'%')
				</if>
			</if>
		</where>
		order by 
			REP_ROUT_NM, WAY_DIV
	</select>

	<select id="AL0103P1SH" resultType="Map">
		SELECT 
			ROUT_ID, ROUT_NM, REP_ROUT_NM
		FROM 
			BMS_ROUT_MST
		WHERE
			REP_ROUT_NM = #{REP_ROUT_NM}
		ORDER BY 
			ROUT_NM
	</select>
</mapper>