<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.brt.domain.AL0203.AL0203Mapper">

<select id="AL0203G0R0" resultType="Map">
	SELECT			
		REP_ROUT_ID
		,REP_ROUT_NM
		,ROUT_NM
		,ROUT_TYPE
		,ST_STTN_NM
		,ED_STTN_NM
	FROM			
		BMS_ROUT_MST
	<!--  LEFT JOIN	  	
		BRT_OPER_ALLOC_PL_NODE_INFO B
	ON			
		A.REP_ROUT_ID = B.REP_ROUT_ID-->
	<where>
			<if test="TYPE == 'ALL' and CONTENT != null and CONTENT != ''">
				AND (ROUT_NM LIKE CONCAT('%',#{CONTENT},'%') || REP_ROUT_NM LIKE CONCAT('%',#{CONTENT},'%'))
			</if>
			<if test="TYPE == 'ROUT_NM'">
				AND ROUT_NM LIKE CONCAT('%',#{CONTENT},'%')
			</if>
			<if test="TYPE == 'REP_ROUT_NM'">
				AND REP_ROUT_NM LIKE CONCAT('%',#{CONTENT},'%') 
			</if>
	</where>
	ORDER BY
		REP_ROUT_NM
</select>


<select id="AL0203SHI0" resultType="Map">
	SELECT			REP_ROUT_NM
				,	ROUT_NM
	FROM			BMS_ROUT_MST
</select>

<select id="AL0203G1R0" resultType="Map" parameterType="Map">
	SELECT
		OPER_SN
		,ARRV_TM	
		,DPRT_TM	
	FROM
		BRT_OPER_ALLOC_PL_NODE_INFO
	WHERE
		REP_ROUT_ID = #{REP_ROUT_ID}
	ORDER BY
		NODE_SN
</select>

<!--  
<insert id="AL0103G0I0" parameterType="Map">
	INSERT	INTO	BRT_COR_MST
					(
					COR_ID
					,REP_ROUT_ID
					,COR_NM
					,COR_TYPE
					,MOVE_TM
					,UPD_DTM
					,UPD_ID				
					)
			
	VALUES			
					(
					#{COR_ID}
					,#{REP_ROUT_ID}
					,#{COR_NM}
					,#{COR_TYPE}
					,#{MOVE_TM}
					,#{UPD_DTM}
					,#{SSN_USER_ID}					
					)				

</insert>

<update id="AL0103G0U0" parameterType="Map">
	UPDATE			BRT_COR_MST
	
	SET				REP_ROUT_ID = #{REP_ROUT_ID}
					,COR_NM = #{COR_NM}
					,COR_TYPE = #{COR_TYPE}
					,MOVE_TM = #{MOVE_TM}
					,UPD_DTM = #{UPD_DTM}
					,UPD_ID	= #{SSN_USER_ID}
					
	WHERE			 COR_ID = #{COR_ID}
</update>

<delete id="AL0103G0D0" parameterType="Map">
	DELETE	FROM	 BRT_COR_MST
	WHERE			 COR_ID = #{COR_ID}
</delete>



<insert id="AL0103G1I0" parameterType="Map">
	INSERT INTO		BRT_COR_DTL_INFO
					(
						COR_ID
					,	ROUT_ID
					,	COR_COLOR
					,	MIN_REST_TM
					,	ROUT_SN
					,	UPD_DTM
					,	UPD_ID	
					)
	VALUES
					(
						#{COR_ID}
					,	#{ROUT_ID}
					,	#{COR_COLOR}
					,	#{MIN_REST_TM}
					,	#{ROUT_SN}
					,	#{UPD_DTM}
					,	#{SSN_USER_ID}	
					)			

</insert>

<update id="AL0103G1U0" parameterType="Map">
	UPDATE			BRT_COR_DTL_INFO
	
	SET				COR_COLOR = #{COR_COLOR}
					,MIN_REST_TM = #{MIN_REST_TM}
					,UPD_DTM = #{UPD_DTM}
					,UPD_ID	= #{SSN_USER_ID}
					
	WHERE			 COR_ID = #{COR_ID}
</update>

<delete id="AL0103G1D0" parameterType="Map">
	DELETE FROM		BRT_COR_DTL_INFO
	WHERE			COR_ID = #{COR_ID}
	AND				ROUT_ID = #{ROUT_ID}

</delete>

<select id="AL0103P0R0" resultType="Map">
	
	select ROUT_ID, ROUT_NM, ROUT_TYPE, STTN_CNT, ROUT_LEN, CURVATURE, REMARK
	from BMS_ROUT_MST
	<where>
		<if test="TYPE == 'ALL' and CONTENT != null and CONTENT != ''">
			AND ROUT_ID LIKE CONCAT('%',#{CONTENT},'%') || ROUT_NM LIKE CONCAT('%',#{CONTENT},'%') 
		</if>
		<if test="TYPE == 'ROUT_ID'">
			AND ROUT_ID LIKE CONCAT('%',#{CONTENT},'%')
		</if>
		<if test="TYPE == 'ROUT_NM'">
			AND ROUT_NM LIKE CONCAT('%',#{CONTENT},'%') 
		</if>
	</where>	
</select>

	<select id="AL0103P01R0" resultType="Map">
		SELECT  ROUT_ID,
				REP_ROUT_ID,
				REP_ROUT_NM,
				INT_ROUT_ID,
				ROUT_NM,
				ROUT_TYPE,
				ST_STTN_ID,
				ST_STTN_NM,
				ED_STTN_ID,
				ED_STTN_NM,
				RET_STTN_ID,
				RET_STTN_NM,
				ROUT_LEN,
				WAY_DIV,
				USER_WAY_DIV
		FROM BMS_ROUT_MST
		<where>
			REP_ROUT_NM = #{REP_ROUT_NM}
			<if test="@kr.tracom.util.CommonUtil@notEmpty(CONTENT)">
				<if test="TYPE == 'ALL'">
					AND ROUT_ID LIKE CONCAT('%',#{CONTENT},'%') || ROUT_NM LIKE CONCAT('%',#{CONTENT},'%')
				</if>
				<if test="TYPE == 'ROUT_ID'">
					AND ROUT_ID LIKE CONCAT('%',#{CONTENT},'%')
				</if>
				<if test="TYPE == 'ROUT_NM'">
					AND ROUT_NM LIKE CONCAT('%',#{CONTENT},'%')
				</if>
			</if>
		</where>
		order by 
			REP_ROUT_NM, WAY_DIV
	</select>

	<select id="AL0103P1SH" resultType="Map">
		SELECT 
			ROUT_ID, ROUT_NM, REP_ROUT_NM
		FROM 
			BMS_ROUT_MST
		WHERE
			REP_ROUT_NM = #{REP_ROUT_NM}
		ORDER BY 
			ROUT_NM
	</select>-->
</mapper>