<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.brt.domain.AL0203.AL0203Mapper">

<select id="AL0203G0R0" resultType="Map">
	SELECT			
		A.REP_ROUT_ID
		,A.DAY_DIV
		,A.WAY_DIV
		,B.REP_ROUT_NM
		,B.ROUT_TYPE
		,(SELECT STTN_NM FROM BMS_STTN_MST WHERE STTN_ID = A.ST_STTN_ID AND DEL_YN!='Y') ST_STTN_NM
		,(SELECT STTN_NM FROM BMS_STTN_MST WHERE STTN_ID = A.ED_STTN_ID AND DEL_YN!='Y') ED_STTN_NM
		,C.ROUT_ID
		,C.ROUT_NM
	FROM BRT_OPER_PL_MST A
		LEFT OUTER JOIN BMS_REP_ROUT_MST B
			ON A.REP_ROUT_ID = B.REP_ROUT_ID
		LEFT OUTER JOIN BMS_ROUT_MST C
			ON A.REP_ROUT_ID = C.REP_ROUT_ID AND A.WAY_DIV = C.WAY_DIV AND C.DEL_YN != 'Y'
	<where>
			<if test="TYPE == 'ALL' and CONTENT != null and CONTENT != ''">
				AND (C.ROUT_NM LIKE CONCAT('%',#{CONTENT},'%') || B.REP_ROUT_NM LIKE CONCAT('%',#{CONTENT},'%'))
			</if>
			<if test="TYPE == 'ROUT_NM'">
				AND C.ROUT_NM LIKE CONCAT('%',#{CONTENT},'%')
			</if>
			<if test="TYPE == 'REP_ROUT_NM'">
				AND B.REP_ROUT_NM LIKE CONCAT('%',#{CONTENT},'%') 
			</if>
	</where>
	GROUP BY
		C.ROUT_ID, A.DAY_DIV
	ORDER BY
		A.REP_ROUT_ID, A.DAY_DIV, A.WAY_DIV, C.ROUT_ID
</select>


<select id="AL0203SHI0" resultType="Map">
	SELECT			REP_ROUT_NM
				,	ROUT_NM
	FROM			BMS_ROUT_MST
</select>

<select id="AL0203G1R0" resultType="Map" parameterType="Map">
	SELECT
		A.REP_ROUT_ID
		,A.DAY_DIV
		,A.WAY_DIV
		,A.OPER_SN
		,A.NODE_ID
		,A.NODE_SN
		,A.ALLOC_NO
		,A.COR_ID
		,A.NODE_TYPE
		,A.ARRV_TM
		,A.DPRT_TM
		<!--  ,LEFT(A.ARRV_TM, 5) AS ARRV_TM
		,LEFT(A.DPRT_TM, 5) AS DPRT_TM-->
		,DATE_FORMAT(A.UPD_DTM, '%Y-%m-%d') UPD_DTM 
		,A.UPD_ID
		,B.REP_ROUT_NM
		,B.WAY_ASC_NM
		,B.WAY_DESC_NM
		,C.ROUT_ID
		,C.NODE_NM
		,C.ACCRU_LEN
	FROM
		BRT_OPER_ALLOC_PL_NODE_INFO A 
		INNER JOIN BMS_REP_ROUT_MST B
		ON	A.REP_ROUT_ID = B.REP_ROUT_ID 
		INNER JOIN BMS_ROUT_NODE_CMPSTN C
		ON	 A.ROUT_ID =  C.ROUT_ID AND A.NODE_ID = C.NODE_ID AND A.NODE_SN = C.NODE_SN
		AND (C.NODE_TYPE = 'NT001' OR C.NODE_TYPE = 'NT002')
	<!-- <if test="@kr.tracom.util.CommonUtil@notEmpty(NODE_TYPE)">			 
			AND C.NODE_TYPE = #{NODE_TYPE}
	</if> -->
	
	WHERE
		A.DAY_DIV = #{DAY_DIV} AND C.ROUT_ID = #{ROUT_ID} AND (A.NODE_TYPE = 'NT001' OR A.NODE_TYPE = 'NT002')
	<if test="@kr.tracom.util.CommonUtil@notEmpty(OPER_SN)">			 
			AND A.OPER_SN = #{OPER_SN}
	</if>
	ORDER BY OPER_SN, NODE_SN
</select>


<select id="AL0203G1CNT" resultType="Map" parameterType="Map">
		SELECT 
			COUNT(*) CNT
		FROM 
			BRT_OPER_ALLOC_PL_NODE_INFO A
			INNER JOIN BMS_ROUT_NODE_CMPSTN B
				ON	 A.ROUT_ID =  B.ROUT_ID AND A.NODE_ID = B.NODE_ID AND A.NODE_SN = B.NODE_SN
				AND (B.NODE_TYPE = 'NT001' OR B.NODE_TYPE = 'NT002')
		<!-- <if test="@kr.tracom.util.CommonUtil@notEmpty(NODE_TYPE)">			 
				AND B.NODE_TYPE = #{NODE_TYPE}
		</if> -->
		WHERE  A.DAY_DIV = #{DAY_DIV} AND B.ROUT_ID = #{ROUT_ID} AND (A.NODE_TYPE = 'NT001' OR A.NODE_TYPE = 'NT002')
		GROUP BY 
			OPER_SN 
		ORDER BY 
			OPER_SN
</select>

<insert id="AL0203P0I0" parameterType="Map">
	INSERT INTO BRT_DAY_OPER_ALLOC_PL_NODE_INFO(
		OPER_DT
		,REP_ROUT_ID
		,ROUT_ID
		,DAY_DIV
		,WAY_DIV
		,COR_ID
		,OPER_SN
		,NODE_ID
		,NODE_SN
		,ALLOC_NO
		,NODE_TYPE
		,DPRT_TM
		,ARRV_TM
		,UPD_DTM
	)VALUES(
		#{OPER_DT}
		,#{REP_ROUT_ID}
		,#{ROUT_ID}
		,#{DAY_DIV}
		,#{WAY_DIV}
		,#{COR_ID}
		,#{OPER_SN}
		,#{NODE_ID}
		,#{NODE_SN}
		,#{ALLOC_NO}
		,#{NODE_TYPE}
		,#{DPRT_TM}
		,#{ARRV_TM}
		,#{UPD_DTM}
	)
</insert>

<update id="AL0203G0U0" parameterType="Map">
	UPDATE BRT_OPER_ALLOC_PL_NODE_INFO
	SET ARRV_TM = #{ARRV_TM}, DPRT_TM = #{DPRT_TM}, UPD_DTM = #{UPD_DTM}, UPD_ID = #{SSN_USER_ID} 
	WHERE REP_ROUT_ID = #{REP_ROUT_ID} AND DAY_DIV = #{DAY_DIV} AND OPER_SN = #{OPER_SN} AND NODE_ID = #{NODE_ID} AND NODE_SN = #{NODE_SN} 
		AND ALLOC_NO = #{ALLOC_NO}
</update>

<select id="AL0203P0R0" resultType="Map" parameterType="Map">
	SELECT
		A.REP_ROUT_ID
		,A.DAY_DIV
		,A.WAY_DIV
		,A.OPER_SN
		,A.NODE_ID
		,A.NODE_SN
		,A.ALLOC_NO
		,A.COR_ID
		,A.NODE_TYPE
		,A.ARRV_TM
		,A.DPRT_TM
		,DATE_FORMAT(A.UPD_DTM, '%Y-%m-%d') UPD_DTM 
		,B.REP_ROUT_NM
		,B.WAY_ASC_NM
		,B.WAY_DESC_NM
		,C.ROUT_ID
		,C.NODE_NM
		,C.ACCRU_LEN
	FROM
		BRT_OPER_ALLOC_PL_NODE_INFO A 
		INNER JOIN BMS_REP_ROUT_MST B
		ON	A.REP_ROUT_ID = B.REP_ROUT_ID 
		INNER JOIN BMS_ROUT_NODE_CMPSTN C
		ON	 A.ROUT_ID =  C.ROUT_ID AND A.NODE_ID = C.NODE_ID AND A.NODE_SN = C.NODE_SN
		AND (C.NODE_TYPE = 'NT001' OR C.NODE_TYPE = 'NT002')
	<!-- <if test="@kr.tracom.util.CommonUtil@notEmpty(NODE_TYPE)">			 
			AND C.NODE_TYPE = #{NODE_TYPE}
	</if> -->
	WHERE
		A.REP_ROUT_ID = #{REP_ROUT_ID} AND A.DAY_DIV = #{DAY_DIV} AND (A.NODE_TYPE = 'NT001' OR A.NODE_TYPE = 'NT002')
	<if test="@kr.tracom.util.CommonUtil@notEmpty(OPER_SN)">			 
			AND A.OPER_SN = #{OPER_SN}
	</if>
	ORDER BY OPER_SN, NODE_SN
</select>

</mapper>