<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.brt.domain.AL0203.AL0203Mapper">

<select id="AL0203G0R0" resultType="Map">
	SELECT			
		A.REP_ROUT_ID
		,A.DAY_DIV
		,B.REP_ROUT_NM
		,B.ROUT_TYPE
		,(SELECT STTN_NM FROM BMS_STTN_MST WHERE STTN_ID = A.ST_STTN_ID AND DEL_YN!='Y') ST_STTN_NM
		,(SELECT STTN_NM FROM BMS_STTN_MST WHERE STTN_ID = A.ED_STTN_ID AND DEL_YN!='Y') ED_STTN_NM
		,C.ROUT_NM
	FROM			
		BRT_OPER_PL_MST A INNER JOIN BMS_REP_ROUT_MST B
		ON A.REP_ROUT_ID = B.REP_ROUT_ID
		INNER JOIN BMS_ROUT_MST C
		ON A.REP_ROUT_ID = C.REP_ROUT_ID
	<where>
			<if test="TYPE == 'ALL' and CONTENT != null and CONTENT != ''">
				AND (ROUT_NM LIKE CONCAT('%',#{CONTENT},'%') || REP_ROUT_NM LIKE CONCAT('%',#{CONTENT},'%'))
			</if>
			<if test="TYPE == 'ROUT_NM'">
				AND ROUT_NM LIKE CONCAT('%',#{CONTENT},'%')
			</if>
			<if test="TYPE == 'REP_ROUT_NM'">
				AND REP_ROUT_NM LIKE CONCAT('%',#{CONTENT},'%') 
			</if>
	</where>
	GROUP BY
		C.ROUT_NM, A.DAY_DIV
	ORDER BY
		B.REP_ROUT_NM, A.DAY_DIV
</select>


<select id="AL0203SHI0" resultType="Map">
	SELECT			REP_ROUT_NM
				,	ROUT_NM
	FROM			BMS_ROUT_MST
</select>

<select id="AL0203G1R0" resultType="Map" parameterType="Map">
	SELECT
		A.REP_ROUT_ID
		,A.DAY_DIV
		,A.WAY_DIV
		,A.OPER_SN
		,A.NODE_ID
		,A.NODE_SN
		,A.ALLOC_NO
		,A.ROUT_ID
		,A.COR_ID
		,A.NODE_TYPE
		,A.ARRV_TM
		,A.DPRT_TM
		<!--  ,LEFT(A.ARRV_TM, 5) AS ARRV_TM
		,LEFT(A.DPRT_TM, 5) AS DPRT_TM-->
		,A.UPD_DTM
		,A.UPD_ID
		,B.REP_ROUT_NM
		,B.WAY_ASC_NM
		,B.WAY_DESC_NM
		,C.NODE_NM	
	FROM
		BRT_OPER_ALLOC_PL_NODE_INFO A 
		INNER JOIN BMS_REP_ROUT_MST B
		ON	A.REP_ROUT_ID = B.REP_ROUT_ID 
		INNER JOIN BMS_NODE_MST C
		ON	A.NODE_ID = C.NODE_ID
	WHERE
		A.REP_ROUT_ID = #{REP_ROUT_ID}
	AND
		A.DAY_DIV = #{DAY_DIV}
	ORDER BY
		OPER_SN, WAY_DIV, ALLOC_NO, ARRV_TM
	LIMIT 2000
</select>

<select id="AL0203G1CNT" resultType="Map" parameterType="Map">
		SELECT 
			COUNT(*) CNT
		FROM 
			BRT_OPER_ALLOC_PL_NODE_INFO
		WHERE 
			REP_ROUT_ID = #{REP_ROUT_ID} 
		AND 
			DAY_DIV = #{DAY_DIV}
		GROUP BY 
			REP_ROUT_ID, DAY_DIV, WAY_DIV, ALLOC_NO, OPER_SN
		ORDER BY 
			OPER_SN, REP_ROUT_ID, DAY_DIV, WAY_DIV, ALLOC_NO
</select>

</mapper>