<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.brt.domain.AL0201.AL0201Mapper">

<select id="AL0201G0R0" resultType="Map">
	SELECT A.REP_ROUT_ID,
		A.ROUT_ID,
		A.DAY_DIV,
		A.OPER_CNT,
		A.ALLOC_CNT,
		A.FST_TM,
		A.LST_TM,
		A.AM_PEAK,
		A.PM_PEAK,
		A.NONE_PEAK,
		B.ROUT_NM,
		B.REP_ROUT_NM
	FROM BRT_OPER_PL_MST A
		LEFT OUTER JOIN BMS_ROUT_MST B ON A.ROUT_ID = B.ROUT_ID
  
	<where>
		<if test="@kr.tracom.util.CommonUtil@notEmpty(CONTENT)">
			<if test="TYPE == 'ALL'">
				AND (B.ROUT_NM LIKE CONCAT('%',#{CONTENT},'%') || B.REP_ROUT_NM LIKE CONCAT('%',#{CONTENT},'%'))
			</if>
			<if test="TYPE == 'ROUT_NM'">
				AND B.ROUT_NM LIKE CONCAT('%',#{CONTENT},'%')
			</if>
			<if test="TYPE == 'REP_ROUT_NM'">
				AND B.REP_ROUT_NM LIKE CONCAT('%',#{CONTENT},'%') 
			</if>
		</if>
	</where>
</select>

<insert id="AL0201G0I0" parameterType="Map">
INSERT INTO BRT_OPER_PL_MST( ROUT_ID,DAY_DIV,OPER_CNT,ALLOC_CNT,FST_TM,LST_TM,AM_PEAK,PM_PEAK,NONE_PEAK,UPD_DTM,UPD_ID )
VALUES(#{ROUT_ID},#{DAY_DIV},#{OPER_CNT},#{ALLOC_CNT},#{FST_TM},#{LST_TM},#{AM_PEAK},#{PM_PEAK},#{NONE_PEAK},#{UPD_DTM},#{SSN_USER_ID});
			
</insert>

<update id="AL0201G0U0" parameterType="Map">
UPDATE BRT_OPER_PL_MST
SET OPER_CNT = #{OPER_CNT}, ALLOC_CNT = #{ALLOC_CNT}, FST_TM = #{FST_TM}, LST_TM = #{LST_TM}, AM_PEAK = #{AM_PEAK},
				PM_PEAK = #{PM_PEAK}, NONE_PEAK = #{NONE_PEAK}, UPD_DTM = #{UPD_DTM}, UPD_ID = #{SSN_USER_ID} 
WHERE
	WHERE REP_ROUT_ID = #{REP_ROUT_ID} AND ROUT_ID = #{ROUT_ID} AND DAY_DIV = #{DAY_DIV}
</update>

<delete id="AL0201G0D0" parameterType="Map">
	UPDATE BMS_STTN_MST
	SET		USE_YN = 'N'
	WHERE STTN_ID = #{STTN_ID}
	
	UPDATE BMS_ROUT_NODE_CMPSTN A
	INNER JOIN
		BMS_STTN_MST B 
		ON A.NODE_ID = B.NODE_ID
		SET A.STTN_ID=NULL, A.STTN_NO=NULL, A.NODE_TYPE = 'NT003'
	WHERE B.STTN_ID = #{STTN_ID};
	
	UPDATE BMS_NODE_MST A
	INNER JOIN
		BMS_STTN_MST B 
		ON A.NODE_ID = B.NODE_ID
		SET A.NODE_TYPE = 'NT003'
	WHERE B.STTN_ID = #{STTN_ID};
	
	<!-- delete
	from BMS_STTN_MST
	where STTN_ID = #{STTN_ID};
	
	delete
	from BMS_ROUT_NODE_CMPSTN
	where STTN_ID = #{STTN_ID} -->
</delete>

<select id="AL0201G1R0" resultType="Map">
	select a.ROUT_ID, a.ROUT_NM, a.ROUT_TYPE, a.STTN_CNT, a.ROUT_LEN, a.CURVATURE, a.REMARK, b.STTN_ID
	from BMS_ROUT_MST a INNER JOIN BMS_ROUT_NODE_CMPSTN b ON a.ROUT_ID = b.ROUT_ID AND b.NODE_TYPE != 'NT006'
	where b.STTN_ID = #{STTN_ID}
	
</select>

<insert id="AL0201G1I0" parameterType="Map">
	insert into BMS_ROUT_NODE_CMPSTN
			(ROUT_ID, STTN_ID, STTN_ID_SN)
	values (#{ROUT_ID}, #{STTN_ID}, 0)		

</insert>

<delete id="AL0201G1D0" parameterType="Map">
	delete from BMS_ROUT_NODE_CMPSTN
	where ROUT_ID = #{ROUT_ID}
	and STTN_ID = #{STTN_ID}
</delete>

<select id="AL0201P0R0" resultType="Map">
	
	select ROUT_ID, ROUT_NM, ROUT_TYPE, STTN_CNT, ROUT_LEN, CURVATURE, REMARK
	from BMS_ROUT_MST
	<where>
		<if test="TYPE == 'ALL' and CONTENT != null and CONTENT != ''">
			AND ROUT_ID LIKE CONCAT('%',#{CONTENT},'%') || ROUT_NM LIKE CONCAT('%',#{CONTENT},'%') 
		</if>
		<if test="TYPE == 'ROUT_ID'">
			AND ROUT_ID LIKE CONCAT('%',#{CONTENT},'%')
		</if>
		<if test="TYPE == 'ROUT_NM'">
			AND ROUT_NM LIKE CONCAT('%',#{CONTENT},'%') 
		</if>
	</where>	
</select>

</mapper>