<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.brt.domain.AL0201.AL0201Mapper">

<select id="AL0201G0R0" resultType="Map">
	SELECT A.REP_ROUT_ID,
		B.REP_ROUT_NM,
		A.DAY_DIV,
		A.WAY_DIV,
		A.ST_STTN_ID,
		(SELECT STTN_NM FROM BMS_STTN_MST WHERE STTN_ID = A.ST_STTN_ID AND DEL_YN!='Y') ST_STTN_NM,
		(SELECT STTN_ENM FROM BMS_STTN_MST WHERE STTN_ID = A.ST_STTN_ID AND DEL_YN!='Y') ST_STTN_ENM,
		A.ED_STTN_ID,
		(SELECT STTN_NM FROM BMS_STTN_MST WHERE STTN_ID = A.ED_STTN_ID AND DEL_YN!='Y') ED_STTN_NM,
		(SELECT STTN_ENM FROM BMS_STTN_MST WHERE STTN_ID = A.ED_STTN_ID AND DEL_YN!='Y') ED_STTN_ENM,
		A.OPER_CNT,
		A.ALLOC_CNT,
		A.FST_TM,
		A.LST_TM,
		A.AM_PEAK_ST_TM,
		A.AM_PEAK_ED_TM,
		A.PM_PEAK_ST_TM,
		A.PM_PEAK_ED_TM,
		A.AM_PEAK,
		A.PM_PEAK,
		A.NONE_PEAK,
		A.REMARK
	FROM BRT_OPER_PL_MST A
		LEFT OUTER JOIN BMS_REP_ROUT_MST B ON A.REP_ROUT_ID = B.REP_ROUT_ID
	<where>
		<if test="@kr.tracom.util.CommonUtil@notEmpty(CONTENT)">
			<if test="TYPE == 'ALL'||TYPE == ''">
				AND (A.REP_ROUT_ID LIKE CONCAT('%',#{CONTENT},'%') || B.REP_ROUT_NM LIKE CONCAT('%',#{CONTENT},'%'))
			</if>
			<if test="TYPE == 'REP_ROUT_ID'">
				AND A.REP_ROUT_ID LIKE CONCAT('%',#{CONTENT},'%')
			</if>
			<if test="TYPE == 'REP_ROUT_NM'">
				AND B.REP_ROUT_NM LIKE CONCAT('%',#{CONTENT},'%') 
			</if>
		</if>
	</where>
	ORDER BY B.REP_ROUT_NM, A.DAY_DIV, A.WAY_DIV
</select>

<insert id="AL0201G0I0" parameterType="Map">
	INSERT INTO BRT_OPER_PL_MST( REP_ROUT_ID,DAY_DIV,WAY_DIV,ST_STTN_ID,ED_STTN_ID,
								,OPER_CNT,ALLOC_CNT,FST_TM,LST_TM,AM_PEAK_ST_TM,AM_PEAK_ED_TM,PM_PEAK_ST_TM,PM_PEAK_ED_TM,AM_PEAK,PM_PEAK,NONE_PEAK,REMARK,UPD_DTM,UPD_ID )
	VALUES(#{REP_ROUT_ID},#{DAY_DIV},#{WAY_DIV},#{ST_STTN_ID},#{ED_STTN_ID},
			#{OPER_CNT},#{ALLOC_CNT},#{FST_TM},#{LST_TM},#{AM_PEAK_ST_TM},#{AM_PEAK_ED_TM},#{PM_PEAK_ST_TM},#{PM_PEAK_ED_TM},#{AM_PEAK},#{PM_PEAK},#{NONE_PEAK},#{REMARK},#{UPD_DTM},#{SSN_USER_ID});
</insert>

<update id="AL0201G0U0" parameterType="Map">
	UPDATE BRT_OPER_PL_MST
	SET ST_STTN_ID = #{ST_STTN_ID}, ED_STTN_ID = #{ED_STTN_ID}
		, OPER_CNT = #{OPER_CNT}, ALLOC_CNT = #{ALLOC_CNT}, FST_TM = #{FST_TM}, LST_TM = #{LST_TM}, AM_PEAK_ST_TM = #{AM_PEAK_ST_TM}, AM_PEAK_ED_TM = #{AM_PEAK_ED_TM}
		, PM_PEAK_ST_TM = #{PM_PEAK_ST_TM}, PM_PEAK_ED_TM = #{PM_PEAK_ED_TM}, AM_PEAK= #{AM_PEAK}, PM_PEAK = #{PM_PEAK}, NONE_PEAK = #{NONE_PEAK}, REMARK = #{REMARK}
		, UPD_DTM = #{UPD_DTM}, UPD_ID = #{SSN_USER_ID} 
	WHERE REP_ROUT_ID = #{REP_ROUT_ID} AND DAY_DIV = #{DAY_DIV}  AND WAY_DIV = #{WAY_DIV} 
</update>

<delete id="AL0201G0D0" parameterType="Map">
	DELETE FROM BRT_OPER_PL_MST
	WHERE REP_ROUT_ID = #{REP_ROUT_ID} AND DAY_DIV = #{DAY_DIV}  AND WAY_DIV = #{WAY_DIV} 
</delete>

<select id="AL0201G1R0" resultType="Map">
	SELECT A.REP_ROUT_ID,
	A.DAY_DIV,
	A.WAY_DIV,
	A.OPER_SN,
	A.OPER_SN AS OLD_OPER_SN,
	A.ROUT_ID,
	A.ROUT_ST_TM,
	A.ROUT_ED_TM
	FROM BRT_OPER_PL_ROUT_INFO A
	WHERE A.REP_ROUT_ID = #{REP_ROUT_ID} AND A.DAY_DIV = #{DAY_DIV} AND A.WAY_DIV = #{WAY_DIV}
</select>

<insert id="AL0201G1I0" parameterType="Map">
	INSERT INTO BRT_OPER_PL_ROUT_INFO( REP_ROUT_ID,DAY_DIV,WAY_DIV,ROUT_ID,OPER_SN,ROUT_ST_TM,ROUT_ED_TM,UPD_DTM,UPD_ID )
	VALUES( #{REP_ROUT_ID},#{DAY_DIV},#{WAY_DIV},#{ROUT_ID},#{OPER_SN},#{ROUT_ST_TM},#{ROUT_ED_TM},#{UPD_DTM},#{SSN_USER_ID}  )
	ON DUPLICATE KEY UPDATE
		ROUT_ST_TM		= VALUES(ROUT_ST_TM)
		, ROUT_ED_TM	= VALUES(ROUT_ED_TM)
		, UPD_DTM		= VALUES(UPD_DTM)
		, UPD_ID		= VALUES(UPD_ID);
</insert>

<update id="AL0201G1U0" parameterType="Map">
	UPDATE BRT_OPER_PL_ROUT_INFO
	SET ROUT_ID = #{ROUT_ID}, OPER_SN = #{OPER_SN}, ROUT_ST_TM = #{ROUT_ST_TM}, ROUT_ED_TM = #{ROUT_ED_TM}, UPD_DTM = #{UPD_DTM}, UPD_ID = #{SSN_USER_ID} 
	WHERE REP_ROUT_ID = #{REP_ROUT_ID} AND DAY_DIV = #{DAY_DIV} AND WAY_DIV = #{WAY_DIV} AND OPER_SN = #{OLD_OPER_SN}
</update>

<delete id="AL0201G1D0" parameterType="Map">
	DELETE FROM BRT_OPER_PL_ROUT_INFO
	WHERE REP_ROUT_ID = #{REP_ROUT_ID} AND DAY_DIV = #{DAY_DIV} AND WAY_DIV = #{WAY_DIV} AND OPER_SN = #{OLD_OPER_SN}
</delete>

</mapper>