<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.brt.domain.AL0304.AL0304Mapper">
	<select id="AL0304G0R0" resultType="Map">
		SELECT A.REP_ROUT_ID,
				A.DAY_DIV,
				B.WAY_ASC_NM,
				B.WAY_DESC_NM,
				(SELECT STTN_NM FROM BMS_STTN_MST WHERE STTN_ID = A.ST_STTN_ID AND DEL_YN!='Y') ST_STTN_NM,
				<!-- (SELECT STTN_ENM FROM BMS_STTN_MST WHERE STTN_ID = A.ST_STTN_ID) ST_STTN_ENM, -->
				(SELECT STTN_NM FROM BMS_STTN_MST WHERE STTN_ID = A.ED_STTN_ID AND DEL_YN!='Y') ED_STTN_NM,
				<!-- (SELECT STTN_ENM FROM BMS_STTN_MST WHERE STTN_ID = A.ED_STTN_ID) ED_STTN_ENM, -->
				B.REP_ROUT_NM
		FROM	BRT_OPER_PL_MST A INNER JOIN BMS_REP_ROUT_MST B
		ON		A.REP_ROUT_ID = B.REP_ROUT_ID
	<where>
		<if test="@kr.tracom.util.CommonUtil@notEmpty(CONTENT)">
			<if test="TYPE == 'ALL'||TYPE == ''">
				AND (A.REP_ROUT_ID LIKE CONCAT('%',#{CONTENT},'%') || B.REP_ROUT_NM LIKE CONCAT('%',#{CONTENT},'%'))
			</if>
			<if test="TYPE == 'REP_ROUT_ID'">
				AND A.REP_ROUT_ID LIKE CONCAT('%',#{CONTENT},'%')
			</if>
			<if test="TYPE == 'REP_ROUT_NM'">
				AND B.REP_ROUT_NM LIKE CONCAT('%',#{CONTENT},'%') 
			</if>
		</if>
	</where>
		ORDER BY B.REP_ROUT_NM, A.DAY_DIV
	</select>

	<select id="AL0304G1R0" resultType="Map">
		SELECT A.REP_ROUT_ID,
			A.ROUT_ID,
			A.DAY_DIV,
			A.WAY_DIV,
			A.OPER_SN,
			A.ALLOC_NO,
			A.COR_ID,
			A.ROUT_ST_TM,
			A.ROUT_ED_TM,
			A.UPD_DTM,
			A.UPD_ID,
			B.REP_ROUT_NM,
			B.WAY_ASC_NM,
			B.WAY_DESC_NM,
			C.ROUT_NM
		FROM BRT_OPER_ALLOC_PL_ROUT_INFO A INNER JOIN BMS_REP_ROUT_MST B
			ON A.REP_ROUT_ID = B.REP_ROUT_ID INNER JOIN BMS_ROUT_MST C
			ON A.ROUT_ID = C.ROUT_ID
		WHERE A.REP_ROUT_ID = #{REP_ROUT_ID}
			AND A.DAY_DIV = #{DAY_DIV}
			ORDER BY REP_ROUT_ID, DAY_DIV, WAY_DIV, ALLOC_NO, OPER_SN
	</select>
	
	<select id="AL0304G1CNT" resultType="Map">
		SELECT COUNT(*) CNT
		FROM BRT_OPER_ALLOC_PL_ROUT_INFO
		WHERE REP_ROUT_ID = #{REP_ROUT_ID} AND DAY_DIV = #{DAY_DIV}
		GROUP BY REP_ROUT_ID, DAY_DIV, WAY_DIV, ALLOC_NO 
		ORDER BY REP_ROUT_ID, DAY_DIV, WAY_DIV, ALLOC_NO

	</select>
	
	

	
	<select id="AL0304P0R0" resultType="Map">
	    select  COR_ID,
				REP_ROUT_ID,
				COR_NM
	
	      from   BRT_COR_MST
<!-- 	      on      a.REP_ROUT_ID = b.REP_ROUT_ID INNER JOIN BMS_ROUT_MST c
	      on      a.ROUT_ID = c.ROUT_ID 
	      where   a.REP_ROUT_ID = #{REP_ROUT_ID}
	      and     a.DAY_DIV = #{DAY_DIV} -->
	</select>	
	
	<select id="AL0304P1R0" resultType="Map">
		select  a.REP_ROUT_ID,
				a.ROUT_ID,
				b.ROUT_NM,
				a.OPER_SN,
				a.ROUT_ST_TM,
				a.ROUT_ED_TM
				
		from	BRT_OPER_PL_ROUT_INFO a INNER JOIN BMS_ROUT_MST b
		on		a.REP_ROUT_ID = b.REP_ROUT_ID
		where	b.REP_ROUT_ID = #{REP_ROUT_ID}
	</select>
	
</mapper>