<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.brt.domain.AL0301.AL0301Mapper">
	<select id="AL0301G0R0" resultType="Map">
		select distinct 
				a.REP_ROUT_ID,
				a.ROUT_ID,
				a.DAY_DIV,
				b.REP_ROUT_NM,
				c.ROUT_NM,
				c.SHAPE_DIV
				
		from	BRT_OPER_PL_ROUT_INFO a INNER JOIN BMS_REP_ROUT_MST b
		on		a.REP_ROUT_ID = b.REP_ROUT_ID INNER JOIN BMS_ROUT_MST c
		on		a.ROUT_ID = c.ROUT_ID 
		order by b.REP_ROUT_NM, a.DAY_DIV
	</select>

	<select id="AL0301C0R0" resultType="Map">
	    select  a.REP_ROUT_ID,
	            a.ROUT_ID,
	            a.DAY_DIV,
	            c.ROUT_NM,
	            a.OPER_SN,
	            a.ROUT_ST_TM,
	            a.ROUT_ED_TM,
	            b.REP_ROUT_NM,
	            c.WAY_DIV
	
	      from   BRT_OPER_PL_ROUT_INFO a INNER JOIN BMS_REP_ROUT_MST b
	      on      a.REP_ROUT_ID = b.REP_ROUT_ID INNER JOIN BMS_ROUT_MST c
	      on      a.ROUT_ID = c.ROUT_ID 
	      where   a.REP_ROUT_ID = #{REP_ROUT_ID}
	      and     a.DAY_DIV = #{DAY_DIV}
	</select>
	
</mapper>