<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.brt.domain.AL0305.AL0305Mapper">

<update id="AL0305G0U0" parameterType="Map">
	UPDATE
		BRT_DAY_ALLOC_PL_INFO
	SET
		VHC_ID = #{VHC_ID}
		,SEC_VHC_ID = #{SEC_VHC_ID}
		,SEC_TRAN_TM = #{SEC_TRAN_TM}
		,UPD_DTM = #{UPD_DTM}
	WHERE
		REP_ROUT_ID = #{REP_ROUT_ID}
	AND
		ALLOC_NO = #{ALLOC_NO}
	AND
		OPER_DT = #{OPER_DT}
</update>

<update id="makeCurAllocPlInfo">
	CALL PROC_MAKE_CUR_ALLOC_PL_INFO();
</update>

<update id="AL0305G0U1" parameterType="Map">
	UPDATE
		BRT_DAY_DRV_ALLOC_INFO
	SET
		DRV_ID = #{DRV_ID}
		,SEC_DRV_ID = #{SEC_DRV_ID}
		,THR_DRV_ID = #{THR_DRV_ID}
		,SEC_TRAN_TM = #{SEC_TRAN_TM}
		,THR_TRAN_TM = #{THR_TRAN_TM}
	WHERE
		REP_ROUT_ID = #{REP_ROUT_ID}
	AND
		ALLOC_NO = #{ALLOC_NO}
	<!-- AND
		DAY_DIV = #{DAY_DIV} -->
	AND
		OPER_DT = #{OPER_DT}
</update>

<select id="AL0305G0R0" resultType="Map" parameterType="Map">
<!-- 일별 배차 관리 쿼리 수정 2022-05-09 -->
	SELECT B.REP_ROUT_ID
	       ,B.ALLOC_NO
	       ,B.VHC_ID
	       ,B.SEC_VHC_ID
	       ,B.WAY_DIV
	       ,DATE_FORMAT(B.OPER_DT, '%Y-%m-%d') OPER_DT
	       ,D.VHC_NO
	       ,A.VHC_NO AS SEC_VHC_NO
	       ,E.COMP_NM
	       ,F.COMP_NM AS SEC_COMP_NM
	       ,H.DRV_ID
			,H.SEC_DRV_ID
			,H.THR_DRV_ID
			,(SELECT DRV_NM FROM BMS_DRV_MST WHERE DRV_ID = H.DRV_ID) DRV_NM
			,(SELECT DRV_NM FROM BMS_DRV_MST WHERE DRV_ID = H.SEC_DRV_ID) SEC_DRV_NM
			,(SELECT DRV_NM FROM BMS_DRV_MST WHERE DRV_ID = H.THR_DRV_ID) THR_DRV_NM
			,H.SEC_TRAN_TM
			,H.THR_TRAN_TM
	FROM 
		BRT_DAY_ALLOC_PL_INFO B
		LEFT JOIN BMS_VHC_MST D
		ON B.VHC_ID = D.VHC_ID
		LEFT JOIN BMS_VHC_MST A
		ON B.SEC_VHC_ID = A.VHC_ID
		LEFT JOIN BMS_TRANSCOMP_MST E
		ON D.COMP_ID = E.COMP_ID
		LEFT JOIN BMS_TRANSCOMP_MST F
		ON A.COMP_ID = F.COMP_ID
		LEFT JOIN BRT_DAY_DRV_ALLOC_INFO H
		ON B.REP_ROUT_ID = H.REP_ROUT_ID 
		AND B.ALLOC_NO = H.ALLOC_NO
		AND B.OPER_DT = H.OPER_DT
	WHERE
		B.REP_ROUT_ID = #{REP_ROUT_ID}
		AND (B.OPER_DT BETWEEN #{F_DATE} AND #{L_DATE})
	ORDER BY
		B.OPER_DT, B.REP_ROUT_ID, B.ALLOC_NO

	<!-- SELECT A.REP_ROUT_ID
	       ,A.DAY_DIV
	       ,A.ALLOC_NO
	       ,B.VHC_ID
	       ,DATE_FORMAT(B.OPER_DT, '%Y-%m-%d') OPER_DT
	       ,D.VHC_NO
	       ,E.COMP_NM
	       ,H.DRV_ID
			,H.SEC_DRV_ID
			,H.THR_DRV_ID
			,(SELECT DRV_NM FROM BMS_DRV_MST WHERE DRV_ID = H.DRV_ID) DRV_NM
			,(SELECT DRV_NM FROM BMS_DRV_MST WHERE DRV_ID = H.SEC_DRV_ID) SEC_DRV_NM
			,(SELECT DRV_NM FROM BMS_DRV_MST WHERE DRV_ID = H.THR_DRV_ID) THR_DRV_NM
			,H.SEC_TRAN_TM
			,H.THR_TRAN_TM
	FROM 
		BRT_OPER_ALLOC_PL_ROUT_INFO A
		LEFT JOIN BRT_DAY_ALLOC_PL_INFO B
		ON A.REP_ROUT_ID = B.REP_ROUT_ID AND A.ALLOC_NO = B.ALLOC_NO
		LEFT JOIN BMS_VHC_MST D
		ON B.VHC_ID = D.VHC_ID
		LEFT JOIN BMS_TRANSCOMP_MST E
		ON D.COMP_ID = E.COMP_ID
		LEFT JOIN BRT_DRV_ALLOC_INFO F
		ON A.REP_ROUT_ID = F.REP_ROUT_ID AND A.ALLOC_NO = F.ALLOC_NO
		LEFT JOIN BRT_DAY_DRV_ALLOC_INFO H
		ON F.REP_ROUT_ID = H.REP_ROUT_ID AND F.ALLOC_NO = H.ALLOC_NO  
		
	<where>
		<if test="@kr.tracom.util.CommonUtil@notEmpty(REP_ROUT_ID)">
			A.REP_ROUT_ID = #{REP_ROUT_ID}
		</if>
		<if test="@kr.tracom.util.CommonUtil@notEmpty(DAY_DIV)">
			AND A.DAY_DIV = #{DAY_DIV}
		</if>
		<if test="@kr.tracom.util.CommonUtil@notEmpty(F_DATE)">
			AND B.OPER_DT BETWEEN #{F_DATE} AND #{L_DATE} AND H.OPER_DT BETWEEN #{F_DATE} AND #{L_DATE}
		</if>
	</where>
	GROUP BY
		A.REP_ROUT_ID,A.ALLOC_NO, B.OPER_DT
	ORDER BY
		B.OPER_DT, A.REP_ROUT_ID, A.DAY_DIV, A.ALLOC_NO -->
</select>

</mapper>
