<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.bms.domain.FM0100.FM0100Mapper">

<select id="FM0100G0R0" resultType="Map" parameterType="Map">
		SELECT 			A.NODE_ID
					,	A.MOCK_NODE_ID
					,	A.NODE_NM
					,	A.NODE_ENM
					,	A.NODE_TYPE
					,	A.GPS_X
					,	A.GPS_Y
					,	A.ENTRY_RECOG_RADS
					,	A.ADVNC_RECOG_RADS
					,	A.USE_YN
					,	A.UPD_DTM
					,	A.UPD_ID
					,	B.STTN_FCLT_TYPE
					
		FROM			BMS_NODE_MST A
		LEFT JOIN BMS_STTN_MST B
		ON A.NODE_ID = B.STTN_ID
		WHERE			(NODE_TYPE = 'NT001'
		OR				NODE_TYPE = 'NT002')
			<if test="@kr.tracom.util.CommonUtil@notEmpty(CONTENT)">
				<if test="TYPE == 'ALL' || TYPE == ''">
					AND (NODE_ID LIKE CONCAT('%',#{CONTENT},'%') || NODE_NM LIKE CONCAT('%',#{CONTENT},'%'))
				</if>
				<if test="TYPE == 'NODE_ID'">
					AND NODE_ID LIKE CONCAT('%',#{CONTENT},'%')
				</if>
				<if test="TYPE == 'NODE_NM'">
					AND NODE_NM LIKE CONCAT('%',#{CONTENT},'%') 
				</if>
			</if>
			
	</select>

<select id="FM0100G1R0" resultType="Map">
	SELECT 
					A.FCLT_ID
					,A.MAKER
					,A.FCLT_KIND
					,A.CLSFCTN_ID
					,A.INST_LOC
					,A.MODEL_NM
					,DATE_FORMAT(A.BUY_DT, '%Y%m%d') BUY_DT
					,DATE_FORMAT(A.INST_DT, '%Y%m%d') INST_DT
					,A.FCLT_COORDS
					,A.USE_YN
					,A.CTR_YN
					,A.REMARK
					,A.NODE_ID
					,A.MNG_ID
					,A.FCLT_IP
					,B.CLSFCTN_NM
	FROM
		BMS_FCLT_INFO A
		LEFT OUTER JOIN BMS_EMER_CLSFCTN_MST B
		ON A.CLSFCTN_ID = B.CLSFCTN_ID
	WHERE
		A.NODE_ID = 	#{NODE_ID}
	
</select>

<select id="FM0100SHI1" resultType="Map">
	SELECT			ORG_ID
					,ORG_NM
	FROM	  		BMS_ORG_MST
	WHERE			ORG_DIV = 'OD008'
</select>

<select id="FM0100SHI2" resultType="Map">
	SELECT			CLSFCTN_ID
					,CLSFCTN_NM
	FROM	  		BMS_EMER_CLSFCTN_MST
</select>	

<select id="FM0100G1K0" resultType="Map">
	SELECT CONCAT('FC', LPAD(NEXTVAL(sbrt.SEQ_BMS_FCLT_INFO_0), 8, '0')) AS 'SEQ'
</select>	

<insert id="FM0100G1I0" parameterType="Map">
	INSERT INTO		BMS_FCLT_INFO	
					(
						FCLT_ID
						,NODE_ID
						,MAKER
						,CLSFCTN_ID
						,FCLT_KIND
						,FCLT_TYPE
						,INST_LOC
						,MNG_ID
						,FCLT_COORDS
						,GPS_X
						,GPS_Y
						,TM_X
						,TM_Y
						,FCLT_IP
						,REL_KIND
						,REL_ID
						,DEV_SERIAL_NO
						,MODEL_NM
						,INST_DT
						,BUY_DT
						,CCTV_URL
						,USE_YN
						,CTR_YN
						,REMARK
						,UPD_DTM
						,UPD_ID
					)
	VALUES			(
						#{FCLT_ID}
						,#{NODE_ID}
						,#{MAKER}
						,#{CLSFCTN_ID}
						,#{FCLT_KIND}
						,#{FCLT_TYPE}
						,#{INST_LOC}
						,#{MNG_ID}
						,#{FCLT_COORDS}
						,#{GPS_X}
						,#{GPS_Y}
						,#{TM_X}
						,#{TM_Y}
						,#{FCLT_IP}
						,#{REL_KIND}
						,#{REL_ID}
						,#{DEV_SERIAL_NO}
						,#{MODEL_NM}
						,STR_TO_DATE(#{INST_DT}, '%Y%m%d')
						,STR_TO_DATE(#{BUY_DT}, '%Y%m%d')
						,#{CCTV_URL}
						,#{USE_YN}
						,#{CTR_YN}
						,#{REMARK}
						,#{UPD_DTM}
						,#{UPD_ID}	
					)
</insert>

<update id="FM0100G1U0" parameterType="Map">
	UPDATE			BMS_FCLT_INFO
	SET				FCLT_ID = #{FCLT_ID}
					,MAKER = #{MAKER}
					,FCLT_KIND = #{FCLT_KIND}
					,INST_LOC = #{INST_LOC}
					,MODEL_NM = #{MODEL_NM}
					,CLSFCTN_ID = #{CLSFCTN_ID}	
					,MNG_ID = #{MNG_ID}	
					,FCLT_COORDS = #{FCLT_COORDS}	
					,USE_YN = #{USE_YN}	
					,CTR_YN = #{CTR_YN}	
					,REMARK = #{REMARK}
					,INST_DT = STR_TO_DATE(#{INST_DT}, '%Y%m%d')
					,BUY_DT = STR_TO_DATE(#{BUY_DT}, '%Y%m%d')
					
	WHERE			FCLT_ID = #{FCLT_ID}							 	
</update>

<delete id="FM0100G1D0" parameterType="Map">
	DELETE FROM 	BMS_FCLT_INFO
	WHERE			FCLT_ID = #{FCLT_ID}
</delete>
</mapper>