<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.tracom.bms.domain.FM0202.FM0202Mapper">

	<select id="fm0202G0R0" resultType="Map">
		SELECT 			A.NODE_ID
					,	A.MOCK_NODE_ID
					,	A.NODE_NM
					,	A.NODE_ENM
					,	A.NODE_TYPE
					,	A.GPS_X
					,	A.GPS_Y
					,	A.TM_X
					,	A.TM_Y
					,	A.ENTRY_RECOG_RADS
					,	A.ADVNC_RECOG_RADS
					,	A.USE_YN
					,	A.UPD_DTM
					,	A.UPD_ID
					,	IF(D.CNT > 0 , 'CE001','CE002') COND_ERROR
					, 	E.ROUT_ID
					,	E.NODE_SN
					,	H.STTN_FCLT_TYPE
		FROM	BMS_ROUT_NODE_CMPSTN E
			INNER JOIN BMS_ROUT_MST G
				ON E.ROUT_ID = G.ROUT_ID AND G.DEL_YN !='Y'
		LEFT JOIN		BMS_ROUT_LINK_CMPSTN F
			ON			E.ROUT_ID = F.ROUT_ID AND E.LINK_ID = F.LINK_ID
		LEFT JOIN	    BMS_NODE_MST A
			ON E.NODE_ID = A.NODE_ID
		LEFT JOIN			(SELECT B.NODE_ID, COUNT(B.NODE_ID) CNT
		            		FROM BMS_FCLT_INFO B
		         			LEFT JOIN BMS_FCLT_COND_INFO C 
		         				ON B.MNG_ID = C.MNG_ID 
		         			WHERE  FCLT_COND  = 'FC021' GROUP BY NODE_ID) D
		  ON A.NODE_ID = D.NODE_ID		
		LEFT JOIN BMS_STTN_MST H
			ON A.NODE_ID = H.STTN_ID
		WHERE			(A.NODE_TYPE = 'NT002')
		AND				G.DEL_YN != 'Y'
			<if test="CONTENT1 != null">
				AND G.REP_ROUT_ID = #{CONTENT1}			
			</if>
			<if test="CONTENT2 != ''">
				AND E.ROUT_ID = #{CONTENT2}				
			</if>
			<if test="CONTENT3 != null and CONTENT3 != ''">
				AND (A.NODE_ID LIKE CONCAT('%',#{CONTENT3},'%') || A.NODE_NM LIKE CONCAT('%',#{CONTENT3},'%'))
			</if>
			<if test="CONTENT4 != ''">
				AND A.NODE_TYPE = #{CONTENT4}				
			</if>
		GROUP BY
			A.NODE_ID
		ORDER BY		E.NODE_SN					
	</select>

	<select id="fm0202G1R0" resultType="Map" parameterType="Map">
		SELECT 
						A.FCLT_ID
					,	A.NODE_ID
					,	A.MAKER
					,	A.CLSFCTN_ID
					,	A.FCLT_KIND
					,	A.FCLT_TYPE
					,	A.INST_LOC
					,	A.MNG_ID
					,	A.FILE_NM
					,	A.FCLT_COORDS
					,	A.GPS_X
					,	A.GPS_Y
					,	A.TM_X
					,	A.TM_Y
					,	A.FCLT_IP
					,	A.REL_KIND
					,	A.REL_ID
					,	A.DEV_SERIAL_NO
					,	A.MODEL_NM
					,	DATE_FORMAT(A.BUY_DT, '%Y%m%d') BUY_DT
					,	DATE_FORMAT(A.INST_DT, '%Y%m%d') INST_DT
					,	A.CCTV_URL
					,	A.USE_YN
					,	A.CTR_YN
					,	A.REMARK
					, 	B.FCLT_COND
					,	DATE_FORMAT(B.SEND_DATE, '%Y-%m-%d %h:%i:%s') SEND_DATE
						
		
		FROM
						BMS_FCLT_INFO A
			LEFT JOIN		BMS_FCLT_COND_INFO	B
			ON			A.MNG_ID = B.MNG_ID		 	
		WHERE
						A.NODE_ID = #{NODE_ID}
		ORDER BY
			<!--  B.SEND_DATE,--> A.FCLT_KIND, A.FCLT_ID
	</select>
	
	<select id="fm0202SHI0" resultType="Map">
		SELECT			A.REP_ROUT_ID
						,B.REP_ROUT_NM	
		FROM			BRT_CUR_OPER_INFO A
			LEFT JOIN		BMS_REP_ROUT_MST B
			ON				A.REP_ROUT_ID = B.REP_ROUT_ID
		GROUP BY 		REP_ROUT_ID		
		ORDER BY		B.REP_ROUT_NM		
	</select>		

	<select id="fm0202SHI1" resultType="Map">
		SELECT			ORG_ID
						,ORG_NM
		FROM	  		BMS_ORG_MST
		WHERE			ORG_DIV = 'OD008'
	</select>
	
	<select id="fm0202SHI2" resultType="Map">
		SELECT			CLSFCTN_ID
						,CLSFCTN_NM
		FROM	  		BMS_EMER_CLSFCTN_MST
	</select>
		
	<select id="fm0202SHI3" resultType="Map">
		SELECT			ROUT_ID, ROUT_NM
		FROM			BMS_ROUT_MST	
		<where>
			<if test="CONTENT1 != null and CONTENT1 != ''">
				REP_ROUT_ID = #{CONTENT1}	
			</if>
		</where>
	</select>	
	
	<!--  <select id="fm0202G2R0" resultType="Map">
	 	SELECT a.ROUT_ID, a.LINK_ID, a.LINK_SN, a.MORN_STD, b.LINK_NM, b.ST_NODE_ID AS NODE_ID, b.ED_NODE_ID, 
	 		c.NODE_TYPE, c.NODE_NM, c.GPS_X, c.GPS_Y, d.GPS_X AS ED_GPS_X, d.GPS_Y AS ED_GPS_Y, d.NODE_TYPE AS ED_NODE_TYPE, d.NODE_NM AS ED_NODE_NM
		FROM BMS_ROUT_LINK_CMPSTN a 
			LEFT OUTER JOIN BMS_LINK_MST b ON a.LINK_ID=b.LINK_ID
			LEFT OUTER JOIN BMS_NODE_MST c ON b.ST_NODE_ID = c.NODE_ID
			LEFT OUTER JOIN BMS_NODE_MST d ON b.ED_NODE_ID = d.NODE_ID
		WHERE a.ROUT_ID = #{ROUT_ID}
		ORDER BY a.LINK_SN
	</select>-->
	
</mapper>