
svg,div,img{
	-webkit-user-select: none; 
	-moz-user-select: none;
	-khtml-user-select: none; 
	-ms-user-select: none; 
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.eform_menu_div {
	position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    border-bottom: 1px solid #dddee0;
    font-size: 12px;
    overflow: visible;
    background-color: #323232;
    background-position: 5px 50%;
    background-repeat: no-repeat;
}

.eform_paint_div {
	position: absolute;
	top: 50px;
	width: 100%;
	bottom: 0px;
	border: 1px solid silver;
	background-color: #F0F0F0;
	overflow: auto;
	text-align: center;
}

.eform_menu_table_td_div {
	position: relative;
	height: 30px;
	width: 100%;
	font-size: 10pt;
}

.eform_menu_button {
	position: absolute;
	width: 30px;
	height: 30px;
	background-size: contain;
	border: 0px none;
	background-color: transparent;
	/*
	background-repeat: no-repeat;
    background-position: center;
    */
}
/*
.eform_menu_button:focus{
	outline: none;
}*/

.eform_input_table {
	position: absolute;
	left: 90px;
	height: 30px;
	width: 100px;
	    border: 0px;
    background-color: #505050;
}

.eform_input_table_td_input {
	width: 50px;
}

.eform_input_table_td {
	width: 50px;
}

.eform_doodle_pageinfo_table{
	position: absolute;
	left: 45px;
	height: 20px;
	width: 75px;
	text-align:center;
	font-size:14pt;
	font-family: 나눔고딕;
	color:white;
}

.eform_menu_save_button {
	right: 55px;
	background-image: url(../img/eform/save.png);
	width:30px;
	height:30px;
}

/*리포트 닫기 버튼*/
.eform_menu_close_button {
	right: 10px;
	background-image: url(../img/eform/close.png);
}

/*형광펜 설정 버튼*/
.eform_menu_doodleOption_button {
	right: 60px;
	background-image: url(../img/eform/doodle/option.png);
}

/*메모기능 닫기 버튼*/
.eform_menu_doodleClose_button {
	right: 10px;
	background-image: url(../img/eform/doodle/pen_close.png);
}


.eform_menu_leftEnd_button {
	left: 10px;
	background-image: url(../img/eform/first.png);
}


.eform_menu_left_button {
	left: 50px;
	background-image: url(../img/eform/prev.png);
}

.eform_menu_right_button {
	left: 220px;
	background-image: url(../img/eform/next.png);
}

.eform_menu_rightEnd_button {
	left: 260px;
	background-image: url(../img/eform/last.png);
}


/*프린트 버튼*/
.eform_menu_print_button {
	left: 560px;
	background-image: url(../img/eform/print.png);
	display:none
}

/*형광펜 버튼*/
.eform_menu_doodle_button{
	left: 500px;
	background-image: url(../img/eform/doodle/pen.png);
}


.eform_menu_zoom_combo {
	position: absolute;
	left: 320px;
	height: 30px;
	width: 150px;
	font-size: 13pt;
	-webkit-appearance: menulist-button;
    background-color: #505050;
    border: 0px;
    color: #FFF;
}

.eform_menu_pageCount_input {
	position: relative;
	left: 0px;
	width: 55px;
	height: 20px;
	line-height: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	border: 0px none;
	background-color: #505050;
	font-size: 13pt;
	color: #FFF;
	text-align: right;
	-webkit-appearance: none;
}

.eform_menu_pageCount_span {
	position: relative;
	left: 0px;
	width: 55px;
	height: 20px;
	line-height: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	border: 0px none;
	font-size: 13pt;
	background-color: #505050;
	color: #FFF;
    text-align: left;
}

.eform_menu_doodleleft_button {
	left: 5px;
	background-image: url(../img/eform/left.png);
}

.eform_menu_doodleright_button {
	left: 120px;
	background-image: url(../img/eform/right.png);
}

.eform_menu_doodlePen_button{
	left: 170px;
	background-image: url(../img/eform/doodle/pen.png);
}
.eform_menu_doodlePallet_button{
	left: 220px;
	background-image: url(../img/eform/doodle/pallet.png);
}

.eform_menu_doodleEraser_button{
	left: 270px;
	background-image: url(../img/eform/doodle/eraser.png);
}
.eform_menu_doodleEraserAll_button{
	left: 320px;
	background-image: url(../img/eform/doodle/all_eraser.png);
}

.eform_menu_doodleMove_button{
	display:none;
	left: 370px;
	background-image: url(../img/eform/doodle/move.png);
}

.eform_menu_NecessaryRectAll_button{
	left: 370px;
	background-image: url(../img/eform/doodle/AutoGuide.png);
}

.m_eform_menu_doodlePen_button{
	left: 170px;
	background-image: url(../img/eform/doodle/pen.png);
}
.m_eform_menu_doodlePallet_button{
	left: 230px;
	background-image: url(../img/eform/doodle/pallet.png);
}
.m_eform_menu_doodleEraser_button{
	left: 290px;
	background-image: url(../img/eform/doodle/eraser.png);
}
.m_eform_menu_doodleEraserAll_button{
	left: 350px;
	background-image: url(../img/eform/doodle/all_eraser.png);
}

.m_eform_menu_doodleMove_button{
	left: 400px;
	background-image: url(../img/eform/doodle/move.png);
}

.m_eform_menu_NecessaryRectAll_button{
	left: 450px;
	background-image: url(../img/eform/doodle/AutoGuide.png);
}


.m_eform_menu_div {
	position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    font-size: 12px;
    overflow: visible;
    background-color: #323232;
    background-position: 5px 50%;
    background-repeat: no-repeat;
}

.m_eform_paint_div {
	position: absolute;
	top: 50px;
	left:0px;
	right:0px;
	bottom: 0px;
	border: 1px solid silver;
	background-color: #F0F0F0;
	overflow: scroll;
	text-align: center;
	-webkit-overflow-scrolling: touch;
}

.m_eform_menu_table_td_div {
	position: relative;
	height: 40px;
	width: 100%;
	font-size: 10pt;
}

.m_eform_menu_button {
	position: absolute;
	width: 40px;
	height: 40px;
	background-size: contain;
	border: 0px none;
	background-color: transparent;
	/*
	background-repeat: no-repeat;
    background-position: center;
    */
}

.m_eform_input_table {
	position: absolute;
	left: 125px;
	height: 40px;
	width: 80px;
	    border: 0px;
    background-color: #505050;
}

.m_eform_input_table_td_input {
	width: 40px;
}

.m_eform_input_table_td {
	width: 40px;
}
.m_eform_doodle_pageinfo_table{
	position: absolute;
	left: 45px;
	height: 40px;
	width: 75px;
	text-align:center;
	font-size:14pt;
	font-family: 나눔고딕;
	color:white;
}

.m_eform_menu_save_button {
	left: 510px;
	background-image: url(../img/eform/save.png);
}

/*리포트 닫기 버튼*/
.m_eform_menu_close_button {
	right: 15px;
	background-image: url(../img/eform/close.png);
}
/*메모기능 닫기 버튼*/
.m_eform_menu_doodleClose_button {
	right: 15px;
	background-image: url(../img/eform/doodle/pen_close.png);
}


.m_eform_menu_leftEnd_button {
	left: 15px;
	background-image: url(../img/eform/first.png);
}

.m_eform_menu_left_button {
	left: 65px;
	background-image: url(../img/eform/prev.png);
}

.m_eform_menu_right_button {
	left: 225px;
	background-image: url(../img/eform/next.png);
}


.m_eform_menu_rightEnd_button {
	left: 275px;
	background-image: url(../img/eform/last.png);
}

.m_eform_menu_setting_button{
	left: 15px;
	background-image: url(../img/eform/custom/set.png);
}

/*프린트 버튼*/
.m_eform_menu_print_button {
	left: 580px;
	background-image: url(../img/eform/print.png);
}

.m_eform_menu_doodle_button{
	left: 580px;
	background-image: url(../img/eform/doodle/pen.png);
}

.m_eform_menu_zoom_combo {
	position: absolute;
	left: 350px;
	height: 40px;
	width: 130px;
	font-size: 14pt;
	-webkit-appearance: menulist-button;
    background-color: #505050;
    border: 0px;
    color: #FFF;
}

.m_eform_menu_pageCount_input {
	position: relative;
	left: 0px;
	width: 40px;
	height: 100%;
	line-height: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	border: 0px none;
	font-size: 14pt;
	background-color: #505050;
	color: #FFF;
	-webkit-appearance: none;
}

.m_eform_menu_pageCount_span {
	position: relative;
	left: 0px;
	width: 40px;
	height: 100%;
	line-height: 30px;
	padding-top: 0px;
	padding-bottom: 0px;
	border: 0px none;
	background: transparent;
	font-size: 14pt;
	background-color: #505050;
	color: #FFF;
	-webkit-appearance: none;
}

.m_eform_menu_doodleleft_button {
	left: 5px;
	background-image: url(../img/eform/left.png);
}

.m_eform_menu_doodleright_button {
	left: 120px;
	background-image: url(../img/eform/right.png);
}

.eform_menu_progress {
	position: absolute;
	right: 5px;
	width: 16px;
	height: 16px;
}

.eform_textarea {
	position:absolute;
	padding:2px 0px 0px 0px !important;
	box-sizing:border-box;
	margin-top:0 !important;
	margin-bottom:0 !important;
	resize:none;
	overflow-y:hidden;
	overflow-x:hidden;
	filter:alpha(opacity=0); 
	opacity:0;
}

.eform_guide_textarea {
	position:absolute;
	padding:0px 0px 0px 0px !important;
	box-sizing:border-box;
	margin-top:0 !important;
	margin-bottom:0 !important;
	resize:none;
	overflow-y:hidden;
	overflow-x:hidden;
	border:2pt solid white;
	outline: none;
	opacity:0;
}

.eform_table{
	table-layout: fixed;
	position:absolute;
	left:0px;
	height:100%;
	top:0px;
	width:100%;
	padding:0 0 0 0;
}

.eForm_hidden_button{
	opacity: 0;
	filter:alpha(opacity=0); 
}


.eform_textarea:focus{
	border:2pt solid Orange;
	outline: none;
}

.eform_control_focus{
	border:2pt solid Orange;
	box-sizing: border-box;
}

/*리포트 프로그래스*/
.eform_progress {
	background-repeat: no-repeat;
	background-position: 50% 30%;
	background-image: url(../img/efromProgress.gif);
	opacity: 0.5;
}

.eform_progress_msg{
	position:absolute;
	left:0px;
	right:0px;
	top:33%;
	bottom:0px;
	overflow:hidden;
	text-align: center;
	font-size:13pt;
	color:rgba(255,255,255,0.6);
}

/*사인컨트롤 전체 배경*/
.eform_sign_background {
	position: absolute;
	top: 40px;
	width: 100%;
	bottom: 0px;
	overflow : hidden;
	z-index:500;
}


/*사인컨트롤 전체 배경*/
.m_eform_sign_background {
	position: absolute;
	top: 50px;
	width: 100%;
	bottom: 0px;
	overflow : hidden;
	z-index:500;
}

/*사인컨트롤 전체 배경*/
.eform_sign_div{
	/*
	background-image:url(../img/eform/sign/background.png);
	background-size: cover;
	*/
	background-color:white;
	border:5px #51920f solid;
	border-radius: 7px;
}

/*사인컨트롤의 타이틀 */
.eform_sign_title{
	position:absolute;
	left:15px;		
}

/*사인컨트롤 그리는 영역 외각선*/
.eform_sign_paint{
	position:absolute;
	left:25px;
	top:25px;
	right:25px;
	bottom:85px;
	background-color:white;
	border:2px darkgray solid;
	border-radius: 7px;
}

/*사인컨트롤 그리는 영역*/
.eform_sign_canvas{
	position:absolute;
	left:0px;
	top:0px;
	background-color:transparent;
}

.eform_sign_canvas_in{
	position:absolute;
	left:0px;
	top:0px;
	background-color:transparent;
	zoom:0.5;
	-moz-transform:scale(0.5);
	-moz-transform-origin:0 0 0;
}

/*사인컨트롤 메뉴*/
.eform_sign_menu{
	position:absolute;
	left:0px;
	bottom:25px;
	right:0px;
	height:40px;
	text-align: center;
}

/*사인컨트롤 버튼 공통*/
.eform_sign_button{
	width:100px;
	height:40px;
	border-radius: 4px;
	font-weight: bold;
	font-size:11pt;
	color:RGB(255,255,255);
}

/*사인컨트롤 직접서명 버튼 공통*/
.eform_sign_button_in{
	position: relative;
	border-radius: 4px;
	font-weight: bold;
	font-size:10pt;
	color:RGB(255,255,255);
	margin-right: 3px;
    margin-bottom: 3px;
}

/*사인컨트롤 버튼 확인*/
.eform_sign_save{
	border:2px #9a9f00 solid;
	background-color:#9a9f00;
}

/*사인컨트롤 버튼 초기화*/
.eform_sign_reset{
	border:2px #9a9f00 solid;
	background-color:#9a9f00;
}

/*사인컨트롤 버튼 취소*/
.eform_sign_cancel{
	border:2px #999999 solid;
	background-color:#999999;
}

/*사인컨트롤의 가이드 텍스트*/
.eform_sign_paint_guide{
	position:absolute;
	border:0px none;
	background-color:transparent;
	text-align:center;
	-webkit-user-select: none; 
	-moz-user-select: none;
	-khtml-user-select: none; 
	-ms-user-select: none; 
	padding:0;
}

.eform_pallet_background {
	position: absolute;
	top: 40px;
	width: 100%;
	bottom: 0px;
	overflow : hidden;
	z-index:400;
}

.m_eform_pallet_background {
	position: absolute;
	top: 50px;
	width: 100%;
	bottom: 0px;
	overflow : hidden;
	z-index:400;
}

.eform_pallet_OP_background{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	opacity: 0;
	background-color:#FFF;
}

.eform_pallet{
	position: relative;
    left: 10px;
    top: 10px;
    width: 250px;
    height: 320px;
    background-color: cornsilk;
    border-radius: 18px;
}
.eform_pallet_width{
	position: relative;
    left: 10px;
    top: 10px;
    width: 500px;
    height: 190px;
    background-color: rgb(245,245,245);
    border-radius: 18px;
}

.eform_pallet_button{
	position: relative;
    left: 45px;
    top: 15px;
    height: 35px;
    width: 75px;
    border-radius: 7px;
    background-color:transparent;
    font-size:13px;
}

.eform_pallet_button_ok{
	border:2px solid RGB(122,122,122); 
	color: RGB(122,122,122);
}

.eform_pallet_button_cancel{
	left:55px;
	border:2px solid RGB(184,184,186); 
	color: RGB(184,184,186);
}

.eform_pallet_line{
	position:absolute;
	left:10px;
	width:230px;
	border:1px solid RGB(230,230,230);
	height:0px;
}

.eform_pallet_outE{
	position:absolute;
	width:50px;
	height:50px;
	top:5px;
}

.eform_pallet_inE{
	position:absolute;
	left:5px;
	top:5px;
	width:40px;
	height:40px;
	background-color:white;
	border-radius: 100%;
}

.eform_pallet_outText{
	position:absolute;
	width:50px;
	height:20px;
	top:5px;
	text-align:center;
	font-size:10pt;
}

.eform_pallet_Circle{
	position:absolute;
	top:5px;
	left:5px;
	width:30px;
	height:30px;
	border-radius: 100%;
}

.eform_zoomInOut{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	display:none;
	background-color:white;
	/*
    -webkit-filter:blur(5px); 
    */
}

.eform_IndexOrder{
	position:absolute;
	overflow:hidden;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	display:none;
	/*z-index:101;*/
	opacity: 0;
	background-color:white;
}
.eform_IndexOrder_inner{
	position:absolute;
	left:0px;
	top:0px;
	height:20px;
	width:200px;
	z-index:160;
	display:none;
}
.eform_IndexOrder_left{
	position:absolute;
	left:0px;
	bottom:0px;
	width:20px;
	height:20px;
	background-image: url(../img/eform/navi/left.png);
	background-size: contain;
	background-repeat:no-repeat;
    border: 0px none;
    background-color: transparent;
}

.eform_IndexOrder_right{
	position:absolute;
	right:0px;
	bottom:0px;
	width:20px;
	height:20px;
	background-image: url(../img/eform/navi/right.png);
	background-size: contain;
	background-repeat:no-repeat;
    border: 0px none;
    background-color: transparent;
}


.eF_Rect{
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	overflow:hidden;
	box-sizing:border-box;
}

.eF_Rect2{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	overflow:hidden;
	box-sizing:border-box;
}


.eform_toc_menu_top {
	position: absolute;
	left: 10px;
	top: 55px;
	height: 50px;
	width: 250px;
	background-color: rgba(243, 243, 243, 0.95);
	border-bottom: 2px solid rgb(212, 212, 212);
	box-sizing: border-box;
	border-radius: 10px 10px 0px 0px;
}

.eform_toc_menu_top_text {
	position: absolute;
	left: 5px;
	top: 15px;
	font-family: 나눔고딕;
	font-size: 13pt;
	color: rgb(115, 197, 215);
	font-weight: bold;
}

.eform_toc_menu_top_close {
	position: absolute;
	right: 10px;
	top: 17px;
	width: 19px;
	height: 19px;
	background-image: url(../img/eform/list_close.png);
	background-size: contain;
	cursor: pointer;
}

.eform_toc_menu_body {
	position: absolute;
	left: 10px;
	top: 105px;
	overflow-x: hidden;
	overflow-y: auto;
	width: 250px;
	bottom: 35px;
	background-color: rgba(243, 243, 243, 0.95);
	box-sizing: border-box;
}

.eform_toc_list_depth {
	position: relative;
	left: 0px;
	right: 0px;
	height: 30px;
	border-bottom: 1px solid rgb(212, 212, 212);
}

.eform_toc_nec_list_depth {
	position: relative;
	left: 0px;
	right: 0px;
	height: 30px;
	border-bottom: 1px solid rgb(212, 212, 212);
	background-image:url(../img/eform/nec_check.png);
	background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position : 5px center;
}

.eform_toc_list_depth_text{
	position: absolute;
	font-family : 나눔고딕;
	font-weight: bold;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow:hidden;
	cursor: pointer;
}

.eform_toc_list_depth_pageNumber{
	position: absolute;
	font-family : 나눔고딕;
	white-space: nowrap;
	overflow:hidden;
	font-size: 10pt;
	top:7px;
	right:0px;
	width:30px;
	text-align: center;
}

.eform_toc_list_depth1_text {
	font-size: 12pt;
	color: rgb(215, 172, 135);
    top: 5px;
    bottom: 0px;
	
}

.eform_toc_list_depth2_text {
	font-size: 12pt;
	color: rgb(100, 100, 100);
    top: 5px;
    bottom: 0px;
}

.eform_toc_list_depth3_text {
	font-size: 11pt;
	color: rgb(100, 100, 100);
    top: 7px;
    bottom: 0px;
}

.eform_toc_menu_bottom {
	position: absolute;
	left: 10px;
	bottom: 25px;
	height: 10px;
	width: 250px;
	background-color: rgba(243, 243, 243, 0.95);
	box-sizing: border-box;
	border-radius: 0px 0px 10px 10px;
}


.eform_pageMoveLeft{
	position:absolute;
	left:10px;
	width:50px;
	height:50px;
	background-image:url(../img/eform/shiftLeft.png);
	border-radius:100%;
	opacity:0.65;
	z-index:500;
}

.eform_pageMoveRight{
	position:absolute;
	right:10px;
	width:50px;
	height:50px;
	background-image:url(../img/eform/shiftRight.png);
	border-radius:100%;
	opacity:0.65;
	z-index:500;
}



.eform_calendar_div{
	position: absolute;
    top: 40px;
    width: 100%;
    bottom: 0px;
    background-color:rgba(255,255,255,0.6);
    overflow: hidden;
    z-index: 200;
}

.m_eform_calendar_div{
	position: absolute;
    top: 50px;
    width: 100%;
    bottom: 0px;
    background-color:rgba(255,255,255,0.6);
    overflow: hidden;
    z-index: 200;
}

.eform_calendar_header_div{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:30%;
	background-color: rgb(138,72,221);
	border:0px solid;
	
}


.eform_calendar_body_div{
	position:absolute;
	left:0px;
	top:30%;
	width:100%;
	height:70%;
	border:0px solid;
}


.eform_calendar_year_header{
	border-spacing:0;
	text-align : center;
	font-size:1.4em;
	font-family: 나눔고딕;
	width:100%;
	height:60%;
	font-weight:bold;
}

.eform_calendar_year_list{
	border-spacing:0;
	text-align : center;
	font-size:1em;
	font-family: 나눔고딕;
	font-weight:bold;
	color : white;
	background-color: transparent;
    border:0px;
    border-radius:0; /* 아이폰 사파리 보더 없애기 */
     -webkit-appearance:none; /* 화살표 없애기 for chrome*/
      -moz-appearance:none; /* 화살표 없애기 for firefox*/
       appearance:none /* 화살표 없애기 공통*/
}

 
.eform_calendar_year_list::-ms-expand{ 
display:none /* 화살표 없애기 for IE10, 11*/ 
} 

.eform_calendar_year_list option{
	color:black;
}

.eform_calendar_month_header{
	text-align : center;
	font-size:1.1em;
	font-family: 나눔고딕;
	color:white;
	width:100%;
	height:40%;
}

.eform_calendar_body{
	border-spacing:0;
	text-align : center;
	width:100%;
	height:100%;
}


.eform_calendar_prev_year{
	width:75%;
	height:50%;
	background-image:url(../img/eform/calendar/leftEnd.png);
	background-size: contain;
	border: 0px none;
	background-color: transparent;
	background-repeat:no-repeat;
	background-position:50% 50%;
}

.eform_calendar_prev_month{
	width:100%;
	height:50%;
	background-image:url(../img/eform/calendar/left.png);
	background-size: contain;
	border: 0px none;
	background-color: transparent;
	background-repeat:no-repeat;
	background-position:50% 50%;
}

.eform_calendar_next_year{
	width:75%;
	height:50%;
	background-image:url(../img/eform/calendar/rightEnd.png);
	background-size: contain;
	border: 0px none;
	background-color: transparent;
	background-repeat:no-repeat;
	background-position:50% 50%;
}

.eform_calendar_next_month{
	width:100%;
	height:50%;
	background-image:url(../img/eform/calendar/right.png);
	background-size: contain;
	border: 0px none;
	background-color: transparent;
	background-repeat:no-repeat;
	background-position:50% 50%;
}
.eform_calendar_day{
	text-align: left;
	font-family: 나눔고딕;
	font-size: 1em;
	border-bottom:1px solid rgb(220,220,220);
	vertical-align: top;
}

.eform_calendar_remove_button{
	position: absolute;
	background-color: RGB(89, 89, 89);
	border: 1px solid darkolivegreen;
	color: white;
	font-weight: weight;
	border-radius: 10px 10px 10px 10px
}

.eform_calendar_day:focus{
	border:2px solid rgb(138,72,221);
	outline: none;
}

.eform_calendar_sunDay{
	color:red;
}
.eform_calendar_saturday{
	color:blue;
}

.eform_selectbox_menu_top {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 50px;
	right: 0px;
	background-color: rgba(243, 243, 243, 0.95);
	border-bottom: 2px solid rgb(212, 212, 212);
	box-sizing: border-box;
	border-radius: 10px 10px 0px 0px;
}

.eform_selectbox_menu_top_text {
    position: absolute;
    left: 5px;
    top: 15px;
    font-family: 나눔고딕;
    font-size: 13pt;
    color: rgb(115, 197, 215);
    font-weight: bold;
}

.eform_selectbox_menu_top_close {
    position: absolute;
    right: 10px;
    top: 17px;
    width: 19px;
    height: 19px;
    background-image: url(../img/eform/list_close.png);
    background-size: contain;
    cursor: pointer;
}

.eform_selectbox_menu_body {
	position: absolute;
	left: 0px;
	top: 50px;
	bottom: 10px;
	right: 0px;
	background-color: rgba(243, 243, 243, 0.95);
	box-sizing: border-box;
	font-family: 나눔고딕;
	overflow: auto;
}

.eform_selectbox_menu_list {
	position:relative;
	width:100%;
	height:50px;
	box-sizing: border-box;
	padding-left: 2px;
    padding-top: 10px;
    padding-right:30px;
    font-size: 14pt;
	overflow: hidden;
	text-overflow: ellipsis;
	border-bottom: 1px solid rgb(212, 212, 212);
}

.eform_selectbox_menu_list:HOVER{
	background-color: lavender;
}


.eform_selectbox_menu_selectedList{
	position: absolute;
    top: 15px;
    right: 3px;
    height: 20px;
    width: 20px;
    background-image: url(../img/eform/selectbox/checkbox.png);
    background-size: contain;
    background-repeat: no-repeat;
}


.eform_selectbox_menu_bottom {
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 10px;
	right: 0px;
	background-color: rgba(243, 243, 243, 0.95);
	box-sizing: border-box;
	border-radius: 0px 0px 10px 10px;
	
}

.eform_thumbnail_menu_top {
	position: absolute;
	left: 10px;
	top: 55px;
	height: 50px;
	width: 250px;
	background-color: rgba(243, 243, 243, 0.95);
	border-bottom: 2px solid rgb(212, 212, 212);
	box-sizing: border-box;
	border-radius: 10px 10px 0px 0px;
	font-family: 나눔고딕;
}

.eform_thumbnail_menu_top_text {
	position: absolute;
	left: 5px;
	top: 15px;
	font-family: 나눔고딕;
	font-size: 13pt;
	color: rgb(115, 197, 215);
	font-weight: bold;
}

.eform_thumbnail_menu_top_close {
	position: absolute;
	right: 10px;
	top: 17px;
	width: 19px;
	height: 19px;
	background-image: url(../img/eform/list_close.png);
	background-size: contain;
	cursor: pointer;
}

.eform_thumbnail_menu_body {
	position: absolute;
	left: 10px;
	top: 105px;
	overflow-x: hidden;
	overflow-y: auto;
	width: 250px;
	bottom: 35px;
	background-color: rgba(243, 243, 243, 0.95);
	box-sizing: border-box;
}

.eform_thumbnail_menu_bottom {
	position: absolute;
	left: 10px;
	bottom: 25px;
	height: 10px;
	width: 250px;
	background-color: rgba(243, 243, 243, 0.95);
	box-sizing: border-box;
	border-radius: 0px 0px 10px 10px;
}

.eform_thumbnail_menu_body_div {
	position: relative; 
	left: 15px; 
	width: 200px; 
	height: 220px; 
	text-align: center;
}

.eform_thumbnail_menu_body_focus_div{
	background-color: rgba(255,100,20,0.1);
	position: relative; 
	left: 15px; 
	width: 200px; 
	height: 220px; 
	text-align: center;
	border-radius: 8%;
}

.eform_thumbnail_menu_body_img{
	width: 200px; 
	height: 200px; 
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center;
}

.eform_slide_button{
	position:absolute;
	bottom:15px;
	width:60px;
	height:60px;
	z-index:150;
	background-size: contain;
    border: 0px none;
    background-color: transparent;
   
}

.eform_slide_button_left{
	left:10px;
	background-image:url(../img/eform/custom/left.png);
}

.eform_slide_button_stop{
	left:80px;
	background-image:url(../img/eform/custom/stop.png);
}

.eform_slide_button_play{
	left:80px;
	background-image:url(../img/eform/custom/stop.png);
}

.eform_slide_button_center{
	left:80px;
	background-image:url(../img/eform/custom/center.png);
}

.eform_slide_button_right{
	left:150px;
	background-image:url(../img/eform/custom/right.png);
}

/*슬라이드 설정창*/
.eform_setting_view_box{
	position:absolute;
	left:15px;
	right:15px;
	top:70px;
	height:250px;
	background-color: #FDFDFD;
	font-size: 8pt;
	font-family: 나눔고딕;
	border: 2px solid gray;
}
.eform_setting_view_okButton{
	position:absolute;
	right:105px;
	bottom:15px;
	width:80px;
	height:40px;
	background-color: RGB(89, 89, 89);
	border: 1px solid darkolivegreen;
	color: white;
	font-weight: weight;
}
.eform_setting_view_cencelButton{
	position:absolute;
	right:15px;
	bottom:15px;
	width:80px;
	height:40px;
	background-color: RGB(89, 89, 89);
	border: 1px solid darkolivegreen;
	color: white;
	font-weight: weight;
}
.eform_setting_view_table{
	padding-top: 10px;
    padding-left: 10px;
    font-size:12pt !important;
}
.eform_setting_view_checkbox{
     padding: 10px;
}

.eform_setting_view_select{
     padding: 10px;
}

.eform_subLoading_wait{
     border:0px none;
     position: absolute;
     width: 422px;
     top: 120px;
     height: 287px;
     background-image:url('../img/eform/subLoading.gif');
     background-repeat: no-repeat;   
     background-size: cover;
}

.eform_mirroring_wait{
     border:0px none;
     position: absolute;
     width: 422px;
     top: 120px;
     height: 287px;
     background-image:url('../img/eform/mirroring.gif');
     background-repeat: no-repeat;   
     background-size: cover;
}

.eform_sign_wait{
     border:0px none;
     position: absolute;
     width: 382px;
     top: 120px;
     height: 286px;
     background-image:url('../img/eform/sign/signwait.gif');
     background-repeat: no-repeat;   
     background-size: cover;
}

.eform_singleSign_wait{
     border:0px none;
     position: absolute;
     width: 382px;
     top: 120px;
     height: 286px;
     background-image:url('../img/eform/sign/signwait.jpg');
     background-repeat: no-repeat;   
     background-size: cover;
}


.eform_singleSign_wait_canvas{
     border:0px none;
     position: absolute;
     width: 360px;
     top: 70px;
     left: 10px;
     height: 200px;
}

.eform_keyboard_wait{
     border:0px none;
     position: absolute;
     width: 382px;
     top: 120px;
     height: 286px;
     background-image:url('../img/eform/sign/keyboardwait.gif');
     background-repeat: no-repeat;   
     background-size: cover;
}
.eform_wait_close_button{
	position: absolute;
	width: 35px;
	height: 35px;
	 top: 105px;
	color: rgb(100,100,100);
	font-weight: bold;
	background-color: white;
	border: 3px rgb(100,100,100) solid;
	border-radius: 50%;
	font-size: 15pt;
}

.eform_keyboard_call_button{
	position:absolute;
	background-color:black;
	color:white;
	width:85px;
	height:28px;
	z-index:150;
	font-size: 9pt;
	border-radius: 5%;
	border: 3px black solid;
	cursor: pointer;
}	

.eform_multiSign_body{
	position:absolute;
	left:0px;
	right:0px;
	bottom:0px;
	border:none;
	background:white;
}

.eform_multiSign_header{
	position:absolute;
	left:0px;
	top:0px;
	right:0px;
	height:60px;
	border:none;
	background:rgb(26,85,165);
}

.eform_multiSign_header_Label{
	position:absolute;
	left:120px;
	top:10px;
	right:325px;
	height:40px;
	border:none;
	font-size:25pt;
	color:white;
	text-align:center;
	text-overflow:ellipsis;
	overflow:hidden;
}

.eform_multiSign_close_button{
	position:absolute;
	left:0px;
	top:0px;
	height:60px;
	width:115px;
	border:0px none;
	background:rgb(0,57,116);
	background-image:url(../img/eform/sign/clipsoft_btu_close.png);
	background-repeat: no-repeat;   
    background-size: contain;
}

.eform_multiSign_save_button{
	position:absolute;
	top:10px;
	right:170px;
	height:40px;
	width:135px;
	border:0px none;
	background:rgba(255,255,255,0);
	background-image:url(../img/eform/sign/clipsoft_btu_save.png);
	background-repeat: no-repeat;   
    background-size: cover;
}

.eform_multiSign_next_button{
	position:absolute;
	top:10px;
	right:20px;
	height:40px;
	width:135px;
	border:0px none;
	background:rgba(255,255,255,0);
	background-image:url(../img/eform/sign/clipsoft_btu_next.png);
	background-repeat: no-repeat;   
    background-size: cover;
}

.eform_multiSign_frame{
	position:absolute;
	top:60px;
	bottom:0px;
	border:none;
}

.eform_multiSign_frameY{
	position:absolute;
	left:0px;
	right:0px;
	border:none;
}

.eform_multiSign_frame_Label{
	position:absolute;
	left:10px;
	top:10px;
	right:140px;
	height:40px;
	border:none;
	font-size:25pt;
	color:gray;
	text-align:left;
	text-overflow:ellipsis;
	overflow:hidden;
}
.eform_multiSign_frameReset_button{
	position:absolute;
	top:10px;
	right:10px;
	height:40px;
	width: 120px;
	border:0px none;
	background:rgba(255,255,255,0);
	background-image:url(../img/eform/sign/clipsoft_btu_reset.png);
	background-repeat: no-repeat;   
    background-size: contain;
}

.eform_multiSign_frame_body{
	position:absolute;
	top:60px;
	left:10px;
	right:10px;
	bottom:10px;
	border:2px rgb(29,85,157) solid;
	background:rgb(240,255,255);
}

.eform_multiSign_frame_Guide{
    font-size: 30pt;
    font-size: 2.5vw;
    font-family: NanumGothic,나눔고딕;
    color: gray;
    word-wrap: break-word;
}

/*서명컨트롤의 하단 팝업을 사용 할 때 서명 레이아웃*/
.eform_Sign_Bottom_frame{
	border: 1px solid silver;
    border-radius: 10px;
    border-style: dashed;
}

/*네트워크 오류 전체 배경*/
.eform_neterror_background {
	position: absolute;
	top: 40px;
	width: 100%;
	bottom: 0px;
	overflow : hidden;
	z-index:500;
	background-color: rgba(0,0,0,0.3);
}

.eform_neterror_layout{
	position:absolute;
	width:400px;
	height:180px;
	border: 1px solid #ddd;
	box-sizing: border-box;  
	background-color: #fff;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.175);
}

.eform_neterror_layout_head{
	background: #f5f5f5
	;font-weight: 600; 
	padding: 10px 15px; 
}

.eform_neterror_layout_body{
	 padding: 20px 15px;  
	 border-bottom: 1px solid transparent;
}

.eform_neterror_layout_bottom{
	position:absolute;
	width:100%;
	height:50px;
	bottom:0px;
	text-align:center;
}

.eform_neterror_font{
	color: #333;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
	font-size: 14px; 
	line-height: 1.42857;
}

.eform_neterror_button{
	display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    border-color: #ccc;
}

/*네트워크 오류 전체 배경*/
.m_eform_neterror_background {
	position: absolute;
	top: 50px;
	width: 100%;
	bottom: 0px;
	overflow : hidden;
	z-index:500;
}

.eform_doodle_save_div{
	position:absolute;
	top:70px;
	right:35px;
	width:230px;
	height:200px;
	background-color:#FDFDFD;
	border:2px gray solid;
}
.eform_doodle_save_selectbox{
	position:absolute;
	left:15px;
	top:15px;
	width:200px;
	height:30px;
}

.eform_doodle_save_loadButton{
	position: absolute;
    left: 15px;
    top: 50px;
    width: 95px;
    height: 30px;
}	

.eform_doodle_save_deleteButton{
	position: absolute;
    left: 120px;
    top: 50px;
    width: 95px;
    height: 30px;
}	

.eform_doodle_save_inputbox{
	position: absolute;
    left: 15px;
    top: 120px;
    width: 200px;
    height: 30px;
    padding: 0px 0px 0px 0px !important;
    box-sizing: border-box;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.eform_doodle_save_saveButton{
	position: absolute;
    left: 15px;
    top: 155px;
    width: 95px;
    height: 30px;
}	

.eform_doodle_save_closeButton{
	position: absolute;
    left: 120px;
    top: 155px;
    width: 95px;
    height: 30px;
}	


.eform_image_pointer{
	position: absolute;
	width: 50px;
	height:50px;
	display:none;
	background-image: url(../img/eform/navi/finger.gif);
	background-repeat: no-repeat;   
    background-size: contain;
}


.eform_image_chat{
	position: absolute;
	right:20px;
	bottom:20px;
	width: 60px;
	height:60px;
	display:none;
	background-image: url(../img/eform/chat/chat.png);
	background-repeat: no-repeat;   
    background-size: contain;
    z-index:500;
    border:none;
    background-color: rgba(0,0,0,0);
}

.eform_chat_layout{
	position: absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	border:none;
	background-color: rgba(20,80,120, 0.6);
    z-index: 1000;
}

.eform_chat_frame{
		position: absolute;
		top: 60px;
    	left: 80px;
   	 	width: 500px;
    	height: 380px;
		background-color:rgb(238, 238, 238);
		border-radius: 5px;
   	 	box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.eform_chat_body{
		position: absolute;
   		top: 10px;
   		left: 5px;
    	right: 5px;
    	bottom: 60px;
		background-color:white;
		border-radius: 5px;
		overflow-y:auto;
}

.eform_chat_box{
    border: none;
    border-radius: 3px;
    font-size: 1em;
}

.eform_chat_input{
	position: absolute;
    height: 18px;
    left: 10px;
    bottom: 10px;
    width: 300px;
    padding: 10px;
    background-color: rgb(221, 221, 221);
}

.eform_chat_sendButton{
	position: absolute;
    height: 38px;
    right: 90px;
    width: 70px;
    bottom: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
}

.eform_chat_closeButton{
	position: absolute;
    height: 38px;
    right: 10px;
    width: 70px;
    bottom: 10px;
    font-weight: bold;
    border: 2px gray solid;
    box-sizing: border-box;
}

.eform_chat_right_Layout{
	display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    margin-top: 2px;
    margin-bottom: 6px;
    margin-left: 3px;
    margin-right: 3px;
}

.eform_chat_right_msg{
	max-width: 450px;
    padding: 10px;
    border-radius: 15px 15px 0px 15px;
    background-color: black;
    color:white;
}

.eform_chat_left_Layout{
	display: flex;
    align-items: flex-end;
    margin-top: 2px;
    margin-bottom: 6px;
    margin-left: 3px;
    margin-right: 3px;
}

.eform_chat_left_msg{
	max-width: 450px;
    padding: 10px;
    border-radius: 15px 15px 15px 0px;
    background-color: rgb(238, 238, 238);
}

.mouse_move_pointer{
	position: absolute; 
	border:2px solid red; 
	width: 40px; 
	height: 40px; 
	opacity: 0.4; 
	border-radius: 100%;
   animation-name: mousePo; 
   animation-duration: 1s;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   animation-delay: 0.1s;
}

@keyframes mousePo {
      from { transform: scale(0); opacity: 1; }
    to   { transform: scale(1); opacity: 0; }
}


.eform_zoom_lock {
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	border:none;
	background-color:rgba(255,255,255,0.2);
	z-index:1000;
	overflow:hidden;
}

.eform_menu_searchword_button{
	left: 620px;
	background-image: url(../img/eform/search/search.png);
}

.eform_searchword_full_frame_div{
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	border:none;
	background-color:rgba(255,255,255,0.2);
	font-size: 12px;
	z-index:1000;
	overflow:hidden;
}

.eform_searchword_div{
	position:absolute;
    left:2px;
    width: 450px;
    height: 40px;
    background-color: #323232;
}

.eform_searchword_input{
	position: absolute;
    font-size: 13px;
    width: 190px;
    height: 26px;
    top: 4px;
    left: 5px;
}

.eform_searchword_search_button {
    position: absolute;
    width: 34px;
    height: 34px;
    right: 204px;
    top: 2px;
    padding: 0px;
    border: 0px;
    background-image: url(../img/eform/search/search.png);
    background-size: contain;
    background-color: transparent;
    cursor: pointer;
    background-repeat: no-repeat;
}

.eform_searchword_up_button {
    position: absolute;
    width: 34px;
    height: 34px;
    right: 102px;
    top: 2px;
    padding: 0px;
    border: 0px;
    background-image: url(../img/eform/search/up.png);
    background-size: contain;
    background-color: transparent;
    cursor: pointer;
    background-repeat: no-repeat;
}

.eform_searchword_down_button {
    position: absolute;
    width: 34px;
    height: 34px;
    right: 68px;
    top: 2px;
    padding: 0px;
    border: 0px;
    background-image: url(../img/eform/search/down.png);
    background-size: contain;
    background-color: transparent;
    cursor: pointer;
    background-repeat: no-repeat;
}

.eform_searchword_toggle_button {
    position: absolute;
    width: 34px;
    height: 34px;
    right: 34px;
    top: 2px;
    padding: 0px;
    border: 0px;
    background-image: url(../img/eform/search/toggle.png);
    background-size: contain;
    background-color: transparent;
    cursor: pointer;
    background-repeat: no-repeat;
}


.eform_searchword_close_button {
    position: absolute;
    width: 34px;
    height: 34px;
    right: 2px;
    top: 2px;
    padding: 0px;
    border: 0px;
    background-image: url(../img/eform/close.png);
    background-size: contain;
    background-color: transparent;
    cursor: pointer;
    background-repeat: no-repeat;
}

.eform_searchword_label{
	position: absolute;
    font-size: 13px;
    top: 10px;
    right: 136px;
    color: white;
}

.eform_searchword_frame_div{
	position: absolute;
    left: 0px;
    width: 450px;
    height: 70%;
    border: 1px solid silver;
    background-color: #fff;
    overflow-x: hidden;
    text-align: center;
    overflow-y: scroll;
    display: none;
}


.eform_search_word_div{
	/*left: 10%;
	top: 5%*/
	background-color:#FFFEFF;
	border: 0px solid blue;
}

.eform_search_word_span{
	left: 5%;
	top: 25%
}

.search_word_inner_div {
    position: absolute;
    border: 0.3pt solid #FF6400;
    padding: 0px 0px 0px 0px !important;
    background-color: transparent;
    cursor: pointer;
    box-sizing: border-box;
}

.selected_search_word_inner_div {
    border-color: #1A75BC;
    z-index: 47;
    background-color: #1A75BC;
    opacity: 0.5;
}

.selected_search_word_div {
    border: 2px solid #5692EA;
    background-image: url(../img/eform/search/select_toc.png);
    background-size: cover;
}/*뷰어 정보 버튼*/
.eform_menu_eformInfo_button{
	left: 700px;
	background-image: url(../img/eform/info.png);
}

/*메모 버튼*/
.eform_menu_memo_button{
	left: 560px;
	background-image: url(../img/report/memo.png);
}

	
.eform_menu_newMemo_button{
	left: 10px;
	background-image: url(../img/report/memo.png);
}

.eform_menu_opacityMemo_button{
	left: 60px;
	 background-image: url(../img/report/opacity.png);
}

.eform_menu_optionMemo_button{
	left: 110px;
	 background-image: url(../img/report/option.png);
}

/*����Ʈ ����� ��ü  DIV*/
.report_speech_bubble_full_frame {
	position: absolute;
	top: 50px;
	left: 0px;
	width:0px;
	height: 70%;
	font-size: 12px;
	border: 1px solid silver;
	background-color: #eee;
	overflow-x: hidden;
	text-align: center;
	overflow-y: auto;
	z-index: 300;
	display:none;
}


/*����Ʈ ����� DIV*/
.report_speech_bubble_frame_div {
	position: absolute;
	top:34px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border: 1px solid silver;
	background-color: white;
	overflow-x: hidden;
	text-align: center;
}


/*����Ʈ ����� Ÿ��Ʋ DIV*/
.report_speech_bubble_title_div {
	position: relative;
	top: 0px;
	width: 100%;
	height: 34px;
	background-color: #F0F0F0;
}

/*����Ʈ ����� Ÿ��Ʋ DIV*/
.report_speech_bubble_detail_title_div {
	position: relative;
	top: 0px;
	width: 100%;
	height: 24px;
	background-color: #F0F0F0;
}


/*����Ʈ ����� Ÿ��Ʋ DIV*/
.report_speech_bubble_detail_frame_div {
	position: absolute;
	left: 3px;
	right: 3px;
	height: 120px;
	background-color: #F0F0F0;
}


/*����Ʈ ����� Ÿ��Ʋ DIV*/
.report_speech_bubble_detail_div {
	position: absolute;
	top: 24px;
	width: 100%;
	height: 86px;
	background-color: #F0F0F0;
}

.bubble_speech_position_div{
	position:absolute;
	left:0px;
	top:0px; 
	width:20px;
	height:20px;
	background-color:rgb(0,100,0);
	cursor:all-scroll;
	display:none;
}

/*����Ʈ TOC ���� ��ư*/
.report_speech_bubble_close_button{
	position: absolute;
	width: 34px;
	height: 34px;
	right: 0px;
	top: 0px;
	padding: 0px;
    border: 0px;
	background-image: url(../img/report/frameClose.png);
	background-size: contain;
	background-color: transparent;
	cursor: pointer;	
	background-repeat:no-repeat;
}

.bubble_speech_layout_div{
	position:absolute;
	left:0px;
	top:0px;
	min-width:120px;
	min-height:100px;
	border:0px dashed black;
}


.bubble_speech_text_div{
	position:absolute;
	top:15px;
	left:15px;
	right:15px;
	bottom: 15px;
}

.bubble_speech_text{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	cursor:default;
	padding:0px;
	border:0px;
}

.bubble_speech_size_div{
	position:absolute;
	right:0px;
	bottom:0px;
	width:20px;
	height:20px;
	background-image: url(../img/report/change_size.png);
	background-size: contain;
	background-color: transparent;
	cursor:nw-resize;
}

.bubble_speech_delete_div{
	position:absolute;
	right:0px;
	top:0px;
	width:20px;
	height:20px;
	background-image: url(../img/report/delete.png);
	background-size: contain;
	background-color: transparent;
	cursor:pointer;
}

.bubble_speech_frame_pointer_left_div{
	background-image: url(../img/report/pointer_left.png);	
	background-repeat: no-repeat;
	background-size: contain;
}

.bubble_speech_frame_pointer_right_div{
	background-image: url(../img/report/pointer_right.png);	
	background-repeat: no-repeat;
	background-size: contain;
}
.bubble_speech_frame_pointer_top_div{
	background-image: url(../img/report/pointer_top.png);	
	background-repeat: no-repeat;
	background-size: contain;
}
.bubble_speech_frame_pointer_bottom_div{
	background-image: url(../img/report/pointer_bottom.png);	
	background-repeat: no-repeat;
	background-size: contain;
}
.bubble_speech_frame_pointer_none_div{
	background-image: url(../img/report/pointer_none.png);	
	background-repeat: no-repeat;
	background-size: contain;
}

.bubble_speech_frame_sentence_left_div{
	background-image: url(../img/report/sentence_left.png);	
	background-repeat: no-repeat;
	background-size: contain;
}

.bubble_speech_frame_sentence_center_div{
	background-image: url(../img/report/sentence_center.png);	
	background-repeat: no-repeat;
	background-size: contain;
}

.bubble_speech_frame_sentence_right_div{
	background-image: url(../img/report/sentence_right.png);	
	background-repeat: no-repeat;
	background-size: contain;
}

.bubble_speech_frame_sentence_top_div{
	background-image: url(../img/report/sentence_top.png);	
	background-repeat: no-repeat;
	background-size: contain;
}

.bubble_speech_frame_sentence_middle_div{
	background-image: url(../img/report/sentence_middle.png);	
	background-repeat: no-repeat;
	background-size: contain;
}

.bubble_speech_frame_sentence_bottom_div{
	background-image: url(../img/report/sentence_bottom.png);	
	background-repeat: no-repeat;
	background-size: contain;
}