@CHARSET "UTF-8";

/*------------------ customized --------------------------*/

/*zoom Select*/
/*
.report_zoom_select{
	left: 434px;
}
*/

/*페이지 정보 관련 DIV*/
/*
.report_page_info_div{
	left: 181px;
}
*/

/*리포트 썸네일 버튼*/
/*
.report_menu_thumbnail_button{
	left: 74%;	
	background-image: url(../img/report/thumbnail.png);
}
.report_menu_thumbnail_button_lowie{
	left: 74%;	
	background-image: url(../img/report/lowIE/thumbnail.png);
}
*/


/*리포트 toc 버튼*/
/*
.report_menu_toc_button{
	left: 70%;	
	background-image: url(../img/report/toc.png);
}
.report_menu_toc_button_lowie{
	left: 70%;	
	background-image: url(../img/report/lowIE/toc.png);
}
*/

/*리포트 다음 버튼*/
/*
.report_menu_next_button{
	left: 351px;
	background-image: url(../img/report/next.png);
}
.report_menu_next_button_lowie{
	left: 351px;
	background-image: url(../img/report/lowIE/next.png);
}
*/


/*리포트 마지막 버튼*/
/*
.report_menu_last_button{
	left: 390px;
	background-image: url(../img/report/last.png);
}  
.report_menu_last_button_lowie{
	left: 390px;
	background-image: url(../img/report/lowIE/last.png);
}  
*/

/*리포트 이전 버튼*/
/*
.report_menu_prev_button{
	left: 137px;
	background-image: url(../img/report/prev.png);
}
.report_menu_prev_button_lowie{
	left: 137px;
	background-image: url(../img/report/lowIE/prev.png);
}
*/

/*리포트 처음 버튼*/
/*
.report_menu_first_button{
	left: 98px;
	background-image: url(../img/report/first.png);
} 
.report_menu_first_button_lowie{
	left: 98px;
	background-image: url(../img/report/lowIE/first.png);
}  
*/


/*리포트 저장 버튼*/
/*
.report_menu_save_button{
	left: 10px;
	background-image: url(../img/report/save.png);	
} 
.report_menu_save_button_lowie{
	left: 10px;
	background-image: url(../img/report/lowIE/save.png);	
} 
*/

/*리포트 인쇄 버튼*/
/*
.report_menu_print_button{
	left: 54px;
	background-image: url(../img/report/print.png);
}  
.report_menu_print_button_lowie{
	left: 54px;
	background-image: url(../img/report/lowIE/print.png);
}  
*/

/*리포트 hwp 다운로드 버튼*/
/*
.report_menu_hwp_download_button{
	left: 78%;
	background-image: url(../img/report/hwp.png);
}  
.report_menu_hwp_download_button_lowie{
	left: 78%;
	background-image: url(../img/report/lowIE/hwp.png);
}
*/

/*리포트 excel 다운로드 버튼*/
/*
.report_menu_excel_download_button{
	left: 82%;
	background-image: url(../img/report/excel.png);
}
.report_menu_excel_download_button_lowie{
	left: 82%;
	background-image: url(../img/report/lowIE/excel.png);
}
*/

/*리포트 pdf 다운로드 버튼*/
/*
.report_menu_pdf_download_button{
	left: 86%;
	background-image: url(../img/report/pdf.png);
}
.report_menu_pdf_download_button_lowie{
	left: 86%;
	background-image: url(../img/report/lowIE/pdf.png);
}
*/

/*리포트 doc 다운로드 버튼*/
/*
.report_menu_doc_download_button{
	left: 90%;
	background-image: url(../img/report/doc.png);
}
.report_menu_doc_download_button_lowie{
	left: 90%;
	background-image: url(../img/report/lowIE/doc.png);
}
*/

/*리포트 doc 다운로드 버튼*/
/*
.report_menu_close_button{
	right: 4px;
	background-image: url(../img/report/close.png);
}
.report_menu_close_button_lowie{
	right: 4px;
	background-image: url(../img/report/lowIE/close.png);	
}
*/

/*리포트 메뉴 버튼*/
/*
.report_menu_button{

}
*/


/*------------------ customized --------------------------*/

/*뷰어 메뉴*/
/*
.report_head_div {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 50px;
	border-bottom: 1px solid #dddee0;
	font-size: 12px;
	overflow: visible;
	background-color: #323232;
	background-position: 5px 50%;
	background-repeat: no-repeat;
	-webkit-user-select: none; 
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-ms-user-select: none; 
}
*/


/*뷰어 메뉴 center*/
/*
.report_head_center_div {
	position: absolute;
	top: 0px;
	width: 496px;
	bottom: 0px;
	border: 0px;
	left: 50%; 
	-ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);

}
*/




/*리포트 왼쪽 wall 버튼*/
/*
.report_menu_header_wall_left_div{
	left: 80px;
	background-image: url(../img/report/wall.png);
	cursor: default;
}
*/

/*리포트 왼쪽 wall 버튼*/
/*
.report_menu_header_wall_left_div_lowie{
	left: 80px;
	background-image: url(../img/report/lowIE/wall.png);
	cursor: default;
}
*/

/*리포트 오른쪽 wall 버튼*/
/*
.report_menu_header_wall_right_div{
	right: 416px;
	background-image: url(../img/report/wall.png);
	cursor: default;
}
*/


/*리포트 오른쪽 wall 버튼*/
/*
.report_menu_header_wall_right_div_lowie{
	right: 416px;
	background-image: url(../img/report/lowIE/wall.png);
	cursor: default;
}
*/




/*리포트 Thumbnail 종료 버튼*/
/*
.report_thumbnail_close_button{
	position: absolute;
	width: 34px;
	height: 34px;
	right: 0px;
	top: 0px;
	padding: 0px;
    border: 0px;
	background-image: url(../img/report/frameClose.png);
	background-size: contain;
	background-color: transparent;
	cursor: pointer;	
	background-repeat:no-repeat;
}
*/

/*리포트 Thumbnail 종료 버튼*/
/*
.report_thumbnail_close_button_lowie{
	background-image: url(../img/report/lowIE/frameClose.png);
}
*/

/*리포트 TOC 종료 버튼*/
/*
.report_toc_close_button{
	position: absolute;
	width: 34px;
	height: 34px;
	right: 0px;
	top: 0px;
	padding: 0px;
    border: 0px;
	background-image: url(../img/report/frameClose.png);
	background-size: contain;
	background-color: transparent;
	cursor: pointer;	
	background-repeat:no-repeat;
}
*/

/*리포트 TOC 종료 버튼*/
/*
.report_toc_close_button_lowie{
	background-image: url(../img/report/lowIE/frameClose.png);
}
*/


/*현재 페이지 정보 관련 Input*/
/*
.report_current_page_info_input{
	-webkit-appearance: none;
	position: absolute;
	top: 0px;	
	bottom: 0px;
	left: 0px;
	width:48%;
	height:100%;
	color: #FFF;
	border: 0px;
	border-right: 1px solid #323232;
	background-color: #505050;
	padding:0px;
}
*/

/*전체 페이지 정보 관련 Input*/
/*
.report_total_page_info_input{
	-webkit-appearance: none;
	position: absolute;
	top: 0px;	
	bottom: 0px;
	right: 0px;	
	width:49%;	
	height:100%;
	color: #FFF;
	border: 0px;	
	background-color: #505050;
	padding:0px;
}
*/

/*전체 페이지 정보 관련 Input*/
/*
.report_page_progress_div{
	-webkit-appearance: none;
	position: absolute;
	top: 7px;	
	bottom: 7px;
	right: 0px;	
	width:16px;	
	cursor: none;
	background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
	background-image: url(../img/report/progress.gif);
	z-index:5;
}
*/

/*선택된 리포트 썸네일 이미지 DIV*/
/*
.selected_thumbnail_img_div {
	border: 2px solid #5692EA;
	background-image:url(../img/report/select_thumbnail.png);
	background-size: cover;
}
*/

/*선택된 리포트 TOC DIV*/
/*
.selected_toc_div {
	border: 2px solid #5692EA;	
	background-image:url(../img/report/select_toc.png);
	background-size: cover;
}
*/

/*리포트 toc depth0 div*/
/*
.report_toc_depth0_div{
	background-color:#FFFEFF;
	border: 0px solid blue;
}
*/

/*리포트 toc depth1 div*/
/*
.report_toc_depth1_div{
	background-color:#FFFEFF;
	border: 0px solid blue;
}
*/

/*리포트 toc depth2 div*/
/*
.report_toc_depth2_div{
	background-color:#FFFEFF;
	border: 0px solid blue;
}
*/

/*리포트 toc depth0 span*/
/*
.report_toc_depth0_span{
	left: 5%;
	top: 25%
}
*/

/*리포트 toc depth1 span*/
/*
.report_toc_depth1_span{
	left: 15%;
	top: 25%
}
*/

/*리포트 toc depth2 span*/
/*
.report_toc_depth2_span{
	left: 25%;
	top: 25%
}
*/

/*
프로그래스 createProgress 함수를 사용하였을 때 동작합니다.
*/
/*
.report_progress{
	background-position: 50% 50%;
	background-image: url(../img/report/progress.gif);
	filter:alpha(opacity=50);
	background-color:rgba(60, 60, 60, 0.5);
}
*/

/*
프로그래스 callCreateUserProgress 함수를 사용하였을 때 동작합니다.
*/
/*
.user_progress{
	background-position: 50% 50%;
	background-image: url(../img/report/progress.gif);
	filter:alpha(opacity=50);
	background-color:rgba(60, 60, 60, 0.5);
}
*/


/*리포트 배경*/
/*
.report_body_div {
	position: absolute;
	top: 50px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	font-size: 12px;
	border: 1px solid silver;
	background-color: #F0F0F0;	
	overflow: auto;
	text-align: center;
}
 */
 







