<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.tracom.bms.domain.PI0100.PI0100Mapper">

<select id="PI0100G0R0" resultType="Map" parameterType="Map">
	SELECT 
		USER_NEWS_ID
		,NEWS_TITLE
		,REMARK
		,NEWS_CONTENTS
		,USE_YN
		,CATEGORY
		,PROV_NM
		,DATE_FORMAT(PUB_DT, '%Y-%m-%d') PUB_DT
		,DATE_FORMAT(UPD_DTM, '%Y-%m-%d') UPD_DTM
		,UPD_ID
	FROM 
		BMS_USER_NEWS_CFG_INFO
	<where>
			<if test="TYPE == 'ALL' and CONTENT != null and CONTENT != ''">
				AND (USER_NEWS_ID LIKE CONCAT('%',#{CONTENT},'%') || NEWS_TITLE LIKE CONCAT('%',#{CONTENT},'%'))
			</if>
			<if test="TYPE == 'USER_NEWS_ID'">
				AND USER_NEWS_ID LIKE CONCAT('%',#{CONTENT},'%')
			</if>
			<if test="TYPE == 'NEWS_TITLE'">
				AND NEWS_TITLE LIKE CONCAT('%',#{CONTENT},'%') 
			</if>
	</where>
	ORDER BY
		USER_NEWS_ID
</select>
	
<select id="PI0100SHI0" resultType="Map">
	SELECT			USER_NEWS_ID
					,NEWS_TITLE	
	FROM			BMS_USER_NEWS_CFG_INFO
</select>
	
<select id="PI0100G0K0" resultType="Map">
	SELECT CONCAT('UN', LPAD(NEXTVAL(SEQ_BMS_USER_NEWS_CFG_INFO_0), 8, '0')) AS 'SEQ'
</select>	

<insert id="PI0100G0I0" parameterType="Map">	
	INSERT INTO BMS_USER_NEWS_CFG_INFO(
			USER_NEWS_ID
			,NEWS_TITLE
			,REMARK
			,NEWS_CONTENTS
			,USE_YN
			,CATEGORY
			,PROV_NM
			,PUB_DT
			,UPD_DTM
			,UPD_ID
			) 
	VALUES(
			#{USER_NEWS_ID}
			,#{NEWS_TITLE}
			,#{REMARK}
			,#{NEWS_CONTENTS}
			,#{USE_YN}
			,#{CATEGORY}
			,#{PROV_NM}
			,STR_TO_DATE(#{PUB_DT}, '%Y%m%d')
			,#{UPD_DTM}
			,#{UPD_ID}
			)
</insert>

<delete id="PI0100G0D0" parameterType="Map">
	DELETE FROM 
		BMS_USER_NEWS_CFG_INFO 
	WHERE 
		USER_NEWS_ID = #{USER_NEWS_ID};
</delete>

<update id="PI0100G0U0" parameterType="Map">
	UPDATE 
		BMS_USER_NEWS_CFG_INFO 
	SET 
		USER_NEWS_ID = #{USER_NEWS_ID}
		,NEWS_TITLE = #{NEWS_TITLE}
		,REMARK = #{REMARK}
		,NEWS_CONTENTS = #{NEWS_CONTENTS}
		,USE_YN = #{USE_YN}
		,CATEGORY = #{CATEGORY}
		,PROV_NM = #{PROV_NM}
		,PUB_DT = #{PUB_DT}
		,UPD_DTM = #{UPD_DTM}
		,UPD_ID = #{SSN_USER_ID}
	WHERE 
		USER_NEWS_ID = #{USER_NEWS_ID}
</update>

</mapper>