<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.bms.domain.PI0206.PI0206Mapper">
	<select id="PI0206G0R0" resultType="Map">
		SELECT 		b.REP_ROUT_NM
					,a.REP_ROUT_ID
					,a.COR_ID
					,a.COR_NM
					
		FROM		BRT_COR_MST  a
					LEFT JOIN BMS_REP_ROUT_MST b
					ON a.REP_ROUT_ID = b.REP_ROUT_ID
		<where>
			<if test="TYPE == 'ALL' and CONTENT != null and CONTENT != ''">
				COR_ID LIKE CONCAT('%',#{CONTENT},'%') || COR_NM LIKE CONCAT('%',#{CONTENT},'%') 
			</if>
			<if test="TYPE == 'COR_ID'">
				COR_ID LIKE CONCAT('%',#{CONTENT},'%')
			</if>
			<if test="TYPE == 'COR_NM'">
				COR_NM LIKE CONCAT('%',#{CONTENT},'%') 
			</if>
		</where>		
	</select>	

	<select id="PI0206G1K0" resultType="Map">
		SELECT CONCAT('AR', LPAD(NEXTVAL(SEQ_BMS_VOC_RSV_INFO_0), 8, '0')) AS 'SEQ'
	</select>

	<select id="PI0206SHI0" resultType="Map">
		SELECT		 COR_ID
					,COR_NM
		FROM	     BRT_COR_MST
	</select>

	<select id="PI0206G1R0" resultType="Map">
		SELECT
			 A.VHC_ID
			,A.VHC_NO
			,A.COMP_ID
			,A.CHAS_NO
			,A.AREA
			,A.MAKER
			,DATE_FORMAT(A.RELS_DT, '%Y-%m-%d') RELS_DT
			,A.MODEL_NM
			,A.ROUT_TYPE
			,A.VHC_TYPE
			,A.VHC_KIND
			,A.VHC_FUEL
			,A.REMARK
			,IF(C.COMPLETE_YN = 'N', '예약중', NULL) RSV_STATE
			,B.MNG_ID
			,C.RSV_ID
			,DATE_FORMAT(D.RSV_DT, '%Y-%m-%d') RSV_DT
			,IF(A.USE_YN = 'Y', '사용', NULL) USE_YN
			,E.COMP_NM
		FROM 
		 	BMS_VHC_MST A 
			LEFT JOIN BMS_DVC_INFO B 
			ON A.VHC_ID = B.VHC_ID
			LEFT JOIN BMS_VOC_RSV_RST_INFO C 
			ON B.MNG_ID = C.MNG_ID AND COMPLETE_YN = 'N'
			LEFT JOIN BMS_VOC_RSV_INFO D 
			ON C.RSV_ID = D.RSV_ID		
			LEFT JOIN BMS_TRANSCOMP_MST E 
			ON A.COMP_ID = E.COMP_ID	
		WHERE
			A.USE_YN = 'Y'
			AND B.MNG_ID IS NOT NULL
		<if test="CONTENT != null and CONTENT != ''">
			AND	A.VHC_NO LIKE CONCAT('%',#{CONTENT},'%')
		</if>				
		GROUP BY 
			A.VHC_ID
		ORDER BY 
			A.VHC_ID
	</select>
	
	
	<insert id="PI0206G1I0" parameterType="Map">
	
		<selectKey keyProperty="RSV_ID" resultType="String" order="BEFORE">
    		SELECT CONCAT('AR', LPAD(NEXTVAL(SEQ_BMS_VOC_RSV_INFO_0), 8, '0')) AS RSV_ID
    	</selectKey>	
	
			
		INSERT INTO BMS_VOC_RSV_INFO
				(
					RSV_ID
					,ROUT_ID
					,RSV_DT
				)
				
		VALUES	(
					#{RSV_ID}	
					,#{ROUT_ID}
					,#{RSV_DT}
				);
	
		INSERT INTO BMS_VOC_RSV_RST_INFO
				(
					RSV_ID
					,MNG_ID
					,COMPLETE_YN
				)
				VALUES(
					#{RSV_ID}
					,#{MNG_ID}
					,'N'
				);
		
	</insert>

	<update id="PI0206G1U0" parameterType="Map">
		UPDATE		BMS_VOC_RSV_RST_INFO
		SET			
					PROCE_RST = 'PR008'
				,	SEND_DTM = NOW()
				,	COMPLETE_YN = 'Y'
		WHERE		
					RSV_ID = #{RSV_ID}
	</update>
	
	<select id="PI0206G2R0" resultType="Map">
		SELECT 		
			VHC.VHC_ID
			,VHC.VHC_NO
			,DVC.MNG_ID
			,RST.PROCE_RST
			,DATE_FORMAT(RST.SEND_DTM, '%Y-%m-%d') SEND_DTM
			,VHC.CHAS_NO
			,VHC.MAKER
			,VHC.AREA
			,TSM.COMP_NM
			,DATE_FORMAT(VHC.RELS_DT, '%Y-%m-%d') RELS_DT
			,VHC.MODEL_NM
			,VHC.VHC_KIND
			,VHC.ROUT_TYPE
			,VHC.VHC_TYPE
			,VHC.VHC_FUEL
			,IF(VHC.USE_YN = 'Y', '사용', NULL) USE_YN
			,VHC.REMARK	
			,DATE_FORMAT(RSV.RSV_DT, '%Y-%m-%d') RSV_DT
			,IF(RST.COMPLETE_YN = 'N', '예약중', '예약종료') RSV_STATE					
		FROM		
			BMS_VHC_MST VHC
			LEFT JOIN BMS_DVC_INFO DVC
			ON VHC.VHC_ID = DVC.VHC_ID
			LEFT JOIN BMS_VOC_RSV_RST_INFO RST
			ON DVC.MNG_ID = RST.MNG_ID
			LEFT JOIN BMS_VOC_RSV_INFO RSV
			ON RST.RSV_ID = RSV.RSV_ID
			LEFT JOIN BMS_TRANSCOMP_MST	TSM
			ON VHC.COMP_ID = TSM.COMP_ID
		WHERE		
			VHC.VHC_ID = #{VHC_ID}
		<if test="RSV_STATE == '예약중'">
			AND RST.COMPLETE_YN = 'N'
		</if>
		<if test="RSV_STATE == '예약종료'">
			AND RST.COMPLETE_YN = 'Y'
		</if>			
		<if test="RSV_DT != null">
			AND DATE_FORMAT(RSV.RSV_DT, '%Y%m') = ${RSV_DT}
		</if>	
		ORDER BY
			RSV.RSV_DT
	</select>
	
	<select id="PI0206G1R1" resultType="Map">
		SELECT
		 	DVC.MNG_ID
		 	,DVC.DVC_ID
		FROM
			BMS_VHC_MST VHC
			LEFT JOIN BMS_DVC_INFO DVC 
			ON VHC.VHC_ID = DVC.VHC_ID
		WHERE
			MNG_ID IS NOT NULL
	</select>
	
	<select id="selectDvcCd" parameterType="Map" resultType="Map">
		SELECT
			  A.VHC_ID
			, SUBSTRING(A.MNG_ID, 1, 10) AS IMP_ID
			, A.DVC_ID
			, A.MNG_ID
			, A.DVC_KIND
			, B.DL_CD
			, B.DL_CD_NM
			, B.TXT_VAL1
			, B.TXT_VAL2
			, B.TXT_VAL3
			, B.NUM_VAL4
			, B.NUM_VAL5
			, B.NUM_VAL6
		FROM BMS_DVC_INFO A
			LEFT JOIN BMS_DL_CD_INFO B ON A.DVC_KIND = B.DL_CD    
		WHERE A.VHC_ID = #{VHC_ID}
			AND B.CO_CD = 'DVC_KIND'
		    AND B.TXT_VAL1 = 'RD'
		    AND B.USE_YN = 'Y'
	</select>
	
	<select id="selectRouteInfo" parameterType="String" resultType="Map">
		SELECT
			A.ROUT_ID
			, A.REP_ROUT_ID
			, A.INT_ROUT_ID
			, A.REP_ROUT_NM
			, A.ROUT_NM
			, A.WAY_DIV
			, B.TXT_VAL1
		FROM BMS_ROUT_MST A
			LEFT JOIN BMS_DL_CD_INFO B ON A.WAY_DIV = B.DL_CD AND B.CO_CD = 'WAY_DIV'
		WHERE ROUT_ID = #{routeId}
	</select>
 
 	<!-- 코스정보 JH -->
 	<select id="selectCourseInfo" parameterType="String" resultType="Map">
 		SELECT
			A.COR_ID
		    , A.REP_ROUT_ID
		    , A.COR_NM
		    , B.ROUT_ID
		    , B.ROUT_SN
		FROM
			BRT_COR_MST A
		    LEFT JOIN BRT_COR_DTL_INFO B
		    ON A.COR_ID = B.COR_ID
		WHERE
			A.COR_ID = #{courseId}
		ORDER BY
			COR_ID, ROUT_SN
 	</select>
 	
 	<!-- 노선리스트 JH -->
 	<select id="selectRoutList" parameterType="Map" resultType="Map">
 		SELECT DISTINCT
			ROUT_ID
		FROM
			BRT_COR_DTL_INFO
		WHERE
			COR_ID IN (
			<foreach collection="courseList" item="item" separator=",">
				#{item.COR_ID}
			</foreach>
			)
		ORDER BY ROUT_ID
 	</select>
 	
 	<!-- 노드리스트 JH -->
 	<select id="selectAllNodeList" parameterType="Map" resultType="Map">
 		SELECT DISTINCT
			A.NODE_ID
		    , A.NODE_NM
		    , IFNULL(B.TXT_VAL1, (SELECT TXT_VAL1 FROM BMS_DL_CD_INFO WHERE DL_CD = 'NT003')) AS NODE_TYPE
		    , '30' AS 'RANGE'
		    , TRUNCATE(A.GPS_X, 6) AS X
		    , TRUNCATE(A.GPS_Y, 6) AS Y
		FROM
			BMS_ROUT_NODE_CMPSTN A
			INNER JOIN BMS_ROUT_MST R ON A.ROUT_ID = R.ROUT_ID AND R.DEL_YN !='Y' 
			LEFT JOIN BMS_DL_CD_INFO B
			ON A.NODE_TYPE = B.DL_CD
		WHERE
			A.NODE_TYPE IN ('NT001', 'NT003', 'NT004', 'NT007');
 	</select>
 	
 	<!-- 정류장노드, 음성노드 리스트 JH -->
 	<select id="selectStnAudioList" resultType="Map">
 		SELECT DISTINCT
			STTN_ID AS NODE_ID
		    , REPLACE(STTN_NM, ',', '.') AS NODE_NM
		    , '1' AS 'NODE_TYPE'
		    , '30' AS 'RANGE'
		    , TRUNCATE(GPS_X, 6) AS X
		    , TRUNCATE(GPS_Y, 6) AS Y
		    , IFNULL(REPLACE(STTN_ENM, ',', '.'), '') AS NODE_ENAME
 	<![CDATA[, IF(IFNULL(IF(LINE_CNT >= 3, 2, LINE_CNT -1), 0) < 0, 0, IFNULL(IF(LINE_CNT >= 3, 2, LINE_CNT -1), 0)) AS TRANSIT_CODE]]>
 			, IFNULL(B.TXT_VAL1, "") AS DOOR
		FROM
			(BMS_STTN_MST A
            LEFT JOIN BMS_DL_CD_INFO B
            ON A.VHC_DOOR_DIR_TYPE = B.DL_CD  AND A.DEL_YN!='Y') 
		WHERE
			A.USE_YN = 'Y'
		
		UNION ALL
		
		SELECT DISTINCT
			ORGA_ID AS NODE_ID
		    , REPLACE(ORGA_NM, ',', '.') AS NODE_NM
		    , '898' AS 'NODE_TYPE'
		    , '30' AS 'RANGE'
		    , TRUNCATE(GPS_X, 6) AS X
		    , TRUNCATE(GPS_Y, 6) AS Y
		    , "" AS NODE_ENAME
		    , "" AS TRANSIT_CODE
		    , "" AS DOOR 
		FROM
			BMS_VOC_ORGA_INFO
		WHERE
			GPS_X IS NOT NULL
			AND GPS_Y IS NOT NULL
 	</select>
 	
 	<!-- 노선별 노드 리스트 오름차순 JH -->
 	<select id="selectRoutNodeList" resultType="Map" parameterType="String">
 		SELECT
			IF(A.NODE_TYPE = 'NT006', A.ORGA_ID, A.NODE_ID) AS NODE_ID
		FROM BMS_ROUT_NODE_CMPSTN A
			INNER JOIN BMS_ROUT_MST R ON A.ROUT_ID = R.ROUT_ID AND R.DEL_YN !='Y' 
		WHERE
			A.ROUT_ID = #{routId}
		ORDER BY NODE_SN ASC
 	</select>
	
	<!-- 노선 정보 리스트  jh -->	
	<select id="selectRoutInfoList" parameterType="String" resultType="Map">
		SELECT
			A.ROUT_ID			AS ROUT_ID
			, A.REP_ROUT_ID		AS REP_ROUT_ID
			, A.INT_ROUT_ID		AS INT_ROUT_ID
			, A.REP_ROUT_NM		AS REP_ROUT_NM
			, REPLACE(A.ROUT_NM, ',', '.') AS ROUT_NM
			, B.DL_CD_NM		AS WAY_DIV
		FROM BMS_ROUT_MST A
			LEFT JOIN BMS_DL_CD_INFO B ON A.WAY_DIV = B.DL_CD AND B.CO_CD = 'WAY_DIV'
		WHERE ROUT_ID IN
			(
			<foreach collection="routList" item="item" separator=",">
				#{item}
			</foreach> 
			)
	</select>
	
	<!-- 노선별 링크 리스트 JH -->
	<select id="selectRoutLinkList" resultType="Map" parameterType="String">
		SELECT
			A.LINK_ID		AS LINK_ID
		    , IFNULL(B.ST_NODE_ID, "")	AS ST_NODE
		    , IFNULL(B.ED_NODE_ID, "")	AS ED_NODE
		    , IFNULL(B.LEN, "")			AS LEN
		    , IFNULL(B.MAX_SPD, (SELECT TXT_VAL1 FROM BMS_DL_CD_INFO WHERE CO_CD = 'SYS_INFO' AND DL_CD = 'SY013'))		AS MAX_SPD
		    , IFNULL(C.TXT_VAL1, "")	AS EVENT_MS
		FROM
			BMS_ROUT_LINK_CMPSTN A
		    LEFT JOIN BMS_LINK_MST B
		    ON A.LINK_ID = B.LINK_ID
		    LEFT JOIN BMS_DL_CD_INFO C
			ON A.MORN_STD = C.DL_CD
		WHERE ROUT_ID = #{routId}
		ORDER BY LINK_SN
	</select>
	
	<!-- 노선별 음성편성 리스트 JH -->
	<select id="selectRoutOrgaList" resultType="Map" parameterType="String">
		SELECT
			B.ORGA_ID	AS ORGA_ID
		    , REPLACE(B.ORGA_NM, ',', '.')	AS ORGA_NM
		    , IFNULL(B.REMARK, "")	AS REMARK
		FROM
			BMS_ROUT_NODE_CMPSTN A
			INNER JOIN BMS_ROUT_MST R
				ON A.ROUT_ID = R.ROUT_ID AND R.DEL_YN !='Y'
		    LEFT JOIN BMS_VOC_ORGA_INFO B
		    ON A.ORGA_ID = B.ORGA_ID
		WHERE
			A.ROUT_ID = #{routId} AND NODE_TYPE = 'NT006'
	</select>
 	
 	<!-- 음성편성별 음성정보 리스트 jh -->
 	<select id="selectOrgaVocList" resultType="Map" parameterType="String">
		SELECT
			A.ORGA_ID	AS 'ORGA_ID'
		    , A.SN		AS 'SEQ'
		    , CAST(C.NUM_VAL4 AS INTEGER) AS 'VOC_CODE'
		    , IFNULL(A.VOC_ID, "")	AS 'VOC_ID'
		    , IFNULL(B.PLAY_TYPE, "")	AS 'PLAY_TYPE'
		    , IFNULL(B.PLAY_ST_DT, "")	AS 'START_DATE'
		    , IFNULL(B.PLAY_ED_DT, "")	AS 'EXPIRE_DATE'
		    , IFNULL(B.SCR_TXT, "")	AS 'TEXT'
		    , IFNULL(B.SCR_TXT_EN, "") AS 'EN_TEXT'
		FROM
			BMS_VOC_ORGA_LIST A
		    LEFT JOIN BMS_VOC_INFO B
		    ON A.VOC_ID = B.VOC_ID
		    LEFT JOIN BMS_DL_CD_INFO C
		    ON B.VOC_DIV = C.DL_CD
		WHERE
			A.ORGA_ID = #{orgaId}
			AND B.PLAY_ED_DT >= DATE_FORMAT(NOW(), '%Y-%m-%d')
 	</select>
 	
    <select id="isExistIld" parameterType="String" resultType="String">
    	SELECT
    		COUNT(*) AS COUNT
    	FROM
    		BMS_INNER_LED_INFO
    	WHERE
    		VOC_ID = CONCAT(#{value})
    </select>
    
    <select id="selectCourseInfoList" resultType="Map" parameterType="String">
    	SELECT
			COR_ID
			, REPLACE(COR_NM, ',', '.') AS COR_NM
			, REPLACE(COR_NM, ',', '.') AS COR_ENM
		FROM
			BRT_COR_MST
		WHERE
			COR_ID IN (
			<foreach collection="courseList" item="item" separator=",">
				#{item}
			</foreach> 
			)
    </select>
    
    <select id="selectCourseRoutList" resultType="Map" parameterType="String">
    	SELECT
			COR_ID
		    , ROUT_SN AS SEQ
		    , ROUT_ID
		FROM
			BRT_COR_DTL_INFO
		WHERE
			COR_ID = #{courseId}
		ORDER BY SEQ ASC
    </select>
    
    <select id="makeRoutNewRow" resultType="Map" parameterType="String">
    	SELECT
			ROUT_ID AS FILE_NAME
		    , REPLACE(ROUT_NM, ',', '.') AS ROUT_NM
		    , REPLACE(ROUT_NM, ',', '.') AS ROUT_ENM
			, CONCAT(SUBSTR(DATE_FORMAT(A.UPD_DTM, '%Y%m%d'), 3), "00") AS VERSION
			, IFNULL(DVC_NM, "")		AS DESTI_NO
			, IFNULL(C.TXT_VAL1, "")	AS ROUT_SHAPE
			, (SELECT IFNULL(CONCAT(MIN(ROUT_ST_TM), " ~ ",  MAX(ROUT_ST_TM)), "") FROM BRT_OPER_ALLOC_PL_ROUT_INFO WHERE ROUT_ID = #{routId} AND DAY_DIV = 'DY001') AS DAY1
			, (SELECT IFNULL(CONCAT('1일 ', CAST(COUNT(*) AS CHAR), '회 운행'), "") FROM BRT_OPER_ALLOC_PL_ROUT_INFO WHERE ROUT_ID = #{routId} AND DAY_DIV = 'DY001') AS DAY2
			, (SELECT IFNULL(CONCAT(MIN(ROUT_ST_TM), " ~ ",  MAX(ROUT_ST_TM)), "") FROM BRT_OPER_ALLOC_PL_ROUT_INFO WHERE ROUT_ID = #{routId} AND DAY_DIV = 'DY002') AS SATDAY1
			, (SELECT IFNULL(CONCAT('1일 ', CAST(COUNT(*) AS CHAR), '회 운행'), "") FROM BRT_OPER_ALLOC_PL_ROUT_INFO WHERE ROUT_ID = #{routId} AND DAY_DIV = 'DY002') AS SATDAY2
			, (SELECT IFNULL(CONCAT(MIN(ROUT_ST_TM), " ~ ",  MAX(ROUT_ST_TM)), "") FROM BRT_OPER_ALLOC_PL_ROUT_INFO WHERE ROUT_ID = #{routId} AND DAY_DIV = 'DY002') AS SUNDAY1
			, (SELECT IFNULL(CONCAT('1일 ', CAST(COUNT(*) AS CHAR), '회 운행'), "") FROM BRT_OPER_ALLOC_PL_ROUT_INFO WHERE ROUT_ID = #{routId} AND DAY_DIV = 'DY002') AS SUNDAY2
			, REP_ROUT_NM AS REP_NAME
		FROM BMS_ROUT_MST A
			LEFT JOIN BMS_DL_CD_INFO B ON A.WAY_DIV = B.DL_CD AND B.CO_CD = 'WAY_DIV'
			LEFT JOIN BMS_DL_CD_INFO C ON A.SHAPE_DIV = C.DL_CD AND C.CO_CD = 'SHAPE_DIV'
		WHERE ROUT_ID = #{routId}
    </select>
    
    <!-- 카카오맵 api 키 쿼리 -->
    <select id="selectAPIKey" resultType="String">
    	SELECT
			REMARK
		FROM
			BMS_DL_CD_INFO
		WHERE
			CO_CD = 'KEY_API'
		    AND DL_CD = 'KA002'
    </select>
</mapper>