<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.tracom.bms.domain.PI0201.PI0201Mapper">

	<select id="PI0201G0R0" resultType="Map" parameterType="Map">
		SELECT
			VOC_ID
			,VOC_NM
			,PLAY_TYPE
			,PLAY_TM
			,DATE_FORMAT(PLAY_ST_DT, '%Y%m%d') AS PLAY_ST_DT
			,DATE_FORMAT(PLAY_ED_DT, '%Y%m%d') AS PLAY_ED_DT
			,KR_TTS
			,EN_TTS
			,SCR_TXT
			,SCR_TXT_EN
			,STTN_TEXT_A
			,STTN_TEXT_B
			,STTN_TEXT_A_EN
			,STTN_TEXT_B_EN
			,REMARK
			,CONCAT(DATE_FORMAT(PLAY_ST_DT, '%Y-%m-%d'), ' ~ ', DATE_FORMAT(PLAY_ED_DT, '%Y-%m-%d')) PLAY_DATE
		FROM
			BMS_VOC_INFO
		
		<where>
			VOC_DIV = 'VD001'
			<if test="TYPE == 'ALL' and CONTENT != null and CONTENT != ''">
				AND VOC_ID LIKE CONCAT('%',#{CONTENT},'%') || VOC_NM LIKE CONCAT('%',#{CONTENT},'%') 
			</if>
			<if test="TYPE == 'VOC_ID'">
				AND VOC_ID LIKE CONCAT('%',#{CONTENT},'%')
			</if>
			<if test="TYPE == 'VOC_NM'">
				AND VOC_NM LIKE CONCAT('%',#{CONTENT},'%') 
			</if>
		</where>
	</select>
	
	<select id="PI0201SHI0" resultType="Map" parameterType="Map">
		select  VOC_ID, VOC_NM
		from 	BMS_VOC_INFO
	</select>
	
	<select id="PI0201G0K0" resultType="Map">
		SELECT CONCAT('BV', LPAD(NEXTVAL(SEQ_BMS_VOC_INFO_1), 8, '0')) AS 'SEQ'
	</select>	

	<insert id="PI0201G0I0" parameterType="Map">	
		INSERT INTO BMS_VOC_INFO(
			VOC_ID
			,ROUT_ID
			,VOC_NM
			,PLAY_ST_DT
			,PLAY_TYPE
			,KR_TTS
			,EN_TTS
			,SCR_TXT
			,SCR_TXT_EN
			,REMARK
			,PLAY_TM
			,VOC_DIV
			,CON_ID
			,PLAY_ED_DT
			,STTN_TEXT_A
			,STTN_TEXT_A_EN
			,STTN_TEXT_B
			,STTN_TEXT_B_EN
			,UPD_DTM
			,UPD_ID
			) 
		VALUES (
			#{VOC_ID}
			,#{ROUT_ID}
			,#{VOC_NM}
			,STR_TO_DATE(#{PLAY_ST_DT}, '%Y%m%d')
			,#{PLAY_TYPE}
			,#{KR_TTS}
			,#{EN_TTS}
			,#{SCR_TXT}
			,#{SCR_TXT_EN}
			,#{REMARK}
			,#{PLAY_TM}
			,'VD001'
			,#{CON_ID}
			,STR_TO_DATE(#{PLAY_ED_DT}, '%Y%m%d')
			,#{STTN_TEXT_A}
			,#{STTN_TEXT_A_EN}
			,#{STTN_TEXT_B}
			,#{STTN_TEXT_B_EN}
			,#{UPD_DTM}
			,#{UPD_ID}
			)
	</insert>

	<delete id="PI0201G0D0" parameterType="Map">
		DELETE FROM BMS_VOC_INFO 
		WHERE VOC_ID = #{VOC_ID};
	</delete>
	
	<update id="PI0201G0U0" parameterType="Map">
		UPDATE 
			BMS_VOC_INFO 
		SET 
			ROUT_ID = #{ROUT_ID}
			,VOC_NM = #{VOC_NM}
			,PLAY_ST_DT = STR_TO_DATE(#{PLAY_ST_DT}, '%Y%m%d')
			,PLAY_TYPE = #{PLAY_TYPE}
			,KR_TTS = #{KR_TTS}
			,EN_TTS = #{EN_TTS}
			,SCR_TXT = #{SCR_TXT}
			,SCR_TXT_EN = #{SCR_TXT_EN}
			,REMARK = #{REMARK}
			,PLAY_TM = #{PLAY_TM}
			,VOC_DIV = 'VD001'
			,CON_ID = #{CON_ID}
			,PLAY_ED_DT = STR_TO_DATE(#{PLAY_ED_DT}, '%Y%m%d')
			,STTN_TEXT_A = #{STTN_TEXT_A}
			,STTN_TEXT_A_EN = #{STTN_TEXT_A_EN}
			,STTN_TEXT_B = #{STTN_TEXT_B}
			,STTN_TEXT_B_EN = #{STTN_TEXT_B_EN}
			,UPD_DTM = #{UPD_DTM}
			,UPD_ID = #{UPD_ID} 
		WHERE 
			VOC_ID = #{VOC_ID}
	</update>
	
</mapper>