<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.tracom.bms.domain.PI0203.PI0203Mapper">

	<select id="PI0203G0R0" resultType="Map" parameterType="Map">
    	SELECT
		    		  VOC.VOC_ID
		    		, VOC.VOC_NM
		    		, DATE_FORMAT(VOC.PLAY_ST_DT, '%Y%m%d') PLAY_ST_DT
		    		, VOC.PLAY_TYPE
		    		, VOC.KR_TTS
		    		, VOC.SCR_TXT
		    		, VOC.VOC_DIV
		    		, VOC.REMARK
		    		, VOC.PLAY_TM
		    		, DATE_FORMAT(VOC.PLAY_ED_DT, '%Y%m%d') PLAY_ED_DT
		    		, CONCAT(DATE_FORMAT(VOC.PLAY_ST_DT, '%Y-%m-%d'), ' ~ ', DATE_FORMAT(VOC.PLAY_ED_DT, '%Y-%m-%d')) PLAY_DATE
		    		, LED.TXT_A
		    		, LED.TXT_B
    	FROM
    				BMS_VOC_INFO VOC
    				
    	LEFT JOIN 	BMS_INNER_LED_INFO LED
    	ON			CONCAT(VOC.VOC_ID, 'K') = LED.VOC_ID
    				
    	WHERE
    				VOC.VOC_DIV = 'VD003'
    				
		<if test="TYPE == 'ALL' and CONTENT != null and CONTENT != ''">
			AND VOC.VOC_ID LIKE CONCAT('%',#{CONTENT},'%') || VOC_NM LIKE CONCAT('%',#{CONTENT},'%') 
		</if>
		<if test="TYPE == 'VOC_ID'">
			AND VOC.VOC_ID LIKE CONCAT('%',#{CONTENT},'%')
		</if>
		<if test="TYPE == 'VOC_NM'">
			AND VOC_NM LIKE CONCAT('%',#{CONTENT},'%') 
		</if>			
    	ORDER BY	VOC.VOC_ID						
	</select>
	
	<select id="PI0203G0K0" resultType="Map">
		SELECT 		  CONCAT('EV', LPAD(NEXTVAL(SEQ_BMS_VOC_INFO_3), 8, '0')) AS 'SEQ'
	</select>
		
	<select id="PI0203SHI0" resultType="Map">
		SELECT    	VOC_ID
					,VOC_NM
					
		FROM		BMS_VOC_INFO
		WHERE		VOC_DIV = 'VD003'
	</select>	

	<insert id="PI0203G0I0" parameterType="Map">	
     	<selectKey keyProperty="ILD_ID" resultType="String" order="BEFORE">
    		SELECT CONCAT('IL', LPAD(NEXTVAL(SEQ_BMS_INNER_LED_INFO_0), 8, '0'))
    	</selectKey>
    	   	
    	INSERT INTO BMS_VOC_INFO
    		(
    		  VOC_ID
    		, VOC_NM
    		, PLAY_ST_DT
    		, PLAY_TYPE
    		, KR_TTS
    		, SCR_TXT
    		, REMARK
    		, PLAY_TM
    		, VOC_DIV
    		, PLAY_ED_DT
			, UPD_DTM
			, UPD_ID    		
    		)
   		VALUES
   			(
   			  #{VOC_ID}
   			, #{VOC_NM}
   			, STR_TO_DATE(#{PLAY_ST_DT}, '%Y%m%d')
   			, #{PLAY_TYPE}
   			, #{KR_TTS}
   			, #{SCR_TXT}
   			, #{REMARK}
   			, #{PLAY_TM}
   			, 'VD003'
   			, STR_TO_DATE(#{PLAY_ED_DT}, '%Y%m%d')   			
   			, #{UPD_DTM}
   			, #{SSN_USER_ID}
   			);
   		
      	INSERT INTO BMS_INNER_LED_INFO
      		(
    		  ILD_ID
    		, TXT_A
    		, TXT_B
    		, VOC_ID
    		, TXT_CD
    		, UPD_DTM
    		, UPD_ID
    		)
    	VALUES
    		(
    		  #{ILD_ID}
    		, REPLACE(REPLACE(#{TXT_A}, '\r\n', ' '), '\r', '')
    		, REPLACE(REPLACE(#{TXT_B}, '\r\n', ' '), '\r', '')
    		, CONCAT(#{VOC_ID}, 'K')
    		, 'TC006'
    		, #{UPD_DTM}
    		, #{SSN_USER_ID}
    		) 		
   		
	</insert>

	<delete id="PI0203G0D0" parameterType="Map">
		DELETE FROM BMS_VOC_INFO 
		WHERE VOC_ID = #{VOC_ID};
		
		DELETE FROM BMS_INNER_LED_INFO
		WHERE VOC_ID = CONCAT(#{VOC_ID}, 'K')
	</delete>
	
	<update id="PI0203G0U0" parameterType="Map">
		UPDATE		 BMS_VOC_INFO 
		SET
					  VOC_NM = #{VOC_NM}
					, PLAY_ST_DT = STR_TO_DATE(#{PLAY_ST_DT}, '%Y%m%d')
					, PLAY_TYPE = #{PLAY_TYPE}
					, KR_TTS = #{KR_TTS}
					, EN_TTS = #{EN_TTS}
					, SCR_TXT = #{SCR_TXT}
					, SCR_TXT_EN = #{SCR_TXT_EN}
					, REMARK = #{REMARK}
					, PLAY_TM = #{PLAY_TM}
					, VOC_DIV = #{VOC_DIV}
					, PLAY_ED_DT = STR_TO_DATE(#{PLAY_ED_DT}, '%Y%m%d')
					, UPD_DTM = #{UPD_DTM}
					, UPD_ID = #{SSN_USER_ID} 
		
		WHERE 		VOC_ID = #{VOC_ID};
		
		
		UPDATE		BMS_INNER_LED_INFO
		SET			
		    		  TXT_A			=	REPLACE(REPLACE(#{TXT_A}, '\r\n', ' '), '\r', '')
		    		, TXT_B			=	REPLACE(REPLACE(#{TXT_B}, '\r\n', ' '), '\r', '')
		    		, TXT_CD		=	'TC006'
		WHERE	
					VOC_ID = CONCAT(#{VOC_ID}, 'K')	
	</update>
	
</mapper>