<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.bms.domain.PI0503.PI0503Mapper">
	<select id="PI0503G0R0" resultType="Map">
		select  ORGA_ID,
				ORGA_NM,
				REMARK,
			   (select COUNT(ORGA_ID)
				FROM BMS_VDO_ORGA_LIST b
				WHERE b.ORGA_ID = a.ORGA_ID) VIDEO_COUNT,
			   (select SUM(PLAY_TM)
				FROM BMS_VDO_INFO c, BMS_VDO_ORGA_LIST b
				WHERE c.VDO_ID = b.VDO_ID
				AND a.ORGA_ID = b.ORGA_ID) TOTAL_TIME
		
	
		from	BMS_VDO_ORGA_INFO a
		<where>
			<if test="TYPE == 'ALL' and CONTENT != null and CONTENT != ''">
				AND ORGA_ID LIKE CONCAT('%',#{CONTENT},'%') || ORGA_NM LIKE CONCAT('%',#{CONTENT},'%') 
			</if>
			<if test="TYPE == 'ORGA_ID'">
				AND ORGA_ID LIKE CONCAT('%',#{CONTENT},'%')
			</if>
			<if test="TYPE == 'ORGA_NM'">
				AND ORGA_NM LIKE CONCAT('%',#{CONTENT},'%') 
			</if>
		</where>
	</select>	

	<select id="PI0503SHI0" resultType="Map">
		select  VHC_ID, VHC_NO
		from BMS_VHC_MST
	</select>

	<select id="PI0503G1R0" resultType="Map">
		select	a.VHC_ID,
				VHC_NO,
				RSV_ID,
				a.MNG_ID,
				DATE_FORMAT(RSV_DT, '%Y%m%d') RSV_DT,
				ORGA_ID,
				DVC_KIND,
				INST_LOC,
				DVC_ID,
				(CASE WHEN RSV_ID IS NOT NULL THEN '예약중' END) AS RSV_STATE
		from BMS_DVC_INFO a LEFT JOIN BMS_VHC_MST b 
		on a.VHC_ID = b.VHC_ID LEFT JOIN BMS_VDO_RSV_INFO c
		on a.MNG_ID = c.MNG_ID
		order by a.VHC_ID		
	</select>
	
	<insert id="PI0503G1I0" parameterType="Map">
		insert into BMS_VDO_RSV_INFO
				(
					RSV_ID,
					MNG_ID,
					RSV_DT,
					ORGA_ID,
					UPD_DTM,
					UPD_ID
				)	
				   
		values (
					(
						SELECT CONCAT('RV', LPAD(NEXTVAL(SEQ_BMS_VDO_RSV_INFO_0), 8, '0')) AS RSV_ID
					), 
					#{MNG_ID},
					STR_TO_DATE(#{RSV_DT}, '%Y%m%d'),
					#{ORGA_ID},
					#{UPD_DTM},
					#{SSN_USER_ID}
				)
	</insert>

<!-- 	<update id="PI0503G1U0" parameterType="Map">
		update BMS_VHC_MST
		set 	COMP_ID = #{COMP_ID},
				AREA = #{AREA},
				VHC_NO = #{VHC_NO},
				CHAS_NO = #{CHAS_NO},
				MAKER = #{MAKER},
				RELS_DT = STR_TO_DATE(#{RELS_DT}, '%Y%m%d'),
				MODEL_NM = #{MODEL_NM},
				VHC_KIND = #{VHC_KIND},
				ROUT_DIV = #{ROUT_DIV},
				VHC_TYPE = #{VHC_TYPE},
				VHC_FUEL = #{VHC_FUEL},
				VHC_STS = #{VHC_STS},
				PSG_CNT = #{PSG_CNT},
				SPARE_YN = #{SPARE_YN},
				SCRAP_YN = #{SCRAP_YN},
				APPL_ST_DT = STR_TO_DATE(#{APPL_ST_DT}, '%Y%m%d'),
				APPL_ED_DT = STR_TO_DATE(#{APPL_ED_DT}, '%Y%m%d'),
				USE_YN = #{USE_YN},
				REMARK = #{REMARK},
				UPD_DTM = #{UPD_DTM}
		where VHC_ID = #{VHC_ID}
	</update> -->
	
	<delete id="PI0503G1D0" parameterType="Map">
		delete
		from BMS_VDO_RSV_INFO
		where RSV_ID = #{RSV_ID}
	</delete>


</mapper>