<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.tracom.bms.domain.PI0603.PI0603Mapper">
	<select id="PI0603G0R0" resultType="Map">
		SELECT  	 A.ORGA_ID
					,A.ORGA_NM
					,A.REMARK
					,COUNT(A.ORGA_ID) VIDEO_COUNT
					,SUM(C.PLAY_TM) TOTAL_TIME
				
		FROM 	 	 BMS_BIT_VDO_ORGA_INFO A
		LEFT JOIN 	 BMS_BIT_VDO_ORGA_LIST B
		ON		 	 A.ORGA_ID = B.ORGA_ID	
		LEFT JOIN	 BMS_BIT_VDO_INFO C
		ON   	     B.VDO_ID = C.VDO_ID

		<where>
			<if test="TYPE == 'ALL' and CONTENT != null and CONTENT != ''">
				AND A.ORGA_ID LIKE CONCAT('%',#{CONTENT},'%') || A.ORGA_NM LIKE CONCAT('%',#{CONTENT},'%') 
			</if>
			<if test="TYPE == 'ORGA_ID'">
				AND A.ORGA_ID LIKE CONCAT('%',#{CONTENT},'%')
			</if>
			<if test="TYPE == 'ORGA_NM'">
				AND A.ORGA_NM LIKE CONCAT('%',#{CONTENT},'%') 
			</if>
		</where>
		GROUP BY 	 A.ORGA_ID, A.ORGA_NM, A.REMARK		
	</select>	

	<select id="PI0603SHI0" resultType="Map">
		SELECT		 ORGA_ID
					,ORGA_NM
		FROM	     BMS_BIT_VDO_ORGA_INFO
	</select>

	<select id="PI0603G1R0" resultType="Map">
		SELECT	  	 FCLT.FCLT_ID
					,FCLT.NODE_ID
					,NODE.NODE_NM
					,FCLT.FCLT_KIND
					,FCLT.FCLT_TYPE
					,FCLT.INST_LOC
					,FCLT.MNG_ID
					,IF(RST.COMPLETE_YN = 'N' OR RST.PROCE_RST != 'PR008', '예약중', NULL) RSV_STATE
					,RSV.RSV_ID
					,IF(RST.COMPLETE_YN = 'N' OR RST.PROCE_RST != 'PR008', DATE_FORMAT(RSV.RSV_DT, '%Y-%m-%d'), NULL) RSV_DT
		
		FROM 		BMS_FCLT_INFO FCLT 
		LEFT JOIN 	BMS_NODE_MST NODE
		ON 			FCLT.NODE_ID = NODE.NODE_ID
		LEFT JOIN	BMS_BIT_VDO_RSV_INFO RSV
		ON			FCLT.MNG_ID = RSV.MNG_ID
		LEFT JOIN 	BMS_BIT_VDO_RSV_RST_INFO RST
		ON			RSV.MNG_ID = RST.MNG_ID AND RST.COMPLETE_YN = 'N'
		<where>
			
			<if test="CONTENT != null and CONTENT != ''">
			AND	NODE.NODE_NM LIKE CONCAT('%',#{CONTENT},'%')
			</if>
		</where>		
		GROUP BY 	FCLT.MNG_ID 
		ORDER BY	FCLT.FCLT_ID, FCLT.NODE_ID		
	</select>
	
	<select id="PI0603G2R0" resultType="Map">
		SELECT 		NODE.NODE_NM
					,RST.RSV_ID
					,IF(RST.COMPLETE_YN = 'N', '예약중', '예약종료') RSV_STATE	
					,DATE_FORMAT(RSV.RSV_DT, '%Y-%m-%d') RSV_DT
					,RST.PROCE_RST					
					,DATE_FORMAT(RST.SEND_DATE, '%Y-%m-%d') SEND_DATE		
					,FCLT.MNG_ID
					,FCLT.MAKER
					,FCLT.FCLT_KIND		
					,FCLT.INST_LOC
				
		FROM	  		BMS_BIT_VDO_RSV_RST_INFO RST
			LEFT JOIN	BMS_BIT_VDO_RSV_INFO RSV
			ON			RST.RSV_ID = RSV.RSV_ID
			LEFT JOIN	BMS_FCLT_INFO FCLT
			ON			RST.MNG_ID = FCLT.MNG_ID
			LEFT JOIN	BMS_NODE_MST NODE
			ON			FCLT.NODE_ID = NODE.NODE_ID
		
		WHERE			FCLT.NODE_ID =#{NODE_ID}
			
			<if test="RSV_STATE == '예약중'">
				AND RST.COMPLETE_YN = 'N'
			</if>
			<if test="RSV_STATE == '예약종료'">
				AND RST.COMPLETE_YN = 'Y'
			</if>			
			<if test="RSV_DT != null">
				AND DATE_FORMAT(RSV.RSV_DT, '%Y%m') = ${RSV_DT}
			</if>			
		ORDER BY	RSV.RSV_DT	
	</select>
	
	<insert id="PI0603G1I0" parameterType="Map">
		
		<selectKey keyProperty="RSV_ID" resultType="String" order="BEFORE">
    		SELECT CONCAT('RS', LPAD(NEXTVAL(SEQ_BMS_BIT_VDO_RSV_INFO_0), 8, '0')) AS RSV_ID
    	</selectKey>
	
		INSERT INTO BMS_BIT_VDO_RSV_INFO
				(
					RSV_ID
				    ,MNG_ID
					,RSV_DT
					,ORGA_ID
					,UPD_DTM
					,UPD_ID
				)	
				   
		values (
					#{RSV_ID}
					,#{MNG_ID}
					,STR_TO_DATE(#{RSV_DT}, '%Y%m%d')
					,#{ORGA_ID}
					,#{UPD_DTM}
					,#{SSN_USER_ID}
				);
	<!-- </insert> -->
	
	<!-- <insert id="PI0603G1I1" parameterType="Map"> -->
		INSERT INTO
		 	BMS_BIT_VDO_RSV_RST_INFO
				(
				  RSV_ID
				, MNG_ID
				, COMPLETE_YN
				)	
				   
		VALUES (
				#{RSV_ID}
				, #{MNG_ID}
				, 'N'
				)
	</insert>

<!-- 	<update id="PI0603G1U0" parameterType="Map">
		update BMS_BIT_VHC_MST
		set 	COMP_ID = #{COMP_ID},
				AREA = #{AREA},
				VHC_NO = #{VHC_NO},
				CHAS_NO = #{CHAS_NO},
				MAKER = #{MAKER},
				RELS_DT = STR_TO_DATE(#{RELS_DT}, '%Y%m%d'),
				MODEL_NM = #{MODEL_NM},
				VHC_KIND = #{VHC_KIND},
				ROUT_TYPE = #{ROUT_TYPE},
				VHC_TYPE = #{VHC_TYPE},
				VHC_FUEL = #{VHC_FUEL},
				VHC_STS = #{VHC_STS},
				PSG_CNT = #{PSG_CNT},
				SPARE_YN = #{SPARE_YN},
				SCRAP_YN = #{SCRAP_YN},
				APPL_ST_DT = STR_TO_DATE(#{APPL_ST_DT}, '%Y%m%d'),
				APPL_ED_DT = STR_TO_DATE(#{APPL_ED_DT}, '%Y%m%d'),
				USE_YN = #{USE_YN},
				REMARK = #{REMARK},
				UPD_DTM = #{UPD_DTM}
		where VHC_ID = #{VHC_ID}
	</update> -->
	
	<update id="PI0603G1U0" parameterType="Map">
		UPDATE		BMS_BIT_VDO_RSV_RST_INFO
		SET			
					PROCE_RST = 'PR008'
				,	SEND_DATE = NOW()
				,	COMPLETE_YN = 'Y'
		WHERE		
					RSV_ID = #{RSV_ID}	
	</update>


	<!-- <select id="makePlayList" parameterType="String" resultType="Map">
		SELECT
			  IF(VINFO.FILE_TYPE = 'FT001', 'V', 'I') AS VIDEO_TYPE
			, IF(VINFO.FILE_TYPE = 'FT001', CONCAT(VINFO.VDO_ID, '.mp4'), CONCAT(VINFO.VDO_ID, '.jpg')) AS VIDEO_FILE
			, DATE_FORMAT(VINFO.PLAY_ST_DT, '%Y%m%d') AS PLAY_ST_DT
			, DATE_FORMAT(VINFO.PLAY_ED_DT, '%Y%m%d') AS PLAY_ED_DT
			, VINFO.IMG_PLAY_TM AS RUN_TIME
		FROM
			BMS_VDO_ORGA_LIST OLIST
			LEFT JOIN BMS_VDO_INFO VINFO ON OLIST.VDO_ID = VINFO.VDO_ID
		WHERE
			OLIST.ORGA_ID = #{orgaId}
		ORDER BY OLIST.SN
	</select> -->


</mapper>